
- ranks = [ { :name => 'provocative', :selected => true}, { :name => 'activity', :selected => false}, { :name => 'trending', :selected => false}, { :name => 'contested', :selected => false}]

.header
  Sort by

%ul.filters.ranks
  - ranks.each do |rank|
    %li.tag.filter{ :class => "#{rank.has_key?(:selected) && rank[:selected] ? 'selected' : ''}"}
      = link_to rank[:name], proposals_path(:metric => rank[:name]), :remote => true

.thumb
