%ul.filters.tags
  - Proposal.tag_counts.order('count DESC').each do |tag|
    %li.tag.filter
      = link_to(proposals_path(:tag => tag.name), :remote => true) do

        #{tag.name} 
        %span.tag_count
          #{tag.count}
