
#static
  > *
    padding-left: 20px
  
  &.aboutus
    h3
      margin-bottom: 5px
  
    td
      vertical-align: top
      &.desc
        width: 50%
        padding-right: 50px
        +font-size(0)
          
      &.list
        width: 50%
        
        > ul
          +nude-list
          > li
            padding-bottom: 5px
          ul.people
            +nude-list
  &.tos
    width: 400px

    ul
      padding-left: 50px
      li
        list-style: inherit
        padding-bottom: 5px
    h3
      padding-top: 15px

      
