%p
  #{translator({id: "email.salutation", name: @user.first_name}, "Hi {name},")}  

%p
  #{translator("email.user.password_reset", "Someone (hopefully you) has requested to change your password. Please copy and paste this code to the verification code field:")}

%p{style: "font-size: 22px; font-weight: 600"}
  = @token

%p
  #{translator("email.received_in_error", "If you feel that you’re receiving this email in error, please contact admin@consider.it.")}