%p
  Hi #{@user.first_name},

%p
  Someone (hopefully you) has requested to change your password. Please copy and paste this code to the verification code field:

%p{style: "font-size: 22px; font-weight: 600"}
  = @token

%p
  If you feel that you’re receiving this email in error, please contact admin@consider.it.