%p
  Hi #{@user.first_name},

%p
  You've accessed a part of the website that requires verification of your email. Please copy and paste this verification code into your browser to prove that you own this email.

%p{style: "padding-left: 20px; font-size: 18px; font-weight: 600"}
  = @token

%p
  Thanks!
  
%p
  If you feel that you’re receiving this email in error, please contact admin@consider.it.