@import "old_variables"

////////////////////////////
// TOOLTIPS
//////////////////////////


$tooltip_width: 250px

.l_tooltip-user
  .l_tooltip_title
    +font-size(-3)
    padding: 0 $grid_gutter/4

.user_tooltip_opinion_link
  text-decoration: underline
  //display: block

