

#l-heading
  .l-heading-wrap

    = render :partial => "shared/logo"
    - if @proposal && @can_update && false
      = render :partial => "proposals/admin_strip"
          
    #m-user-nav

  = render :partial => "shared/navigate"       
