%a.register_link
  Create an account

%span.login_separator
  or

%a.login_link
  Login

#register_dialog.user_dialog

#login_dialog.user_dialog

:javascript
  $j('.user_dialog').dialog({
    autoOpen: false,
    modal: true,
    draggable: false,
    dialogClass: 'alert',
    width: 775,
    height: 435
  });

  $j('.login_link').click(function(){
    $j('#login_dialog')
      .load("#{new_user_session_path(:third_party=>false)}")
      .dialog('open');
    return false;
  });

  $j('.register_link').click(function(){
    $j('#register_dialog')
      .load("#{new_user_registration_path(:third_party=>false, :context=>"header")}")
      .dialog('open');
    return false;
  });