$intro_bk_color: black
$intro_txt_bold: $txt_light_gray
$intro_text_reg: $txt_gray


#intro

  .table_container
    background-color: $intro_bk_color
    width: 100%
    
    > table
      width: 100%
      
      .person_tapestry
        margin-top: 25px
        ul.horizontal
          li
            float: left
        ul.vertical
          width: 55px
        ul
          li
            width: 55px  
            height: 55px
        img
          height: 55px
        
      #description
        padding: 10px 0px 10px 40px 
        width: 725px
        
        .header
          .follow
            position: absolute
            z-index: 999
            top: -2px
            left: 850px            
          .subheader
            .text
              font-size: 20px
              font-weight: normal
              font-style: normal
              font-family: Cambria, Helvetica Neue, Helvetica, Calibri, sans-serif
              color: $intro_text_reg
              
              span
                padding-right: 10px
                color: $intro_txt_bold
                
            h2
              font-size: 26px  
              color: $intro_txt_bold
              
              .extra
                color: $txt_gray
                font-size: 24px
                line-height: 28px
                   
                       
    #infographic
      img
        width: 98%

.get_started
  margin-left: 40px
  text-align: center
  
  font-size: 18px
  padding-bottom: 15px
  color: $txt_gray
  
#details 
  min-height: 200px

  table.init-details
    display: none

    td
      img
        max-width: 120px
        margin: 15px
        
.home_header
  > h2
    margin-top: 15px
    font-size: 36px
    .subheader
      font-size: 24px
      font-weight: normal
      position: relative
      top: -5px
      color: gray    

#guide
  .img_container
    width: 100%
    text-align: center
    
    img
  