

html
  background-image: url(/themes/lvg/images/bg-body.png) 
  background-position: left top
  background-repeat: repeat-x

.powered_by
  padding-top: 5px
  color: #717171
  font-size: 12px
  text-align: center

  a 
    color: #414141
    font-weight: bold

#intro 
  padding: 0 10px

  .beta
    position: absolute
    font-size: 10px
    color: white
    top: -71px
    left: 150px
      
  #home

    #value
      width: 475px
      height: 350px
      float: left

      h1
        font-size: 33px
        font-weight: bold
        color: #0042A1

      .subheader 
        margin-left: 4px
        h2
          font-size: 17px
          color: #A7A7A7
          font-weight: normal

          ul
            margin: 18px 23px
            li
              background-image: url(/images/checkbox.png)
              background-repeat: no-repeat
              font-weight: bold
              font-size: 24px
              color: black
              padding: 10px 0 10px 65px
              margin: 8px 0

    #tutorial
      width: 425px
      height: 350px
      float: right
      position: relative

      #help_link
        text-align: right
        position: absolute
        top: -7px
        right: 0
        color: #777
        font-size: 12px

        a 
          color: inherit
          text-decoration: underline

      #console
        background-color: black
        padding: 0 10px

      .frame
        height: 292px
        margin-top: 10px  

      .nav
        height: 30px
        ul 
          li
            display: inline
            margin: 0 10px 0 0
            a
              display: inline-block            
              padding: 3px 5px
              background-color: #D0D0D0
              color: #FF6300

              &.selected, &.selected:hover
                background-color: white
              &:hover
                background-color: #e4e4e4
             
  #active_options
    background-image: url('/images/get_started_block.png')
    background-repeat: no-repeat
    height: 250px
    padding: 12px 30px
    position: relative
    margin-bottom: 50px

    h2.get_started
      color: #AACDFB
      font-size: 37px
      font-weight: bold
      display: inline-block

      .subheader
        font-size: 20px
        color: white
        font-weight: normal
        display: inline-block
    
    #zipcode_entered
      background-color: #700000
      padding: 6px 30px
      color: #c1c1c1
      margin: 0 auto
      font-size: 16px
      width: 450px
      text-align: center

      .reset
        color: #999
        font-size: 10px

        input.gray
          margin-top: 4px

        a
          color: inherit
          text-decoration: underline

    #zipcode_entry
      background-color: #700000
      position: absolute
      height: 60px
      width: 550px
      left: 150px
      top: 185px
      padding: 20px 30px

      .triangle
        position: absolute
        top: -20px
        font-size: 25px
        color: #700000
        left: 150px

      .prompt
        font-size: 20px
        color: white
        font-weight: normal
        float: left
        width: 290px

      .zipform
        float: right
        padding-top: 5px
        

        input[type="text"]
          font-size: 20px
          text-align: center
          width: 160px
        input[type="submit"]
          margin-top: 5px
          font-size: 14px
          display: inline-block
          margin-left: 7px

.highlight
  background-color: #700000
  color: white
  padding: 2px 5px

#home
  #follow
    left: 40px
    top: 290px

#follow
  position: absolute

  #screen-name
    display: none

.frame 
  .what
    iframe
      margin: 35px 0px
  .how
    iframe
      margin: 30px 0px

.who
  padding: 20px 15px
  color: #ccc
  font-size: 15px
  line-height: 20px

  .questions
    font-size: 13px
    margin-top: 5px

  strong
    color: #ACCDFE

  ul
    padding: 5px 40px

    li 
      display: inline

      &.first
        float: left
      &.last
        float: right
      
      img
        height: 90px

        
  a
    color: inherit
    text-decoration: underline

#static.aboutus
  .desc
    img.horizontal_ad
      padding-top: 30px
      width: 100%

#help 
  width: 600px
  margin: auto
  ul
    padding: 0 10px 0 10px
    li
      list-style: disc inside none


#intro .initiatives.horizontal

  li.initiative_item.local
    color: #700000

    &:hover
      color: white