//////////////////////////////////////////////////////////////
// These must be included at the top of all theme stylesheets
@import "variables"
@import "variables_skin"
////////////////////////////

////////////////////////////////////////
// Overide any skin style variables here


// required for all themes
@import "skinables" 
/////////


#l-footer
  background-color: $header_footer_bg_color

#l-header .t-logo
  margin: $vertical_baseline/2 $grid_xs/2 $vertical_baseline/2 $grid_xs + $margin_width - $initiator_width

.t-intro-wrap 
  left: -$dialog_stutter
  position: relative

  .t-intro .l-message-body
    min-height: 100px

  .l-message-initiator
    text-align: right
    img
      max-height: 100px
      max-width: $margin_width

