//@import 'ie_common'
@import "variables"


//IE8 doesn't support transform: translate ...
.no-csstransforms
  .m-reasons
    &[data-state="separated"]

      .m-aggregated-propoints-region, .m-aggregated-conpoints-region
        left: 0

    &[data-state="together"], &[data-state="collapsed"]

      .m-aggregated-propoints-region
        left: $peer-point-results-width - ($peer-point-results-width - $decision_board_width/2) + 4

      .m-aggregated-conpoints-region
        left: -$peer-point-results-width + ($peer-point-results-width - $decision_board_width/2) - 4



  .m-reasons  
    &[data-state="separated"], &[data-state="collapsed"]
      top: -$aggregate_area_height

    &[data-state="separated"][data-state-from="together"]
      top: 0

    &[data-state="separated"][data-state-from="together"]
      .m-position-region
        top: - 2 * $vertical_baseline

      .m-aggregated-propoints-region, .m-aggregated-conpoints-region
        top: $vertical_baseline

    &[data-state="separated"][data-state-from="collapsed"], &[data-state="separated"]
      .m-position-region
        top: 3 * $vertical_baseline

      .m-aggregated-propoints-region, .m-aggregated-conpoints-region
        top: 6 * $vertical_baseline


    &[data-state="collapsed"]
      .m-position-region
        top: $aggregate_area_height + $vertical_baseline


  [data-activity="proposal-no-activity"]
    .m-reasons[data-state="collapsed"] 
      top: 0

      .m-position-region
        top: 0

  [data-state="0"]
    .m-proposal-description-region
      left: -$dialog_stutter

  [data-state="0"].transitioning
    .m-proposal-description-region
      left: 0


  [data-state="1"]
    margin-bottom: 4 * $vertical_baseline



.m-results[data-state="separated"][data-state-from="together"] 
  .m-histogram-bar, .m-histogram, .m-histogram-base
    visibility: hidden




.t-bubble
  display: none
  content: none

.t-logo-separator
  display: none
// .avatar
//   -ms-behavior: url(polyfills/backgroundsize.min.htc)

input[type="password"], .m-user-accounts-form-fields-text .email_field input
  font-family: arial

// for LVG...
#t-intro-people 
  .row
    visibility: hidden