//@import 'ie_common'
@import "variables"


//IE8 doesn't support transform: translate ...
.no-csstransforms
  .reasons
    &[state="crafting"]

      .aggregated-propoints-region, .aggregated-conpoints-region
        left: 0

    &[state="results"], &[state="summary"]

      .aggregated-propoints-region
        left: $point-width - ($point-width - $decision_board_width/2) + 4

      .aggregated-conpoints-region
        left: -$point-width + ($point-width - $decision_board_width/2) - 4



  .reasons  
    &[state="crafting"], &[state="summary"]
      top: -$aggregate_area_height

    &[state="crafting"][coming-from-state="results"]
      top: 0

    &[state="crafting"][coming-from-state="results"]
      .position-region
        top: - 2 * $vertical_baseline

      .aggregated-propoints-region, .aggregated-conpoints-region
        top: $vertical_baseline

    &[state="crafting"][coming-from-state="summary"], &[state="crafting"]
      .position-region
        top: 3 * $vertical_baseline

      .aggregated-propoints-region, .aggregated-conpoints-region
        top: 6 * $vertical_baseline


    &[state="summary"]
      .position-region
        top: $aggregate_area_height + $vertical_baseline


  [data-activity="proposal-no-activity"]
    .reasons[state="summary"] 
      top: 0

      .position-region
        top: 0

  [state="summary"]
    .proposal-description-region
      left: -$dialog_stutter

  [state="summary"].transitioning
    .proposal-description-region
      left: 0


  [state="crafting"]
    margin-bottom: 4 * $vertical_baseline



.results[state="crafting"][coming-from-state="results"] 
  .histogram-bar, .histogram, .histogram-base
    visibility: hidden




.t-bubble
  display: none
  content: none

.t-logo-separator
  display: none
// .avatar
//   -ms-behavior: url(polyfills/backgroundsize.min.htc)

input[type="password"], .user-accounts-form-fields-text .email_field input
  font-family: arial

// for LVG...
#t-intro-people 
  .row
    visibility: hidden