@import "mixins"
@import "css3_mixins"


/////////////////////
/////  RESET  ///////
/////////////////////
body
  background: none
  &:after, &:before
    content: none

  #wrap 
    #masthead
      margin-top: 30px  

    > div#content  
      background-color: transparent
      border: none
      +box-shadow(0,0,0, transparent)

  #craft_position 
    > .user_opinion
      background: none
      +box-shadow(0,0,0, transparent)
      border: none

.head
  background: none
  border: none
  +box-shadow(0,0,0, transparent)

  &.single, &.double
    width: auto
    left: auto

  &:after, &:before, h3.banner.double::before, h3.banner.double::after
    content: none



#nav-user, .logo_cell
  display: none

/////////////////////
///  END RESET  ////
/////////////////////

html
  background-image: image-url('considerthis/images/concrete_wall.png')
  background-attachment: scroll
  background-color: #E9F3FB
  body #wrap > div#content
    //border: 1px solid rgba(blue, .3)

.proposal_prompt
  background: image-url('considerthis/images/proposal_back.jpg') repeat top left white
  width: 600px
  margin: auto  
  min-height: 150px
  +box-shadow(0px, 1px, 2px, rgba(black,.4))

  .description_wrapper .full_text, 
  .description_wrapper .long_description, 
  .description_wrapper .additional
    font-size: 13pt
    color: #6E6E6E
    color: rgba(black, .5)
  .pic
    position: absolute
    width: 100px
    left: -50px
    top: 25px

.head 
  margin-bottom: 0px

  h3.banner
    +main-font
    font-weight: bold
    color: #4F4F4F
    color: rgba(black, .60)
    text-shadow: none

#wrap > div#content
  padding-top: 10px


#craft_position > .user_opinion 
  li.step
    margin-bottom: 5px
  li.considerations 
    .rest #points 
      .points_other 
        .heading 
          .lead
            +main-font
            text-shadow: none
            font-variant: normal
            font-weight: bold
            font-size: 11pt

.pro_con_list.dynamic
  min-height: 500px
  .full_column
    min-height: 470px

.slider_table 
  .slider_container .ui-slider
    background: none
    background-color: #7D7D7E
    background-color: rgba(black, .25)
    +box-shadow(0,0,0,transparent)
    border-radius: 15px
    width: 450px

  td.slider_label
    +main-font
    font-weight: bold
    div
      color: #808080
      color: rgba(black, .35)

.considerations .head h3.banner 
  .my_name
    &.no_name
      width: 270px
      color: #4F4F4F
      color: rgba(black, .6)

input.hidden_edit
  background-color: transparent
  border: none
  width: auto
  text-align: right
  padding-right: none

