#footer
  clear: both
  color: white
  width: 100%
  line-height: 18px
  
  > div
    
    &.bordernone:hover
      border-bottom: none

  p.credit
    margin: 0
    float: right
    font-size: 11px

  
  .sitemap
    .initiatives
      margin: 0 auto
      h4
        padding-left: 5px
        text-transform: capitalize
      ul.nav
        padding-left: 0
        > li
          padding-left: 17px
          text-transform: capitalize
          
          &.finished
            &.pro
              background: transparent url('/images/finished_pro_small.png') no-repeat left center
            &.neutral
              background: transparent url('/images/finished_neutral_small.png') no-repeat left center
            &.con
              background: transparent url('/images/finished_con_small.png') no-repeat left center
            
      
    ul.nav
      padding-left: 8px
      
           
    background-color: $bk_light_gray
    color: black
    a:hover
      text-decoration: underline
     
    > div
      padding: 20px
      font-size: 12px
      
      float: left
      li
        @include nude-list
            
      &.initiatives
        width: 190px
        background-color: $bk_dark_gray
        color: white
        
        a
          color: white

      &.guides
        width: 225px

        &.partners
          width: auto
          padding: 0px 0 0 0 

          img
            width: 180px

      &.learn
        width: 405px        
      
        .powered
          padding-top: 30px
          font-size: 14px
          
        
      &.last
        margin-right: 0
        float: right        
      
  
      h4
        margin-bottom: 9px
        font-size: 20px
        
        &.later
          margin-top: 9px

    &:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden
    

      