#wrap #footer
  clear: both
  color: white
  line-height: 18px
  width: 990px
  padding: 10px 0

  > div
    
    &.bordernone:hover
      border-bottom: none

  p.credit
    margin: 0
    float: right
    font-size: 11px

  
  .sitemap
   
      
    ul.nav
      padding-left: 8px
      
           
    background-color: $bk_light_gray
    color: black
    a:hover
      text-decoration: underline
     
    > div
      padding: 20px
      font-size: 12px
      
      float: left

      &.partners
        float: right

      li
        @include nude-list
            
      &.initiatives
        width: 190px
        height: 160px
        color: white
        margin: 0 auto
        background-image: url("/themes/lvg/images/bg-body.png")
        position: relative
        padding: 10px

        #follow
          position: relative
          margin: auto
          width: 165px

          > span
            display: inline-block

            &.facebook
              float: left
            &.twitter
              float: right

        img
          display: block
          margin: auto

        h4
          padding-left: 5px
          text-transform: capitalize
        ul.nav
          padding-left: 0
          > li
            padding-left: 17px
            text-transform: capitalize          
        a
          color: white

      &.guides
        width: 225px

        &.partners
          width: auto
          padding: 0px 0 0 0 

          img
            width: 180px

      &.learn
        width: 405px        
      
        .powered
          padding-top: 30px
          font-size: 14px
          
        
      &.last
        margin-right: 0
        float: right        
      
  
      h4
        margin-bottom: 9px
        font-size: 20px
        
        &.later
          margin-top: 9px

    &:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden
    

      