#wrap
  #masthead
    width: 940px
    margin-top: 67px
    height: 35px
    position: relative

    .logo_cell
      position: relative
      top: -80px

      a
        overflow: hidden

    .beta
      position: relative
      font-size: 10px
      color: white
      top: -30px
      left: 120px

    #nav-user
      position: absolute
      top: -67px
      right: 0
      background-color: $bk_light_gray
      height: 35px

      > li
        padding: 5px 0 0 0 
        display: inline-block

        &.first
          border-right: 2px dotted $brd_red
          
        &.create 
          
        &.fb 
          form
            display: inline-block
            margin-right: 10px
            margin-top: 2px
          
        a
          padding: 16px 20px
          height: 25px
          line-height: 25px
          font-size: 14px
          font-weight: bold
          
          &:hover 
            color: $txt_red 
    
        &.first.last a, &.first.last form
          padding-left: 0
      
    .avatar
      position: relative
      top: -5px
      
  .fb, .fb_login
    width: 76px
    height: 29px  
    margin-left: 15px

  .fb, .fb_login, .fb_account  
    input#user_submit
      padding-right: 60px
      padding-top: 15px
      overflow: hidden
      color: transparent
      font-size: 0px   
      border: none             
      background-color: transparent
      
  .fb
    background: transparent url("/images/fb_login.png") no-repeat scroll 0px 7px
  .fb_login
    background: transparent url("/images/fb_login.png") no-repeat scroll 0px 0px 
    

  #loginhtml  
    .lvg_account
      h2, h3
        display: none
    .fb_account 
      margin: 10px 0 0 75px
      li.or
        color: gray
        font-size: 18px
        padding-top: 44px
      li.fb_form
        background: transparent url("/images/fb_big.jpg") no-repeat scroll 0px 0px 
        height: 128px
        width: 128px
        margin-left: 75px
    
        > form
          input#user_submit
            padding-right: 128px
            padding-top: 128px