li.comment, li.new_comment
  position: relative
  margin-top: 8px
    
  .comment_body
    width: 100%
    padding: 5px
    
    .body_row
            
      .comment_text
        
        position: relative
        color: #272727
        padding: 8px

      .username
        display: inline-block
        font-size: 10pt
        vertical-align: top
        font-weight: bold
        color: #666
        padding-bottom: 4px


      .avatar
        max-width: 70px
        display: inline-block
        margin: 0 10px 4px 0


