.discuss
  position: relative
  width: 660px
  .discussion_header
    +font-size(1)
    margin: 35px 0 10px 0

.point_in_list_self, .point_in_list_board
  .discuss 
    .discussion_header
      +heading
