

li.new_comment
  width: 400px
  +nude-list
  +font-size(-1)
    
  li.body
    textarea
      height: 60px
      color: #333

    label
      color: #999
  
  .comment_submit
    margin: 10px 0 5px 0
    float: left
  
  .comment_body
    border-bottom: none
    width: 100%
    margin-top: 5px
        
    .body_row
      .user
        max-width: 70px
        +font-size(-4)
      .text

        form
          .point-pledge
            +font-size(-3)

          ul.form
            li.body.inlined
              width: 360px

              label
                +font-size(-2)                
              textarea
                +font-size(-2)
                height: 40px
                margin: 0
              .count
                width: 35px
                display: block
                position: absolute
                right: 0
                +font-size(-3)
                bottom: -18px

        .point-pledge, .count
          //opacity: .6