

li.new_comment
  width: 400px
  @include nude-list
  font-size: 14px
    
  li.body
    textarea
      height: 170px
  
  .comment_submit
    margin: 10px 0 5px 0
    float: left
  
  .comment_body
    border-bottom: none
    width: 100%
    margin-top: 5px
        
    .body_row
      .user
        max-width: 70px
        font-size: 10px
      .text

        form
          .point-pledge
            font-size: 9pt

          ul.form
            li.body
              background-color: white
              width: 360px

              label
                font-size: 10pt
              textarea
                font-size: 10pt
                height: 40px
                margin: 0
              .count
                width: 35px
                display: block
                position: absolute
                right: 0
                font-size: 9pt
                bottom: -18px

            .comment_submit
            
            a.cancel
              font-size: 10px
              margin-left: 10px
              padding-top: 16px 
              float: left
              color: gray

        .point-pledge, .count
          opacity: .6