%script{ :type => "text/template", :id => "tpl_point_layout"}
  .point_avatar_region>
  .point_content>
    .close_open_point
      %i.fa.fa-times-circle
    .point_summary_region{ :'action' => "open-point", :'data-id' => "{{id}}" }
    .open_point_region

%script{ :type => "text/template", :id => "tpl_point_avatar_area"}
  (( if (hide_name || user.name == 'Anonymous' ) { ))
  %span.avatar.point_author_avatar.avatar_anonymous{:style => "background-image: url(/system/default_avatar/small_default-profile-pic.png)", :title => "This user has requested to remain anonymous"}
  (( } else if (user) { ))

  %a.avatar.point_author_avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.name}}'s profile", :'data-id' => "{{user.id}}", :'action' => "user_opinion", :tooltip => 'user_profile' }
  (( } ))

  (( if(has_assessment){ ))
  .point_assessment_indicator_region
    %img{:src => "{{verdict.getIcon()}}"}
  (( } ))

%script{ :type => "text/template", :id => "tpl_point_summary"}
  .point_nutshell
    {{ adjusted_nutshell }}

  .point_operations

    %a.open_point_link

    (( if( _.contains(actions, 'remove') ){ ))
    %button.point_remove{ :'action' => 'point-remove', :'data-id' => "{{id}}"}
      %i.fa-trash
      remove
    (( } ))


%script{ :type => "text/template", :id => "tpl_open_point"}
  .point_description 
    {{ text }}

  .point_actions
    (( if( _.contains(actions, 'include') ){ ))
    .point-include.point_action
      %button.button{ :'action' => 'point-include', :'data-id' => "{{id}}", :title => "Add this point to your list"}
        %i.fa.fa-small.fa-list
        Add to your pro/con list
    (( } else if( _.contains(actions, 'remove') ) { ))
    .point-remove.point_action
      %button.button{ :'action' => 'point-remove', :'data-id' => "{{id}}", :title => "Remove this point from your list"}
        %i.fa.fa-small.fa-list
        Remove from your pro/con list
    (( } ))

    .point_follow_region.point_action
    .point_assessment_region.point_action


  .point_discussion_region

%script{ :type => "text/template", :id => "tpl_follow_point"}
  (( if(already_follows){ ))
  %button.point-follow.button
    %i.fa.fa-rss
    Unsubscribe to comments
  (( } else{ ))
  %button.point-follow.button{ :title => 'Get notifications when the point is updated or someone comments on it. You can easily unsubscribe later.'}
    %i.fa.fa-rss
    Subscribe to new comments
  (( } ))
