

%script{ :type => "text/template", :id => "tpl_user_tooltip" }

  .l_tooltip.l_tooltip-user
    .l_tooltip_title
      {{ user.name }}
      (( if( user.metric_influence > 0 ){ ))
      %span.l_tooltip-user-influence
        %span.user_tooltip_influence_icon &#9733;
        %span.influence_score {{ user.metric_influence }}
      (( } ))


      // %ul
      //   (( _.each(metrics, function(metric) { ))
      //   %li.l_tooltip-user-metric{ :class => "l_tooltip-user-metric-{{metric[2]}}" }>
      //     %span.l_tooltip-user-metric-number>
      //       {{ user[metric[1]] }}
      //     %span.l_tooltip-user-metric-desc>
      //       {{ metric[0] }}
      //   (( }) ))

    // .l_tooltip-user-actions
    //  / %a.l_tooltip-user-action.l_tooltip-user-profile{ :'action' => 'user_profile_page', :'data-id' => "{{user.id}}" }
    //  /   View their profile


%script{ :type => "text/template", :id => "tpl_dialog_detachable"}
  .l-dialog-title
    {{ title }} 
    
    %a.l-dialog-close.cancel{ :'action' => 'dialog-close'}
      %i.fa.fa-times-circle

  .l-dialog-body

%script{ :type => "text/template", :id => "tpl_sticky_footer"}
  .l-sticky-content-region

