
$rep_color: #81BADF
$constituency_color: #E0D875
$header_gray: #9C9C9C
$proposal_background: #EAEAEA
$pro_color: #B2C392
$con_color: #C09D96
$empty_color: #ddd

$proposal_width: 617px
$top_argument_width: 400px

body #wrap.homepage
  > div#content

    #introduction
      .bubble
        margin-bottom: $vertical_baseline / 2

    div.rep, div.dialogue, div.constituency
      display: inline-block
      vertical-align: top

    div.rep
      width: 237px - $grid_xs

      .about
        width: 220px
        color: $header_gray
        text-align: center

      .links
        +font-size(-2)
        padding-top: $vertical_baseline / 2
        text-align: center
        color: $header_gray
        a
          color: $header_gray

    div.dialogue
      width: $proposal_width
      position: relative



    div.constituency
      width: 186px

    h1
      +font-size(5)
      //padding: $vertical_baseline/2 0
      font-weight: bold

      .rep
        color: $rep_color

      .dialogue
        color: $header_gray

      .constituency 
        color: $constituency_color

    .people
      font-size: 0
      text-align: left
      img
        display: inline-block
        opacity: .5
        width: 31px
        height: 31px
        //+grayscale
        //+transition

        &.hovered
          //+grayscale_off
          opacity: 1
        //&:hover
        //  opacity: 1
        //border-right: 1px solid white
        //border-bottom: 1px solid white

    .issues
      margin-top: $vertical_baseline

      .proposal
        margin: $vertical_baseline 0 2 * $vertical_baseline 0
        .rep
          text-align: right
          img
            width: 115px

        .dialogue
          .bubble

            .question

            .top_points
              margin-top: $vertical_baseline

              .top
                margin-bottom: $vertical_baseline/2
                .lead
                  font-variant: small-caps
                  +font-size(-3)
                  float: left
                  margin-top: $vertical_baseline/2
                  //margin-left: $proposal_width - $top_argument_width - 50
                .bubble
                  width: $top_argument_width
                  float: right
                  +font-size(-2)
                  &:after
                    color: $proposal_background

                .pic
                  float: right
                  margin-left: 3px
            
            .official_response
              .pic
                float: left
                margin-right: 3px
                img
                  width: 88px
              .bubble
                float: left
                +font-size(-2)
                width: $top_argument_width
                &:after
                  color: $proposal_background
                &:after, &:before
                  top: -8px


          .join
            display: block
            +linear-gradient(#777, #161616)
            padding: $vertical_baseline/2 $grid_xs/2
            &:hover

              color: $constituency_color
              cursor: pointer
              img
                opacity: 1
                
              .text
                color: white

            img
              opacity: .2
              +transition
              width: 25px

            .text
              //font-variant: small-caps
              +transition
              +font-size(-2)
              text-transform: uppercase
              text-decoration: underline
              vertical-align: top
              display: inline-block
              padding-top: 3px
              color: #aaa
              position: absolute
              right: $grid_xs + $grid_minor



