// the paper + paperclip proposal description created for chalkboard.it

@import "compass/css3/box-shadow"

.proposal_prompt
  width: $grid_major * 10
  margin: 0 auto 2 * $vertical_baseline auto
  min-height: 150px
  background: image-url('chalkboardit/images/proposal_back.jpg') repeat top left white
  +single-box-shadow
  padding: 5px $grid_major $vertical_baseline $grid_major

  .description_wrapper
    margin-left: 0
    .full_text, .long_description, .additional
      +font-size(-1)
      color: #666
      color: rgba(black, .5)


  .pic
    position: absolute
    width: 100px
    left: -50px
    top: 25px

    img
      position: relative
      z-index: 1
      +single-box-shadow

    &:after, &:before
      position: absolute
      display: block
      z-index: -1
      content: ''

    &:after
      background: image-url('tape.png') no-repeat top left transparent
      width: 53px
      height: 23px
      right: 14px
      top: -16px
      z-index: 3

    &:before
      background: image-url('pic_background.png') no-repeat top left transparent
      width: 50px
      height: 45px
      left: -10px
      bottom: -5px



  .author
    color: #777
    font-style: italic
    padding-left: 10px

