<% cache ['homepage'] do %>

<html>
<head>
<!-- <link rel="stylesheet" href="brandon_fontkit/stylesheet.css" type="text/css" charset="utf-8" />
 -->
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
<style>
body { margin: 0; padding: 0;
  font-family: "Avenir Next W01", "Avenir Next", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-size: 24px;
  color: #0F4A5A;
  color: #5E5F56;
}
p, h2, .get_in_line {
  margin-left: 262px;
  width: 625px;
}
h2 {
  width: 633px;
}
#header {
  top: 0;
  width: 100%;
  background-color: #B03B42;
  color: #A9A9A9;
  font-weight: 600;
  font-size: 33px;
  padding-left: 15px;
  height: 37px;

}
#logo2 {
  margin-top: -12px;
  margin-left: -18px;
  height: 71px
}
#logo {
  position: absolute;
  top: 4px;
  left: 11px;
  width: 223px;

}
p {  }
#title {
  
  font-weight: normal;
  font-size: 103px;
  color: #453736;
  margin-top: 40px;
}
#subtitle {
  font-weight: 300;
  font-size: 51px;
  color: #5E5F56;
}
#title, #subtitle {
  margin-left: 201px;
}
#results {
  margin-left: 153px;
  margin-top: 58px;
  margin-bottom: 24px;
}
#howitworks_title {
  font-size: 74px;
  margin-left: 100px;
  color: white;
  color: #453736;
}
#howitworks_body {
  background-color: #4D4B44;
  background-color: #494242;
  background-color: #53534C;
  background-color: #B03B42;
  width: 100%;
  padding: 10px 100px;
}
#howitworks_body h2, .pink h2 {
  font-weight: 700;
  font-size: 43px;
  color: #FFCC4B;
  color: #34E8D8;
}
a, a:visited {
  color: #B03B42;
}
.pink {
  padding-left: 262px;
  padding-top: 10px; padding-bottom: 10px;
  width: 100%;
  background-color: #B03B42;
  margin-top: 70px; margin-bottom: 70px;
}
.pink h2, .pink h2 a {
  color: #ffffff;
}
#stuff_done {
  padding: 10px 100px;
}
li {
  font-weight: 300;
  font-size: 23px;
  color: white;
}
h2 {
  font-size: 43px;
  color: #453736;
  /*color: #0F4A5A;*/
  /*margin-left: 200px;*/
}
#email_us {
  /*background-color: #34E8D8;*/
  width: 100%;
  padding: 30px 100px;
  margin-bottom: 100px;
}
#email_us a {
  color: white;
}
#lvglogo {
  position: absolute;
  left: 13px;
  margin-top: -31px;
  width: 170px;
}
</style>
<title>Considerit</title>
<link href="//fast.fonts.net/cssapi/cd97b194-90f2-4567-be7e-3a72011995f3.css" rel='stylesheet' type='text/css' />

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>



<body>

<div id="header"><img id="logo" src="/homepage/logo white pink tip.png"></div>
<div id="title">Think Together</div>
<div id="subtitle">With hundreds of other people</div>

<video id="results" preload="auto" loop="true" autoplay>
 <source src="/homepage/vid.mp4" type='video/mp4'>
 <source src="/homepage/vid.webm" type='video/webm'>
</video>

<!--
<div id="howitworks_title">A New Deliberation Technology</div>
<div id="howitworks_body">

  <h2>Make your points, in points</h2>
<video id="points" preload="auto" loop="true" autoplay width="550px">
 <source src="video/individual_points.mp4" type='video/mp4'>
 <source src="video/individual_points.webm" type='video/webm'>
</video>
  <ul>
    <li>Keeps dialog focused</li>
    <li>No space for trolling, flame wars, or off-topic diatribes</li>
  </ul>

  <h2>Combine your perspective with peers</h2>

<video id="group_points" preload="auto" loop="true" autoplay width="700px">
 <source src="video/group_points.mp4" type='video/mp4'>
 <source src="video/group_points.webm" type='video/webm'>
</video>
  <ul>
    <li>Adopt others' points into your position</li>
    <li>Learn from your peers</li>
    <li>Find common ground</li>
  </ul>

  <h2>Express your opinion on a spectrum</h2>
<video id="slider" preload="auto" loop="true" autoplay>
 <source src="video/slider.mp4" type='video/mp4'>
 <source src="video/slider.webm" type='video/webm'>
</video>

  <h2>Now see it all together</h2>
<video id="all_together" preload="auto" loop="true" autoplay width="884px">
 <source src="video/all_together.mp4" type='video/mp4'>
 <source src="video/all_together.webm" type='video/webm'>
</video>
  <ul>
    <li>Your perspective integrates into the collective</li>
    <li>250 people are visualized on one screen</li>
  </ul>
</div>
-->

<p>Considerit is social technology that lets hundreds (and soon
thousands) of people deliberate an issue together online.</p>

<p>We developed Considerit for
the <a href="http://livingvotersguide.org">Living Voters' Guide</a>,
but have since generalized the technology.</p>

<h2>Want to Pilot with us?</h2>
<p>We are looking for organizations to pilot a new version of
Considerit. Please
<a href="mailto:kminiter@gmail.com">email us</a> if
interested.</p>

<div class="pink">
  <h2 style="margin-left: 0/*128px*/; margin-top: 30px;">
  <a href="http://livingvotersguide.org">See Considerit in action</a></h2>
<!-- 800 x 450 -->
<!-- <iframe src="http://player.vimeo.com/video/74482398" width="625" height="367" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 -->
<!--  <h2>Press & Publications</h2>

  <h2>Are you Excited?</h2>

<video id="slider" preload="auto" loop="true" autoplay>
 <source src="video/slider.mp4" type='video/mp4'>
 <source src="video/slider.webm" type='video/webm'>
</video>-->
</div>

<h2>Keep in Touch!</h2>
<p style="margin-bottom: 0">We would love to get to know you! Request a demo:</p>

<!--<h2 style="margin-bottom: 0;">Sign up for updates:</h2>-->
<!-- / Begin MailChimp Signup Form -->
<div style="margin-top: 8px" id="mc_embed_signup" class="get_in_line">
<form action='http://chalkboard.us7.list-manage1.com/subscribe/post?u=9cc354a37a52e695df7b580bd&amp;amp;id=d4b6766b00' class='validate' id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' novalidate='true' target='_blank'>
<span class='mc-field-group'>
<input style="font-weight: normal; font-size: 24px; padding: 2px 4px;" class='email inlined required' id='mce-EMAIL' name='EMAIL' placeholder='Email address' type='email' value='' />
</span>
<input class='button mc-subscribe' style="font-size: 24px" id='mc-embedded-subscribe' name='subscribe' type='submit' value='subscribe' />
</form>
<!-- / End MailChimp Signup Form -->
</div>
<p>...or write us a <a href="mailto:kminiter@gmail.com">nice letter</a>.</p>


<p>Considerit is <a href="http://about.me/travis.kriplean">Travis Kriplean</a>, <a href="mailto:toomim@gmail.com">Michael Toomim</a>, and <a href="mailto:kminiter@gmail.com">Kevin Miniter</a>.</p>

<script>
var playing = true;
$(document).ready(function(){ 
$(document).keyup(function(e) {
  if (e.which!=80) return
  $('video').each(function() { this[playing?'pause':'play']() })
  playing = !playing
})
})
</script>
</body>
</html>
<% end %>