@import "variables"
@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/transform"

$histogram_width: $body_width - $grid_major + 1
$histogram_bar_width: $histogram_width / 7
$histogram_bar_height: 150px

.proposal-aggregate-region
  position: relative

[data-state="together"] .proposal-aggregate-region
  z-index: 20 // allows for bubble to go over the reasons on mousing over histogram bar; but can't do on the homepage

.results
  height: $aggregate_area_height
  
  &[data-state="together"], &[data-state="separated"][data-state-from="together"]
    .histogram
      visibility: visible
      display: block
      opacity: 1
      min-height: $histogram_bar_height

  .histogram-base, .bar-people, .histogram-bar
    +transition(opacity $transition_speed $transition_function)
    +backface-visibility(hidden)

  &.transitioning

    &[data-state="together"][data-state-from="collapsed"]
      .bar-people
        visibility: hidden
      .histogram-base-label
        visibility: hidden



  &[data-state="together"][data-state-from="separated"]
    .histogram-bar
      opacity: 1
    .histogram-base, .bar-people  
      opacity: 1

  &[data-state="separated"][data-state-from="together"]
    .histogram-bar
      opacity: .1
    .histogram-base, .bar-people  
      opacity: 0


[data-state="separated"]
  .histogram-bar
    [data-target="user_profile_page"]
      cursor: auto

[data-state="together"]
  .histogram-bar
    cursor: pointer

// HISTOGRAM / WHAT
.histogram
  +transition(opacity $transition_speed)
  opacity: 0
  visibility: hidden
  margin: $vertical_baseline auto 0 auto
  position: relative
  top: 0px
  width: $histogram_width

  .histogram-bar
    width: $histogram_bar_width
    position: relative
    border-radius: 0px
    text-align: center
    display: inline-block
    vertical-align: bottom

    &.bar-is-selected 
      .t-bubble
        display: block

    .t-bubble
      display: none
      position: absolute
      left: 50%
      margin-left: -15px
      z-index: 999999
      top: auto
      bottom: -39px
      width: 30px

      .t-bubble-spacing
        display: none

    // .bar-position
    //   position: absolute
    //   bottom: -37px
    //   width: 150px
    //   margin-left: -75px
    //   left: 50%
    //   display: none
    //   text-align: center
    //   +font-size(-1)
    
    // &.bar-is-soft-selected
    //   z-index: 5

    // &.bar-is-hard-selected
    //   z-index: 10
      

.bar-people
  background-color: transparent
  font-size: 0
  margin: auto
  +rotate(180deg)
  height: 100%
  
  .bar-person
    +rotate(180deg)  
    opacity: .6

.bar-is-soft-selected .bar-people .bar-person
  opacity: .75

.bar-is-hard-selected .bar-people .bar-person
  opacity: .9


.histogram-base
  margin-left: -$grid_gutter/2
  height: $vertical_baseline
  width: $histogram_width + $grid_gutter
  border-radius: 10px

.histogram-base-label
  position: absolute
  //padding: 0 $grid_gutter + 3
  z-index: 1
  // border-radius: 16px
  height: $vertical_baseline
  span
    +font-size(-2)
    text-transform: lowercase
    line-height: 1.1
    display: block
    //font-weight: bold

.histogram-base-label-support
  left: -92px
.histogram-base-label-oppose
  right: -82px