.m-position
  &[data-state="separated"], &[data-state="together"]
    .m-position-message-body
      padding-bottom: $vertical_baseline / 2 $grid_xs / 2 $vertical_baseline * 1.5 $grid_xs / 2
      background: $decision_board_bg
      border-style: solid

  .m-position-message-body
    //+bubble($decision_board_color, darken($decision_board_color, 10%), left )
    border: 1px dashed $decision_board_border_color
    padding: $vertical_baseline / 2 $grid_xs / 2 0 $grid_xs / 2
    width: auto
    border-radius: 15px


// pros and cons for the user
.m-personal-reasons
  position: relative
  display: inline-block
  @extend %on_chalkboard
  margin-top: $vertical_baseline / 2


//separated footer
[data-state="together"]
  .m-position-footer
    visibility: hidden

.m-position-footer
  position: relative
  width: 100% //$body_width
  //top: -16px
  z-index: 2
  margin: $vertical_baseline 0 2 * $vertical_baseline 0

  .m-position-your-action-body.submit
    @extend %supersuperbutton
    width: 100%
    +font-size(2)
    border-radius: 16px

  .m-position-submit-footer-wrap
    margin-top: $vertical_baseline/2
    .notifications
      display: inline-block
      +font-size(-2)
      label, input[type="checkbox"]
        cursor: pointer

    .m-position-cancel
      display: inline-block
      margin-right: $grid_xs
      float: right
      +font-size(-2)
      color: lighten($base_text_color, 25%)
      &:hover
        color: $base_text_color


.m-reasons-header-region, [data-state="separated"][data-state-from="collapsed"].transitioning .m-reasons-header-region
  width: $decision_board_width
  position: relative
  margin-left: -$grid_xs / 2 - 2
  margin-top: - .6 * $vertical_baseline
  border: 2px transparent
  display: block

[data-state="separated"], [data-state="together"]
  .m-reasons-header-region
    // border-radius: 16px 16px 0 0
    // border: 2px solid
    display: none

.m-reasons-header
  a
    //border: 2px dashed $decision_board_border_color
    //border-radius: 16px
    padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_xs
    +font-size(2)
    width: 100% 
    display: inline-block
    color: $decision_board_text_color
    &:hover
      color: darken($decision_board_text_color, 10%)


// SLIDER
.m-stance
  margin: auto auto 2 * $vertical_baseline auto 
  @extend %on_chalkboard

  .m-position-heading-stance
    text-decoration: underline
    margin-top: $vertical_baseline
    +font-size(2)
    text-align: center

      
  %m-stance-label
    vertical-align: middle
    +font-size(0)
    div
      width: $slider_label_width

  .m-stance-label-support
    @extend %m-stance-label
    text-align: right
    padding-right: $grid_xs

  .m-stance-label-oppose
    @extend %m-stance-label
    text-align: left
    padding-left: $grid_xs

  .m-stance-label-neutral
    @extend %m-stance-label
    text-align: center
    +font-size(2)
    +transition(opacity .5s linear)

  .m-stance-slider-container
    height: 45px 
    padding-top: 4px
    width: $slider_width

    .noUiSlider
      margin: 10px
      background: none
      background-color: lighten(mix($mid_bg_color, $accent_color), 20%)
      border-radius: 15px
      width: $slider_width

      .noUi-handle
        height: 38px
        width: 39px
        background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
        top: -.2em
        +grab_cursor

  // .noUiSlider

  //   +box-shadow(none)
  //   border-radius: 15px
  //   width: $slider_width

  //   border: none
  //   height: 16px

  //   div
  //     height: 38px
  //     width: 39px
    
  //     background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
  //     border: none
  //     top: -.2em

  //     +single-transition('none')
  //     margin-left: -19.5px


