@import "variables"
@import "library"
@import "compass/css3/transition"

.decision_board
  &[state="crafting"], &[state="results"]
    .decision_board_body
      border-style: solid

  .decision_board_body
    width: auto
    border-radius: 15px
    padding: $vertical_baseline / 4 0


// pros and cons for the user
.opinion_points
  position: relative
  display: inline-block
  margin-top: $vertical_baseline / 2


//separated footer
[state="results"]
  .decision-board-footer
    visibility: hidden

.decision-board-footer
  position: relative
  width: 100%
  z-index: 2
  margin: $vertical_baseline 0 2 * $vertical_baseline 0

  .submit_opinion_button
    width: 100%
    +font-size(2)
    //border-radius: 16px

  .submit_opinion_footer
    margin-top: $vertical_baseline/2
    .subscribe_to_proposal_notifications
      display: inline-block
      +font-size(-2)
      label, input[type="checkbox"]
        cursor: pointer

    .cancel_submitting_an_opinion
      display: inline-block
      margin-right: $grid_gutter
      float: right
      +font-size(-2)

.decision-board-heading-region, [state="crafting"][coming-from-state="summary"].transitioning .decision-board-heading-region
  width: $decision_board_width
  position: relative
  margin-left: -$grid_gutter / 2 - 2
  //margin-top: - .6 * $vertical_baseline
  border: 2px transparent
  display: block

[state="crafting"], [state="results"]
  .decision-board-heading-region
    // border-radius: 16px 16px 0 0
    // border: 2px solid
    display: none

.decision_board_heading
  a
    //border: 2px dashed $decision_board_border_color
    //border-radius: 16px
    padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_gutter
    +font-size(2)
    width: 100% 
    display: inline-block


// SLIDER
$slider_width: 283px
.stance
  margin: auto auto 2 * $vertical_baseline auto 

  .slider_heading
    text-decoration: underline
    margin-top: $vertical_baseline
    +font-size(2)
    text-align: center

      
  %stance-label
    vertical-align: middle
    +font-size(0)
    div
      width: 100px

  .supporting_slider_label
    @extend %stance-label
    text-align: right
    padding-right: $grid_gutter

  .opposing_slider_label
    @extend %stance-label
    text-align: left
    padding-left: $grid_gutter

  .neutral_slider_label
    @extend %stance-label
    text-align: center
    +font-size(2)
    +transition(opacity .5s linear)

  .slider_container
    height: 45px 
    padding-top: 4px
    width: $slider_width

    .noUiSlider
      margin: 10px
      background: none
      border-radius: 15px
      width: $slider_width

      .noUi-handle
        height: 38px
        width: 39px
        background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
        top: -.2em
        +grab_cursor


