@import "variables"
@import "compass/css3/transform"
@import "compass/css3/transition"

%collapsed_action_call
  position: absolute
  top: 50%
  border-radius: 0
  +font-size(-1)
  right: -183px
  width: 183px
  height: 32px

.l-proposal-description-outer-wrap
  //left: -$dialog_stutter
  position: relative
  margin: auto
  width: $body_width

[state="summary"]
  .proposal-description-region
    +translateX(-$dialog_stutter)
    // the following is because translateX effectively creates a different rendering context, so need to set z-index/position so admin menu will work
    position: relative
    z-index: 2

[state="summary"].transitioning
  .proposal-description-region
    +translateX(0)


$description_animation_time: 500ms
.proposal-description-region
  +transition(transform $description_animation_time)

.proposal-description-wrap
  position: relative

  .proposer
    text-align: right
    width: $body_gutter
    bottom: 0px
    position: absolute

    [data-target="user_profile_page"]
      opacity: .9
      display: inline-block
      margin-right: 2 * $grid_gutter

      &:hover
        opacity: 1

    img
      width: $proposer_img_size // - 30
      vertical-align: bottom 


  // editable
  .proposal-description, .proposal-details

  .proposal-description-body br
    padding-bottom: $vertical_baseline/2

  .proposal-description-body.editable
    min-height: 80px
  //


  // in title
  .position-your-action-body.join
    @extend %collapsed_action_call
    margin-top: -16px


  .proposal-description
    margin: auto
    position: relative
    padding: $vertical_baseline / 2 $grid_gutter
    //left: -$dialog_stutter
    min-height: $proposer_img_size

    p
      margin-bottom: $vertical_baseline / 2
    td
      padding: 0 3px

    .proposal_heading
      +font-size(3)
  
  .proposal-description-title
    //+font-size(3)


  // in details

  .proposal-details

    .proposal-details-body-wrap // silliness to override css from prior rule...
      border-top: none
      border-radius: 0px 0px 16px 16px 
      position: relative
      padding: $vertical_baseline / 2 $grid_gutter

  .proposal-details-wrapper
    position: relative

  // read more fields
  .proposal-description-details
    margin-top: $vertical_baseline / 2
    //+font-size(-1)

    .hidden, .showing
      text-decoration: underline  

    .proposal-description-detail-field-full
      p
        margin-bottom: $vertical_baseline/2

      h1, h3
        margin: $vertical_baseline/4 0

      h1
        +font-size(2)
      h3
        +font-size(1)
      ul
        padding-left: $grid_gutter

  // additional links
  .proposal-links
    position: absolute
    right: -$body_gutter - $grid_gutter - 1
    bottom: $vertical_baseline / 2
    padding: $vertical_baseline/2 $grid_gutter/2
    width: $body_gutter

  .proposal-url-field
    a
      text-decoration: underline


  &[state="results"], &[state="crafting"]
  
    .proposal-description
      border-radius: 16px 16px 0px 0px

      > .t-bubble
        display: none

  &[state="summary"]
    .proposal-description
      cursor: pointer

    .proposal-details
      > .t-bubble
        display: none



