@import "variables"
@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/transform"

//////////////////
// global layout for reasons & points, in different states

$use_transitions: true


//@import "compass/css3/animation"

//temp while waiting for compass to come out of beta
@-moz-keyframes FromTogetherToSeparated_PeerReasons 
  0% 
    background-color: whitesmoke
    border-color: gainsboro
  

  70% 
    background-color: whitesmoke
    border-color: whitesmoke
  

  100% 
    background-color: none
    border-color: transparent
  

@-webkit-keyframes FromTogetherToSeparated_PeerReasons
  0% 
    background-color: whitesmoke
    border-color: gainsboro
  

  70% 
    background-color: whitesmoke
    border-color: whitesmoke
  

  100% 
    background-color: none
    border-color: transparent
  

@keyframes FromTogetherToSeparated_PeerReasons
  0% 
    background-color: whitesmoke
    border-color: gainsboro
  

  70% 
    background-color: whitesmoke
    border-color: whitesmoke
  

  100% 
    background-color: none
    border-color: transparent
  

@-moz-keyframes FromTogetherToSeparated_PeerPoints
  0% 
    background-color: whitesmoke
    border-color: transparent
    -moz-box-shadow: 0px 1px 2px transparent
    box-shadow: 0px 1px 2px transparent
  

  90% 
    background-color: whitesmoke
    border-color: transparent
    -moz-box-shadow: 0px 1px 2px transparent
    box-shadow: 0px 1px 2px transparent
  

  100%
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    background-color: whitesmoke
    border-color: #f1f1f1 #dddddd #bbbbbb #dddddd
  

@-webkit-keyframes FromTogetherToSeparated_PeerPoints
  0%
    background-color: whitesmoke
    border-color: transparent
    -webkit-box-shadow: 0px 1px 2px transparent
    box-shadow: 0px 1px 2px transparent

  90%
    background-color: whitesmoke
    border-color: transparent
    -webkit-box-shadow: 0px 1px 2px transparent
    box-shadow: 0px 1px 2px transparent

  100% 
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    background-color: whitesmoke
    border-color: #f1f1f1 #dddddd #bbbbbb #dddddd
  

@keyframes FromTogetherToSeparated_PeerPoints 
  0% 
    background-color: whitesmoke
    border-color: transparent
    -moz-box-shadow: 0px 1px 2px transparent
    -webkit-box-shadow: 0px 1px 2px transparent
    box-shadow: 0px 1px 2px transparent
  

  90% 
    background-color: whitesmoke
    border-color: transparent
    -moz-box-shadow: 0px 1px 2px transparent
    -webkit-box-shadow: 0px 1px 2px transparent
    box-shadow: 0px 1px 2px transparent

  100%
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    background-color: whitesmoke
    border-color: #f1f1f1 #dddddd #bbbbbb #dddddd

@-moz-keyframes FromTogetherToSeparated_hidden
  0%
    opacity: 0

  50%
    opacity: 0

  100%
    opacity: 1

@-webkit-keyframes FromTogetherToSeparated_hidden 
  0% 
    opacity: 0

  50% 
    opacity: 0
  100%
    opacity: 1

@keyframes FromTogetherToSeparated_hidden
  0%
    opacity: 0
  50%
    opacity: 0
  100%
    opacity: 1



// +keyframes(FromTogetherToSeparated_PeerReasons)
//   0%
//     background-color: whitesmoke
//     border-color: darken(whitesmoke, 10%)

//   70%
//     background-color: whitesmoke
//     border-color: whitesmoke

//   100%
//     background-color: none
//     border-color: transparent

// +keyframes(FromTogetherToSeparated_PeerPoints)
//   0%
//     background-color: whitesmoke
//     border-color: transparent
//     +single-box-shadow($color: rgba(black, 0), $voff: 1px)

//   90%
//     background-color: whitesmoke
//     border-color: transparent
//     +single-box-shadow($color: rgba(black, 0), $voff: 1px)

//   100%
//     +single-box-shadow($color: rgba(black, .1), $voff: 1px)
//     background-color: whitesmoke
//     border-color: #f1f1f1 #ddd #bbb #ddd

// +keyframes(FromTogetherToSeparated_hidden)
//   0%
//     opacity: 0

//   50%
//     opacity: 0

//   100%
//     opacity: 1



// transitions / animations
.reasons.transitioning
  +transition(transform $transition_speed $transition_function)
  .position-region, .aggregated-propoints-region, .aggregated-conpoints-region
    +transition(transform $transition_speed $transition_function)

  &[state="crafting"]
    &[coming-from-state="results"], &[coming-from-state="summary"]
      .peer-reasons
        // +animation(FromTogetherToSeparated_PeerReasons $transition_speed)
        -moz-animation: FromTogetherToSeparated_PeerReasons $transition_speed
        -webkit-animation: FromTogetherToSeparated_PeerReasons $transition_speed
        animation: FromTogetherToSeparated_PeerReasons $transition_speed


      .point-peer.point-unexpanded .point-wrap
        // +animation(FromTogetherToSeparated_PeerPoints $transition_speed)        
        // +animation-fill-mode(none)

        -moz-animation: FromTogetherToSeparated_PeerPoints $transition_speed
        -webkit-animation: FromTogetherToSeparated_PeerPoints $transition_speed
        animation: FromTogetherToSeparated_PeerPoints $transition_speed

      .point-include, .pointlist-expand-toggle
        //+animation(FromTogetherToSeparated_hidden $transition_speed * 2.5)

        -moz-animation: FromTogetherToSeparated_hidden $transition_speed
        -webkit-animation: FromTogetherToSeparated_hidden $transition_speed
        animation: FromTogetherToSeparated_hidden $transition_speed


// full reasons width is the width of the pro/con list in the middle and the peer pro/con points in the margins
$full_reasons_width: 2 * $decision_board_width + 2
$full_reasons_left: -($full_reasons_width - $content_width) / 2

.reasons  
  &[state="crafting"], &[state="summary"]
    +translateY(-$aggregate_area_height)

  &[state="crafting"][coming-from-state="results"]
    +translateY(0)

  &[state="crafting"][coming-from-state="results"]
    .position-region
      +translateY(- 2 * $vertical_baseline)

    .aggregated-propoints-region, .aggregated-conpoints-region
      +translateY($vertical_baseline)

  &[state="crafting"][coming-from-state="summary"], &[state="crafting"]
    .position-region
      +translateY(3 * $vertical_baseline)

    .aggregated-propoints-region, .aggregated-conpoints-region
      +translateY(6 * $vertical_baseline)


  &[state="summary"]
    .position-region
      +translateY($aggregate_area_height + $vertical_baseline)


  .aggregated-propoints-region .peer-reasons
    border-radius: 12px 0 0 12px
    border-right-color: transparent

  .aggregated-conpoints-region .peer-reasons
    border-radius: 0 12px 12px 0
    border-left-color: transparent

  // basic layout

  .points-list-region, .position-region
    display: inline-block

  .reasons-lists
    //height: 100%
    top: 0 
    min-height: $aggregate_area_height
    position: absolute  
    margin: auto
    width: $body_width

  .aggregated-propoints-region, .aggregated-conpoints-region
    height: 100%

    .peer-reasons
      height: 100%
      padding: $vertical_baseline $grid_gutter/2

  .aggregated-propoints-region .point-header-region
    float: left

  .aggregated-conpoints-region .point-header-region
    float: right

  &.transitioning .personal-reasons
    //min-height: 0
    min-height: 450px
    height: auto

  &[state="crafting"]
    .personal-reasons
      min-height: 450px

  &[state="results"]
    .personal-reasons
      height: 0
      overflow: hidden

    .aggregated-propoints-region, .aggregated-conpoints-region
      .peer-reasons
        padding-bottom: 3 * $vertical_baseline

  //horizontal size and positioning
  .reasons-lists
    width: $full_reasons_width
    left: $full_reasons_left

  .point-header-region
    width: $point-avatar-width
    position: relative

  .point-unexpanded
    .point-wrap
      width: $point-content-width

  &[state="results"], &[state="summary"]

    .aggregated-propoints-region
      +translateX($decision_board_width/2)

    .aggregated-conpoints-region
      +translateX(-$decision_board_width/2)

  .aggregated-propoints-region, .aggregated-conpoints-region
    width: $decision_board_width/2 //$point-width

  .position-propoints-region, .position-conpoints-region
    width: $point-width


  // expanded points
  &.some_points_are_expanded .reasons-lists
    width: $full_reasons_width + $expanded_points_increment

    .position-region, .position, .position-message-body
      height: 100%

  &.con_points_are_expanded .reasons-lists
    left: $full_reasons_left - $expanded_points_increment 


  &[state="crafting"], &[state="results"]
    .aggregated-propoints-region, .aggregated-conpoints-region
      &.points_are_expanded
        width: $decision_board_width/2 + $expanded_points_increment

        .point-peer.point-unexpanded 
          //width: $decision_board_width/2 + $expanded_points_increment
          .point-wrap
            width: $point-content-width + $expanded_points_increment

////////// end layout //////////


// Activity-based styles
[data-activity="proposal-no-activity"]
  .reasons[state="summary"] 
    +translateY(0)

    .points-list-region
      //display: none
      height: 0
      overflow: hidden

    .position-region
      +translateY(0)

    .reasons-lists      
      min-height: 0

  .reasons[state="crafting"] 
    .personal-reasons
      min-height: 200px


[data-activity="proposal-has-activity"]
  .reasons[state="summary"]
    .reasons-lists
      min-height: $aggregate_area_height
      //margin-bottom: 100px // spacing for participants block

  .reasons
    &[state="results"], &[state="crafting"]
      min-height: 500px

////////////////////


[state="summary"] .proposal-reasons-region
  height: 3 * $vertical_baseline

.reasons
  margin: $vertical_baseline 0 4 * $vertical_baseline 0
  position: relative


  &[state="summary"] .aggregated-conpoints-region   
    svg.t-bubble
      left: auto
      right: -23px
      
  &[state="crafting"], &[state="results"], &[state="summary"] .aggregated-propoints-region
    .peer-reasons
      > svg.t-bubble
        display: none

  &[state="summary"]
    .points-list-region, .participants
      &:hover
        cursor: pointer


  .participants
    bottom: 0px
    position: absolute
    // width: $body_gutter
    // right: 0

  /////////
  // warpper for a points column, managed by a PointsController
  .points-list-region
    position: relative
    vertical-align: top

  .position-region
    position: relative
    width: $decision_board_width

  .aggregated-propoints-region, .aggregated-conpoints-region
    //position: absolute
    top: 0
    z-index: 10

  ////////


  /// The participants block
  &[state="crafting"]
    > .participants
      display: none      

  .reasons-footer-region
    visibility: hidden

  &[state="summary"] 
    // shown on hover...
    .reasons-footer-region
      width: $body_gutter
      position: absolute
      left: 50%
      margin-left: -$body_gutter/2
      bottom: $vertical_baseline / 4
      cursor: pointer
      z-index: 10

      div
        text-align: center

      .reasons-view-results
        text-align: right
        +font-size(-1)
        i
          padding-right: $grid_gutter/4


// sticky footer for results (not presented in .reasons el)
.reasons-footer-sticky
  text-align: center

  a
    width: 100%
    border-radius: 0
    +font-size(2)

