@import "variables"

.toggle_proposal_state_view
  text-align: center
  position: relative

  margin-top: 2 * $vertical_baseline

  .proposal_state_primary
    +font-size(11)
    font-weight: 200

  .proposal_state_secondary
    +font-size(1)
    position: absolute
    top: 22px
    right: 62px

    a 
      text-decoration: underline

