@import "variables"

.proposal-state-toggle
  text-align: center

  &[data-state="collapsed"]
    display: none

  // &[data-state="separated"][data-updating="false"][data-state-from="collapsed"]
  //   visibility: hidden

  // &[data-state="together"][data-updating="false"]
  //   text-align: center
  //   a
  //     margin: auto
  //     text-align: left
  //     display: block
  //     width: $body_width
  //     border: 2px dashed $decision_board_border_color
  //     border-radius: 16px

  //     padding: 0 0 0 $grid_xs

  //     i 
  //       +font-size(3)

  &[data-state="separated"], &[data-state="together"]
    margin-top: 2 * $vertical_baseline

    .proposal-state-primary
      +font-size(6)
      font-weight: bold

    .proposal-state-secondary
      +font-size(1)
      text-decoration: underline
      // i
      //   +font-size(4)
      //   vertical-align: middle