@import "variables"

.proposal-state-toggle
  text-align: center

  &[data-state="collapsed"]
    display: none


  &[data-state="separated"], &[data-state="together"]
    margin-top: 2 * $vertical_baseline

    .proposal-state-primary
      +font-size(6)
      font-weight: bold

    .proposal-state-secondary
      +font-size(1)
      text-decoration: underline