%p
  Hi #{@user.first_name}, 

%p
  There is content that needs to be reviewed for civility and appropriateness. Thanks!

%a{href: full_link('dashboard/moderate'), style: 'font-weight: 700; color: #468EE5;'}
  Help moderate

= content_for :footer do
  You are receiving this email because our records indicate that you are a moderator.