

$plain_background_color: whitesmoke !default
$plain_text_color: #414141 !default

// some colors to spice up key elements
$primary_accent_background_color: hsl( 210, 70%, 84%) !default
$primary_accent_text_color: hsl( 210, 35%, 25%) !default

// complementary color should have strong contrast with background color
$complementary_background_color: darken($primary_accent_background_color, 25%) !default
$complementary_text_color: lighten($primary_accent_text_color, 100%) !default

// BASE PAGE BACKGROUND LAYOUT GROUP
// Applied to the highest level content area
$base_text_color: $plain_text_color !default
$base_background_color: #fafafa !default
$base_background_declaration: asset-data-url('images/backgrounds/brillant.png') repeat $base_background_color !default

// FOOTER LAYOUT GROUP
// Applied to page footer
$footer_background_color: darken($base_background_color, 10%) !default
$footer_background_declaration: $footer_background_color !default

// PRO/CON DECISION BOARD ELEMENT GROUP
// Applied to everything on the pro/con decision board for individual opinion crafting
$decision_board_text_color: mix(darken($base_text_color, 35%), darken(saturate($primary_accent_background_color, 50%), 25%), 20%) !default
$decision_board_border_color: $decision_board_text_color !default
$decision_board_background_declaration: rgba(mix($base_background_color, $primary_accent_background_color, 95%), .3) !default
