$plain_background_color: #fafafa
$plain_text_color: #414141


$header_background_declaration: none
$header_text_color: $plain_text_color

$footer_background_declaration: none
$footer_text_color: hsl( 0, 0%, 20%)


$base_background_declaration: #f8f8f8
$bg_top_declaration: none
$bg_content_declaration: white
$bg_content_top_declaration: none

$primary_accent_background_color:    #c9cee2
$primary_accent_text_color:    #222

// $complementary_background_color: #4aaa42
// $complementary_text_color: white

$decision_board_text_color: mix(darken($plain_text_color, 35%), darken(saturate($primary_accent_background_color, 50%), 25%), 20%)
$decision_board_border_color: $decision_board_text_color
$decision_board_background_declaration: mix($plain_background_color, $primary_accent_background_color, 98%)