@import "variables"

// fact-check request form
.assessment-request-form-dialog
  .assessment-request-prompt

  #request_suggestion
    width: 100%
    min-height: $vertical_baseline * 2

  .guidelines
    margin-top: $vertical_baseline / 4
    +font-size(-1)
    a
      text-decoration: underline

  .login

    a
      text-decoration: underline    

// fact-check summary shown in header of expanded point
.claim-summary 
  margin: $vertical_baseline/2

  .claim-summary-restatement, .claim-summary-evaluation, .claim-summary-link
    display: inline-block

  .claim-summary-restatement
    +font-size(-2)
    font-weight: bold
  .claim-summary-evaluation
    +font-size(-2)

  .claim-summary-link
    +font-size(-3)
    text-decoration: underline


// fact-check result, integrated into comment stream
.claim-comment
  .comment-claim-restatement
    font-weight: bold
    +font-size(2)

  .comment-claim-evaluation
    font-style: italic
    +font-size(1)

  .comment-claim-report  
    +font-size(0)
    margin: $vertical_baseline 0

  .comment-claim-process  
    a 
      text-decoration: underline 


.point-position.point-unexpanded
  &:hover .point-assessment-indicator-region
    display: block

  .point-assessment-indicator-region
    display: none

// indicator of fact-check result while browsing points
.point-assessment-indicator-region, .peer-reasons[state="summary"] .point-unexpanded .point-assessment-indicator-region
  display: none


.position-points
  .point-unexpanded
    .point-assessment-indicator-region
      top: auto
      opacity: 1
      left: -$grid_gutter - 4
      
.point-unexpanded
  .point-assessment-indicator-region
    display: block
    position: absolute
    top: $point-avatar-width + 8
    opacity: .75
    z-index: 1

    img
      width: 18px
      height: 18px

    &:hover
      opacity: 1