@import "variables"
@import "compass/css3/box-shadow"
@import "library"

// footer

.pointlist-footer-more
  display: none

.points_by_community[state="summary"], .points_by_community[state="results"]
  .pointlist-footer-region
    position: absolute
    bottom: $vertical_baseline / 2
    width: $point-content-width

.points_by_community[state="summary"]

  .expanded_points
    display: none  
  .pointlist-footer-more
    display: block
    text-align: center

    i
      font-weight: bold

.points_are_expanded
  .points_by_community[state="crafting"]
    .pointlist-expand-toggle
      width: $point-content-width + $expanded_points_increment

  .points_by_community[state="results"]
    .pointlist-expand-toggle
      width: $point-content-width + $expanded_points_increment


.points_by_community[state="crafting"] .pointlist-expand-toggle
  width: $point-content-width

.points_by_community[state="results"]
  &.pros_by_community
    .pointlist-footer-region
      margin-left: $point-avatar-width

  .pointlist-expand-toggle
    width: $point-content-width

.expanded_points
  .pointlist-expand-toggle
    text-align: center

.pros_by_community
  .expanded_points
    text-align: right


// header

[data-activity="proposal-no-activity"]
  .points_by_community .pointlist-header
    visibility: hidden

.pointlist-header
  text-align: center
  margin-bottom: $vertical_baseline / 2
  .pointlist-header-label
    +font-size(2)    
    display: inline-block



.points_by_community
  border: 1px solid transparent

  // &.pros_by_community
  //   padding: $vertical_baseline / 2 $grid-gutter / 2 $vertical_baseline / 2 $grid-gutter / 2

  // &.cons_by_community
  //   padding: $vertical_baseline / 2 $grid-gutter / 2 $vertical_baseline / 2 $grid-gutter / 2

  &[state="crafting"], &[state="results"]

    .pointlist-header-label
      cursor: pointer
      +font-size(2)
      font-weight: normal

    .expanded_points-sort
      display: inline-block
      position: relative
      margin-left: $grid_gutter

      .expanded_points-sort-label
        +font-size(-2)

      .expanded_points-sort-menu
        display: none


      &:hover

        .expanded_points-sort-menu
          //min-width: 140px
          text-align: left
          list-style: none outside none
          margin-left: 0
          display: inline-block
          +single-box-shadow($hoff: 0, $voff: 5px, $blur: 10px)
          border-radius: 5px
          padding: $vertical_baseline / 2 0
          position: absolute
          right: -$grid_gutter
          z-index: 10

          li
            display: block

          a
            width: 100%
            padding: 2px $grid_minor
            display: block
            cursor: pointer
            +font-size(-3)
            font-weight: bold


.points_on_decision_board
  .pointlist-header-label
    margin-bottom: $vertical_baseline/2
    border-bottom: 2px solid 
    +font-size(4)

// expandable header

.points_by_community[state="results"], .points_by_community[state="crafting"] 
  .expanded_points-header-open, .expanded_points-header-close
    +font-size(-2)
    margin-left: $grid_gutter / 2

.points_by_community[state="summary"] 
  .expanded_points-header-open, .expanded_points-header-close
    visibility: hidden

// empty list
.no_community_points
  font-style: italic
  text-align: center

/* NEWPOINT */

.has_included_points
  .point-drop-target
    opacity: .2

.no_included_points
  .point-drop-target
    opacity: .75

.draggable_initiated_pro .pros_on_decision_board, .draggable_initiated_con .cons_on_decision_board
  .point-drop-target
    opacity: 1

.draggable_hover_pro .pros_on_decision_board, .draggable_hover_con .cons_on_decision_board
  .point-drop-target
    border-style: solid


.point-drop-target
  padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_gutter
  +font-size(1)
  height: 5 * $vertical_baseline
  vertical-align: middle
  margin-top: 2 * $vertical_baseline

.point-drop-target, .newpoint
  border-radius: 16px
  width: $point_width - $grid_gutter
  margin-left: $grid_gutter / 2

// .pros_on_decision_board 
//   .point-drop-target, .newpoint
//     margin-left: $grid_gutter / 2

.newpoint
  position: relative
  margin-top: $vertical_baseline

  &:hover, &.newpoint-adding
    border-style: solid

  .newpoint-new, .newpoint-form

    // bullet point
    &:before
      content: '\2022'
      display: inline-block
      position: absolute
      top: 7px


  .newpoint-new
    +font-size(1)
    position: relative
    //font-weight: bold
    display: block
    padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_gutter
    margin-left: 3px
    cursor: pointer
    opacity: .75
    &:hover
      opacity: 1


    &:before
      left: 4px
      +font-size(-4)

  .newpoint-form
    padding-top: $vertical_baseline / 2
    position: relative
    display: none
    margin-left: $grid_gutter
    input, textarea
      +font-size(0)
      padding-top: 0
      padding-bottom: 0
  
    &:before
      left: -11px    
      +font-size(-4)

  .newpoint-description
    width: 96%
    min-height: 55px

  .newpoint-nutshell-wrap
    .newpoint-nutshell
      width: 96%
      min-height: 55px

    .count
      +font-size(-3)
      vertical-align: middle
      position: absolute
      right: 20px
      top: -16px

  .newpoint-submit
    text-align: right

    //text-align: right
    //margin-left: 10px

  .newpoint-anonymous-wrap
    label, input
      +font-size(-1)

  .newpoint-submit
    margin-top: 3px