@import "variables"
@import "library"
@import "compass/css3/box-shadow"

.point
  position: relative
  list-style: none outside none

  .point-close
    display: none

  .point-wrap
    position: relative
    display: inline-block

  &.point-peer, &.point-expanded
    .point-wrap
      padding: $vertical_baseline / 2 $grid_gutter / 2 
      margin-bottom: $vertical_baseline / 2


  &.point-position
    margin-left: $grid_gutter / 2

  &.point-unexpanded

  &.point-expanded
    position: relative
    z-index: 999
    // padding: $vertical_baseline $grid_gutter  
    width: $point-expanded-width + $point-avatar-width

    .point-close
      display: block
      position: absolute
      right: -11px
      top: -11px
      cursor: pointer

      i
        +font-size(2)

    .point-wrap
      width: $point-expanded-width - 3
      padding: $vertical_baseline 1.5 * $grid_gutter

    &.point-position
      &.con
        left: $point-width - $point-expanded-width + ($point-expanded-width - $body_width) / 2
      &.pro
        left: - ($point-expanded-width - $body_width) / 2

.peer-reasons[state="crafting"], .peer-reasons[state="results"], .position-points
  .point-unexpanded
    cursor: pointer


.points_are_expanded .peer-reasons
  &[state="crafting"]
    .point-expanded.con.point-peer
      right: $point-expanded-width - $point-width + 56 - $expanded_points_increment

.peer-reasons

  &[state="results"]
    .point-expanded.con.point-peer
      right: $point-expanded-width - $point-width

  &[state="crafting"]
    .point-expanded.con.point-peer
      right: $point-expanded-width - $point-width + 56

    .point-unexpanded.point-peer .point-wrap
      +grab_cursor

  &[state="summary"]
    .point
      z-index: 5




/////////////////////////
// Point text

.point-unexpanded
  &.point-peer
    .point-nutshell
      +font-size(-1)

  &.point-position  
    .point-nutshell
      +font-size(-1)

  .point-details-description 
    display: none


.point-expanded
  .point-nutshell, .point-details-description
    padding-bottom: $vertical_baseline / 2

  .point-nutshell
    +font-size(4)
    //font-weight: bold

  .point-details-description 
    +font-size(0)

//////



//////////////////
// bullet points
.point-unexpanded.point-position
  padding: 0 $grid_gutter 4px $grid_gutter

  .point-nutshell-wrap
    &:before
      content: '\2022'
      position: absolute
      top: 0px
      +font-size(-3)

  &.pro .point-nutshell-wrap:before
    left: -13px

  &.con .point-nutshell-wrap:before
    left: -10px

/////////////

.point-unexpanded.point-position
  .point-author-avatar
    display: none

.point-expanded 
  .point-follow-region
    //margin-bottom: $vertical_baseline / 2

/////////////////////////////////////////
// point operations
.point-expanded, .peer-reasons[state="summary"]
  .point-operations
    display: none

.peer-reasons[state="results"], .peer-reasons[state="crafting"]
  .point-peer
    .point-operations
      visibility: hidden

    &:hover
      .point-operations
        visibility: visible

.point-unexpanded
  &.point-peer
    .point-operations        
      position: relative

      .point-read-more
        +font-size(-3)


    &.pro
      .point-operations
        text-align: left

    &.con
      .point-operations
        text-align: right

  &.point-position
    &:hover .point-operations
      visibility: visible

    .point-operations
      visibility: hidden
      padding: $vertical_baseline/8 $grid_gutter

      .point-read-more
        +font-size(-3)
        margin: 0
        padding: 1px 8px

    .point-remove
      margin-top: $grid_gutter/4
      padding: 0 $grid_gutter/2

      background: none
      border-color: transparent

///////////////////////////////////////

.point-action
  display: inline-block

  i
    padding-right: $grid_gutter / 4

/////////////////////////////////////////
// point inclusion button
.point-include-wrap
  display: none

.peer-reasons[state="crafting"] 
  .point-peer.point-expanded
    .point-include-wrap
      display: inline-block

  .point-peer.point-unexpanded, .point-expanded
    .point-wrap
      border-radius: 8px

.peer-reasons[state="summary"] .point-author-avatar
  //visibility: hidden

.point-author-avatar
  display: inline-block
  position: relative
  border-radius: 8px
  top: .7 * $vertical_baseline
  width: $point-avatar-width - 2
  height: $point-avatar-width - 2

.con .point-author-avatar
  float: right




///////////
// Discussion
.point-discussion
  position: relative

.point-discussion-heading
  +font-size(2)
  margin: $vertical_baseline 0

.point-comments
  list-style: none outside none
////



