@import "variables"
@import "library"
@import "compass/css3/box-shadow"
@import "compass/css3/transform"

// top level point styling
.point
  position: relative
  list-style: none outside none

  &.decision_board_point
    margin-left: $grid_gutter / 2

  &.closed_point.decision_board_point
    padding: 0 $grid_gutter $vertical_baseline $grid_gutter

[data-state="results"] .closed_point .point_content
  cursor: pointer //not working because disabled jquery UI draggable class defined with !important

// draggable points
[data-state="crafting"] .closed_point .point_content
  +grab_cursor

// point_content styling. Point content is the main part of a point
// that has all the substantive content
.point_content
  position: relative
  display: inline-block

.community_point
  .point_content
    border-radius: 16px
    padding: $vertical_baseline / 2 $grid_gutter / 2 
    margin-bottom: $vertical_baseline / 2

    // for bubble mouth
    &:before
      position: absolute
      content: '\25C0'

  &.pro .point_content:before
    left: -11px

  &.con .point_content:before
    right: -11px
    +scaleX(-1)

/////////////////////////
// Point text

.point_nutshell
  word-wrap: break-word
  +font-size(-1)

.point_details_tease
  padding-left: 10px
  font-weight: 200

//////


///
// open point button popping up on hover

.open_point_link
  visibility: hidden
  position: absolute
  bottom: 0
  text-align: center
  width: 90%
  +font-size(-3)

.point_content:hover
  .open_point_link
    visibility: visible


// point avatars
.point_author_avatar
  display: inline-block
  position: relative
  border-radius: 8px
  top: 8px
  width: $point-avatar-width
  height: $point-avatar-width
  border-radius: 50%

.closed_point.decision_board_point .point_author_avatar
  left: -10px
  top: -2px


