@import "variables"
@import "library"

// New Proposal

.proposals-new
  margin: auto
  text-align: center
  width: $content_width

#proposals-container, #proposals-container-completed
  padding-top: $vertical_baseline
  .proposal-list
    list-style: none outside none

#proposals-container-completed
  hr
    margin-bottom: $vertical_baseline
    height: 1px

  h2
    text-align: center

  &.is-empty

    > h2, .proposals-filters
      display: none

.proposals-list-pagination-wrap
  padding-bottom: $vertical_baseline

.proposals-filters
  padding-top: $vertical_baseline

.proposals-filters, .proposals-list-pagination-wrap
  text-align: center
  margin: 0 auto
  width: $content_width

.proposals-filter-container, .proposals-sort-container
  display: inline-block

  .title, a
    display: inline-block
    padding-right: $grid_gutter/2

  a
    text-transform: lowercase
    font-variant: small-caps
    &.selected, &.selected:hover
      font-weight: bold

.proposals-list-pagination
  margin-top: $vertical_baseline
    
  .proposals-pagination-showmore, .proposals-list-pagination-page, .selected, .proposals-list-pagination-jump
    border-radius: 0
    text-shadow: none

  .proposals-list-pagination-page, .selected, .proposals-list-pagination-jump
    padding: $vertical_baseline/8 $grid_gutter/4

.proposals-list-pagination-pages
  position: relative
  display: inline-block

// .proposals-list-pagination-jump-left, .proposals-list-pagination-jump-right
//   position: absolute
//   top: 0

// .proposals-list-pagination-jump-left
//   left: -76px

// .proposals-list-pagination-jump-right
//   right: -73px

.proposals-list-pagination-current
  margin-top: $vertical_baseline/4
  +font-size(-2)

.proposals-container-hibernation-message
  padding: $vertical_baseline / 2 $grid_gutter 
  +font-size(2)
  text-align: center
  margin: $vertical_baseline auto
  width: $body_width

.proposals-container-completed-header
  h2
    font-weight: none
    +font-size(2)