@import "variables"
@import "library"

// High-level layout styles
#active_proposals_region, #past_proposals_region
  padding-top: $vertical_baseline
  .proposals_list
    list-style: none outside none

.past_proposals_heading
  text-align: center

  h2
    font-weight: none
    +font-size(2)

// New Proposal
.new_proposal_view
  margin: auto
  text-align: center
  width: $content_width

// Sort and paginating proposals

.proposals_sort_view, .proposals_pagination_view
  text-align: center
  margin: 0 auto
  width: $content_width

.proposals_pagination_view
  padding-bottom: $vertical_baseline
  margin-top: $vertical_baseline

  .proposals_pagination_showmore, .proposals_list_pagination_page, .selected, .proposals_list_pagination_jump
    border-radius: 0
    text-shadow: none

  .proposals_list_pagination_page, .selected, .proposals_list_pagination_jump
    padding: $vertical_baseline/8 $grid_gutter/4

  .proposals_list_pagination_pages
    position: relative
    display: inline-block

.proposals_sort_view
  padding-top: $vertical_baseline
  display: inline-block

  .title, a
    display: inline-block
    padding-right: $grid_gutter/2

  a
    text-transform: lowercase
    font-variant: small-caps
    &.selected, &.selected:hover
      font-weight: bold    

.proposals_list_pagination_current
  margin-top: $vertical_baseline/4
  +font-size(-2)

.active_proposals_hibernation_message
  padding: $vertical_baseline / 2 $grid_gutter 
  +font-size(2)
  text-align: center
  margin: $vertical_baseline auto
  width: $body_width

