@import "variables"
@import "compass/css3/box-shadow"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "library"

.proposal_layout
  padding: $vertical_baseline 0 2 * $vertical_baseline 0
  position: relative
  min-height: $proposer_img_size

