.deletepointform
  %a.delete_point.linkify.point_operation
    delete

  = form_for point, :remote => true, :url => option_point_path(@option, point), :html => { :method => :delete, :class => 'deletepointformproper hide' } do |f| 
    %span.prompt
      Are you sure?
    %a.cancel
      no

    %input{:class => 'delete_point no_qtip linkify point_operation', :type => 'submit', :value => "yes", :name => "delete", :title => 'Click to permanently delete this point'}


  