.droppable
  
  = image_tag 'drop_instruction_right.png', :class => 'drop_instruction right'
  
  .prompt
    Drag and drop important points by other users into your list.

  = image_tag 'drop_instruction_left.png', :class => 'drop_instruction left'
  
  .clear