.droppable
  
  = image_tag 'drop_instruction_right.png', :class => 'drop_instruction right'
  
  .prompt.pros
    Drag good pros into your list

  .prompt.cons
    Drag good cons into your list

  = image_tag 'drop_instruction_left.png', :class => 'drop_instruction left'
  
  .clear