-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

.droppable
  - if side == :left
  
    .prompt.pros
      Drag & drop #{@proposal.label_pro}s you think are important onto your list

  - if side == :right
    .prompt.cons
      Drag & drop #{@proposal.label_con}s you think are important onto your list

  
  .clear