.newpoint
  .newpointbutton
    .bullet_point
      &#8226;
  
    %a{ :class => "#{is_pro ? 'pro' : 'con'} write_new" }
      Write a new #{is_pro ? 'pro' : 'con'} point
    
    = render :partial => 'points/form', :locals => {:point => Point.new(:proposal => @proposal), :is_pro => is_pro, :action => 'new' }
    



    

    