@import "variables"
@import "bourbon"
@import "library"

/////////////////////////////////////////////////////////////////////////////
/// Mixins
/////////////////////////////////////////////////////////////////////////////

=grab_cursor
  cursor: move
  cursor: ew-resize
  cursor: -webkit-grab
  cursor: -moz-grab

  &:active
    cursor: move
    cursor: ew-resize
    cursor: -webkit-grabbing
    cursor: -moz-grabbing

// Browsers render the inset colors so differently...
=inset-border($base_text_color)
  border-color: darken($base_text_color, 10%) lighten($base_text_color, 5%) lighten($base_text_color, 10%) lighten($base_text_color, 5%)


/////////////////////////////////////////////////////////////////////////////
/// STYLES for Franklin
/////////////////////////////////////////////////////////////////////////////


/////////////////////
// DESCRIPTION REGION
// Proposal description

// Wrapper around description region
.description_region
  position: relative
  margin: auto
  +font-size(1)
  // margin-bottom: 5 * $vertical_baseline

// Proposal proposer is the avatar of the user who submitted the proposal
$proposer_img_size: 50px
.context
  position: relative
  // margin-top: -$vertical_baseline
  margin-top: $vertical_baseline

.proposer_name //, .proposal_category
  color: lighten($base_text_color, 35%)
  +font-size(0)

.proposer_name
  text-align: center
  position: relative
  top: -4px

.proposal_category
  margin-right: $grid_gutter / 2
  // position: absolute
  // top: -$vertical_baseline * 1.5
  // left: $grid_gutter


.proposer_avatar
  left: 50%
  margin-left: -$proposer_img_size / 2
  // top: -$proposer_img_size / 4
  position: relative
  width: $proposer_img_size // - 30
  vertical-align: bottom 

$proposal_header_color: invert($decision_board_border_color)
.proposal_author_tic
  left: 50%
  margin-left: -10px
  width: 0
  height: 0 
  border-left: 10px solid transparent
  border-right: 10px solid transparent  
  border-top: 12px solid $proposal_header_color
  position: absolute
  top: -34px

.proposal_heading
  padding: 0 $grid_gutter $vertical_baseline / 2 $grid_gutter
  // min-height: $proposer_img_size
  +font-size(8)

.fixed_proposal_heading
  border-bottom: 1px solid darken($proposal_header_color, 15%)
  width: 100%
  background-color: $proposal_header_color
  color: white
  +font-size(5)
  padding: $vertical_baseline/8 $grid_gutter / 2
  z-index: 999
  position: relative
  text-align: center


// The proposal details revealed 
.proposal_details
  padding: $vertical_baseline / 2 0
  +font-size(2)

  // some default styles for html written by users rendered here
  br
    padding-bottom: $vertical_baseline/2
  p
    margin-bottom: $vertical_baseline / 2
  td
    padding: 0 3px
    

/////////////////////
// FEELINGS REGION
// Integrated histogram and slider widget

// histogram

.feelings_region
  margin: 0 auto
  position: relative

.histogram
  table, td, tr
    height: 100%

.histogram_segment
  display: inline-block
  height: 100%
  border-top: 1px solid transparent
  position: relative

// $extreme_segment_border_height: 4px
// .histogram_segment[data-segment="0"], .histogram_segment[data-segment="6"]
//   position: relative
//   top: $extreme_segment_border_height
//   border-bottom: $extreme_segment_border_height double
//   // padding-top: $extreme_segment_border_height

// .histogram_segment[data-segment="0"]
//   border-bottom-color: $extreme_opposer_color

// .histogram_segment[data-segment="6"]
//   border-bottom-color: $extreme_supporter_color

$segment_color: #db004d

[data-page="crafting"] .histogram_segment .avatar
  pointer-events: none

[data-page="results"] .histogram_segment
  // &:hover
  //   cursor: pointer
  &.is_selected
    // background-color: lighten($segment_color, 55%)
    // border-top-color: $segment_color

    // .avatar
    //   background-color: lighten(desaturate($segment_color, 60%), 25%)

  &.not_selected
    .avatar
      opacity: .05

[data-segment="6"] 

  .histogram_segment_pole
    color: $extreme_supporter_color
    left: -160px

[data-segment="0"] 
  .histogram_segment_pole
    color: $extreme_opposer_color  
    right: -145px

.histogram_segment_pole
  font-weight: 200
  position: absolute
  +font-size(6)
  bottom: -20px
  pointer-events: none

.histogram_bar
  display: inline-block
  font-size: 0
  vertical-align: bottom
  +transform(rotate(180deg))    
  -ms-transform: rotate(0)

  .avatar
    border-radius: 50%
    background-color: $default_avatar_in_histogram_color
    background-image: none
    +transform(rotate(180deg))
    -ms-transform: rotate(0)

  //////////
  // When there are multiple colums in a bar, need to prevent putting the row with least faces at the bottom
  //  xxx        x
  //  xxx   =>  xxx 
  //   x        xxx
  // &.extreme_or_neutral
  //   +transform(rotate(180deg))    
  //   .avatar
  //     +transform(rotate(180deg))


// slider

.slider
  position: absolute
  top: -48px

.slider_base
  margin: auto
  height: 6px
  background-color: desaturate($decision_board_text_color, 100%)


.slider_base_triangle_left, .slider_base_triangle_right
  position: absolute
  width: 0
  height: 0
  border-bottom: 6px solid #787878

$slider_handle_size: 22px
.ui-slider-handle  // dashes in name b/c jquery UI
  margin-left: -$slider_handle_size / 2

  .the_handle
    border-radius: 50%
    width: $slider_handle_size
    height: $slider_handle_size
    background-color: $decision_board_text_color
    position: relative
    box-shadow: 0px 1px 0px darken($decision_board_text_color, 15%), inset 0 1px 2px rgba(white, .4), 0px 0px 0px 1px darken($decision_board_text_color, 0%)

    .face_part
      position: absolute
      pointer-events: none

    .face_eye
      border-radius: 50%
      background-color: white
      top: 6px
      width: 3px
      height: 3px

      &.face_left_eye
        left: 6px
      &.face_right_eye
        right: 6px

    .face_mouth
      bottom: -1px
      width: $slider_handle_size - 4
      left: 2px 
      height: $slider_handle_size - 4
      border-radius: 50%
      box-shadow: 3px 3px 0 0 white

    .drag_arrow
      position: absolute
      top: 2px
      color: rgba($decision_board_border_color, .6)
      +font-size(-2)

      &.left
        left: -15px
      &.right
        right: -15px


  // the mouth leading into the "give opinion button" or the decision board, depending on state
  .bubblemouth
    position: absolute  
    width: 18px

.ui-slider-handle
  +grab_cursor

.ui-slider-disabled .ui-slider-handle
  cursor: default

// The area on top of the slider that shows in crafting to let user know what their stance is
.slider_feedback
  position: absolute
  top: -80px
  width: 450px
  left: 50%
  margin-left: -225px
  border-radius: 10px
  background-color: rgba($base_background_color, .2)

  +font-size(6)
  font-weight: bold
  color: $decision_board_text_color
  text-align: center

.opinion_region .slider_feedback
  pointer-events: none // clicking on this interferes with slider and toggle state


[data-page="results"] .slider_feedback
  display: none

// the poles of the histogram & slider
.slider_labels
  display: none
  width: 134%
  margin-left: -17%
  position: absolute
  bottom: -37px
  z-index: -1 // so that it doesn't sit on top of users on histogram

  .histogram_label_support
    float: left
  .histogram_label_oppose
    float: right


/////////////////////
// REASONS REGION
// The columns of points & decision board

////
// Layout for 4 cols
// Widths, transforms, and intercomponent relationships for 4 col / 2 col design

.reasons_region  
  position: relative
  margin: 48px auto 4 * $vertical_baseline auto

.focal_wrapper
  position: absolute
  z-index: 0 //so that points being dragged are above opinion region


// keep the four cols side by side
.points_by_community, .points_on_decision_board, .focal_wrapper
  display: inline-block
  vertical-align: top

.points_by_community, .points_on_decision_board
  margin-top: 38px

.points_by_community
  margin-left: $grid_gutter
  margin-right: $grid_gutter
  position: relative
  z-index: 2 //so that points being dragged are above opinion region

  .empty_point
    margin-top: 50px
    font-style: italic
    list-style: none
    text-align: center
    font-weight: 200

////
// Lower level styles for reasons region...

// Point list heading
.points_heading_label
  text-align: center
  margin-bottom: $vertical_baseline/2
  +font-size(6)

.points_on_decision_board .points_heading_label
  font-weight: bold
  color: $decision_board_text_color

.points_by_community .points_heading_label
  font-weight: 200
  position: relative

.points_segment_label
  font-weight: 200
  text-align: center
  +font-size(-2)
  position: absolute
  width: 100%
  bottom: -12px
  color: $segment_color

// Mike: I wanted the headers to be centered over the ENTIRE
// points including avatars, not just bubbles.  But the
// avatars are sticking out on their own, so I simulated
// a centered look with these -20px and +20px offsets
.pros_by_community 
  h1.points_heading_label
    position: relative
    left: -20px
.cons_by_community 
  h1.points_heading_label
    position: relative
    left: 20px

// opinion filter
[data-page="crafting"] .opinion_filter_region
  display: none

.opinion_filter_region
  position: absolute
  z-index: 10
  right: -275px
  bottom: -200px
  +font-size(-1)

  .filter_option
    display: block
    color: lighten($base_text_color, 40%)

    &.selected
      // text-decoration: underline
      color: $base_text_color
      position: relative

      &:before
        position: absolute
        content: '•'
        left: -10px
        top: 1px



// Decision board
.user_is_hovering_on_a_drop_target .decision_board_body
  border-style: solid  

.focal_area
  border-radius: 16px
  border: 3px dashed $decision_board_border_color

  // a
  //   +link_style( emphasize($decision_board_text_color, 10%, $reference: $decision_board_background_color), $decision_board_background_color, 25%)
  
  // h1, h2, h3
  //   color: $decision_board_text_color

  // textarea, input[type="text"], input[type="email"], input[type="password"]
  //   background-color: transparent
  //   border: 1px solid
  //   +inset-border($base_text_color)
  //   display: inline-block
  //   color: $base_text_color

  //   &.error 
  //     border-color: #883333
  //     &:focus
  //       +inset-border($decision_board_text_color)

[data-page="results"]
  .decision_board_body
    border-style: solid
    background-color: $decision_board_border_color
    box-shadow: 0px 2px 0px black
    &:hover
      cursor: pointer

    a.give_opinion_button
      display: block
      color: white
      padding: $vertical_baseline / 4 $grid_gutter
      margin: 0
      +font-size(1)
      box-shadow: none
      &:hover
        color: white

.your_points
  padding: 0 $grid_gutter
  margin-top: -3px // To undo the 3 pixel border

// Drop target for decision board
.user_is_hovering_on_a_drop_target_pro .pros_on_decision_board, .user_is_hovering_on_a_drop_target_con .cons_on_decision_board
  .add_point_drop_target
    border-style: solid emphasize($decision_board_text_color, 25%, $reference: $decision_board_background_color)
    color: emphasize($decision_board_text_color, 25%, $reference: $decision_board_background_color)

.add_point_drop_target
  padding: 0px 0 $vertical_baseline/4 $grid_gutter/2
  position: relative

  .drop_target
    width: 223px

  .drop_prompt
    +font-size(0)
    position: absolute
    top: 1.4 * $vertical_baseline
    left: 36px
    width: 180px
    color: $base_text_color

.cons_on_decision_board .add_point_drop_target 
  .drop_target
    +transform(scaleX(-1))
  .drop_prompt
    left: 29px


=blue_button 
  background-color: $decision_board_text_color
  color: white
  font-size: 29px
  margin-top: 20px
  box-shadow: 0px 1px 0px darken($decision_board_text_color, 10%)
  border: none
  padding: 6px $grid_gutter

.primary_button, .primary_cancel_button
  border-radius: 16px
  text-align: center
  padding: 3px
  cursor: pointer

.primary_button
  +blue_button
  font-weight: 600

a.primary_cancel_button
  color: #aaa
  margin-top: $vertical_baseline / 2

a.cancel_opinion_button, a.cancel_auth_button
  float: right
  margin-top: $vertical_baseline / 2

button.primary_button, input[type="submit"]
  display: inline-block



/////////////////////
// POINTS
// Styling for individual points

.point
  position: relative
  list-style: none outside none

.decision_board_point
  margin-left: $grid_gutter / 2
  padding: 0 $grid_gutter $vertical_baseline $grid_gutter


// point_content styling. Point content is the main part of a point
// that has all the substantive content

.point_content.ui-draggable
  +grab_cursor

.point_content.ui-draggable-disabled
  cursor: auto !important //war! disabled jquery UI draggable class defined with !important


$community_point_mouth_width: 17px
.community_point
  .community_point_mouth
    position: absolute
    width: $community_point_mouth_width
    top: 12px
    z-index: 1

  &.pro .community_point_mouth
    left: -$community_point_mouth_width
  &.con .community_point_mouth
    right: -$community_point_mouth_width
    +transform(scaleX(-1))

  .point_content
    border-radius: 16px
    padding: $vertical_baseline / 2 $grid_gutter / 2 
    margin-bottom: $vertical_baseline / 2
    background-color: $peer_background_color
    color: $peer_text_color
    box-shadow: #B5B5B5 0 1px 1px 0px
    

// Point text
.point_nutshell
  word-wrap: break-word
  +font-size(-1)
  // color: deemphasize($base_text_color, 20%, $reference: $base_background_color)

.point_details_tease, .point_details 
  //padding-left: 10px
  font-weight: 200
  display: block
  // color: deemphasize($base_text_color, 20%, $reference: $base_background_color)

.point_details_tease:hover
  text-decoration: underline
  cursor: pointer

// .point_details 
  // +font-size(-2)
  // padding-left: 10px

// The button that shows # comments when hovering on a point (disabled for now)
// .open_point_link
//   visibility: hidden
//   position: absolute
//   bottom: 0
//   text-align: center
//   width: 90%
//   +font-size(-3)
//   padding: 0 $grid_gutter/4
//   background-color: $peer_background_color
//   color: $base_text_color

// .point_content:hover .open_point_link
//   visibility: visible

// Avatars of point authors
.point_author_avatar, .point_includer_avatar
  position: absolute

.decision_board_point .point_author_avatar
  top: 8px
  width: 22px
  height: 22px

$point-avatar-width: 22px
$point-includer-width: 22px

.point_includer_avatar
  width: $point-includer-width
  height: $point-includer-width

.community_point .point_author_avatar
  top: 0
  width: $point-avatar-width
  height: $point-avatar-width

.community_point.pro .point_includer_avatar
  box-shadow: -1px 2px 0 0 #eee
.community_point.con .point_includer_avatar
  box-shadow: 1px 2px 0 0 #eee


.community_point.pro .point_author_avatar
  left: -$point-avatar-width - 20
  box-shadow: -1px 2px 0 0 #eee
.community_point.con .point_author_avatar
  right: -$point-avatar-width - 20
  box-shadow: 1px 2px 0 0 #eee

.decision_board_point .point_author_avatar
  left: -10px
  top: -2px

// Add a new point prompt
.newpoint_prompt
  padding: $vertical_baseline/4 0
  margin-top: $vertical_baseline
  +font-size(0)

  .newpoint_link
    text-decoration: underline
    color: $decision_board_text_color
  .newpoint_bullet
    padding: 0 6px
    color: $base_text_color    
  .qualifier
    font-weight: 200
    color: $base_text_color


// Add a new point form
// TODO: refactor once design more complete
.newpoint

  .newpoint_form
    margin: 0 $grid_gutter

    position: relative
    margin-left: $grid_gutter
    input, textarea
      +font-size(0)
      padding-top: 0
      padding-bottom: 0
  
    &:before
      left: -11px    
      +font-size(-4)

  label
    +font-size(0)

  .newpoint_description
    width: 100%
    min-height: 100px
    overflow: hidden

  .newpoint_nutshell
    width: 100%
    height: 100px
    overflow: hidden

  .count
    +font-size(0)
    position: absolute
    right: 20px
    top: -19px

  .add_details
    +font-size(0)
    span
      padding-left: 6px
    &:hover
      text-decoration: underline

  .newpoint-submit
    text-align: right
    margin-top: 3px
    margin-bottom: $vertical_baseline / 2

    .primary_button
      margin-top: $vertical_baseline / 2
      width: 100%
      +font-size(2)

  .newpoint_hide_name
    position: absolute
    bottom: 0px
    label, input
      +font-size(-1)







// Auth styling
.userbar
  text-align: right
  padding: 4px 15px

  a
    padding-left: 3px

[data-authmode]
  visibility: hidden
  .slider_base
    visibility: visible
  .auth_region
    visibility: visible

[data-authmode="login"], [data-authmode="register"]

  .slider_feedback
    margin-top: -25px

.auth_region
  margin-bottom: 10 * $vertical_baseline

  .slider_base
    background-color: transparent

.auth
  padding: 1.5 * $vertical_baseline $grid_gutter .5 * $vertical_baseline $grid_gutter
  +font-size(3)

  .third_party_call
    margin-right: $grid_gutter * 2

  .third_party_option
    border: 1px solid #777
    border-color: rgba(black, 0.2)
    border-bottom-color: rgba(black, 0.4)
    color: #fff
    box-shadow: inset 0 0.1em 0 rgba(white, 0.4), inset 0 0 0.1em rgba(white, 0.9)
    display: inline-block
    padding: 3px $grid_gutter / 2 3px $grid_gutter / 2 + 25
    margin: 0 $grid_gutter / 4
    text-align: center
    text-shadow: 0 1px 0 rgba(black, 0.5)
    border-radius: .3em
    position: relative
    +background-image(linear-gradient(rgba(white, 0.1), rgba(white, 0.05) 49%, rgba(black, 0.05) 51%, rgba(black, 0.1)))
    &:hover
      +background-image(linear-gradient(rgba(white, 0.2), rgba(white, 0.1) 49%, rgba(black, 0.1) 51%, rgba(black, 0.2)))

    &:before
      border-right: 0.075em solid rgba(black, 0.1)
      box-shadow: 0.075em 0 0 rgba(white, 0.25)
      content: ''
      position: absolute
      top: 0
      left: 25px
      height: 100%
      width: 1px

    &.google
      background-color: $decision_board_border_color //#4e6cf7
    &.facebook
      background-color: $decision_board_border_color //#4863ae
    &.twitter
      background-color: $decision_board_border_color //#46c0fb

    i
      margin-right: $grid_gutter
      display: inline-block
      +font-size(1)
      position: absolute
      left: 9px

    span
      font-weight: 600
      +font-size(-2)


  .separator
    color: rgba($decision_board_border_color, .1)
    font-weight: bold
    padding-top: $vertical_baseline

    label
      padding: 0 $grid_gutter


  .auth_section_label
    padding: $vertical_baseline 0
    display: block

  input[type="text"], input[type="email"], input[type="password"]
    border: 1px solid #aaa
    padding: 5px 10px
    width: 100%
    +font-size(2)
    color: lighten($base_text_color, 15%)

  table
    border-collapse: separate  

    &.login
      border-spacing: 0 $vertical_baseline/4

    &.register
      border-spacing: 0 $vertical_baseline
      #user_password
        margin-top: $vertical_baseline/2

  td
    vertical-align: top

    &.label_cell
      width: 35%

    &.field_cell
      width: 100%
      padding-left: $grid_gutter

  label 
    color: $decision_board_border_color
    font-weight: 600

  .login label 
    color: lighten($base_text_color, 35%)

  .pledge
    list-style: none

    label
      +font-size(0)
      color: lighten($base_text_color, 15%)
      padding-left: 6px
      font-weight: normal
    input
      +font-size(3)



.auth .forgot_password
  +font-size(-3)
  border-bottom: 1px solid lighten($base_text_color, 70%)
  color: lighten($base_text_color, 40%)
  margin-left: 12px
  position: relative
  top: -4px

.password_verification_explanation
  +font-size(-2)

$avatar_preview_size: 60px
.avatar_preview_enclosure
  height: $avatar_preview_size
  width: $avatar_preview_size
  margin-top: -10px
  border-radius: 50%
  background-color: lighten($default_avatar_in_histogram_color, 30%)
  overflow: hidden
  display: inline-block
  margin-right: $grid_gutter

  #avatar_preview
    width: $avatar_preview_size

#user_avatar_form input 
  position: relative
  top: -24px

.auth_errors
  text-align: center
  +font-size(0)
  color: white
  background-color: desaturate(red, 50%)
  border-radius: 16px
  i
    padding-right: $grid_gutter/2

.switch_auth_mode
  color: lighten($base_text_color, 25%)
  +font-size(0)
  left: 0
  text-align: center
  position: relative
  top: -6px
  font-weight: normal

  a.toggle_auth
    display: inline-block
    // border-radius: 16px
    color: $decision_board_border_color
    text-decoration: underline
    background-color: transparent //darken($base_background_color, 5%)
    border: none
    //padding: 5px 8px 
    //margin: 0 5px
    // +font-size(2)
    //font-weight: 600
