.bundle
db/*.sqlite3
log/*.log
tmp/*
*~
.project
.svn
public/images/old
*.DS_STORE
.sass-cache/
*.bk
.vagrant
restart.txt
/Backup
*.crt
*.sql

config/newrelic.yml
config/database.yml
config/local_environment.yml
config/application.rb

public/system/avatars
public/system/homepage_pics
public/system/icons
public/system/cache/*.css
public/system/default_avatar/avatar.sketch*
public/assets/
public/sitemaps/*
public/test/results/*

lib/tasks/client_data/data/*
lib/tasks/client_data/screens/*
lib/tasks/client_data/export/*

test/data/test.sql.bz2
test/data/test.sql

node_modules

zansible/templates/seed_data/test.sql.bz2
zansible/templates/seed_data/avatars.zip
zansible/templates/seed_data/considerit.sql.bz2
zansible/templates/ssl/*
zansible/templates/ssh/github

zansible/hosts/group_vars/chalkboardit
zansible/hosts/group_vars/considerit
zansible/hosts/group_vars/chlkit
zansible/hosts/group_vars/workbus
zansible/hosts/group_vars/iweb

zansible/hosts/chalkboardit
zansible/hosts/chlkit
zansible/hosts/workbus
zansible/hosts/considerit
zansible/hosts/iweb
zansible/hosts/group_vars/considerit_old

zansible/hosts/considerit_old
