.bundle
.ruby-version
.vagrant

log/*.log
tmp/*
*~
.project
.svn
public/images/old
*.DS_STORE
.sass-cache/
*.bk
restart.txt
/Backup
*.crt
*.sql

config/database.yml
config/local_environment.yml
config/application.rb

db/schema.rb

public/build
public/system/mastheads
public/system/avatars*
public/system/homepage_pics
public/system/logos
public/system/icons
public/system/default_avatar
public/system/paperclip_attachments.yml
public/sitemaps/*
public/test/results/*

lib/tasks/client_data/data/*
lib/tasks/client_data/screens/*
lib/tasks/client_data/export/*

lib/screencasts/exports/*.mov
lib/screencasts/exports/*.mp4
lib/screencasts/exports/*.webm

test/data/test.sql.bz2
test/data/test.sql

node_modules

client_secret.json

Vagrantfile