@import 'mixins'
@import 'css3_mixins'
@import 'paper_proposal'
@import 'homepage'

.logo_cell
  display: none

html
  background: image-url('rejectme/images/background.jpg') repeat top left black
  &.homepage
    background: image-url('rejectme/images/et_tu.jpg') no-repeat fixed top left black

  body

    #wrap  

      > div#content
        padding-top: 35px

.message
  top: -35px

#wrap > #content, #intro
  min-height: 700px

#wrap #masthead 
  //height: 100px
  margin-top: 0
  width: 100%
  //background: image-url('rejectme/images/header_back.jpg') no-repeat top center black

  .logo_block
    position: relative
    top: 0px
    text-align: center
    margin: auto
    background-color: #666
    background-color: rgba(black, .65)
    width: 100%

  #nav-user
    top: 10px
    right: 25px
    a
      color: #aaa

.pro_con_list
  +border-image(none,0,0,0,0)
  -moz-border-image: none
  border-width: 3px
  +box-shadow(0,1px,3px,rgba(black,.5))


.proposal_prompt

  .head 
    margin-bottom: 0px
    background: none
    border: none
    +box-shadow(0,0,0, transparent)

    &.single, &.double
      width: auto
      left: auto

    &:after, &:before, h3.banner.double::before, h3.banner.double::after
      content: none

.head
  margin-bottom: 0px

  h3.banner
    +main-font
    font-weight: bold
    color: #4F4F4F
    color: rgba(black, .60)
    text-shadow: none

#craft_position 

  #submitstance .rest .stanceform form 
    a, label
      color: #444

  .slider_table 
    .slider_container .ui-slider
      background: none
      background-color: #7D7D7E
      background-color: rgba(black, .25)
      +box-shadow(0,0,0,transparent)
      border-radius: 15px
      width: 450px

    td.slider_label
      +main-font
      font-weight: bold
      div
        color: #808080
        color: rgba(black, .35)


#admin_strip #content #more_options
  display: none


#wrap #static
  background-color: black
  color: #aaa
  +border-radius(5px)
  background-color: rgba(black, .8)
  width: 600px

  a
    color: white
    text-decoration: underline


#explore_proposal > ol li.breakdown 
  .histogram_arrow 
    .support, .oppose
      color: #444
      color: rgba(black,.6)
      font-family: inherit
      font-weight: bold
      text-transform: lowercase
      font-variant: small-caps

  .histogram .viz 
    line-height: normal
    .personal_position.update
      color: #333
      width: 200px
      text-align: center
      a
        font-size: 11pt


#footer
  .powered_by
    +text-outline(rgba(black,.5))
    font-variant: small-caps
    text-transform: lowercase

  .report_problems
    text-transform: lowercase
    a
      color: inherit
      text-decoration: underline


