#home
  
#active_proposals
  .get_started

  
  = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false, :carousel => false }

  - if current_user && current_user.is_admin?
    = render :partial => "proposals/new", :locals => { :prompt => 'Add new'}
