=f.hidden_field :stance, :id => "stance-value", :value=>0.0
=f.hidden_field :option_id, :value=>@option.id

- if action == 'edit'
  =f.hidden_field :position_id, :value => @position.id
  
= submit_tag "", :class => "submit submit_stance", :title => "Save your stance and position on #{@option.reference}"
