{% if server.ssl %}
server {
  listen         80;
  server_name    *.{{ server.name }};
  rewrite        ^ https://$host$request_uri? permanent;
}
{% else %}
server {
  listen         443 ssl;
  server_name    *.{{ server.name }};
  rewrite        ^ http://$host$request_uri? permanent;
}
{% endif %}

# for handling wildcard google oauth
server {
  listen 80;
  server_name   googleoauth.{{ server.name }};
  rewrite ^ http://$arg_state.{{ server.name }};
}
server {
  listen 443 ssl;
  server_name   googleoauth.{{ server.name }};
  rewrite ^ https://$arg_state.{{ server.name }};
}


server {
  {% if server.ssl %}
    listen 443 ssl;
    ssl_certificate /etc/ssl/certs/{{ app_name }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ app_name }}.key;
    passenger_set_cgi_param HTTP_X_FORWARDED_PROTO https;
  {% else %}
    listen 80;
  {% endif %}

  server_name *.{{ server.name }};
  root {{ app_home }}/public;
  passenger_enabled on;
  rails_spawn_method smart;
  rails_env {{ code.environment }};

  client_max_body_size 5M;

  location ~ ^/(sitemaps)/ {
    gzip_static on;
    add_header  Cache-Control public;
    add_header  Last-Modified "";
    add_header  ETag "";
    break;
  }  


  rewrite ^/(.*)/results /$1 permanent;
  rewrite ^/(.*)/points /$1 permanent;
  
  location ~ \.(myadmin|aspx|php|jsp|cgi|zip)$ {
    return 410;
  }
  location ~ (browserconfig.xml)$ {
    return 410;
  }
  location ~ ^/(assets|images|javascripts|stylesheets|system)/ {
    gzip_static on;
    expires     max;
    add_header  Cache-Control public;
    add_header  Last-Modified "";
    add_header  ETag "";
    break;
  }  



  ####
  # Dealing with search indexing using prerender.io
  # from https://gist.github.com/thoop/8165802

  location @prerender {
      proxy_set_header X-Prerender-Token {{ config.prerenderio }};
      
      set $prerender 0;
      if ($http_user_agent ~* "baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest") {
          set $prerender 1;
      }
      if ($args ~ "_escaped_fragment_") {
          set $prerender 1;
      }
      if ($http_user_agent ~ "Prerender") {
          set $prerender 0;
      }
      if ($uri ~ "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent)") {
        set $prerender 0;
      }

      if ($prerender = 1) {
          rewrite .* /$scheme://$host$request_uri? break;
          proxy_pass http://service.prerender.io;
      }
      if ($prerender = 0) {
         rewrite .* /index.html break;
      }
  }
  ###############


  location = /favicon.ico {
    expires    max;
    add_header Cache-Control public;
  }
  
  location = /touch_icon.png {
    expires    max;
    add_header Cache-Control public;
  }
  
}