{% if server.ssl %}
server {
  listen         80;
  server_name    *.{{ server.name }};
  rewrite        ^ https://$host$request_uri? permanent;
}

{% else %}
server {
  listen         443 ssl;
  server_name    *.{{ server.name }};
  rewrite        ^ http://$host$request_uri? permanent;
}

{% endif %}


server {
  {% if server.ssl %}
    listen 443 ssl;
    ssl_certificate /etc/ssl/certs/{{ app_name }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ app_name }}.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;
    add_header Strict-Transport-Security max-age=15768000;
    
    passenger_set_cgi_param HTTP_X_FORWARDED_PROTO https;
  {% else %}
    listen 80;
  {% endif %}

  server_name *.{{ server.name }};
  root {{ app_home }}/public;
  passenger_enabled on;
  rails_spawn_method smart;
  rails_env {{ code.environment }};

  client_max_body_size 5M;

  location ~ ^/(assets|images|system)/ {
    gzip_static on;
    expires     max;
    add_header  Cache-Control public;
    add_header  Last-Modified "";
    add_header  ETag "";
    break;
    proxy_set_header       Host '{{ config.aws.cloudfront }}.cloudfront.net';
    proxy_set_header       Authorization '';
    proxy_hide_header      x-amz-id-2;
    proxy_hide_header      x-amz-request-id;
    proxy_hide_header      Set-Cookie;
    proxy_ignore_headers   "Set-Cookie";
    proxy_intercept_errors on;
    proxy_pass https://{{ config.aws.cloudfront }}.cloudfront.net/;
    expires 1y;
    log_not_found off;    
  }
  location ~ ^/(javascripts|stylesheets)/ {
    gzip_static on;
    expires     max;
    add_header  Cache-Control public;
    add_header  Last-Modified "";
    add_header  ETag "";
    break;
  }  


  location ~ ^/(sitemaps)/ {
    gzip_static on;
    add_header  Cache-Control public;
    add_header  Last-Modified "";
    add_header  ETag "";
    break;
  }  


  rewrite ^/(.*)/results /$1 permanent;
  rewrite ^/(.*)/points /$1 permanent;
  
  location ~ \.(myadmin|aspx|php|jsp|cgi|zip)$ {
    return 410;
  }
  location ~ (browserconfig.xml)$ {
    return 410;
  }


  #location / {
  #    try_files $uri @prerender;
  #}

  ####
  # Dealing with search indexing using prerender.io
  # from https://gist.github.com/thoop/8165802

  location @prerender {
      proxy_set_header X-Prerender-Token {{ config.prerenderio }};
      
      set $prerender 0;
      if ($http_user_agent ~* "baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest|slackbot") {
          set $prerender 1;
      }
      if ($args ~ "_escaped_fragment_") {
          set $prerender 1;
      }
      if ($http_user_agent ~ "Prerender") {
          set $prerender 0;
      }
      if ($uri ~ "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent)") {
        set $prerender 0;
      }

      if ($prerender = 1) {
          resolver 8.8.8.8;
          set $prerender "service.prerender.io";
          rewrite .* /$scheme://$host$request_uri? break;
          proxy_pass http://$prerender;
      }
      if ($prerender = 0) {
         rewrite .* /index.html break;
      }
  }
  ###############


  location = /favicon.ico {
    expires    max;
    add_header Cache-Control public;
  }
  
  location = /touch_icon.png {
    expires    max;
    add_header Cache-Control public;
  }
  
}