.pro_con_list
  background: url("/images/chalk/chalkboard.png?1322438292") repeat scroll left top transparent

  .pro_con_list_header
    &.pro_header
      background: transparent url("/images/chalk/pro_back.png") no-repeat scroll top center
        
    &.con_header
      background: transparent url("/images/chalk/con_back.png") no-repeat scroll top center


.points_other 
  .point_list_footer
    .forward
      background-image: url('/images/arrow-down.png')
    
    .back
      background-image: url('/images/arrow-up.png')

#ranked_points .full_column
  .point_list_footer
    .forward
      background-image: url('/images/arrow-down-light.png')
    
    .back
      background-image: url('/images/arrow-up-light.png')

.newpointbutton 
  button
    &.pro
      background: url('/images/write-pro.png') left top no-repeat
      &:hover
        background-image: url('/images/write-pro-hover.png')

    &.con
      background: url('/images/write-con.png') left top no-repeat
      &:hover
        background-image: url('/images/write-con-hover.png')

.horizontal
  .paginate
    &.first
      .back
        background-image: url('/images/arrow-prev.png')
    &.last
      .forward
        background-image: url('/images/arrow-next.png')

#initiative .position
  margin: auto
  .slider_table
    .slider_container
      .ui-slider 
        a.ui-slider-handle
          background: url("/images/slider.png") repeat-x scroll 50% 50% transparent  


html
  background-position: left top
  background-repeat: repeat-x



#initiative #description .description_wrapper
  margin: auto
  float: none
  width-top: 45px
  width: auto

#initiative #description
  background-color: transparent
  margin-top: 0px

.full object
  left: -150px
  position: relative

.point-pledge
  display: none


#col1, #col2, #col3
  float: left

#col1
  width: 200px
  margin-left: 10px
  color: #222

  img
    margin-top: 10px

#col2
  width: 512px
  margin-left: 20px
  margin-top: -27px
  h1
    color: #444055
    font-size: 26pt
    line-height: 25pt
    width: 600px
  h2
    color: #999
    font-size: 16pt
    margin-bottom: 15px

  h3
    font-size: 12pt
    color: #444055
    font-style: italic
    margin-top: 10px

  .full_text
    margin-top: 10px
    text-align: justify
    color: #666

    .personal_thought .hide
      background-color: #9FA6D6
      padding: 10px
      color: black
      h3
        color: black

    p, .paragraph
      margin-bottom: 10px

      a
        color: #666
        text-decoration: underline

      position: relative
      .outset
        background-color: #B39FD6
        color: black
        position: absolute
        right: -200px
        bottom: -42px
        width: 150px
        padding: 5px 10px
        font-size: 9pt
        text-align: left

        .triangle
          color: #B39FD6
          position: absolute
          left: -8px
          top: 20px
        a
          color: inherit
          text-decoration: underline

        .quote
          font-style: italic

        .signature
        
        &.personal
          top: -41px
          background-color: #9FA6D6
          bottom: inherit
          .triangle
            top: 5px
            color: #9FA6D6
        &.status
          bottom: 110px

#col3
  width: 137px
  position: absolute
  left: 20px
  top: 220px

  .additional
    .full
      position: absolute
      left: 170px
      padding: 10px 20px
      top: 0
      width: 600px
      z-index: 200
      background-color: #9FA6D6
      border: 3px solid #333
    

  .paper_link
    padding: 5px 10px
    background-color: #2A1C42
    text-align: center
    margin-bottom: 5px
    opacity: .9
    cursor: pointer

    &:hover
      opacity: 1
    a
      color: white
      font-size: 12pt


#initiative > ol li.step .head .ol_number
  background-color: #2A1C42

#initiative > ol li#stance.step
  background-color: #9FA6D6

#initiative > ol li.slide
  background-color: #B39FD6



#initiative > ol li.statements
  background-color: transparent
  position: relative

  .full_statement
    position: absolute
    background-color: #A289D1
    z-index: 1001
    width: 735px
    top: -14px
    left: 0px

    .wrapper
      position: relative
      z-index: 100
      a.close
        float: right
        margin-right: 10px
        margin-top: 8px
        color: black
        font-weight: bold
        font-size: 8pt

      .textblock
        padding: 20px 100px
        > .username
          font-weight: bold
          font-size: 18pt
        .stance
          font-weight: bold
          font-size: 12pt

          .stance_name
            text-transform: capitalize

        .prose
          margin-top: 10px

        .important_points
          a
            color: black
            text-decoration: underline

          .group 
            display: none

          .point_list_footer
            display: none

          .point_in_list .discuss
            display: none
          .operations
            display: none
          .pro_con_list
            width: 692px
            position: relative
            left: -87px
            margin-top: 10px

    .discuss


      

#initiative #description .description_wrapper .full_text, #initiative #description .description_wrapper .long_description, #initiative #description .description_wrapper .additional 
  width: auto

#initiative > ol li#submitstance.step .rest > div form input[type="submit"]
  background-color: #2A1C42

#initiative li.breakdown .position_marker
  background-color: #2A1C42
  .triangle
    color: #2A1C42


#wrap #footer
  background-color: #2A1C42
  .powered_by
    text-align: center
    a
      font-weight: bold
      text-decoration: underline
      color: white  


#wrap #footer
  width: 100%
  


svg
  rect
    cursor: pointer
  
#initiative li.ranked_points
  h3
    font-size: 26pt
    line-height: 20pt
    &.subheader
      font-size: 10pt
      color: #777
      line-height: 15pt
      padding-bottom: 5px
      font-weight: normal
    strong 
      font-weight: normal


  #ranked_points.explore
    padding: 0 10px
    background-color: transparent

    > .group
      position: relative
      padding-bottom: 20px
      .triangle
        position: absolute
        left: 50%
        top: -20px
        font-size: 15pt
        color: #B39FD6

      .pro_con_list
        width: 700px
        margin: auto

    .filters a#show_popular, .filters a#show_self
      display: none
    
    .edit, .remove
      display: none

  .statement_carousel
    background-color: transparent

    .paginate
      padding-top: 27px
      width: 100%
      &.first .back
      &.last .forward
      button
        background-color: transparent
        border: none
        font-size: 10pt
        color: #353535
        padding-right: 25px
      h3.subheader
        padding-bottom: 0
    .vertical

      > h3
        font-size: 9pt
        margin-bottom: 8px
        color: #555
        font-weight: normal

      .carousel
        width: 200px
        ul li.statement
          background-color: inherit
          margin: auto
          display: inline-block

          &.active
            z-index: 1002
            position: relative
            .view_statement .avatar 
              .username
                display: none

          a.view_statement
            text-align: center  
            color: #333
            position: relative
            
            .avatar
              position: relative
              img
                width: 85px
                border: 3px solid transparent
                &:hover
                  border-color: #A289D1

              .username
                font-size: 10pt
                color: #333
                line-height: 9pt
                background-color: rgba(150, 150, 150, 0.75)
                position: absolute
                bottom: 8px
                width: 85px
                margin-left: 3px
                overflow: hidden

                /* For IE 8*/
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb777777, endColorstr=#bb777777)"


.submit_a_position
  position: absolute
  background-color: #2A1C42
  color: white
  padding: 5px 20px
  font-size: 14pt
  top: 195px
  left: 310px
  opacity: .75
  &:hover
    opacity: 1


.stance_chart text
  display: none

.showing_filtered a
  text-decoration: underline
  color: #ccc

#initiative > ol li.statement.step
  background-color: #B39FD6
  textarea
    display: block
    height: 300px
    margin: auto
    width: 572px
  