html
  background-position: left top
  background-repeat: repeat-x



#initiative #description .description_wrapper
  margin: auto
  float: none
  width-top: 45px
  width: auto

#initiative #description
  background-color: transparent
  margin-top: 0px

.full object
  left: -150px
  position: relative

.point-pledge
  display: none


#col1, #col2, #col3
  float: left

#col1
  width: 200px
  margin-left: 10px
  color: #222

  img
    margin-top: 10px

#col2
  width: 512px
  margin-left: 20px
  margin-top: -27px
  h1
    color: #444055
    font-size: 26pt
    line-height: 25pt
    width: 600px
  h2
    color: #999
    font-size: 16pt
    margin-bottom: 15px

  h3
    font-size: 12pt
    color: #444055
    font-style: italic
    margin-bottom: 2px

  .full_text
    margin-top: 10px
    text-align: justify
    color: #666
    p
      a
        color: #222

      position: relative
      .outset
        background-color: #B39FD6
        color: black
        position: absolute
        right: -200px
        bottom: -42px
        width: 150px
        padding: 5px 10px
        font-size: 9pt
        text-align: left

        .triangle
          color: #B39FD6
          position: absolute
          left: -8px
          top: 20px
        a
          color: inherit
          text-decoration: underline

        .quote
          font-style: italic

        .signature
        
        &.personal
          top: -60px
          background-color: #9FA6D6
          bottom: inherit
          .triangle
            top: 5px
            color: #9FA6D6
        &.status
          bottom: 110px

#col3
  width: 137px
  position: absolute
  left: 20px
  top: 220px

  .additional
    .full
      position: absolute
      left: 170px
      padding: 10px 20px
      top: 0
      width: 600px
      z-index: 200
      background-color: #9FA6D6
      border: 3px solid #333
    

  .paper_link
    padding: 5px 10px
    background-color: #2A1C42
    text-align: center
    margin-bottom: 5px
    opacity: .9
    cursor: pointer

    &:hover
      opacity: 1
    a
      color: white
      font-size: 12pt


#initiative ol#step_through li.step .head .ol_number
  background-color: #2A1C42

#initiative ol#step_through li#stance.step
  background-color: #9FA6D6

#initiative ol#step_through li.slide
  background-color: #B39FD6


#initiative ol#step_through li.statement
  background-color: #B39FD6

  textarea
    margin: auto
    height: 300px
    width: 572px
    display: block
  

#initiative ol#step_through li.statements
  background-color: #DFE0DE
  position: relative

  .full_statement
    position: absolute
    background-color: #A289D1
    z-index: 1001
    width: 835px
    top: -14px
    left: 13px

    .wrapper
      a.close
        float: right
        margin-right: 10px
        margin-top: 8px
        color: black
        font-weight: bold
        font-size: 8pt

      .textblock
        padding: 20px 100px
        .username
          font-weight: bold
          font-size: 18pt
        .stance
          font-weight: bold
          font-size: 12pt

          .stance_name
            text-transform: capitalize

        .prose
          margin-top: 10px

    .discuss


      

#initiative #description .description_wrapper .full_text, #initiative #description .description_wrapper .long_description, #initiative #description .description_wrapper .additional 
  width: auto

#initiative ol#step_through li#submitstance.step .rest > div form input[type="submit"]
  background-color: #2A1C42

#initiative li.breakdown .position_marker
  background-color: #2A1C42
  .triangle
    color: #2A1C42


#wrap #footer
  background-color: #2A1C42
  .powered_by
    text-align: center
    a
      font-weight: bold
      text-decoration: underline
      color: white

.horizontal .paginate.first .back

#initiative ol#step_through li.step.statement_carousel
  background-color: #DFE0DE
  padding: 10px 20px

  .paginate
    padding-top: 30px
    &.first .back
      background-image: url("/images/arrow-prev-dark.png")
    &.last .forward
      background-image: url("/images/arrow-next-dark.png")

  .horizontal
    background-color: #AEACAB
    padding: 5px 10px 0 10px
    left: -40px

    > h3
      font-size: 9pt
      margin-bottom: 8px
      color: #555
      font-weight: normal

    .carousel
      ul li.statement
        background-color: inherit
        margin: auto
        display: inline-block

        &.active
          .view_statement .avatar 
            img
              border-color: #A289D1
            .username
              display: none

        a.view_statement
          text-align: center  
          color: #333
          position: relative
          
          .avatar
            position: relative
            img
              width: 85px
              border: 5px solid transparent
              &:hover
                border-color: #A289D1

            .username
              font-size: 10pt
              color: #333
              line-height: 9pt
              background-color: rgba(150, 150, 150, 0.75)
              position: absolute
              bottom: 8px
              width: 85px
              margin-left: 5px
              overflow: hidden

              /* For IE 8*/
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb777777, endColorstr=#bb777777)"


  .head
    h3
      font-size: 16pt
      font-weight: normal

      .display_count
        font-size: 10pt
        color: #333
        padding-top: 5px

        span.hide
          font-size: 10pt
          a.show_all
            color: #333
      


#initiative li.ranked_points 

  #ranked_points.explore
    background-color: #DFE0DE

    .filters a#show_popular, .filters a#show_self
      display: none


#wrap #footer
  width: 100%
  

.horizontal_carousel 
  margin: auto

svg
  rect
    cursor: pointer
  

#ranked_points
  padding: 15px 25px
  > .group
    position: relative
    padding-bottom: 20px
    .triangle
      position: absolute
      left: 50%
      top: -20px
      font-size: 15pt
      color: #B39FD6



    .position_container
      width: 728px
      margin: auto

.submit_a_position
  position: absolute
  background-color: #2A1C42
  color: white
  padding: 5px 20px
  font-size: 14pt
  top: 195px
  left: 310px
  opacity: .75
  &:hover
    opacity: 1