/* ASSESSMENT */

// Assessment request
// requesting fact check
.m-point-assessment-request
  .m-point-assessment-request-form
    +single-box-shadow($color: rgba(black, 0.2))
    border-radius: 5px
    padding: $vertical_baseline $grid_xs
    background-color: #FEFFCC
    color: #777
    width: 550px
    margin-top: $vertical_baseline

    strong
      color: #555

    .ask
      +font-size(2)
    p
      +font-size(-2)
      a
        text-decoration: underline

    .subheader
      +font-size(-4)
      font-weight: normal
      color: #777

    textarea
      height: 3em

    a
      color: #777

    .m-point-assessment-cancel-request
      +font-size(-2)

  a.signin_link
    @extend %bolded



// Assessment

.m-point-assessment
  margin-top: $vertical_baseline




