// fact-check request form
.assessment-request-form-dialog
  .m-assessment-request-prompt

  #request_suggestion
    width: 100%
    min-height: $vertical_baseline * 2

  .guidelines
    margin-top: $vertical_baseline / 4
    +font-size(-1)
    a
      text-decoration: underline

  .login
    color: $base_text_color

    a
      text-decoration: underline    

// fact-check summary shown in header of expanded point
.m-claim-summary 
  margin: $vertical_baseline/2

  .m-claim-summary-restatement, .m-claim-summary-evaluation, .m-claim-summary-link
    display: inline-block

  .m-claim-summary-restatement
    +font-size(-2)
    font-weight: bold
  .m-claim-summary-evaluation
    +font-size(-2)

  .m-claim-summary-link
    +font-size(-3)
    text-decoration: underline


// fact-check result, integrated into comment stream
.m-claim-comment
  .m-comment-claim-restatement
    font-weight: bold
    +font-size(2)

  .m-comment-claim-evaluation
    font-style: italic
    +font-size(1)

  .m-comment-claim-report  
    +font-size(0)
    margin: $vertical_baseline 0

  .m-comment-claim-process  
    a 
      text-decoration: underline 


.m-point-position.m-point-unexpanded
  &:hover .m-point-assessment-indicator-region
    display: block

  .m-point-assessment-indicator-region
    display: none



.m-point-peer
  // &.pro
  //   .m-point-assessment-indicator-region
  //     left: 100px

  // &.con
  //   .m-point-assessment-indicator-region
  //     right: 100px

// indicator of fact-check result while browsing points
.m-point-assessment-indicator-region, [data-state="collapsed"] .m-point-unexpanded .m-point-assessment-indicator-region
  display: none


[data-state="points-position"]
  .m-point-unexpanded
    .m-point-assessment-indicator-region
      top: auto
      opacity: 1
      left: -$grid_xs - 4
      
.m-point-unexpanded
  .m-point-assessment-indicator-region
    display: block
    position: absolute
    top: $peer-point-avatar-area + 8
    opacity: .75
    z-index: 1

    img
      width: 18px
      height: 18px

    &:hover
      opacity: 1