/* COMMENTS */
.m-comment
  margin: 8px 0 25px 0

  .m-comment-avatar
    width: 50px
    height: 50px
    vertical-align: top
    
  .m-comment-body-wrap
    +font-size(-2)    
    display: inline-block
    width: 80%
    margin-left: $grid_xs    
    p, br
      margin-bottom: 6px

  .m-comment-author
    @extend %italicized
    white-space: nowrap
    display: inline-block

    a:hover
      text-decoration: underline


  .m-comment-edit
    +font-size(-2)

  .m-comment-edit-form
    .save_block
      top: auto
      left: 50px
      bottom: -30px

.m-thank
  display: inline-block
  margin-left: $grid_xs / 2 

  .thank
    +sassy-button("glass", 5px, inherit, #eee, #ccc)  
    padding: $vertical_baseline/4 $grid_xs/2
    color: $base_text_color
    text-shadow: none

.m-thank-given
  margin-top: $vertical_baseline / 2
  ul
    display: inline
  .l-thanks-item
    display: inline

    .avatar
      width: 20px
      height: 20px

/* NEWCOMMENT */

.m-new-comment
  margin: 8px 0 25px 0

  .m-new-comment-avatar
    width: 50px
    height: 50px

  .m-new-comment-body
    //+font-size(-1)    
    display: inline-block
    width: 80%
    margin-left: $grid_xs    

  .m-new-comment-body-field
    height: 60px
    width: 90%

  .m-new-comment-submit-wrap
    text-align: right
    width: 90%

  .m-new-comment-civility-reminder
    +font-size(-2)
    width: 150px
    padding-right: $grid_xs

  .m-login
    color: $base_text_color

    a
      font-weight: normal
      text-decoration: underline