/* POINTLISTBROWSING */

// footer
[data-state="points-collapsed"]
  .m-pointlist-browse
    display: none  


[data-state="points-separated"]
  .m-pointlist-browse-toggle
    width: $peer-point-wrap-width

[data-state="points-together"]
  .m-pointlist-browse-toggle
    width: $peer-point-wrap-results-width

.m-pointlist-browse
  .m-pointlist-browse-toggle
    @extend %desaturatedbutton
    text-align: center

.m-reasons-peer-pros
  .m-pointlist-browse
    text-align: right





// header

[data-activity="proposal-no-activity"]
  .m-peer-reasons .m-pointlist-header
    visibility: hidden

.m-pointlist-header
  text-align: center
  margin-bottom: $vertical_baseline / 2
  .m-pointlist-header-label
    //+transition(font-size .4s ease, color .4s ease) // for point browsing
    +font-size(2)    
    //font-weight: bold
    display: inline-block



.m-peer-reasons
  border: 1px solid transparent

  &.m-reasons-peer-pros
    padding: $vertical_baseline / 2 $peer_padding / 2 $vertical_baseline / 2 $peer_padding / 2

  &.m-reasons-peer-cons
    padding: $vertical_baseline / 2 $peer_padding / 2 $vertical_baseline / 2 $peer_padding / 2

  .m-pointlist-header-label
    border-bottom-color: $base_text_color

  &[data-state="points-separated"], &[data-state="points-together"]

    .m-pointlist-header-label
      cursor: pointer
      +font-size(2)
      color: lighten($base_text_color, 20%)
      font-weight: normal

    .m-pointlist-browse-sort
      display: inline-block
      position: relative
      margin-left: $grid_xs

      .m-pointlist-browse-sort-label
        +font-size(-2)

      .m-pointlist-browse-sort-menu
        display: none


      &:hover

        .m-pointlist-browse-sort-menu
          //min-width: 140px
          text-align: left
          @extend %nude_list
          margin-left: 0
          display: inline-block
          +single-box-shadow($hoff: 0, $voff: 5px, $blur: 10px)
          border-radius: 5px
          background-color: $base_bg_color
          padding: $vertical_baseline / 2 0
          border: 1px solid darken($base_bg_color, 20%)
          position: absolute
          right: -$grid_xs
          z-index: 10

          li
            display: block

          a
            width: 100%
            padding: 2px $grid_minor
            display: block
            cursor: pointer
            +font-size(-3)
            font-weight: bold
            &:hover
              color: $comp_text_color
              background-color: $dark_comp_color
            &.selected
              background-color: darken($callout_bg_color, 8%)
              color: $callout_text_color



  &[data-state="points-separated"]
    .m-pointlist-header-label
      // color: darken($base_bg_color, 20%)
      border-bottom-color: darken($base_bg_color, 20%)
      // +font-size(2)    

  &[data-state="points-collapsed"], &[data-state="points-together"]
    .m-pointlist-header-label
      color: lighten($base_text_color, 20%)
      // font-weight: normal
    +bubble(whitesmoke, darken(whitesmoke, 10%), left, $text_color: $base_text_color)


.m-position-points
  .m-pointlist-header-label
    border-bottom-color: $decision_board_text_color
    margin-bottom: $vertical_baseline/2
    border-bottom: 3px solid 
    +font-size(3)



// expandable header

.m-peer-reasons[data-state="points-together"], .m-peer-reasons[data-state="points-separated"] 
  .m-pointlist-browse-header-open, .m-pointlist-browse-header-close
    color: darken($base_bg_color, 15%)
    +font-size(-2)

.m-peer-reasons[data-state="points-collapsed"] 
  .m-pointlist-browse-header-open, .m-pointlist-browse-header-close
    visibility: hidden
    


// empty list
.points_peer_empty
  font-style: italic
  text-align: center

/* NEWPOINT */

.m-position-propoints .m-newpoint
  // margin-left: -3px

.m-position-conpoints .m-newpoint
  //margin-right: $grid_xs


.has_included_points
  .m-point-drop-target
    opacity: .2

.no_included_points
  .m-point-drop-target
    opacity: .75

.draggable_initiated_pro .m-position-propoints, .draggable_initiated_con .m-position-conpoints
  .m-point-drop-target
    opacity: 1

.draggable_hover_pro .m-position-propoints, .draggable_hover_con .m-position-conpoints
  .m-point-drop-target
    color: darken($decision_board_text_color, 25%)
    border-color: darken($decision_board_text_color, 25%)


.m-point-drop-target
  padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_xs
  +font-size(1)
  height: 5 * $vertical_baseline
  vertical-align: middle
  margin-top: 2 * $vertical_baseline
  +transition(opacity 300)

.m-point-drop-target, .m-newpoint
  border: 1px dashed $decision_board_border_color
  border-radius: 16px
  width: 99%

  



.m-newpoint
  position: relative
  margin-top: $vertical_baseline

  .m-newpoint-new, .m-newpoint-form

    // bullet point
    &:before
      content: $hex-bullet-point
      display: inline-block
      position: absolute
      top: 7px

  .m-newpoint-new
    +font-size(1)
    position: relative
    //@extend %bolded
    display: block
    padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_xs
    margin-left: 3px
    cursor: pointer
    opacity: .75
    &:hover
      opacity: 1

    &:before
      left: 4px
      +font-size(-4)

  .m-newpoint-form
    padding-top: $vertical_baseline / 2
    position: relative
    display: none
    margin-left: $grid_xs
    input, textarea
      +font-size(0)
      padding-top: 0
      padding-bottom: 0
  
    &:before
      left: -11px    
      +font-size(-4)

  .m-newpoint-description
    width: 96%
    min-height: 55px

  .m-newpoint-nutshell-wrap
    .m-newpoint-nutshell
      width: 96%
      min-height: 55px

    .count
      +font-size(-3)
      vertical-align: middle
      position: absolute
      right: 20px
      top: -16px

  .m-newpoint-submit
    text-align: right

    //text-align: right
    //margin-left: 10px

  .m-newpoint-anonymous-wrap
    label, input
      +font-size(-1)

  .m-newpoint-submit
    margin-top: 3px