
.m-point
  position: relative
  @extend %nude_list

  .m-point-wrap
    position: relative
    display: inline-block

  &.m-point-peer, &.m-point-expanded
    .m-point-wrap
      padding: $vertical_baseline / 2 $grid_xs / 2 
      margin-bottom: $vertical_baseline / 2


  &.m-point-position

  &.m-point-unexpanded

  &.m-point-expanded
    position: relative
    z-index: 999
    // padding: $vertical_baseline $grid_xs  
    width: $m-point-expanded-width + $peer-point-avatar-area


    .m-point-wrap
      width: $m-point-expanded-width - 3
      padding: $vertical_baseline 1.5 * $grid_xs

    &.m-point-position
      &.con
        left: $position-point-width - $m-point-expanded-width + ($m-point-expanded-width - $body_width) / 2
      &.pro
        left: - ($m-point-expanded-width - $body_width) / 2

[data-state="points-separated"], [data-state="points-together"], [data-state="points-position"]
  .m-point-unexpanded
    cursor: pointer


.m-peer-reasons

  &[data-state="points-together"]
    .m-point-expanded.con.m-point-peer
      right: $m-point-expanded-width - $peer-point-results-width

  &[data-state="points-separated"]
    .m-point-expanded.con.m-point-peer
      right: $m-point-expanded-width - $peer-point-width + 56


  &[data-state="points-separated"]
    .m-point-unexpanded.m-point-peer .m-point-wrap
      +grab_cursor

  &[data-state="points-collapsed"]

    .m-point
      z-index: 5
      // .m-point-header-region
      //   display: none

.m-position-points
  // &[data-state="points-hidden"]
  //   display: none




/////////////////////////
// Point text

.m-point-unexpanded
  &.m-point-peer
    .m-point-nutshell
      +font-size(-1)

  &.m-point-position  
    .m-point-nutshell
      +font-size(-1)

  .m-point-details-description 
    display: none


.m-point-expanded
  .m-point-nutshell, .m-point-details-description
    padding-bottom: $vertical_baseline / 2

  .m-point-nutshell
    +font-size(3)
    font-weight: bold

  .m-point-details-description 
    +font-size(0)

//////



//////////////////
// bullet points
.m-point-unexpanded.m-point-position
  padding: 0 $grid_xs 4px $grid_xs

  .m-point-nutshell-wrap
    &:before
      content: $hex-bullet-point
      position: absolute
      top: 0px
      +font-size(-3)

  &.pro .m-point-nutshell-wrap:before
    left: -13px

  &.con .m-point-nutshell-wrap:before
    left: -10px

/////////////

.m-point-unexpanded.m-point-position
  .m-point-author-avatar
    display: none

.m-point-expanded 
  .m-point-follow-region
    //margin-bottom: $vertical_baseline / 2

/////////////////////////////////////////
// point operations
.m-point-expanded, [data-state="points-collapsed"]
  .m-point-operations
    display: none

[data-state="points-together"], [data-state="points-separated"]
  .m-point-peer
    .m-point-operations
      visibility: hidden

    &:hover
      .m-point-operations
        visibility: visible

.m-point-unexpanded
  &.m-point-peer
    .m-point-operations        
      position: relative

      .m-point-read-more
        +font-size(-3)


    &.pro
      .m-point-operations
        text-align: left

    &.con
      .m-point-operations
        text-align: right

  &.m-point-position
    &:hover .m-point-operations
      visibility: visible

    .m-point-operations
      visibility: hidden
      padding: $vertical_baseline/8 $grid_xs

      .m-point-read-more
        +font-size(-3)
        margin: 0
        padding: 1px 8px

    .m-point-remove
      margin-top: $grid_xs/4
      padding: 0 $grid_xs/2

      // @extend %point_operation
      background: none
      border-color: transparent
      color: $decision_board_text_color
      // +single-box-shadow(none)
      // +text-shadow(none)
      &:hover
        color: darken($decision_board_text_color, 15%)

  &.m-point-peer
    &:hover
      .m-point-operations a
        color: #666

    .m-point-operations
      //bottom: -3*$vertical_baseline/4

      a
        color: lighten($base_text_color, 15%)

        &:hover
          color: $base_text_color


%point_operation
  @extend %desaturatedbutton
  +font-size(-3)
  &:hover
    +font-size(-3)

.m-point-include, .m-point-assessment-request-initiate, .m-point-follow
  @extend %point_operation


///////////////////////////////////////

.m-point-action
  display: inline-block

  i
    padding-right: $grid_xs / 4

/////////////////////////////////////////
// point inclusion button
.m-point-include-wrap
  display: none

[data-state="points-separated"] .m-point-peer.m-point-expanded
  .m-point-include-wrap
    display: inline-block

.m-point-peer.m-point-unexpanded, .m-point-expanded
  .m-point-wrap
    border: 1px solid transparent
    // background-color: whitesmoke

[data-state="points-separated"] .m-point-peer.m-point-unexpanded, .m-point-expanded
  .m-point-wrap
    border-radius: 8px
    background-color: whitesmoke

[data-state="points-separated"] .m-point-peer.m-point-unexpanded
  .m-point-wrap
    +single-box-shadow($color: rgba(black, .1), $voff: 1px)
    border-color: #f1f1f1 #ddd #bbb #ddd

.m-point-expanded .m-point-wrap
  //+single-box-shadow($color: rgba(black, .25), $voff: 1px)
  //border-color: #777 #666 #555 #666

.m-point-position.m-point-unexpanded .m-point-wrap
  background-color: $decision_board_color

.m-point-author-avatar
  display: inline-block
  position: relative
  border-radius: 8px
  top: .7 * $vertical_baseline
  width: 35px
  height: 35px  


[data-state="points-separated"], [data-state="points-together"]
  .m-point-unexpanded.m-point-peer
    &:hover
      .m-point-wrap
        background-color: white
        //+single-box-shadow($color: rgba(black, .2), $voff: 2px)


///////////
// Discussion
.m-point-discussion
  position: relative

.m-point-discussion-heading
  +font-size(3)
  margin: $vertical_baseline 0

.m-point-comments
  @extend %nude_list
////



