/* POINTLISTBROWSING */

// footer
[data-state="points-collapsed"]
  .m-pointlist-browse
    display: none  


[data-state="points-separated"]
  .m-pointlist-browse-toggle
    width: $peer-point-wrap-width

[data-state="points-together"]
  .m-pointlist-browse-toggle
    width: $peer-point-wrap-results-width

.m-pointlist-browse
  .m-pointlist-browse-toggle
    @extend %desaturatedbutton
    text-align: center

.m-reasons-peer-pros
  .m-pointlist-browse
    text-align: right





// header

[data-activity="proposal-no-activity"]
  .m-peer-reasons .m-pointlist-header
    visibility: hidden

.m-pointlist-header
  text-align: center
  margin-bottom: $vertical_baseline / 2
  .m-pointlist-header-label
    +transition(font-size .4s ease, color .4s ease) // for point browsing
    +font-size(3)    
    font-weight: bold
    display: inline-block



.m-peer-reasons
  // +transition(padding-top $transition_speed $transition_function)
  +transition(all $transition_speed $transition_function)
  +bubble(whitesmoke, darken(whitesmoke, 10%), left, $text_color: $base_text_color)


  &.m-reasons-peer-pros
    padding: $vertical_baseline / 2 0 $vertical_baseline / 2 $peer_padding

  &.m-reasons-peer-cons
    padding: $vertical_baseline / 2 $peer_padding $vertical_baseline / 2 0

  .m-pointlist-header-label
    border-bottom-color: $base_text_color
    cursor: pointer

  &[data-state="points-separated"]
    .m-pointlist-header-label
      color: darken($base_bg_color, 20%)
      border-bottom-color: darken($base_bg_color, 20%)
      +font-size(2)    

  &[data-state="points-collapsed"], &[data-state="points-together"]
    .m-pointlist-header-label
      color: lighten($base_text_color, 20%)
      font-weight: normal

  &[data-state="points-collapsed"]
    .m-pointlist-header-label  
      +font-size(2)    

  &[data-state="points-together"]
    .m-pointlist-header-label
      +font-size(4)    
      border-bottom: 3px solid 

  // &[data-state="points-collapsed"]
  //   .m-pointlist-header-label
  //     display: none

.m-position-points
  .m-pointlist-header-label
    border-bottom-color: $decision_board_text_color
    margin-bottom: $vertical_baseline/2
    border-bottom: 3px solid 



// expandable header
.m-peer-reasons[data-state="points-separated"]
  padding-top: 3.5 * $vertical_baseline

  .m-pointlist-browse-header
    position: absolute
    top: 0

  &.m-reasons-peer-cons
    .m-pointlist-browse-header
      right: 0px

  &.m-reasons-peer-pros
    .m-pointlist-browse-header
      left: 0px


.m-peer-reasons[data-state="points-together"] 
  .m-pointlist-browse-header
    position: absolute

  &.m-reasons-peer-cons
    .m-pointlist-browse-header
      right: -100px

  &.m-reasons-peer-pros
    .m-pointlist-browse-header
      left: -100px

.m-reasons-peer-cons .m-pointlist-browse-header
  text-align: right

.m-pointlist-browse-header
  //display: none
  width: 240px
  position: relative
  margin-bottom: $vertical_baseline

  .m-pointlist-browse-toggle
    +font-size(-2)
    margin-bottom: $vertical_baseline / 2

.m-pointlist-browse-sort
  ul
    display: inline

  .m-pointlist-browse-sort-label
    +font-size(-2)

  .m-pointlist-sort-option
    display: inline-block
    list-style: none

    a
      padding: $vertical_baseline / 4 $grid_xs / 4
      text-transform: uppercase
      +font-size(-4)
      //@extend %bolded
      
      &:hover
        background-color: darken($callout_bg_color, 10%)
        color: lighten($callout_text_color, 10%)

      &.selected
        background-color: darken($callout_bg_color, 8%)
        color: $callout_text_color


// empty list
.points_peer_empty
  font-style: italic

/* NEWPOINT */

.m-position-propoints .m-newpoint
  margin-left: -3px

.m-position-conpoints .m-newpoint
  //margin-right: $grid_xs


.m-newpoint
  position: relative
  margin-top: $vertical_baseline

  .m-newpoint-new, .m-newpoint-form

    // bullet point
    &:before
      content: $hex-bullet-point
      display: inline-block
      position: absolute
      top: 7px

  .m-newpoint-new
    +font-size(1)
    width: 95%
    border: none
    position: relative
    @extend %bolded
    display: inline-block

    border: 1px solid
    +inset-border(#414141)
    padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_xs
    padding-left: $grid_xs
    margin-left: 3px

    &:before
      left: 4px
      +font-size(-4)

  .m-newpoint-form
    position: relative
    display: none
    margin-left: $grid_xs
    input, textarea
      +font-size(-1)
  
    &:before
      left: -9px    
      +font-size(-4)

  .m-newpoint-description
    width: 94%
    min-height: 40px

  .m-newpoint-nutshell-wrap
    .m-newpoint-nutshell
      width: 94%
      min-height: 40px

    .count
      +font-size(-3)
      vertical-align: middle
      position: absolute
      right: 20px
      top: -16px

  .m-newpoint-submit, .m-newpoint-anonymous-wrap
    //text-align: right
    //margin-left: 10px

  .m-newpoint-anonymous-wrap
    label, input
      +font-size(-1)

  .m-newpoint-submit
    margin-top: 3px