$m-point-expanded-width: $body_width + 150

.m-point
  position: relative
  +transition(background-color .1s ease, top .5s linear)
  @extend %nude_list

  &.m-point-peer
    &.m-point-unexpanded
      .m-point-wrap
        padding: $vertical_baseline / 2 $grid_xs / 2 $vertical_baseline $grid_xs / 2 
        margin-bottom: $vertical_baseline / 2
        //these transitions are for point inclusion effect
        +transition(top .5s ease, left .5s ease, color .5s linear, font-size .5s linear, padding-right .1s linear, padding-left .1s linear, padding-top .1s linear, padding-bottom .1s linear)

  &.m-point-position

  &.m-point-unexpanded
    cursor: pointer

  &.m-point-expanded
    position: relative
    z-index: 999
    width: $m-point-expanded-width  
    padding: $vertical_baseline $grid_xs  

    &.m-point-position
      &.con
        left: $pro-con-list-column-width - $m-point-expanded-width + ($m-point-expanded-width - $body_width) / 2
      &.pro
        left: - ($m-point-expanded-width - $body_width) / 2

.m-peer-reasons

  &[data-state="points-together"]
    .m-point-peer
      &.m-point-expanded.con.m-point-peer
        right: $m-point-expanded-width - $peer-point-results-width

  &[data-state="points-separated"]

    .m-point-peer
      +transition(width .4s ease) 

      &.m-point-unexpanded
        width: $peer-point-width

      &.m-point-expanded.con.m-point-peer
        right: $m-point-expanded-width - $peer-point-width


  &[data-state="points-collapsed"]

    .m-point
      z-index: 5
      .m-point-header-region
        display: none

.m-position-points
  &[data-state="points-hidden"]
    display: none

  &[data-state="points-position"]




/////////////////////////
// Point text

.m-point-unexpanded
  &.m-point-peer
    .m-point-nutshell
      +font-size(-2)

  &.m-point-position  
    .m-point-nutshell
      +font-size(-1)

  .m-point-details-description 
    display: none


.m-point-expanded
  .m-point-nutshell, .m-point-details-description
    padding-bottom: $vertical_baseline / 2

  .m-point-nutshell
    +font-size(3)
    font-weight: bold

  .m-point-details-description 
    +font-size(0)

//////



//////////////////
// bullet points
.m-point-unexpanded.m-point-position
  padding: 0 $grid_xs 4px $grid_xs

  .m-point-nutshell-wrap
    &:before
      content: $hex-bullet-point
      position: absolute
      top: 0px
      +font-size(-3)

  &.pro .m-point-nutshell-wrap:before
    left: 5px

  &.con .m-point-nutshell-wrap:before
    left: 8px

/////////////

.m-point-unexpanded.m-point-position
  .m-point-author-avatar
    display: none

.m-point-expanded 
  .m-point-follow-region
    margin-bottom: $vertical_baseline / 2


/////////////////////////////////////////
// point operations
.m-point-expanded, [data-state="points-collapsed"]
  .m-point-operations
    display: none

.m-point-unexpanded
  &.m-point-peer
    .m-point-operations        
      position: relative

    &.pro
      .m-point-operations
        text-align: left

    &.con
      .m-point-operations
        text-align: right

  &.m-point-position
    &:hover .m-point-operations
      visibility: visible

    .m-point-operations
      visibility: hidden
      padding: $vertical_baseline/8 $grid_xs

      .m-point-read-more
        +font-size(-3)
        margin: 0
        padding: 1px 8px

    .m-point-remove
      margin-top: $grid_xs/4
      padding: 0 $grid_xs/2        

  &.m-point-peer
    &:hover
      .m-point-operations a
        color: #666

    .m-point-operations
      bottom: -3*$vertical_baseline/4

      a
        color: lighten($base_text_color, 15%)

        &:hover
          color: $base_text_color


%point_operation
  @extend %desaturatedbutton
  +font-size(-3)
  &:hover
    +font-size(-3)

.m-point-include, .m-point-assessment-request-initiate, .m-point-remove, .m-point-follow
  @extend %point_operation


///////////////////////////////////////

/////////////////////////////////////////
// point inclusion button
.m-point-peer
  .m-point-include-wrap
    display: none

[data-state="points-separated"] .m-point-peer
  .m-point-include-wrap
    display: block

    .m-point-include
      position: relative
      z-index: 2
      border-radius: 0

  &.m-point-unexpanded

    .m-point-include-wrap
      position: absolute
      bottom: 2px

    &.pro
      .m-point-include-wrap
        right: 0

        .m-point-include
          border-bottom-right-radius: 8px

    &.con
      .m-point-include-wrap
        left: 0
        
        .m-point-include
          border-bottom-left-radius: 8px

  &.m-point-expanded

    &.con
      .m-point-include-wrap
        float: left
        left: -$grid_xs - 1
        .m-point-include
          border-bottom-left-radius: 0px
          border-left-color: transparent    

    &.pro
      .m-point-include-wrap
        float: right
        right: -$grid_xs - 1
        .m-point-include
          border-bottom-right-radius: 0px
          border-right-color: transparent    


/////////////////

//////////////////////
// Thought Bubbles...
//////////////////////

= circle($width)
  border-radius: 50%
  width: $width
  height: $width

%m-thought-bubble

  &:before, &:after
    content: ''
    position: absolute
    border: 1px solid
    border-top-color: transparent
    +transition(left .5s linear, right .5s linear)

  &:before, &:after
    +single-box-shadow($color: rgba(black, .2), $voff: 2px)

  .m-point-author-avatar

    display: inline-block
    position: absolute
    border-radius: 8px
    top: 2 * $vertical_baseline
    //border: 1px solid transparent
    //+single-box-shadow    

  .m-point-author-avatar
    width: 35px
    height: 35px

  &.pro .m-point-author-avatar
    left: -42px

  &.con .m-point-author-avatar
    right: -42px



%m-thought-bubble-side-down

  &:before
    +circle(5px)

  &:after
    +circle(7px)


  &:before
    top: 23px

  &:after
    top: 15px

  &.pro
    &:after
      left: -7px
      border-right-color: transparent

    &:before
      left: -13px

  &.con
    &:after
      right: -7px
      border-left-color: transparent

    &:before
      right: -13px

%m-thought-bubble-bottom-in

  &:before
    +circle(6px)

  &:after
    +circle(9px)

  &:before
    bottom: -16px

  &:after
    bottom: -8px
    border-top-color: transparent

  &.pro
    &:after
      left: 60%

    &:before
      left: 63%

  &.con
    &:after
      right: 60%

    &:before
      right: 63%

  //////////////////////

%m-white-thought-bubble
  @extend %m-thought-bubble
  border-radius: 5px
  &:before, &:after
    border-color: #ccc
    background-color: whitesmoke
    //@extend %on_paper

%m-white-thought-bubble-inner
  +single-box-shadow($color: rgba(black, .2), $voff: 2px)
  border-radius: 8px
  border: 1px solid //$dark_community_color
  border-color: #f1f1f1 #ddd #bbb #ddd
  @extend %whitesmoke

.m-point-peer
  @extend %m-white-thought-bubble

  &.m-point-unexpanded
    .m-point-wrap
      @extend %m-white-thought-bubble-inner

.m-point-expanded
  @extend %m-white-thought-bubble
  @extend %m-white-thought-bubble-inner

[data-state="points-collapsed"] .m-point-peer
  @extend %m-thought-bubble-bottom-in

[data-state="points-separated"], [data-state="points-together"]
  .m-point-peer
    @extend %m-thought-bubble-side-down


.m-point-unexpanded.m-point-peer
  &:hover
    .m-point-wrap //, &:after, &:before
      background-color: white
    &:before, &:after
      background-color: white



///////////
// Discussion
.m-point-discussion
  position: relative

.m-point-discussion-heading
  +font-size(3)
  margin: $vertical_baseline 0

.m-point-comments
  @extend %nude_list
////



///////////////////////////
/// Point inclusion effect
///////////////////////////
// $arrow_height: 9px

// =triangle($size)
//   width: 0
//   height: 0
//   border-top: $size solid transparent
//   border-bottom: $size solid transparent

// =triangle-right($size, $color: transparent)
//   +triangle($size)
//   border-left: $size solid $color

// =triangle-left($size, $color: transparent)
//   +triangle($size)
//   border-right: $size solid $color


// .m-point-peer
  // &.m-point-expanded
  //   .m-point-include-wrap
  //     top: 14px

  // .m-point-include-wrap

  //   .m-point-include
  //   +transition(border-radius 1s ease)

  //   .list_connector
  //     +transition(left .5s ease, right .5s ease)
  //     position: absolute      
  //     bottom: -1px
  //     z-index: -1

  //     &:after
  //       content: ''
  //       position: absolute   
  //       top: -$arrow_height 

  // &.pro
  //   .m-point-include-wrap
  //     .m-point-include
  //       .list_connector
  //         +triangle-right($arrow_height + 2)
  //         right: 0

  //         &:after
  //           right: 2px
  //           +triangle-right($arrow_height)

  //       &:hover
  //         border-bottom-right-radius: 1px
  //         border-right-color: transparent

  //         .list_connector
  //           right: -$arrow_height - 2
  //           border-left-color: darken($callout_bg_color, 8%)

  //           &:after
  //             border-left-color: darken($callout_bg_color, 8%)

    // &.m-point-expanded
    //   .m-point-include-wrap .m-point-include 
    //     .list_connector
    //       right: -$arrow_height - 2
    //       border-left-color: darken($callout_bg_color, 8%)

    //       &:after
    //         border-left-color: darken($callout_bg_color, 8%)

  // &.con
  //   .m-point-include-wrap      
  //     .m-point-include

  //       .list_connector 
  //         +triangle-left($arrow_height + 2)    
  //         left: 0

  //         &:after
  //           left: 2px
  //           +triangle-left($arrow_height)


  //       &:hover
  //         border-bottom-left-radius: 1px
  //         border-left-color: transparent 

  //         .list_connector
  //           left: -$arrow_height - 2
  //           border-right-color: darken($callout_bg_color, 8%)

  //           &:after
  //             border-right-color: darken($callout_bg_color, 8%)

  //   &.m-point-expanded
  //     .m-point-include-wrap .m-point-include 
  //       .list_connector
  //         left: -$arrow_height - 2
  //         border-right-color: darken($callout_bg_color, 8%)

  //         &:after
  //           border-right-color: darken($callout_bg_color, 8%)

  ////////////////////

