

.homepage body #wrap
  color: white

  #masthead
    margin-top: 0
    background: none
    display: none

    .logo_cell
      display: none
      //margin-left: 122px

  #masthead,#content
    width: 500px
    margin: 0
    background-color: black
    background-color: rgba(black, .75)
    padding-left: 50px
    padding: 0
    padding-top: 1em
  #content
    height: 100%
    padding-bottom: 45px

    #intro
      position: relative

  #nav-user
    display: none
    top: 0px
    right: -147px
    color: #eee
    a
      color: #eee

.big_logo
  margin-left: 122px
  display: inline-block
.homepage #wrap #footer
  padding-left: 160px
  text-align: left

/////// homepage proposals ///////////

$main_content_width:300px

.new_proposal 
  .prompt
    color: hsl(50, 0%, 75%)
    background-color: rgba(black, .5)
    width: 100%
    text-align: center
    border-color: hsl(50, 0%, 50%)
    border-width: 2px
    background-image: none
    &:hover
      background-color: rgba(black, .95)
      background-image: none
      border-color: hsl(50, 100%, 48%)
      color:  hsl(50, 100%, 48%)

  form.new_proposal_form 
    #proposal_description
      width: $main_content_width
      margin-left: 0
    
    input[type="submit"]
      position: absolute
      top: 8px
      right: -26px
      background-color: black

    .avatar
      left: 105px

#main_content
  width: $main_content_width
  margin-left: 160px

.proposal_list_item
  a 
    width: $main_content_width - 40 - 6
    padding: 15px 20px
    background-color: black
    background-color: rgba(black, .65)
    opacity: 1
    border: 3px solid
    border-color: hsl(50, 0%, 50%)
    text-align: center
    color: hsl(50, 0%, 75%)

    &:hover
      //color: white
      background-color: rgba(black, .95)
      //border-color: white
      border-color: hsl(50, 100%, 48%)
      color:  hsl(50, 100%, 48%)

    .avatar
      display: none

    .title
      margin-left: auto
      margin: auto

    .prompt
      display: none


/////////////////////////////////////////
////////// Proposal navigation //////////
/////////////////////////////////////////
#navigation
  width: 137px
  position: absolute
  top: 143px
  left: 00px
  text-align: right
  padding: 0 3px

  .header
    color: #888
    color: rgba(white, .5)
    font-weight: bold
    padding-right: 4px

  .filters
    margin-bottom: 20px
    a
      padding: 2px 4px
      font-weight: bold
      opacity: 1
      color: #ccc
      display: inline-block
      word-wrap: break-word
      width: 100%
      padding-left: 0
      &:hover
        color: white

    .filter
      &.selected
        background-color: black
        background-color: rgba(black, .65)
        font-weight: bold
        a
          color: white

      &.tag

    &.ranks

.attribution
  position: fixed
  bottom: 50px
  right: 50px
  +font-size(-4)
  font-weight: bold
  color: #ccc

  a
    color: #ccc
    text-decoration: underline
    &:hover
      color: white





