%script{:type => "text/html", :id => "reflect_template_bullet"}


  :cdata
    <div class="bullet_main">        
      <div class="bullet_text">
        <div class="bullet_point">&#8226;</div>
        <span class="rf_bullet_text">
          <%= this.bullet_text %> 
        </span>
        <a class="user">&ndash; <%= this.user %></a>
      </div> 
      <% if (this.enable_actions) { %>      
        <ul class="bullet_meta">
          <li class="modify_operation" title="Edit this summary bullet point">
            <button class="modify bullet_operation button_as_link op">
              edit
            </button>
          </li>
          <li title="Delete this summary bullet point" class="delete_operation">
            <button class="delete bullet_operation button_as_link op"> 
              delete
            </button>
            <span class="verification">
              Are you sure?
              <a class="delete_for_sure bullet_operation op"> 
                yes
              </a>
              <a class="delete_nope bullet_operation button_as_link op"> 
                no
              </a>              
            
            </span>

            
          </li>
        </ul>
      <% } %>
      
      <div class="bullet_author rf_listener_pic">
        <img title="<%= this.user %>" src="<%= this.listener_pic %>"/>
      </div>    
    </div>
    <div class="rf_evaluation">
      <ul class="badges">
        <div class="cl"></div>
      </ul>
    </div>
    <div class="cl"></div>

%script{:type => "text/html", :id => "reflect_template_ratings_gallery"}
  :cdata
    <% if (this.enable_rating) { %>
      <li class="rf_rating">
        <ul>
          <li class="rf_gallery_container <%= this.rating %>">
            <div><% if (!this.rating) { %>[]<% } %></div>
          </li>
          <li class="rf_selector_container">
            <% if (this.commenter!=this.logged_in_user) { %> <div class="rf_selector"></div> <% } %>
          </li>
        </ul>
        <div class="cl"></div>
      </li>
    <% } %>


%script{:type => "text/html", :id => "reflect_template_new_bullet_prompt"}
  :cdata
    <div class="bullet_main">   
      <div class="prompt">
        <div class="bullet_point">&#8226;</div>
         <button class="add_bullet button_as_link" type="button" title="Show you understand by summarizing a point <%= this.commenter %> makes.">   
            <%= this.bullet_prompt %>
         </button>
      </div>
    </div>
    <div class="cl"></div>


%script{:type => "text/html", :id => "reflect_template_bullet_rating"}
  :cdata
    <div class="rate_bullet <% if (this.logged_in_user == "Anonymous") { %> anon <% } else if (this.logged_in_user == this.bullet_author) { %>self<% } else { %> not_anon <% } %>">
      <form name="rate_bullet" class="rate_bullet_dialog">
        <div class="rate_header">
          Does <%= this.bullet_author %>&#39;s summary...
        </div>
        <div name="zen" class="flag <% if(this.rating == "zen"){ %> selected <% } %>">
          <div class="rating_class zen"></div>
          <div class="label">
            elegantly distill meaning? 
          </div>
          <div class="rating_votes"><span class="others"><%= this.ratings.zen %></span><span class="me">+1</span></div> 
          <div class="cl"></div>            
        </div>
        <div name="gold" class="flag <% if(this.rating == "gold"){ %> selected <% } %>">
          <div class="rating_class gold"></div>
          <div class="label">
            uncover a good point?
          </div>
          <div class="rating_votes"><span class="others"><%= this.ratings.gold %></span><span class="me">+1</span></div>
          <div class="cl"></div>     
        </div>
        <div name="sun" class="flag <% if(this.rating == "sun"){ %> selected <% } %>">
          <div class="rating_class sun"></div>
          <div class="label">                          
            clarify the message?
          </div>
          <div class="rating_votes"><span class="others"><%= this.ratings.sun %></span><span class="me">+1</span></div>
          <div class="cl"></div>     
        </div>
        <div name="troll" class="flag <% if(this.rating == "troll"){ %> selected <% } %>">
          <div class="rating_class troll"></div>
          <div class="label">
            provoke unnecessarily? 
          </div>
          <div class="rating_votes"><span class="others"><%= this.ratings.troll %></span><span class="me">+1</span></div>
          <div class="cl"></div>     
        </div>
        <div name="graffiti" class="flag <% if(this.rating == "graffiti"){ %> selected <% } %>">
          <div class="rating_class graffiti"></div>
          <div class="label">
            umm, its not a summary 
          </div>
          <div class="rating_votes"><span class="others"><%= this.ratings.graffiti %></span><span class="me">+1</span></div>
          <div class="cl"></div>     
        </div>
                                                               
      </form>
      <div class="bullet_id hide"><%= this.bullet_id %></div>
      <% if (this.logged_in_user == "Anonymous") { %> <div class="anon_restrict">Log in to rate this summary</div> <% }
      else if (this.logged_in_user == this.bullet_author) { %> <div class="anon_restrict">Sorry, you can&#39;t judge your own!</div> <% } %>    
    </div>

%script{:type => "text/html", :id => "reflect_template_new_bullet_dialog"}
  :cdata
    <div class="bullet_main">      
      <div class="rf_dialog">
         <div class="bullet_point">&#8226;</div>
         <div class="new_bullet_text_wrap">
            <textarea class="new_bullet_text" title="Help others better understand and show <%= this.commenter %> that s/he is being heard by restating a point you hear them making."><% if (this.txt) %><%= this.txt %></textarea>  
         </div>
         <ul class="submit_footer">
            <li class="submit">
               <button class="bullet_submit button_as_link" disabled="<% if (this.txt) { %>false<% } else { %>true<% } %>">Done</button>
            </li>
            <li class="submit">
              <a class="cancel_bullet">cancel</a>
            </li>
            <li title="Please limit your summary to 140 characters or less." class="count">
               <a><span class="count"></span></a>
            </li>                
            <li class="be_neutral">
              <a title="Please be concise, accurate, and constructive with your restatements!">
                <span class="big_word">summaries</span>, not replies 
              </a>
            </li>                  
         </ul>
      </div>
    </div>
    <div class="cl"></div>


%script{:type => "text/html", :id => "reflect_template_bullet_highlight"}
  :cdata
        <div class="new_bullet_text_wrap connect_directions">
          <div class="arrow">&#8592;</div>
          Please click the relevant sentences
        </div>
        <ul class="submit_footer">
           <li class="submit">
              <button class="bullet_submit button_as_link">Done</button>
           </li>
          <li class="submit">
            <a class="cancel_bullet">cancel</a>
          </li>          
        </ul>



%script{:type => "text/html", :id => "reflect_template_response"}
  :cdata
    <% if(this.sig == "2") { %>
      <span class="rf_response_symbol confirmed">&#10003;</span> 
    <% } else if(this.sig == "0") { %>
      <span class="rf_response_symbol not">&#10007;</span>
    <% } %>

%script{:type => "text/html", :id => "reflect_template_response_prompt"}
  :cdata
        <div class="response_prompt">
           <div class="floating_arrow">&#9650;</div>
           <span class="prompt"><%= this.response_prompt %></span>
           <span class="action_call">click to answer</span>
           <ul class="response_eval">
              <li><input type="radio" class="response_field" id="accurate-yes-<%=this.bullet_id %>" name="accurate-<%=this.bullet_id %>" value="2" <% if(this.sig == "2"){ %> CHECKED <% } %>><label for="accurate-yes-<%=this.bullet_id %>" class="response_yes">Yes.</label></li>
              <li>

                <div class="inlined">
                  <input type="radio" class="response_maybe" id="accurate-maybe-<%=this.bullet_id %>" name="accurate-<%=this.bullet_id %>" value="1" <% if(this.sig == "1"){ %> CHECKED <% } %>>

                  <textarea class="new_response_text" placeholder="Perhaps, but I should clarify..." title="Clarify your point to help <%=this.summarizer %> and others better understand your message."><% if(this.text) %><%= this.text %></textarea>
                  <span class="count">140</span>              
                </div>
              </li>
              <li><input type="radio" class="response_field" id="accurate-no-<%=this.bullet_id %>" name="accurate-<%=this.bullet_id %>" value="0" <% if(this.sig == "0"){ %> CHECKED <% } %>><label for="accurate-no-<%=this.bullet_id %>" class="response_no">Huh? This isn&#39;t a summary.</label></li>

              <li>
                <div class="rf_dialog">
                  <ul class="submit_footer">
                    <li class="submit">
                      <button class="bullet_submit button_as_link">Done</button>
                    </li>
                    <li class="submit">
                      <a class="cancel_bullet">cancel</a>
                    </li>                 
                  </ul>
                </div>            
              </li>
           </ul>

           
        </li>
        </div>

#reflect_templates_present