html
  background: none
  
#content > div
  width: 600px
  max-width: 600px
  min-width: 600px
  margin: 15px 25px

#initiative.userpage  
  input
    font-size: 24px
    padding: 8px
    
  .init_text 
    margin-top: 15px
    
    > h3 > div
      line-height: 24px
      text-align: center
      
      &.initiative_name
        text-transform: capitalize
        font-size: 18px
    > ul
      margin-top: 10px
      margin-left: 10px
      list-style: inside 
      li
        padding: 5px 0
        


  ol#step_through li#stance.step

        

              
    .position_container
      background: none
      border: none
      width: 600px
      margin: auto

      ul.point_list
        width: 275px
        
        li.point_in_list.point_in_list_self
          width: 250px        
        
      
      #points_on_board_pro .points_list_header
        background: url("/images/chalk/pro_back_print.png") no-repeat scroll right top transparent

      #points_on_board_con .points_list_header
        background: url("/images/chalk/con_back_print.png") no-repeat scroll right top transparent
      
      .points_self, .points_board
        .points_list_header
          height: 90px
          
      li.point_in_list td.body 
        .username
          color: gray
        
        .point_text.nutshell  
          color: black
        .read_more
          display: none
      