#initiative.userpage
  .stance_status
    font-size: 36px
    width: 100%
    text-align: center
    
  
  ol#step_through li#stance.step
    background-color: white
    
    .position_container
      width: 750px
      margin: auto
      
      ul.point_list
        width: 330px
        
        li.point_in_list.point_in_list_self
          width: 310px
          
      #points_on_board_pro
        margin-left: 10px