-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- @app_title = @options[:app_title]

%p
  Hi! 

- if @proposal
  %p
    Thanks for taking a stance on "#{@proposal.title}".

%p
  Before your vote will be counted in the totals, we ask that you verify your email address by visiting #{confirmation_url(@user, :confirmation_token => @user.confirmation_token, :host => @options[:host])}. 

%p 
  Why? We want to ensure that people are registering their opinions using a real email address. Otherwise, it will be easier to commit the equivalent of voter fraud.

%p
  Thanks!

= content_for :title do
  = @app_title