//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

.discuss    
  .discussion_header    
    Discussion

  %ul.comment_section
    - comments.each do |comment|
      = render :partial => "comments/comment", :locals => { :comment => comment, :light_background => light_background }
    
    = render :partial => "comments/new", :locals => { :commentable => commentable, :context => context, :comments => comments }