%ul#discussion_threads
  %h3
    - if comments.nil? || comments.length == 0
      %a.smooth_anchor#start_new_discussion{ :href => "#new_discussion"}
        Start the Discussion!
      .clear
    - else    
      %a.smooth_anchor#start_new_discussion{ :href => "#new_discussion"}
        Start a New Discussion
        
  - comments.each do |comment|
    - if !comment.violation && !comment.subject.nil? && comment.subject.length > 0
      = render :partial => "comments/discussion_header", :locals => { :comment => comment }
    
    

      
  :javascript
    $j('#discussion_threads a').click(function(){
      $j('.full_discussion').show();
      $j('.load').hide();
    });