user www-data;
worker_processes {{ ansible_processor_count }};
 
pid /opt/nginx/logs/nginx.pid;
 
events {
    worker_connections {{ nginx.connections }} ;
    # multi_accept on;
}
 
http {
 
    ##
    # Basic Settings
    ##
    passenger_root {{ passenger_root.stdout }};
    passenger_ruby {{ rbenv_path }}/versions/{{ ruby_version }}/bin/ruby;

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;
    server_tokens off;
 
    # server_names_hash_bucket_size 64;
    # server_name_in_redirect off;
 
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
 
    ##
    # Logging Settings
    ##
 
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    log_format upstreamlog '[$time_local] $remote_addr - $remote_user - $server_name to: $upstream_addr: $request upstream_response_time $upstream_response_time msec $msec request_time $request_time';

    ##
    # Gzip Settings
    ##
 
    gzip on;
    gzip_disable "msie6";
 
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml text/javascript;
 
    ##
    # If HTTPS, then set a variable so it can be passed along.
    ##

    map $scheme $server_https {
        default off;
        https on;
    }
 
    ## Deny access to any host other than (www.)mydomain.com
    server {
         server_name  _;  #default
         return 444;
    }

    ## 
    # Configure headless browser served off of nodejs for googlebot 
    # parsing of single page app
    ##
    upstream nodejs {
      server 127.0.0.1:7777;
    }

    proxy_connect_timeout       600;
    proxy_send_timeout          600;
    proxy_read_timeout          600;
    send_timeout                600;

    ##
    # Virtual Host Configs
    ##
 
    include /etc/nginx/conf.d/*.conf;
    #include /etc/nginx/sites-enabled/*;


}