//@import 'ie_common'
@import "grooves/base/variables"


//IE8 doesn't support transform: translate ...
.m-reasons
  &[data-state="separated"]

    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      left: 0

  &[data-state="together"], &[data-state="collapsed"]

    .m-aggregated-propoints-region
      left: $peer-point-results-width + 1.5

    .m-aggregated-conpoints-region
      left: -$peer-point-results-width - 1.5





.t-bubble
  display: none
  content: none

.t-logo-separator
  display: none
// .avatar
//   -ms-behavior: url(polyfills/backgroundsize.min.htc)

input[type="password"], .m-user-accounts-form-fields-text .email_field input
  font-family: arial

// for LVG...
#t-intro-people 
  .row
    visibility: hidden