@import 'ie_common'

.t-bubble
  display: none
  content: none

.t-logo-separator
  display: none
// .avatar
//   -ms-behavior: url(polyfills/backgroundsize.min.htc)

input[type="password"], .m-user-accounts-form-fields-text .email_field input
  font-family: arial

// for LVG...
#t-intro-people 
  .row
    visibility: hidden