#home
  %h1.improve
    Et tu, R1? 

  %p
    Each year, HCI peer review brings disciplinary conflicts to the fore, like dirty dishes sowing discord amongst roommates. Perhaps we can improve the situation by thinking through ways of overhauling peer review.

  %h2
    How can we improve HCI peer review?  

  = render :partial => "proposals/new"
  = render :partial => "proposals/list_output/list", :locals => { :style => 'blocks', :hide_initially => false }


