#home
  %h1.improve
    Et tu, R1? 
  = render :partial => "shared/social_media/twitter_follow", :locals => { :call => 'Follow new proposals'}

  %hr

  %p
    Peer review of HCI research brings tensions in the community to the fore, within and between disciplines. Let's try to improve the situation by thinking through actionable ideas for overhauling peer review.

  %h2
    How can we improve HCI peer review?  
  -# %h3
    Click a proposal below to read more and weigh in on it, or add your own!


  = render :partial => "proposals/new"

  = render :partial => "proposals/list_output/list", :locals => { :style => 'blocks', :hide_initially => false }


