#home
  %h1.improve
    How can we improve HCI peer review? 

  %p
    Each year, peer review brings disciplinary conflicts to the fore, like dirty dishes sowing discord amongst roommates. Perhaps we can improve the situation by thinking through ways of overhauling peer review.

  %h2
    Below, propose and weigh in on ideas for improving HCI peer review. 

  = render :partial => "proposals/new"
  = render :partial => "proposals/list_output/list", :locals => { :style => 'blocks', :hide_initially => false }


