%a{href: full_link('dashboard/email_notifications'), style: "color: #444; text-decoration:underline;"} 
  your email preferences
or
%a{href: full_link('dashboard/email_notifications', {:unsubscribe => true}), style: "color: #444; text-decoration:underline;"} 
  unsubscribe
