%p
  #{translator({id: "email.salutation", name: @message['recipient'].first_name}, "Hi {name},")}  

%p
  #{translator({id: "email.message_from", sender: @message['sender_mask']}, "{sender} says:")}

%p
  %i{style: 'padding-left: 20px; display: block; border-left: 1px solid #eaeaea'}
    = simple_format(@message['body'])

%p
  #{translator({id: "email.send_message.reply", sender: @message['sender_mask']}, "Reply to this email to respond to {sender}.")}