%p
  Hi #{@message['recipient'].first_name},

%p
  #{@message['sender_mask']} has sent you a direct message:

%p
  %i{style: 'padding-left: 20px; display: block; border-left: 1px solid #eaeaea'}
    = simple_format(@message['body'])

%p
  Reply to this email to respond to #{@message['sender_mask']}.