- if current_tenant.socmedia_twitter_account
  .contact
    %span.twitter
      %a.wrapper{ :href => "http://twitter.com/#{current_tenant.socmedia_twitter_account}", :target => '_blank'}
        = image_tag 'twitter_bird.png'
        Follow the discussion

-#
  .contact
    %span.twitter
      .wrapper
        = image_tag 'twitter_bird.png'
        Follow discussion
      %a.twitter-follow-button{:href => "https://twitter.com/#{current_tenant.socmedia_twitter_account}", "data-show-count".intern => "false", "data-width".intern => "90px", "data-show-screen-name".intern => "true"}
      %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}