#static.tos
  
  %h2
    Occupy TempCheck Terms of Use

  %p
    Welcome to the #{link_to 'ChalkboardIt', 'https://chalkboard.it', :target => '_blank'} site for Occupy.net!  

  %h3
    Participation rules

  %p
    In order to foster an environment conducive to civil and on-topic political discussion, please abide by the following rules. Violation of any of these rules may result in account suspension or deactivation.

  %ul
    %li
      Do not make personal attacks or use offensive language. Disagreement is both inevitable and welcome, but please refrain from name-calling; using expletives; slurs against race, ethnicity, gender, and sexual orientation; and other insults.
    %li
      Speak for yourself. The bottom line is, no one should be using this site as part of their paid advocacy duties.
    %li
      Though you may change your stance at any time, please sign up for and use one and only one account.


  %a{ :name => "privacy_policy"}
  %h3
    Privacy and data collection policy
    
  %p
    Occupy.net is cooperating with a research group at the University of Washington. The purpose of our research is to design and test new software systems to better support civic engagement and participation. For more information, please see our #{link_to 'research project website', 'http://engage.cs.washington.edu', :target => '_blank'} or send email to #{link_to 'civic-engagement@cs.washington.edu', 'mailto:civic-engagement@cs.washington.edu', :target => '_blank'}. 

  %p
    By using this site, you certify that you agree to have information about how you use this site collected.  For people who read the discussion and take positions, we are collecting session logs.  These logs are completely anonymized – we aren't collecting any information in these logs that could identify you personally. For people who post new content, the items on the site are all publicly visible on the internet.  

  %p
    Additional information about what is collected follows:

  %p
    For people who read information on the site and perhaps take positions, we are collecting data about users' interaction with the website, including mouse clicks. We are also recording a hash of the login name of any logged in user.  A "hash" of the login name means that we will take the actual name and transform it into a unique code that will only correspond to that particular name.  However, this will be a one-way cryptographic transformation: the stored information will let us determine whether this is the same name when used again, but won't let us (or anyone else) determine the actual name from the hash.  

  %p
    For people who are posting new content, the items on the site are all publicly visible on the internet.  The system is also configured to send a notification on Twitter from @OccupyTempcheck, so that others can be easily notified that there is a new and potentially interesting item available on the site. These notifications all come through @OccupyTempcheck, not from any personal account you might have.


  %h3
    Living Voters Guide content

  %p
    Text is available under the 
    %a{ :href => "http://creativecommons.org/licenses/by-sa/3.0/" }
      Creative Commons Attribution-ShareAlike License.
    (This is the same license that is used for example in Wikipedia.)
    Please notify us if you see any other information about
    you or others that is incorrect, or if you want to correct your registration. Also please notify us if you want to remove your registration and profile.

    
  %h3
    Liability statement

  %ul
    %li
      The managers and sponsors are not responsible for the opinions, links and other content posted on this site, with the exception of information posted by the mangers of the site.
    %li
      There is no guarantee that access to the site will be uninterrupted or error free. The site is provided on an "as available" basis without warranties of any kind, either express or implied. We are not responsible if specific content is improperly displayed, not posted or not available.
    %li
      Neither the site managers nor its sponsors are liable for any legal damages based on any claim of the user, or as a result of the user's employing this service.
    %li
      The site managers reserve the right to determine how long content remains on this site.

  %p
    Occupy Tempcheck Terms of Use version of 28 June 2012
