// TODO: refactor!
$dashboard_sidebar_width: $grid_major * 2 + $grid_minor * 2 + $grid_xs
$dashboard_content_width: $content_width - $dashboard_sidebar_width - 2 * $grid_xs - 5

html body #m-dashboard
  margin-bottom: $vertical_baseline
  padding: 3 * $vertical_baseline $grid_xs

  .m-dashboard-close
    position: absolute
    top: 5px
    right: 5px

  .m-dashboard-sidebar-region
    float: left
    //margin-top: 4 * $vertical_baseline
    //position: absolute
    z-index: 10
    width: $dashboard_sidebar_width
    //margin-left: $grid_xs
    //left: -$dashboard_sidebar_width
    //top: 0




  .m-dashboard-main-region
    padding-left: $grid_minor
    float: left
    width: $dashboard_content_width
    height: 100%

  .m-dashboard-heading
    margin-bottom: 20px
    
    h2
      +font-size(2)

    .m-dashboard-subheading
      color: #888



  .field
    margin-bottom: $vertical_baseline
    
    label
      +font-size(-1)
      //font-weight: bold

    input[type="text"], input[type="email"], textarea
      display: block
      +font-size(0)
      padding: 2px

    .sublabel
      margin-top: 2px      
      +font-size(-2)
      color: #777
  
  fieldset
    table
      width: 100%
      table-layout: fixed


  .save_block
    margin-top: $vertical_baseline

  .avatar
    width: 120px
    height: 120px
    overflow: hidden
    img
      width: 120px

  /////////////////
  // PAGE SPECIFIC 
  /////////////////

  .m-dashboard-profile

    .m-dashboard-profile-edit_profile
      +font-size(-2)
      text-decoration: underline
      position: relative
      //top: -$vertical_baseline

    .m-dashboard-profile-influence
      display: inline-block
      &:hover .m-dashboard-profile-influence-details
        display: inline-block

    .m-dashboard-profile-influence-details
      width: 470px
      display: none
      vertical-align: top

    .m-dashboard-profile-influence-summary
      display: inline-block
      vertical-align: text-bottom
      background-color: #444
      padding: $vertical_baseline / 2
      cursor: pointer

    .m-dashboard-profile-influence-description
      color: #aaa
      +font-size(-1)

    .m-dashboard-profile-influenced .avatar
      opacity: .80
    

    .m-dashboard-profile-activity-summaries
      margin-top: $vertical_baseline
      list-style: none
      li
        display: inline-block
        margin-right: $grid_xs / 2


    .m-dashboard-profile-activity-summary, .m-dashboard-profile-influence-summary
      display: inline-block
      padding: $vertical_baseline / 2 0
      color: white
      width: 120px

    .m-dashboard-profile-activity-summary
      background-color: $comp_color
      &:hover, &.selected
        cursor: pointer
        color: white

      &:hover
        background-color: darken($comp_color, 10%)

      &.selected, &.selected:hover
        background-color: #313131
      

    .m-activity-summary-count, .m-dashboard-profile-influence-count
      +font-size(2)
      font-weight: bold

    .m-activity-summary-label, .m-dashboard-profile-influence-label
      +font-size(-3)
      text-transform: uppercase

    .m-activity-summary-count, .m-activity-summary-label, .m-dashboard-profile-influence-count, .m-dashboard-profile-influence-label
      text-align: center
      display: inline-block
      width: 100%



    .m-dashboard-profile-bio
      font-style: italic

    .m-dashboard-profile-activity-block
      margin-top: $vertical_baseline
      display: none
      h3
        margin-bottom: $vertical_baseline/2
      table
        width: 100%
      .m-dashboard-profile-activity-action
        text-align: right
      .m-dashboard-profile-activity-substance
        +font-size(1)
        font-weight: bold
        margin-bottom: $vertical_baseline/2
      .m-dashboard-profile-activity-substance-context
        +font-size(-1)

      .m-dashboard-profile-activity-influence
        margin-top: $vertical_baseline/2

      .m-dashboard-profile-activity-substance-wrap
        width: 500px
    
    .m-dashboard-profile-activity-empty
      +font-size(-2)
      font-style: italic


  .m-user_roles-edit_form
    //display: none

  .m-dashboard-database
    height: 100%
    iframe
      width: 100%
      height: 100%

  .m-dashboard-notifications-followable_group
    margin-bottom: 2 * $vertical_baseline




html body #m-dashboard

  .table, .fht-table
    font-size: 75%
    //width: 100%
    table-layout: fixed

    a 
      text-decoration: underline
      img
        height: 23px      

    td
      //max-width: 200px
      overflow: hidden
      border-top: 1px solid #ddd
      line-height: 20px
      padding: 8px
      text-align: left
      vertical-align: top

      
    th
      //max-width: 200px    
      text-transform: capitalize
      font-size: 125%
      font-weight: bold
      padding: 8px 8px 1px 8px
      border-bottom: 1px solid #ddd

  .table-condensed 
    td
      padding: $vertical_baseline / 2 5px

  .table-striped tbody tr:nth-child(2n+1) 
    td
      background-color: #f9f9f9


  .fht-table-wrapper .fht-fixed-body .fht-tbody, .fht-table-wrapper .fht-tbody
    overflow-x: hidden

    
