// TODO: refactor!
@import "mixins"
@import "dashboard/rtf_table"

$dashboard_sidebar_width: $grid_major * 2 + $grid_minor * 2 + $grid_xs
$dashboard_content_width: $content_width - $dashboard_sidebar_width - 2 * $grid_xs - 5

html body #m-dashboard

  .m-dashboard-close
    position: absolute
    top: 5px
    right: 5px

  .m-dashboard-sidebar
    float: left
    //margin-top: 4 * $vertical_baseline
    //position: absolute
    z-index: 10
    width: $dashboard_sidebar_width
    //margin-left: $grid_xs
    //left: -$dashboard_sidebar_width
    //top: 0

    hr
      border-top: 1px solid #aaa
      margin: $vertical_baseline/2 0

    li
      list-style-type: none
    .m-dashboard_link
      //+background-image(linear-gradient(#eee, #ccc))
      +font-size(-1)
      color: #555
      width: 100%      
      //width: $dashboard_sidebar_width - 2 * $grid_xs
      padding: 5px $grid_xs
      display: inline-block

      &.current
        font-weight: bold
        background-color: $comp_color
        color: white
        //position: relative
        //left: 1px
        //&:hover
        //  background: none
        //  background-color: white

      &:hover
        //+background-image(linear-gradient(#fff, #ddd))
        background-color: $comp_color
        color: white


  .m-dashboard-content
    padding-left: $grid_minor
    float: left
    width: $dashboard_content_width
    height: 100%

  .m-dashboard-heading
    margin-bottom: 20px
    
    h2
      +font-size(2)

    .m-dashboard-subheading
      color: #888



  .l-content-wrap
    margin-top: $vertical_baseline
    border: 1px solid rgba(#888, .6)
    background-color: white

    .field
      margin-bottom: $vertical_baseline
      
      label
        +font-size(0)
      input[type="text"], input[type="email"], textarea
        display: block
        +font-size(0)
        padding: 2px

      .sublabel
        margin-top: 2px      
        +font-size(-2)
        color: #777
    
    fieldset
      table
        width: 100%
        table-layout: fixed


    .save_block
      margin-top: $vertical_baseline

    .avatar
      width: 120px
      height: 120px
      overflow: hidden
      img
        width: 120px

    /////////////////
    // PAGE SPECIFIC 
    /////////////////

    .m-dashboard-profile
      .user_card
        .avatar
          display: inline-block
          vertical-align: top
          margin-left: $grid_xs

        .info
          display: inline-block
          // width: 600px

          .name

          .edit_profile
            +font-size(-2)
            text-decoration: underline
            position: relative
            //top: -$vertical_baseline

      .body
        margin-top: $vertical_baseline

      .block
        margin-bottom: $vertical_baseline
      
      .empty
        +font-size(-2)
        font-style: italic


    .m-user_roles-edit_form
      display: none

    .m-dashboard-database
      iframe
        width: 100%
        height: 100%

    .m-dashboard-notifications-followable_group
      margin-bottom: 2 * $vertical_baseline

