@import "old_variables"
@import "variables_skin"

@import "old_library"
@import "old_modules/dash/moderatable"
@import "old_modules/dash/assessable"
@import "old_modules/dash/analytics"

@import "old_skinables"

.pressable_button
  +pressable_button
  
fieldset
  border: 1px solid #bbb
  padding: $vertical_baseline $grid_gutter
  margin: $vertical_baseline 0
 
  legend
    margin-left: $grid_gutter
    color: #777
    //+font-size(-3)
    padding: 0 $grid_gutter / 2


.message
  textarea
    display: block
    +font-size(0)

  .message-subject, .message-body
    margin-bottom: $vertical_baseline/2

  label
    display: block
    text-align: left

  .message-footer
    text-align: right

  input[type="submit"]