// These mixins and extenders can be used across all the sass files


// Functions that allow for better definitions with dark vs light themes
// The reference parameter determines which color is used to determine 
// whether this is a light or dark scheme. 
@function emphasize($color, $amount, $reference: false)
  @if $reference == false
    $reference: $color

  @if lightness($reference) > 50%
    @return darken($color, $amount)
  @else
    @return lighten($color, $amount)

@function deemphasize($color, $amount, $reference: false)
  @if $reference == false
    $reference: $color

  @if lightness($reference) > 50%
    @return lighten($color, $amount)
  @else
    @return darken($color, $amount)

// @import "compass/css3/background-size"
// @import "compass/css3/images"
// =stripe($stripe-color, $height)
//   +background-image(linear-gradient(transparent 50%, $stripe-color 50%))
//   +background-size(  $height $height)

=grayscale
  //filter: url('/filters.svg#grayscale')  //FF 3.5+
  filter: gray  // IE6-9
  -webkit-filter: grayscale(1) // Google Chrome & Safari 6+ 

=grayscale_off
  filter: none
  -webkit-filter: grayscale(0)

=grayscale_hover
  +grayscale
  &:hover
    +grayscale_off

=link_style($color, $reference, $amount)
  color: $color
  &:hover
    // Determine whether the hover should darken or lighten the color
    @if lightness($reference) > 50% 
      // if the background is light, make the link darker on hover
      color: darken($color, $amount)
    @else
      color: lighten($color, $amount)

// Browsers render the inset colors so differently...
=inset-border($base_text_color)
  border-color: darken($base_text_color, 10%) lighten($base_text_color, 5%) lighten($base_text_color, 10%) lighten($base_text_color, 5%)

=outset-text($transparency:.1)
  +single-text-shadow($hoff: 1px, $voff: 1px, $color: rgba(black, $transparency), $blur: 0)


=pressable_button
  margin: 2px 5px
  padding: 2px 8px
  cursor: pointer
  color: #555
  background-color: #efefef
  border: 1px solid
  border-radius: 5px
  border-color: white #ccc #ccc white
  box-shadow: 0 1px 2px rgba(black, .25)

  &.selected
    border-color: #ccc white white #ccc
    box-shadow: 0 1px 4px rgba(black, .2)

=grab_cursor
  cursor: move
  cursor: ew-resize
  cursor: -webkit-grab
  cursor: -moz-grab

  &:active
    cursor: move
    cursor: ew-resize
    cursor: -webkit-grabbing
    cursor: -moz-grabbing


