- if @third_party_account
  :javascript
    $j('#pledge_dialog').dialog('close');

- else
  %div#confirmation_sent

    .primary
      %h2
        Welcome to the LVG Community!

      %p
        In a few minutes, you should receive an email with a link to confirm your account. Please 
        %strong
          find that email and confirm your account. 
        Check your junk mail if you don't see it.

      %p
        In the meantime,
        %strong
          you can continue to use the site as a full member of the site.

      = image_tag 'confirmation_vote_clarification.png'

      %p
        However,
        %strong
          your vote will not be counted toward the totals until you confirm your account. 

      %p
        We look forward to your contributions!!!
   
   
      %button#go 
        I'm ready to go!

  :javascript

    $j('#confirmation_sent button#go')
      .corner('5px')
      .click(function(){
        $j('#pledge_dialog').dialog('close');
      });