
%div#pledge_form

  .primary
    %h2
      Participant Pledge

    %p
      Political discussion can get heated. We ask that you 
      %strong
        please refrain from personal attacks 
      on other participants. We can disagree without demonizing.

    %p
      The opinions of everyday citizens are often not heard. We ask that you 
      %strong
        speak your own opinions
      , not the positions of any campaign, candidate or party to which you may belong.

    %p
      Opinions can be maliciously manipulated. We ask that you 
      %strong
        do not create multiple accounts.
      You are free to update your opinion, but please do so from a single account.

    %button.submit#pledge 
      I pledge to refrain from personal attacks, speak only my own opinion, and use only one account.

    %a.cancel 
      Sorry, I cannot abide by these rules.      

:javascript


  $j('button#pledge').click(function(){

    $j.post("#{home_pledge_path}", function(data, response, xhr){
      $j('#pledge_dialog').html(data.html);
    });
  });

  $j('#pledge_form a.cancel').click(function(){
    $j.ajax({
      type: 'DELETE',
      url: "#{user_registration_path}",
      data: {},
      success: function(data){
        location.reload(true);
      }, error: function(data){
        location.reload(true);
      }

    });
  });
