%p.head
  #{@user.first_name}, there is content for #{@subdomain.app_title} that needs to be checked to make sure it doesn't contain personal attacks, inappropriate material, or are badly off-topic. You and the other moderators are being notified. 

.action_call
  .rest
    .call
      = link_to 'Help moderate', @url

= content_for :footer do
  You are receiving this email because our records indicate that you are a moderator.