$bubble_border_radius: 8px
$banchor_top: -3px
$banchor_adjustx: -20px

%bubble
  +single-box-shadow($hoff: 1px, $voff: 6px, $blur: 9px, $spread: -5px, $color: #fff, $inset: true)

  > .t-bubble
    font-size: 0
    line-height: 1
    position: absolute
    top: $banchor_top
    z-index: 99

%bubble_right
  @extend %bubble
  > .t-bubble
    right: $banchor_adjustx 

%bubble_left
  @extend %bubble
  > .t-bubble
    left: $banchor_adjustx 

= bubble($light, $dark, $direction, $bg-color: #f7f7f7, $bborder-width: 1px, $include_bg: true)

  @if $include_bg
    background-color: $light
    border: $bborder-width solid $dark

  @if $direction == left
    @extend %bubble_left

  @else if $direction == right
    @extend %bubble_right

  > .t-bubble
    
    > .t-bubble-inner
      fill: $light
      
    > .t-bubble-border
      fill: $dark

    > .t-bubble-spacing
      fill: $bg-color


