$pos: -9px
$bubble_border_radius: 8px

%bubble
  +inset-box-shadow(1px,6px,9px, -5px, #fff)

  .bubble
    +background-clip(text)          
    color: transparent

  .bubble, &:after, &:before
    position: absolute
    display: block

  .bubble
    z-index: 7
    top: 0px
    font-size: 10px

  &:after, &:before
    content: '\25E4'

  &:after
    font-size: 14px
    z-index: 4
    color: #f7f7f7
    top: -3px

  &:before
    z-index: 6
    font-size: 12px
    top: -1px

%bubble_right
  @extend %bubble
  border-radius: $bubble_border_radius 0 $bubble_border_radius $bubble_border_radius
  &:after
    right: $pos - 10
  &:before
    right: $pos - 3
  > .bubble
    right: $pos

%bubble_left
  @extend %bubble
  border-radius: 0 $bubble_border_radius $bubble_border_radius $bubble_border_radius
  .bubble, &:after, &:before
    +flip-horizontal

  &:after
    left: $pos - 10
  &:before
    left: $pos - 3
  > .bubble
    left: $pos

= bubble($light, $dark, $direction)
  @if $direction == left
    @extend %bubble_left
  @else if $direction == right
    @extend %bubble_right

  background-color: $light
  border: 1px solid $dark

  &:before
    color: $dark
  > .bubble
    +complex-gradient(lighten($light, 7%), $light, $from_stop : 0%, $to_stop: 50%)
