=colored_post_it($repeated, $color)
  $color: hsl(57, 76%, 75%)
  //background-color: $color
  @if $repeated == 0
    background: image-url('yellow_postit.png') no-repeat top left transparent

  @else
    background: image-url('yellow_postit_no_shadow.png') repeat top left transparent  

  .button
    color: #888
    +button(darken(desaturate($color, 60%), 35%), desaturate($color, 20%))
    &:hover
      color: #333

=red_post_it($repeated: 0)
  //+colored_post_it(hsl(352, 94%, 94%))
  //+colored_post_it(hsl(360,41%,63%))
  +colored_post_it($repeated, hsl(357, 100%, 86%))
  //background-color: #e8e37d
  
=green_post_it($repeated: 0)
  //+colored_post_it(hsl(87, 69%, 89%))
  //+colored_post_it(hsl(84,35%,54%))
  +colored_post_it($repeated, hsl(79, 48%, 75%))
  //background-color: #e8e37d

=on_post_it
  color: #333
  h1, h2, h3
    color: #111

  a, input, button
    color: #333  
    
    &:hover
      color: #000  

=on_chalkboard
  color: #ddd
  font-family: 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif
  
  h1, h2, h3
    color: #ddd

  a, input, button
    color: #ddd  
    
    &:hover
      color: #fff

  textarea, input[type="text"], input[type="email"], input[type="password"]
    background-color: #414141
    background-color: transparent
    border: 1px solid
    +inset-border(#414141)
    display: inline-block
    color: #ddd

=on_paper
  background-image: image-url('paper.png') 
  background-repeat: repeat 
  background-position: left top

=on_background
  background: none
  color: #333
  a
    color: #333
    &:hover
      color: #111
      
=on_corkboard
  color: hsl(30, 40%, 18%)

=wood-frame
  //border-style: solid
  //border-width: 19px 21px 28px 21px
  //border-width: 22px 26px 33px 26px
  //border-color: #bbb #222 #222 #777  
  //+border-image(image-url('chalk/chalkboard_frame.png'), 17, 21, 28, 21, stretch)

=chalkboard
  background: image-url("chalk/chalkboard.jpg") repeat left top #414141   

=corkboard
  //background: image-url("chalk/corkboard.jpg") repeat left top #b2925a

=chalkboard-with-frame 
  +wood-frame

  > .slate
    +chalkboard

