=on_post_it
  color: #555
  
  h1, h2, h3
    color: #333

  a, input, button
    color: #555  
    
    &:hover
      color: #000

=on_chalkboard
  color: #ddd
  
  h1, h2, h3
    color: #eee

  a, input, button
    color: #ddd  
    
    &:hover
      color: #fff