$grid_major: 48px
$grid_minor: 30px
$grid_xs: 18px

$vertical_baseline: 1em

$content_width: $grid_major * 22 + $grid_xs
$pro_con_list_static_width: $grid_major * 16 + $grid_xs
$header_color: #a6a6a6

$chalkboard_border_width: 3px

$histogram_bar_width: 2 * $grid_major