$grid_major: 48px
$grid_minor: 30px
$grid_xs: 18px

$vertical_baseline: 1em

$content_width: 967px //$grid_major * 22 + $grid_xs
$pro_con_list_width: 675px

$slider_width: 300px
$slider_label_width: 100px

$peer-point-width: 225px
//$peer-point-height: 180px

$pro-con-list-column-width: 250px

$histogram_bar_width: 45px //2 * $grid_major - 4

$rep_color: lighten(#49B1E5, 20%)
$dark_rep_color: darken($rep_color, 20%)

$constituency_color: lighten(#E5E15A, 20%)
$dark_constituency_color: darken($constituency_color, 35%)

$user_color: #ddd
$dark_user_color: darken($user_color, 10%) 

$position_color: #414141
$dark_position_color: darken($position_color, 10%) 

$comp_color: lighten(#882F35, 10%)
$dark_comp_color: darken($comp_color, 10%)

$header_gray: #777
$empty_color: #ddd

$proposal_width: 617px
$body_width: 600px

//$content_background : image-url('directrep/images/brillant.png')

$hex-bullet-point: '\2022'