
%script{ :type => "text/template", :id => "tpl_header" }

  .l-heading-wrap

    #m-header-logo-region

    #m-user-nav

  .l-navigate

%script{  :type => "text/template", :id => "tpl_header_nav" }
  // %a.l-navigate-back
  //   %i.fa.fa-small
  //     &#xf104;
  //   go back

  // .l-navigate-separator
  //   | 

  %ul.l-navigate-breadcrumbs  
    %a{ :href => '/', :title => "Go to homepage"}
      %i.fa-home.fa
      homepage

    // (( _.each(crumbs, function(crumb,idx) {  ))
    // (( var name=crumb[0], loc=crumb[1]; ))

    // %li.l-navigate-crumb
    //   %a{:href => "{{loc}}"}
    //     {{name}}
    //   (( if( idx != crumbs.length - 1) { ))
    //   \/
    //   (( } ))
    // (( }); ))

