%script{ :type => "text/template", :id => "tpl_points"}
  .m-pointlist-header-region
  .m-pointlist-list-region
  .m-pointlist-footer-region

%script{ :type => "text/template", :id => "tpl_points_expandable"}
  = render :partial => "shared/bubble", :locals => {:left => false, :down => false}
  
  .m-pointlist-header-region
  .m-pointlist-list-region
  .m-pointlist-footer-region

%script{ :type => "text/template", :id => "tpl_points_header"}
  .m-pointlist-header
    %span.m-pointlist-header-label
      {{ header }}

%script{ :type => "text/template", :id => "tpl_points_expandable_header"}

  .m-pointlist-header
    %span.m-pointlist-header-label{'data-target' => 'browse-toggle'}
      {{ header }}

      (( if(browsing_all) { ))
      %span.m-pointlist-browse-header-close
        %i.icon.icon-small
          &#xf066;      

      .m-pointlist-browse-sort
        %span.m-pointlist-browse-sort-label
          sort 
          %i.icon.icon-small
            &#xf0d7;
        %ul.m-pointlist-browse-sort-menu
          (( _.each(sorts, function(sort){  ))
          %li.m-pointlist-sort-option
            %a{ :title => "{{ sort.title }}", :'data-target' => "{{ sort.target }}" }
              {{ sort.name }}
          (( }); ))

      (( } else { ))
      %span.m-pointlist-browse-header-open
        %i.icon.icon-small
          &#xf065; 
      (( } ))


%script{:type => "text/template", :id => "tpl_points_expandable_footer"}
  (( if(has_more_points || browsing_all){ ))
  .m-pointlist-browse
    %a.m-pointlist-browse-toggle{'data-target' => 'browse-toggle'}
      (( if( browsing_all ) { ))
      Stop browsing
      (( } else { ))
      View all {{ cnt }} {{ label }}
      (( } ))
  (( } ))

  .m-pointlist-footer-more
    %i
      &hellip;

%script{ :type => "text/template", :id => "tpl_points_user_reasons_footer"}
  .m-newpoint

    %span.m-newpoint-new
      Add a new {{ label }}

    .m-newpoint-form
      = hidden_field_tag :is_pro, "{{is_pro}}", :class => 'm-newpoint-is_pro'

      .m-newpoint-nutshell-wrap
        = text_area_tag :nutshell, nil, :placeholder => 'Summarize your point (required)', :cols => 28, :class => "m-newpoint-nutshell is_counted", :required=>true, :maxlength => 140, :pattern => "^.{3,}"
        %span.count
          140

      .m-newpoint-description-wrap
        = text_area_tag :text, nil, :placeholder => "Write a longer description (optional)", :title => "Write a longer description (optional)", :cols => 28, :class => "m-newpoint-description"

      .m-newpoint-anonymous-wrap
        %input.m-newpoint-anonymous{ :id => "{{hide_label}}", :name => "{{hide_label}}", :type => "checkbox"}

        %label{ :for => "{{hide_label}}", :title => 'We encourage you not to hide your name from other users. Signing your point with your name lends it more weight to other participants.'}
          Conceal your name

      .m-newpoint-submit
        %a.m-newpoint-cancel
          cancel

        %input.m-newpoint-create.button{ :type => 'submit', :value => 'Done'}

  .m-point-drop-target
    %span
      Drag and drop {{ label.toLowerCase() }}s from the {{ direction }}


%script{ :type => 'text/template', :id => "tpl_points_peer_empty"}
  No points identified