
%script{ :type => "text/template", :id => "tpl_points"}
  .m-pointlist-header
    %span.m-pointlist-header-label
      {{ header }}

  %ul.m-point-list


%script{ :type => "text/template", :id => "tpl_points_expandable"}
  .m-pointlist-browse-header  
    .m-pointlist-browse-header-close
      %a.m-pointlist-browse-toggle{'data-target' => 'browse-toggle'}
        {{ pros ? '&laquo;' : '' }} stop browsing points {{ pros ? '' : '&raquo;' }}
    
    .m-pointlist-browse-sort
      %span.m-pointlist-browse-sort-label
        sort by: 
      %ul
        (( _.each(sorts, function(sort){  ))
        %li.m-pointlist-sort-option
          %a{ :title => "{{ sort.title }}", :'data-target' => "{{ sort.target }}" }
            {{ sort.name }}
        (( }); ))

  .m-pointlist-header
    %span.m-pointlist-header-label{'data-target' => 'browse-toggle'}
      {{ header }}


  %ul.m-point-list

  (( if(has_points){ ))
  .m-pointlist-browse
    %a.m-pointlist-browse-toggle{'data-target' => 'browse-toggle'}
      (( if( browsing_all ) { ))
      Stop browsing
      (( } else { ))
      View all {{ cnt }} {{ label }}
      (( } ))
  (( } ))

%script{ :type => "text/template", :id => "tpl_points_user_reasons"}
  .m-pointlist-header
    %span.m-pointlist-header-label
      {{ header }}

  %ul.m-point-list


  .m-newpoint

    %a.m-newpoint-new
      Write a new {{ label }}

    .m-newpoint-form
      = hidden_field_tag :is_pro, "{{is_pro}}", :class => 'm-newpoint-is_pro'

      .m-newpoint-nutshell-wrap
        = text_area_tag :nutshell, nil, :placeholder => 'Summarize your point (required)', :cols => 28, :class => "m-newpoint-nutshell is_counted", :required=>true, :maxlength => 140, :pattern => "^.{3,}"
        %span.count
          140

      .m-newpoint-description-wrap
        = text_area_tag :text, nil, :placeholder => "Write a longer description (optional)", :title => "Write a longer description (optional)", :cols => 28, :class => "m-newpoint-description"

      .m-newpoint-anonymous-wrap
        %input.m-newpoint-anonymous{ :id => "{{hide_label}}", :name => "{{hide_label}}", :type => "checkbox"}

        %label{ :for => "{{hide_label}}", :title => 'We encourage you not to hide your name from other users. Signing your point with your name lends it more weight to other participants.'}
          Conceal your name

      .m-newpoint-submit
        %input.m-newpoint-create.button{ :type => 'submit', :value => 'Done'}

        %a.m-newpoint-cancel
          cancel
