%script{ :type => "text/template", :id => "tpl_point_view"}
  %span.m-point-header-region
  .m-point-wrap
    .m-point-wrap-region{ :'data-target' => "m-point-details", :'data-id' => "{{id}}" }
    .m-point-expansion-region

%script{ :type => "text/template", :id => "tpl_point_view_header"}
  (( if (hide_name || user.name == 'Anonymous' ) { ))
  %span.avatar.m-point-author-avatar.m-avatar-anonymous{:style => "background-image: url(/system/default_avatar/small_default-profile-pic.png)", :title => "This user has requested to remain anonymous"}
  (( } else if (user) { ))

  %a.avatar.m-point-author-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.name}}'s profile", :'data-id' => "{{user.id}}", :'data-target' => "user_profile_page" }
  (( } ))

  (( if(has_assessment){ ))
  .m-point-assessment-indicator-region
    %img{:src => "{{verdict.getIcon()}}"}
  (( } ))

%script{ :type => "text/template", :id => "tpl_point_view_body"}
  .m-point-nutshell-wrap
    .m-point-nutshell
      {{ adjusted_nutshell }}

  .m-point-details-description 
    {{ text }}

  .m-point-operations

    %a.m-point-read-more

    (( if( _.contains(actions, 'remove') ){ ))
    %button.m-point-remove{ :'data-target' => 'point-remove', :'data-id' => "{{id}}"}
      %i.icon-trash
      remove
    (( } ))



  (( if( _.contains(actions, 'include') ){ ))
  .m-point-include-wrap
    %button.m-point-include{ :'data-target' => 'point-include', :'data-id' => "{{id}}", :title => "Add this point to your list"}
      %i.icon-thumbs-up.icon-large
      //%i.icon-heart.icon-large
      //%i.icon-star.icon-large
      / %i.icon-plus-circle.icon-large
      / %i.icon-hand-right.icon-large
      / %i.icon-2x
      /   &#xf0a4;
      / %i.icon-2x
      /   &#xf18e;
      / %i.icon-2x
      /   &#xf0a9;
      / %span.icon-stack.icon-large
      /   %i.icon-stack-2x.icon-circle.icon-2x

      /   %i.icon-stack-1x.icon-arrow-right
      //%span.list_connector

  (( } ))

%script{ :type => "text/template", :id => "tpl_point_expanded"}
  .m-point-actions
    .m-point-follow-region.m-point-action
    .m-point-assessment-region.m-point-action
  .m-point-discussion

%script{ :type => "text/template", :id => "tpl_point_follow"}
  (( if(already_follows){ ))
  %button.m-point-follow
    Unfollow this point
  (( } else{ ))
  %button.m-point-follow{ :title => 'Get notifications when the point is updated or someone comments on it. You can easily unsubscribe later.'}
    Follow this point
  (( } ))
