%script{ :type => "text/template", :id => "tpl_static_position" }

  .m-static-position-reasons.m-static-position-reasons-supporting
    (( if(supporting_points.length > 0){ ))
    .m-static-position-reasons-label
      ((if (stance != 3) { ))
      Their reasons include: 
      (( } else {  ))
      They recognize these Pros:
      (( } ))
    %ul.m-static-position-reasons-list          
      (( _.each(supporting_points, function(pnt){ ))

      %li.m-static-position-point
        {{ pnt.get('nutshell') }} 
        %span.m-username
          &ndash; {{ pnt.getUser().get('name') }}
      (( }); ))

    (( } else { ))
    .m-static-position-reasons-none
      {{ user.name }} does not give any supporting reasons.
    (( } ))
  .m-static-position-reasons.m-static-position-reasons-opposing
    (( if(opposing_points.length > 0){ ))
    .m-static-position-reasons-label
      At the same time, {{ user.name }} recognizes these tradeoffs:          
    %ul.m-static-position-reasons-list          
      (( _.each(opposing_points, function(pnt){ ))
      %li.m-static-position-point
        {{ pnt.get('nutshell') }} 
        %span.m-username
          &ndash; {{ pnt.getUser().get('name') }}
      (( }) ))

    (( } else { ))
    .m-static-position-reasons-none
      {{ user.name }} does not recognize any tradeoffs. 
    (( } ))