//////////////// shared ////////////////
%script{ :type => "text/template", :id => "tpl_proposal_description"}
  .l-message.m-proposal-message.m-proposal-introduction
    .l-message-speaker.left.l-message-initiator
      %a{ :'data-id' => "{{ user_id }}", :'data-target' => "user_profile_page" }
        %img{:src => "{{ avatar }}"}

    .l-message-body.left.down.m-proposal-description
      = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

      .l-message-title.m-proposal-description-title

      (( if(!show_details){ ))
      %span.m-proposal-description-title-readmore
        [read more]
      (( } else if(!published) { ))
      .l-message-details.m-proposal-description-body

      (( } else { ))
      .l-message-details.m-proposal-description-body

      .m-proposal-description-details

        (( _.each(description_detail_fields, function(field) {  ))

        (( if( $.trim(field[2]) != '') { ))
        .m-proposal-description-detail-field
          .m-proposal-description-detail-field-heading
            {{ field[1] }}
            %a.hidden
              show
          .m-proposal-description-detail-field-full.hide
            %div{ :class => "m-proposal-description-detail-field-{{field[0]}}" }
              {{ field[2] }}
            %a.hidden
              show
        (( } ))

        (( }); ))

        (( _.each([{field: url1, name: 'Link'} ], function(url) {  ))
        (( if( url.field && $.trim(url.field) != '' ){ ))
        .m-proposal-url-field
          %a{ :href => "{{url.field}}", :target => "_blank"}
            {{url.name}}
        (( } ))
        (( }); ))

      (( } ))

    .l-message-recipient