//////////////// shared ////////////////
%script{ :type => "text/template", :id => "tpl_proposal_description"}

  .l-message.m-proposal-introduction

    .l-message-speaker.l-message-initiator
      %a{ :'data-id' => "{{ user_id }}", :'data-target' => "user_profile_page" }
        %img{:src => "{{ avatar }}"}

    .l-message-body.m-proposal-description
      = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

      .l-message-title
        %span.m-proposal-description-title
        (( if(!show_details){ ))
        %span.m-proposal-description-title-readmore
          more info
        (( if(active && !show_details) { ))
        %a.m-position-your-action-body.join{ :href => "{{Routes.new_position_proposal_path( long_id )}}", :title => "Decide on {{name}}"}
          //fa-pencil-square-o
          %i.icon-large 
            &#xf044;
          {{ call }}

        %a.m-reasons-view-results{:'data-target' => 'show-results'}
          %i.icon-bar-chart-o.icon-large 
            &#xf080;
          View Results
      
        (( } ))

        (( } ))

    

  (( if(show_details){ ))

  .l-message.m-proposal-details

    .l-message-body
      .m-proposal-description-body

      (( if(published) { ))
      .m-proposal-details-wrapper
        .m-proposal-description-details

          (( _.each(description_detail_fields, function(field) {  ))

          (( if( $.trim(field[2]) != '') { ))
          .m-proposal-description-detail-field
            .m-proposal-description-detail-field-heading
              %a.hidden
                Read {{ field[1] }} &raquo;
            .m-proposal-description-detail-field-full.hide
              %div{ :class => "m-proposal-description-detail-field-{{field[0]}}" }
                %h1
                  {{ field[1] }}
                {{ field[2] }}
              %a.showing
                hide
          (( } ))

          (( }); ))

        (( if(url1 && $.trim(url1) != '') { ))
        .m-proposal-description-details.m-proposal-links
          %h3
            More information
          (( _.each([{field: url1, name: 'Link'} ], function(url) {  ))
          (( if( url.field && $.trim(url.field) != '' ){ ))
          .m-proposal-url-field
            %a{ :href => "{{url.field}}", :target => "_blank"}
              {{url.name}}
          (( } ))
          (( }); ))
        (( } ))

      (( } ))

    
  (( } ))