

%script{ :type => "text/template", :id => "tpl_user_tooltip" }

  .l-tooltip.l-tooltip-user
    .l-tooltip-user-block
      .l-tooltip-title.l-tooltip-user-title
        .l-tooltip-user-name
          {{ user.name }}
        .l-tooltip-user-joined
          joined {{ joined_at }}



    .l-tooltip-user-metrics

      %ul
        (( _.each(metrics, function(metric) { ))
        (( var label = metric[0], attr = metric[1], style = metric[2]; ))

        %li.l-tooltip-user-metric{ :class => "l-tooltip-user-metric-{{style}}" }
          %span.l-tooltip-user-metric-number
            {{ user[attr] }}
          %span.l-tooltip-user-metric-desc
            {{ label }}

        (( }) ))

    .l-tooltip-user-actions
      (( if(proposal) { ))
      %a.l-tooltip-user-action{ :href => "{{Routes.user_position_proposal_path(proposal.id, user.id)}}", :'data-target' => 'user_position_page', :'data-proposal-id' => "{{proposal.id}}", :'data-user-id' => "{{user.id}}" }
        Read their thoughts on this issue
      (( } ))
      / %a.l-tooltip-user-action.l-tooltip-user-profile{ :'data-target' => 'user_profile_page', :'data-id' => "{{user.id}}" }
      /   View their profile


%script{ :type => "text/template", :id => "tpl_dialog_detachable"}
  .l-dialog-title
    {{ title }} 
    
    %a.l-dialog-close.cancel{ :'data-target' => 'dialog-close'}
      {{ close_label }}

  .l-dialog-body

%script{ :type => "text/template", :id => "tpl_sticky_footer"}
  .l-sticky-content-region

