//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

- if false
  - proposals = get_proposals
  - if proposals.count > 1
    .proposal_menu
      .prompt
        Consider a different proposal
        = image_tag "user_settings_triangle.png", :class => 'triangle_img'

      %ul.hide
        - proposals.each do |proposal|
          - if proposal != @proposal
            %li
              %a{ :href => proposal_path(proposal.long_id) }
                #{proposal.short_name} &ndash; #{proposal.domain_short} #{proposal.designator}