-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- prompt ||= 'Read more and comment'


- carousel ||= false

.proposals{ :class => "#{style} horizontal" }
  - if carousel
    .paginate.first
      %button.back
        &#9664;
  .carousel{ :name => "proposals" }
    %ul
      = render :partial => "proposals/blocks/item", :collection => get_proposals_by_rank.active, :as => :proposal, :locals => { :show_full_text => false, :style => style, :hide_initially => hide_initially, :prompt => prompt }
    .clear

  - if carousel

    .paginate.last
      %button.forward.not_ajax
        &#9654;
  .clear

