//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

.proposals{ :class => "#{style} horizontal" }
  .paginate.first
    %button.back
  .carousel{ :name => "proposals" }
    %ul
      - get_proposals_by_rank.each do |proposal|
        = render :partial => "proposals/blocks/item", :locals => { :proposal => proposal, :show_full_text => false, :style => style, :hide_initially => hide_initially }
    .clear
  .paginate.last
    %button.forward.not_ajax
  .clear

