- name: Make .ssh directory
  file: path=~/.ssh owner={{user}} state=directory
  sudo: False

- name: Create authorized_keys
  template: src=templates/ssh/authorized_keys.j2 dest=~/.ssh/authorized_keys mode=400
  sudo: false
  when: ssh.pubkeys


# THIS WILL FAIL UNLESS YOU HAVE ACCESS TO THE CONSIDERIT DROPBOX & ARE ON A MAC
- name: Make .ssh directory
  local_action: file path=templates/ssh state=directory
  sudo: False

# note: local_action's current working directory is the location of the top level playbook
- name: Copy github ssh deploy key from private considerit dropbox
  local_action: "shell cp -r ~/Dropbox/ConsiderIt/Local_dev_requirements/zansible/templates/ssh/github templates/ssh"
  sudo: False
############

# Github 
- name: Copy over Github private rsa deploy key
  copy: src=templates/ssh/github/{{deploy_key}}_rsa dest=~/.ssh/{{deploy_key}}_rsa mode=700
  sudo: False

- name: Add github ssh key to config file
  template: src=templates/ssh/ssh_config.j2 dest=~/.ssh/config
  sudo: False

- name: Add Github to known hosts
  shell: ssh-keyscan github.com >> ~/.ssh/known_hosts
  sudo: False