.cl 
  clear: both

#admin
  &.points,
  &.comments,
  &.users
    > table
      tr:nth-child(2n+1)
        background-color: #ddd
      
      tr > td
        margin-bottom: 10px
        padding: 10px
        border-bottom: 1px solid #ddd
  &.points
    > table
      tr > td          
        &.measure
          width: 5%
        &.designation
          width: 3%
          
        &.nutshell
          width: 25%
        &.text
          width: 30%
        &.form
          width: 25%

  &.comments
    > table
      tr > td          
        &.measure
          width: 5%
        &.subject
          width: 25%
        &.body
          width: 38%
        &.form
          width: 20%          
          
          
  &.cards
    font-size: 10px
    width: 600px
    max-width: 600px
     
    ul
      width: 600px
    > ul > li.pnt
    
      float: left
      width: 200px 
      height: 250px
      border: 4px solid #aaa
      padding: 10px 20px
      margin: 5px
      
      .head
        font-size:  90%
        
        .designation, .dot, .measure, .id
          float: right   
          padding: 0 5px
          
        .dot
          font-weight: bold
    
      .nutshell
        font-size: 110%
        margin: 10px 0
        
      .text
        font-size: 90%
        color: #444
