$button_color: #062D8F
$bk_darkest_gray: #B4B4B4
$bk_dark_gray: #555
$bk_gray: #D0D0D0
$bk_light_gray: #E6E6E6
$bk_dark_red: #710000
  
$bk_dark_blue: #0342A1
$bk_blue: #74ABFF
$bk_light_blue: #ADCDFF

$bk_green: #3A763A
$bk_red: #763939

$txt_dark_gray: #272727
$txt_gray: #999
$txt_light_gray: #C1C1C1
$txt_blue: #0342A1
$txt_red: #8d0808
$txt_green: #578E81
$txt_purple: #7B538D

$brd_gray: #666
$brd_light_gray: #848484

$brd_green_dark: #1C3B1D
$brd_red_dark: #3B1D1D

@import "mixins"

@import "points/point_in_list"
@import "points/new_point"

@import "point_links/point_links"

@import "initiatives/shared"
@import "initiatives/edit"
@import "initiatives/pro_con_container"
@import "initiatives/initiative_block"
@import "initiatives/view_breakdown"

@import "comments/comment"
@import "comments/discussion"
@import "comments/comment_form"

@import "stances/stances"

@import "home/index"
@import "static/static"
@import "shared/footer"
@import "shared/header"
@import "shared/form_validation"
@import "accounts/sessions"

@import "carousel"

*
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  font-weight: bold

strong
  font-weight: bold
  
h1
  font-size: 28px
  
.clear
  clear: both

.center
  text-align: center

.fl
  float: left

.fr
  float: right

.italic
  font-style: italic

input[type="submit"].linkify,
button.linkify
  background-color: transparent
  color: inherit
  border: none

div.autosize 
  display: table
  width: 1px
  
  > div 
    display: table-cell

.hide
  display: none
table
  border-collapse: separate  

html
  background-color: $bk_darkest_gray
  min-height: 100%
  height: 100%
  
body
  color: #222
  font-family: Helvetica Neue, Helvetica, Calibri, sans-serif
  font-size: 14px
  min-height: 100%
  height: 100%
#wrap
  position: relative
  > div
    width: 940px
    margin: 0 auto
    padding: 10px 25px
    background-color: white    
    position: relative    

#content
    

  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden


h2

  &.sub_follows
    margin-bottom: 0px
    line-height: normal

p
  margin-bottom: 18px

a
  color: $txt_blue
  outline: none
  cursor: pointer  
  text-decoration: none
  img
    border: none

ul
  margin: 0
  list-style-type: disc

ol
  margin: 0
  list-style-type: decimal

dl
  margin: 0 0 18px
  dt
    font-weight: bold

dd
  margin-left: 18px
  
label
  letter-spacing: -1px
  text-transform: capitalize

input, textarea
  padding: 6px
  vertical-align: top

input[type="text"], input[type="password"], input[type="email"], textarea
  border: 1px solid #7E7E7E
  color: #333
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  vertical-align: top
  margin: 3px 2px
  box-shadow: none

  &.blur, &.example
    color: $txt_gray
  &:focus
    background-color: azure  
    border-color: DeepSkyBlue 

button.gray,
input[type="submit"].gray  
  background-color: #999
  
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.07, rgb(119,119,119)), color-stop(1, rgb(204,204,204)))
  
  background-image: -moz-linear-gradient(center bottom, rgb(119,119,119) 7%, rgb(204,204,204) 100%)

  color: $txt_dark_gray

  font-size: 12px
  padding: 3px 15px

button,
input[type="submit"]
  background-color: #082872
  color: white
  padding: 3px 10px
  font-size: 14px
  cursor: pointer
  
  &:focus
    background-color: gray
    border-color: gray

#wrap
  position: static

.message
  background-color: white 
  font-size: 18px
  text-align: center
  border: 10px solid black
  padding: 25px
  width: 350px

.add_qtip
  cursor: help
  
ul.form
  @include nude-list
  > li
    width: 95%  
    margin-top: 4px    
    
    input
      display: block
      &[type="text"], &[type="password"]
        width: 100%
      &.check
        width: 15px
        display: inline
        &#eula,
        &#study,
        &#user_session_remember_me
          margin-top: 5px
      &#user_avatar
        width: 70%

    &.check
      margin-top: 10px
      label
        text-transform: none
        letter-spacing: normal
              
        span
          height: 100%
          vertical-align: middle
          font-size: 12px

#user_session_submit
  margin-top: 15px
  

.available_themes
  position: absolute
  top: 5px
  left: 250px
  
  li
    float: left
    padding: 10px
    border-right: 1px dotted black
 
#point_similarity
  
  
  form
    margin: auto
    width: 650px
    
    .point_to_be_compared
      border: 3px solid #eee
      padding: 10px
      width: 250px
      &#p1
        margin-left: 10px
        float: left
      &#p2
        margin-right: 10px
        float: right
    
    .current_value
      margin: 10px auto
      width: 325px
      text-align: center
      border: 1px solid #85D55D
      background-color: #CEEEBE
      color: #5CB62F
      padding: 5px
      
    .slider_wrapper
      margin: 20px auto
      color: #aaa
      
      > div
        margin: 0 auto
      

      
      .slider_footer
      
        width: 650px
        height: 25px
        margin-left: 5px
        .right
          float: left   
          margin-left: 20px
        .left
          float: left
          margin-right: 20px
          
        #similarity_slider
          width: 325px
          margin: 0 auto
          float: left
          
    .submit_buttons
      width: 200px
      .left
        float: left
      .right
        float: right
      input
        background-color: white
        border: none
        color: black
        
      margin: 0 auto
    .progress
      margin-top: 20px
      color: #aaa
      text-align: center
    .completed
      margin: 0 auto
      background-color: black
      color: white
      padding: 10px
      width: 250px
      text-align: center

a.rate_point_similarity
  color: white

#infovis 
  height: 500px

#lightbox
  
  background: transparent
  opacity: 0.75
  zoom: 1
  position: fixed
  top: 0px
  left: 0px
  min-width: 100%
  min-height: 100%
  width: 100%
  height: 100%
  z-index: -100

.ui-menu
  background-color: rgba(0, 0, 0, 0.4)

  .ui-menu-item a
    color: $txt_light_gray

  .ui-menu-item:hover
    a
      color: white
      border: 1px solid black
      background-color: black
      border-radius: 0px

.shadow_centered
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8)
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8)
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8)

.shadow_offset
  -moz-box-shadow: 2px 4px 0.5em rgba(0, 0, 0, 0.8)
  -webkit-box-shadow: 2px 4px 0.5em rgba(0, 0, 0, 0.8)
  box-shadow: 2px 4px 0.5em rgba(0, 0, 0, 0.8)

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
  opacity: 1
