
.reset
  .reset_form
    .unlock
      %span.inlined
        = text_field_tag :zip, '', :placeholder => 'Your zip code', :title => 'Type your zip code to unlock your local ballot measures', :id => 't-unlock-measures-zip'
      = submit_tag 'Unlock local measures', :class => 'button', :id => 't-unlock-measures-button'

