- is_cali = current_tenant.identifier == 'cali'

- if is_cali

  - links = [{:anchor => 'New America Foundation', :title=> 'New America Foundation', :link=>'http://www.newamerica.net/'}, {:anchor => 'Davenport Institute (Formerly Common Sense CA)', :title=> 'Davenport Institute (Formerly Common Sense CA)', :link=>'http://publicpolicy.pepperdine.edu/davenport-institute/'}, {:anchor => 'Zocalo Public Square', :title=> 'Zocalo Public Square', :link=>'http://zocalopublicsquare.org/'}, {:anchor => 'Center for CA Studies at Sacramento State University', :title=> 'Center for CA Studies at Sacramento State University', :link=>'http://www.csus.edu/calst/'}, {:anchor => 'California Participation Project', :title=> 'California Participation Project', :link=>'http://caparticipates.org/'}, {:anchor => 'Cal State LA - Pat Brown Institute', :title=> 'Cal State LA - Pat Brown Institute', :link=>'http://www.patbrowninstitute.org/'}] 

- else
  - links = [{:anchor=>'501 Commons',:link=>'http://www.501commons.org/'}, {:anchor=>'American Society for Public Administration, Evergreen',:link=>'http://www.evergreenaspaonline.org/'}, {:anchor=>'City Year Seattle/ King County',:link=>'http://www.cityyear.org/seattle.aspx'}, {:anchor=>'Dumas and Associates',:link=>'http://www.dumasassoc.com/'}, {:anchor=>'Everett Public Library',:link=>'http://www.epls.org/'}, {:anchor=>'Global Washington',:link=>'http://globalwa.org/'}, {:anchor=>'Greater Seattle Business Association',:link=>'http://www.thegsba.org/'}, {:anchor=>'Guiding Lights Network',:link=>'http://www.guidinglightsnetwork.com/'}, {:anchor=>'Humanities Washington',:link=>'http://www.humanities.org/'}, {:anchor=>'King County Elections',:link=>'http://www.kingcounty.gov/elections.aspx'}, {:anchor=>'King County Library System',:link=>'http://www.kcls.org/>'}, {:anchor=>'Kitsap Regional Library',:link=>'http://www.krl.org/index.php'}, {:anchor=>'Leadership Eastside',:link=>'http://www.leadershipeastside.com/'}, {:anchor=>'Leadership Tomorrow',:link=>'http://www.leadershiptomorrowseattle.org/index.html'}, {:anchor=>'League of Education Voters',:link=>'http://www.educationvoters.org/'}, {:anchor=>'Lopez Island Library District',:link=>'http://www.lopezlibrary.org/'}, {:anchor=>'Municipal League of King County',:link=>'http://www.munileague.org/'}, {:anchor=>'North Olympic Library System',:link=>'http://www.nols.org/'}, {:anchor=>'Northwest Progressive Institute',:link=>'http://www.nwprogressive.org/'}, {:anchor=>'Orcas Island Library District',:link=>'http://www.orcaslibrary.org/',:link=>''}, {:anchor=>'Pend Oreille County Library District',:link=>'http://www.pocld.org/'}, {:anchor=>'Philanthropy Northwest',:link=>'http://www.philanthropynw.org/'}, {:anchor=>'Pierce County Library System',:link=>'http://www.piercecountylibrary.org/'}, {:anchor=>'Seattle Center Next Fifty', :link => 'http://www.seattlecenter.com/thenextfifty/home.aspx>'}, {:anchor=>'Seattle Public Library',:link=>'http://www.spl.lib.wa.us/'}, {:anchor=>'Seattle Works',:link=>'http://www.seattleworks.org/'}, {:anchor=>'Sno-Isle Libraries',:link=>'http://www.sno-isle.org/'}, {:anchor=>'Spokane Public Library',:link=>'http://www.spokanelibrary.org/'}, {:anchor=>'Tacoma Public Library',:link=>'http://www.tpl.lib.wa.us/Default.aspx'}, {:anchor=>'United Way of King County',:link=>'http://www.uwkc.org/'}, {:anchor=>'University of Washington Department of Communication',:link=>'http://www.com.washington.edu/'}, {:anchor=>'Washington News Council',:link=>'http://wanewscouncil.org/'}, {:anchor=>'Washington Policy Center',:link=>'http://www.washingtonpolicy.org/'}, {:anchor=>'Washington State Broadband Office',:link=>'http://broadband.wa.gov/'}, {:anchor=>'Washington Women\'s Foundation',:link=>'http://www.wawomensfoundation.org/'}, {:anchor=>'Whatcom County Library System',:link=>'http://www.wcls.org/'}, {:anchor=>'Whitman County Rural Library District',:link=>'http://www.whitco.lib.wa.us/'}, {:anchor=>'Women’s Funding Alliance',:link=>'http://www.wfalliance.org/'}, {:anchor=>'YWCA Seattle | King | Snohomish',:link=>'https://www.ywcaworks.org/netcommunity/'} ]


#static.copromoters.centerpad

  %h1
    Thanks to all of our co-promoters!

  %ul
    - links.each do |link|
      %li
        = link_to(link[:anchor] , link[:link], :target => "_blank", :title => link[:anchor], :rel => 'nofollow')



