#fact_check
  .spl_logo
    = link_to theme_image_tag('spl-logo.png'), 'http://spl.org'

  .statement
    %h3
      The Seattle Public Library is partnering with CityClub to provide reference assistance for users of the Living Voters Guide.

    %p
      To ask a librarian to check the facts of a claim on the Living Voters Guide, click the &#8220;Ask a Librarian&#8221; button at the bottom of each post. Librarians will respond to each request within 48 hours. We will assign each claim a status of &#8220;accurate,&#8221; &#8220;questionable,&#8221; or &#8220;unverifiable&#8221; and will post a response with further information and the sources used to evaluate the claim.

    %p
      We will make every effort to find a variety of sources and to post a fair, balanced, and complete response to each request. Librarians will spend up to two hours per request; if an answer cannot be found in this timeframe, we will note this in our response. Librarians are not experts on current ballot measures; but we are experts in finding information. We will respond to all requests and present the best information we can find in an attempt to evaluate the veracity of a claim.

    %p
      Some types of questions fall beyond the boundaries of what librarians are able to verify:
    %ul
      %li
        We will not conduct in-depth legal or financial analysis, but we will point users to research that has already been conducted.
      %li
        We will not evaluate the merits of value or opinion statements, but we will evaluate factual components of these statements.
      %li
        We will not evaluate the likelihood of hypothetical statements, but we will evaluate factual components of these statements.

    %p
      The Library is not the final word on what is the truth. Our responses represent our best effort of evaluating statements by Living Voters Guide users, given the information we are able to find. This is an experiment; we hope that our efforts will support informed discussion of civic issues.
