#static.media.centerpad

  %h1
    Media    

  .desc
  
    %p
      The Living Voters Guide brings together 
      voters to discuss and explore their positions on ballot measures. Unlike traditional voters’ guides issued by governments, advocacy groups, and other organizations, 
      it is co-created solely by its participants. It will evolve continuously throughout the election season as citizens consider the tradeoffs for each measure. 

    %h2
      Contact us
                  
    %p
      Please send all media inquiries to
      %strong
        = mail_to "info@livingvotersguide.org", 'info@livingvotersguide.org', :encode => 'hex'

  .list
    %h1
      Stories
    

    %h3
      2012

    %ul


      %li
        %a{ :href => "http://readwrite.com/2012/10/26/need-accurate-political-fact-checking-ask-a-librarian", :target => "_blank", :rel => "nofollow"}
          Need Accurate Political Fact-Checking? Ask a Librarian
        .loc
          ReadWrite, 10/26/12

          
      %li
        %a{ :href => "http://www.kplu.org/post/living-voters-guide-just-facts", :target => "_blank", :rel => "nofollow"}
          Living Voters Guide – Just the Facts
        .loc
          KPLU, 10/26/12

      %li
        %a{ :href => "http://www.artsci.washington.edu/newsletter/Oct12/LVG.asp", :target => "_blank", :rel => "nofollow"}
          A Resource for Discussion, Civic and Civil
        .loc
          UW Arts & Sciences Perspectives Newsletter, 10/23/12

      %li
        %a{ :href => "http://americanlibrariesmagazine.org/news/10232012/seattle-librarians-elected-fact-check-living-voters-guide", :target => "_blank", :rel => "nofollow"}
          Seattle Librarians Elected to Fact-Check the Living Voters Guide
        .loc
          American Libraries Magazine, 10/23/12

      %li
        %a{ :href => "http://lj.libraryjournal.com/2012/10/library-services/seattle-librarians-fact-checking-voter-guide/", :target => "_blank", :rel => "nofollow"}
          Seattle Librarians Fact Checking Voter Guide
        .loc
          Library Journal, 10/19/12

      %li
        %a{ :href => "http://www.geekwire.com/2012/living-voters-guide/", :target => "_blank", :rel => "nofollow"}
          Librarians as political fact-checkers: New feature in online voters guide
        .loc
          Geekwire, 10/17/12   

      %li
        %a{ :href => "http://seattletimes.com/html/technologybrierdudleysblog/2019458742_online_voter_guide_gets_fact-c.html", :target => "_blank", :rel => "nofollow"}
          Online voter guide gets fact-checking librarians
        .loc
          Seattle Times, 10/17/12   

      %li
        %a{ :href => "http://www.washington.edu/news/2012/10/17/living-voters-guide-adds-fact-checking-by-seattle-librarians-for-2012-election/", :target => "_blank", :rel => "nofollow"}
          Living Voters Guide adds fact-checking by Seattle librarians for 2012 election
        .loc
          University of Washington, 10/17/12   

      %li
        %a{ :href => "http://www.sacbee.com/2012/10/17/4918941/award-winning-living-voters-guide.html", :target => "_blank", :rel => "nofollow"}
          Award-Winning Living Voters Guide 2012 Launched in Washington & California
        .loc
          Sacramento Bee, 10/17/12   

      %li
        %a{ :href => "http://www.thegatesnotes.com/Personal/Social-Innovation-Fast-Pitch-American-Idol-for-Non-Profits", :target => "_blank", :rel => "nofollow"}
          Bill Gates likes the Living Voters Guide
        .loc
          The Gates Notes, 10/8/12   


      %li
        %a{ :href => "http://blogs.seattletimes.com/monica-guzman/2012/10/02/living-voters-guide-whichbus-win-top-honors-in-state-app-contest/", :rel => "nofollow"}
          Living Voters Guide, WhichBus win top honors in state app contest
        .loc
          Seattle Times, 10/2/12

      %li
        %a{ :href => "http://www.geekwire.com/2012/local-developers-awarded-government-app-challenge/", :target => "_blank", :rel => "nofollow"}
          Meet the winners of the state’s first-ever app challenge
        .loc
          GeekWire, 10/2/12  

    %h3
      2011

    %ul
      %li
        %a{ :href => "http://www.washington.edu/news/articles/living-voters-guide-updated-for-november-election", :target => "_blank", :rel => "nofollow"}
          Living Voters Guide updated for November election
        .loc
          UW Today, 10/26/11   

      %li
        %a{ :href => "http://blogs.sos.wa.gov/FromOurCorner/index.php/2011/10/cityclub-uw-offer-living-voters-guide/", :target => "_blank", :rel => "nofollow"}
          CityClub, UW offer Living Voters Guide
        .loc
          Secretary of State blog, 10/13/11   

      %li
        %a{ :href => "http://www.spokesman.com/stories/2011/oct/09/guest-opinion-a-guide-of-by-and-for-voters/", :target => "_blank", :rel => "nofollow"}
          A guide of, by and for voters
        .loc
          The Spokesman, 10/9/11   

      %li
        %a{ :href => "http://news.cs.washington.edu/2011/10/06/the-living-voters-guide-a-citizen-generated-guide-to-the-washington-state-2011-election/", :target => "_blank", :rel => "nofollow"}
          The Living Voters Guide: A citizen-generated guide to the Washington State 2011 election
        .loc
          Computer Science & Engineering News, 10/6/11   

      %li
        %a{ :href => "http://www.seattle24x7.com/community/e-city/2011/10/05/2011-living-voters-guide-wants-you/", :target => "_blank", :rel => "nofollow"}
          2011 Living Voters Guide Wants You!
        .loc
          Seattle 24x7, 10/5/11   

      %li
        %a{ :href => "http://seattletimes.nwsource.com/html/politicsnorthwest/2016416220_votersguide.html", :target => "_blank", :rel => "nofollow"}
          CityClub, UW launch Living Voters Guide
        .loc
          Seattle Times, 10/5/11

    %h3
      2010
      
    %ul

      %li
        %a{ :href => "http://dailyuw.com/2010/10/20/uw-project-offers-new-online-discussion-platform-s/", :target => "_blank", :rel => "nofollow"}
          UW project offers new online discussion platform for state initiatives
        .loc
          The UW Daily, 10/20/10   
      %li
        %a{ :href => "http://shelftalk.spl.org/2010/10/05/crowdsourcing-or-cloudsourcing-politics-%E2%80%93-seattle-style/", :target => "_blank", :rel => "nofollow"}
          Crowdsourcing or Cloudsourcing Politics – Seattle Style
        .loc
          Shelf Talk, Seattle Public Library, 10/5/10               
      %li
        %a{ :href => "http://www.mynorthwest.com/category/local_news_articles/20101005/Site-hopes-to-capture-the-wisdom-of-Washingtonians-on-ballot-measures/", :target => "_blank", :rel => "nofollow"}
          Site hopes to capture the wisdom of Washingtonians on ballot measures
        .loc
          KIRO Radio, MyNorthwest.com, 10/5/10 
      %li
        %a{ :href => "http://uwnews.org/article.asp?articleID=60616", :target => "_blank", :rel => "nofollow"}
          'Living Voters Guide' invites Washington voters to hash out ballot initiatives 
        .loc
          UW News, 10/4/10               

                  
      %li
        %a{ :href => "http://legalinformatics.wordpress.com/2010/09/29/crowdsourcing-ballot-initiative-voters-guides-living-voters-guides/", :target => "_blank", :rel => "nofollow"}
          Crowdsourcing Ballot Initiative Voters’ Guides: Living Voters’ Guides
        .loc
          Legal Informatics Blog, 9/29/10 

      %li
        %a{ :href => "http://www.bessettepitney.net/2010/09/civic-life-and-deliberation.html", :target => "_blank", :rel => "nofollow"}
          Civic Life and Deliberation
        .loc
          John Pitney, 9/28/10

      %li
        %a{ :href => "http://socialcapitalreview.org/living-voters-guide-stokes-debate-on-wa-ballot-measures/", :target => "_blank", :rel => "nofollow"}
          Living Voters Guide Stokes Debate On WA Ballot Measures
        .loc
          Social Capital Review, 9/27/10

      %li
        %a{ :href => "http://blogs.bellinghamherald.com/politics/election/seattle-developers-unveil-living-voters-guide/", :target => "_blank", :rel => "nofollow"}
          Seattle developers unveil ‘Living Voters Guide’
        .loc
          Politics Blog @ The Bellingham Herald, 9/27/10
      %li
        %a{ :href => "http://seattletimes.nwsource.com/html/opinion/2013012215_guest28douglas.html?prmid=op_ed", :target => "_blank", :rel => "nofollow"}
          New voters guide will heal rifts through voter education and dialogue
        .loc
          Seattle Times op-ed, 9/27/10

      %li
        %a{ :href => "http://wanewscouncil.org/2010/09/24/seattle-developers-release-new-open-source-tool-to-combat-ballot-fatigue/", :target => "_blank", :rel => "nofollow"}
          Seattle developers release new open source tool to combat ballot fatigue
        .loc
          WA News Council, 9/24/10          

                        