#static.tos
  
  %h2
    LVG Terms of Use


  %p
    Welcome to the Living Voters Guide! The following terms of use are provided to make explicit your rights and 
    responsibilities as a participant and to inform you of how your contributions to this site will be used. This 
    page will cover four topics:
  %ul
    %li
      Participation rules
    %li
      Privacy and data collection policy
    %li
      Living Voters Guide content; removing your living voters guide registration
    %li
      Liability statement

  %h3
    Participation rules

  %p
    In order to foster an environment conducive to civil and on-topic political discussion, please abide by the following rules. Violation of any of these rules may result in account suspension or deactivation.

  %ul
    %li
      Do not make personal attacks or use offensive language. Disagreement is both inevitable and welcome on the LVG; offensive behavior is not. In your posts please refrain from name-calling; using expletives; slurs against race, ethnicity, gender, and sexual orientation; and other insults. A basic rule of thumb is to focus your attention on the initiatives themselves rather than on the people advocating or opposing them. Doing so will help ensure that the LVG is a welcoming space for all Washington citizens.
    %li
      Express only your own opinions and not those of any campaign, candidate, or party. We are interested only in the opinions of private citizens, and specifically not in the positions of established political parties or interest groups. Therefore when you express yourself on the LVG, please make sure to express only your own personal opinion. Of course, it's fine if your personal opinion is similar to one from a party or interest group, but please use your own words in expressing it. The bottom line is, no one should be using this site as part of their paid advocacy duties.
    %li
      Though you may change your stance at any time, do not create multiple accounts. Please sign up for and use one and only one account. Multiple accounts belonging to a single individual will be deactivated immediately.



  %a{ :name => "privacy_policy"}
  %h3
    Privacy and data collection policy
    
  %p
    The Living Voters Guide is being developed in partnership with a research group at the University of Washington. The purpose of our research is to design and test new software systems to better support civic engagement and participation. By using this site, you certify that you agree to have information about how you use this site collected.

  %p
    This Privacy Policy covers the Living Voters Guide's treatment both of anonymous and of personally identifiable information that we collect when you are on the web site or when you participate in other programs we provide.  For more information, please see our project website at  http://dub.washington.edu/projects/engage or send email to info@livingvotersguide.org. 
    
  %h4
    Data collected

  %p
    We are collecting session logs that record users' interaction with the website, including a hash of the IP address of the machine they are coming from, the geographic region of the IP address, timestamped keystrokes, mouse clicks, and mouse position. We are also recording a hash of the login name of any logged in user. A "hash" of the IP address means that we will take the actual internet address and transform it into a unique code that will only correspond to that one IP address. However, this will be a one-way cryptographic transformation: the stored information will let us determine whether this is the same address when used again, but won't let us (or anyone else) determine the actual IP address from the hash. Similarly, by taking the hash of the login name, we can determine whether two sessions are from the same user, but won't store any personally identifying information. 


  %h3
    Living Voters Guide content; removing your living voters guide registration

  %p
    Text is available under the 
    %a{ :href => "http://creativecommons.org/licenses/by-sa/3.0/" }
      Creative Commons Attribution-ShareAlike License.
    (This is the same license that is used for example in Wikipedia.)
    Please notify us if you see any other information about
    you or others that is incorrect, or if you want to correct your registration. Also please notify us if you want to remove your registration and profile for Living Voters Guide. However, if you remove your registration, your contributions may remain as part of the collective Living Voters Guide content. 

    
  %h3
    Liability statement

  %ul
    %li
      The Living Voters Guide provides a vehicle for citizens to exchange ideas and content. Living Voters Guide managers and sponsors are not responsible for the opinions, links and other content posted on this site, with the exception of information posted by the mangers of the site.
    %li
      There is no guarantee that access to the site will be uninterrupted or error free. The site is provided on an “as available” basis without warranties of any kind, either express or implied. We are not responsible if specific content is improperly displayed, not posted or not available.
    %li
      Neither Living Voters Guide managers nor its sponsors are liable for any legal damages based on any claim of the user, or as a result of the user's employing this service.
    %li
      The Living Voters Guide managers reserve the right to determine how long content remains on this site.

  %p
    LVG Terms of Use version of 24 September 2010
