@import "variables"

////////////////////////////
// TOOLTIPS
//////////////////////////


$tooltip_width: 250px
.l-tooltip-user-title

  .l-tooltip-user-name
    font-weight: bold
    line-height: .7

.l-tooltip-user-joined
  +font-size(-4)

.l-tooltip-user
  min-width: $tooltip_width
  padding: $vertical_baseline / 2 $grid_gutter / 2 

  .l-tooltip-user-block
    vertical-align: baseline

  .l-tooltip-user-metric
    list-style: none
    margin-right: $grid_gutter/2
    +font-size(-3)
    line-height: 1
    display: inline-block
    &:last-child
      margin-right: 0

  .l-tooltip-user-metric-major    
    padding: 0 $grid_gutter/4

  .l-tooltip-user-metric-number, .l-tooltip-user-metric-desc
    text-transform: lowercase
    font-variant: small-caps

  .l-tooltip-user-actions
    clear: both

    .l-tooltip-user-action, .l-tooltip-user-action:hover
      +font-size(-2)
      text-align: center
      width: 100%
      min-width: $tooltip_width
      display: inline-block
      border-radius: 0
      border-bottom: 0

