@import "variables"

////////////////////////////
// TOOLTIPS
//////////////////////////


$tooltip_width: 225px
.l-tooltip-user-title

  .l-tooltip-user-name
    font-weight: bold
    line-height: .7

.l-tooltip-user-joined
  +font-size(-4)

.l-tooltip-user
  min-width: 200px

  .l-tooltip-user-block, .l-tooltip-user-metrics

  .l-tooltip-user-block
    vertical-align: baseline

  .l-tooltip-user-metrics

  .l-tooltip-user-metric
    list-style: none
    margin: 0 0 $vertical_baseline/8 $grid_gutter/8
    +font-size(-3)
    line-height: 1
    display: inline-block

  .l-tooltip-user-metric-major    
    color: white
    //background-color: rgba(darken($callout_bg_color, 8%), .5)
    padding: 0 $grid_gutter/4
    margin-left: $grid_gutter/4

  .l-tooltip-user-metric-minor


  .l-tooltip-user-metric-number, .l-tooltip-user-metric-desc
    text-transform: lowercase
    font-variant: small-caps

  .l-tooltip-user-actions
    clear: both

    .l-tooltip-user-action
      +font-size(-2)
      color: white
      text-align: center
      width: 100%
      min-width: $tooltip_width
      display: inline-block
      border-radius: 0
      border-bottom: 0

      &:hover
        border-radius: 0


