@import "variables"

// Static Position

$static_position_width: $body_width+$grid_major
.m-static-position
  width: $static_position_width
  .m-static-position-reasons
    text-align: left


  .m-static-position-reasons-label
    font-weight: bold

  .m-static-position-reasons-list
    padding: $vertical_baseline / 2 $grid_xs 0 $grid_xs

  .m-static-position-point
    +font-size(-2)
    margin-bottom: $vertical_baseline/2

  .m-username
    font-style: italic
    white-space: nowrap
    display: inline-block

  .m-static-position-reasons-none
    font-weight: bold
