#sessions
  h3
    margin-bottom: 0px
    line-height: 20px
  h2
    line-height: 30px
  
  ul.form
    width: 385px
    
    > li.input_validates
      height: 50px
      
    fieldset
      border: 1px solid #ccc
      margin: 10px 5px
        
      legend
        font-size: 14px
        color: $txt_gray
        margin-left: 10px
      ul
        padding: 5px 0
        li.notifications
          padding: 3px 0
          label
            letter-spacing: 0px
            text-transform: none
          input
            display: inline
            height: 20px
            width: 20px
            margin-right: 5px
          
  #pledge
    display: none
    width: 385px
    
    ul
      margin-left: 10px
      
      li
        padding-bottom: 10px
        font-size: 12px
      
.ui-dialog       
  background: none repeat scroll 0 0 transparent
  border: none
  
  .ui-dialog-titlebar
    background: none repeat scroll 0 0 transparent
    border: none
    height: 24px
    margin: 0
    padding: 0
    position: relative
    z-index: 1000
    
    .ui-dialog-titlebar-close
      position: absolute
      z-index: 999
      top: 38px
      background-color: gray
      left: 400px
    
.ui-widget-overlay
  background: none repeat scroll 0 0 black
  opacity: .75

#initial_form
  .extra
    font-size: 12px
    color: $txt_gray
    padding-top: 10px
    
#settings_dialog,
#create_dialog,      
#login_dialog
  display: none
  background: none repeat scroll 0 0 white
  padding: 20px
  
  > #sessions
    width: 400px
  
  a
    font-weight: bold
    &:hover
      text-decoration: underline

    &.faux_account_create
      background-color: gray
      color: white
      padding: 6px
      margin-top: 5px
      &:hover
        text-decoration: none  
      &[disabled="disabled"], &[disabled="true"]
        background-color: #ddd
        color: #aaa
        cursor: default