%script{ :type => "text/template", :id => "tpl_header_logo" }
  
  .cityclub
    %a.t-logo{ :href => 'http://www.seattlecityclub.org/', :title => 'Learn more about Seattle CityClub'}
      %span.t-logo-tagline
        brought to you by 

      %span.t-logo-name
        Seattle CityClub

  .considerit
    %a.t-logo{ :href => 'http://consider.it', :title => 'Learn more about ConsiderIt'}

      %span.t-logo-tagline
        powered by 
      
      %span.t-logo-name
        Consider
      %span.t-logo-name
        It

