%script{ :type => "text/template", :id => "tpl_homepage_heading" }

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      

  .t-intro-wrap{:'data-domain' => 'homepage'}
    .l-content-wrap.t-intro

      = theme_image_tag 'logo_large.png', :class => 't-logo'

      #t-intro-people  
        - rows = 7
        - users_per_row = 38


        - pics = current_tenant.id == 2 ? User.unscoped.where('avatar_file_name IS NOT NULL AND account_id in (1,2)') : User.where('avatar_file_name IS NOT NULL')
        - users = pics.sample( [rows * users_per_row, pics.count].min )

        - (0..rows-1).each do |row|
          .row{:row => row}
            - users[row*users_per_row..(row+1)*users_per_row-1].each do |user|
              .avatar{:id => "avatar-#{user.id}"}
              
      .l-message-title
        //= current_tenant.header_text
        Washington's Citizen-powered Voters Guide

      .t-intro-get-started
        Click a ballot measure below. Then decide for yourself, with the help of fellow voters.

    .t-unlock-local
      = render :partial => "home/unlock_local_measures"