%script{ :type => "text/template", :id => "tpl_user_paperwork_pledge" }   
  %ol
    %li
      %input{:id => 'pledge1', :name => "pledge1", :type => "checkbox", :value =>"1", :title => "All participants must make this pledge to join"}
      %label{ :for => "pledge1"}
        I will not attack or mock other participants or groups.

    %li
      %input{:id => 'pledge2', :name => "pledge2", :type => "checkbox", :value =>"2", :title => "All participants must make this pledge to join"}
      %label{ :for => "pledge2"}
        I will speak only on behalf of myself, not an organization.

    %li
      %input{:id => 'pledge3', :name => "pledge3", :type => "checkbox", :value =>"3", :title => "All participants must make this pledge to join"}
      %label{ :for => "pledge3"}
        I will use only one account to participate.
