%script{ :type => "text/template", :id => "tpl_header_logo" }
  
  .t-logo

    / %a.t-logo-tagline{ :href => '/home/about', :title => 'Learn more about Living Voters Guide'}
    /   Washington's Citizen-powered Voters Guide

    / %a.t-logo-name{ :href => 'http://www.seattlecityclub.org/', :title => 'Learn more about Seattle CityClub'}
    /   by Seattle CityClub


    / %a.t-logo-name.t-logo-read-more{ :href => '/home/about', :title => 'Learn more about Living Voters Guide'}
    %a.t-logo-tagline{ :href => '/home/about', :title => 'Learn more about Living Voters Guide'}

      Learn more




  / .considerit
  /   %a.t-logo{ :href => 'http://consider.it', :title => 'Learn more about ConsiderIt'}

  /     %span.t-logo-tagline
  /       powered by 
      
  /     %span.t-logo-name
  /       Consider
  /     %span.t-logo-name
  /       It

