//////////////// shared ////////////////
%script{ :type => "text/template", :id => "tpl_proposal_description"}
  (( prop_type = proposal.getTagsByType('type'); ))
  (( jurisdiction = proposal.getTagsByType('jurisdiction'); ))

  (( if(prop_type=='local'){ $("[role='proposal'][id='"+proposal.id+"']").addClass('t-local'); } ))

  .proposal_proposer
    %a{ :'data-id' => "{{ user_id }}", :'action' => "user_profile_page", :tooltip => "user_profile" }
      %img{:src => "{{ avatar }}"}

  .proposal_description_main     

    .proposal_heading
      = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

      %span.lvg_proposal_category
        (( if(category){ ))

        = succeed ':' do
          %strong
            {{ category.charAt(0) }}-{{designator}}
          (( if(jurisdiction && jurisdiction.length > 0) { ))
          , {{jurisdiction}}
          (( } ))
        (( } ))

      %span.proposal_description_summary

      

    (( if(show_details){ ))

    .proposal_details

      = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

      .proposal_description_body

      (( if(published) { ))

      .proposal_additional_details


        (( _.each(description_detail_fields, function(field) {  ))

        (( if( $.trim(field[2]) != '') { ))
        .proposal_detail_field
          .proposal_detail_field_prompt
            %a.hidden
              Read {{ field[1] }} &raquo;
          .proposal_detail_field_body.hide
            %div{ :class => "proposal_detail_field-{{field[0]}}" }
              %h1
                {{ field[1] }}
              {{ field[2] }}
            %a.showing
              hide
        (( } ))

        (( }); ))
      .proposal_links
        %h3
          More information

        (( _.each([{field: url1, name: 'Full text'}, {field: url2, name: 'Responsible Choices Analysis'}, {field: url3, name: 'Funding Sources'} ], function(url) {  ))
        (( if( url.field && $.trim(url.field) != '' ){ ))
        .proposal_url_field
          %a{ :href => "{{url.field}}", :target => "_blank"}
            {{url.name}}
        (( } ))
        (( }); ))



      (( } ))
      
    (( } ))
    .proposal_admin_region
    .proposal_social_media_region

