@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\000031}}
.cl {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\000039}}
#admin.points > table tr:nth-child(2n+1), #admin.comments > table tr:nth-child(2n+1), #admin.users > table tr:nth-child(2n+1) {
  background-color: #dddddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000312}}
#admin.points > table tr > td, #admin.comments > table tr > td, #admin.users > table tr > td {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #dddddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000319}}
#admin.points > table tr > td.measure {
  width: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000321}}
#admin.points > table tr > td.designation {
  width: 3%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000324}}
#admin.points > table tr > td.nutshell {
  width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000326}}
#admin.points > table tr > td.text {
  width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000328}}
#admin.points > table tr > td.form {
  width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000334}}
#admin.comments > table tr > td.measure {
  width: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000336}}
#admin.comments > table tr > td.subject {
  width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000338}}
#admin.comments > table tr > td.body {
  width: 38%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000340}}
#admin.comments > table tr > td.form {
  width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000344}}
#admin.cards {
  font-size: 10px;
  width: 600px;
  max-width: 600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000349}}
  #admin.cards ul {
    width: 600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000351}}
  #admin.cards > ul > li.pnt {
    float: left;
    width: 200px;
    height: 250px;
    border: 4px solid #aaaaaa;
    padding: 10px 20px;
    margin: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000360}}
    #admin.cards > ul > li.pnt .head {
      font-size: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000363}}
      #admin.cards > ul > li.pnt .head .designation, #admin.cards > ul > li.pnt .head .dot, #admin.cards > ul > li.pnt .head .measure, #admin.cards > ul > li.pnt .head .id {
        float: right;
        padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000367}}
      #admin.cards > ul > li.pnt .head .dot {
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000370}}
    #admin.cards > ul > li.pnt .nutshell {
      font-size: 110%;
      margin: 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/admin\.sass}line{font-family:\0000374}}
    #admin.cards > ul > li.pnt .text {
      font-size: 90%;
      color: #444444; }
