/*
Syntax error: The line was indented 2 levels deeper than the previous line.
        on line 20 of /Users/travis/Documents/considerit_20/dub/ConsiderIt/public/stylesheets/sass/points/_show.sass
        from line 32 of /Users/travis/Documents/considerit_20/dub/ConsiderIt/public/stylesheets/sass/considerit.sass

15:   .bullet_point
16:     margin-top: 6px
17: 
18:   &.con
19:     .username .avatar
20:         border-color: $brd_red_dark
21: 
22:     .bullet_point
23:       color: $brd_red_dark
24: 
25:              

Backtrace:
/Users/travis/Documents/considerit_20/dub/ConsiderIt/public/stylesheets/sass/points/_show.sass:20
/Users/travis/Documents/considerit_20/dub/ConsiderIt/public/stylesheets/sass/considerit.sass:32
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:443:in `tree'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:445:in `tree'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:445:in `tree'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:330:in `_to_tree'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:258:in `block in to_tree'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:258:in `to_tree'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:142:in `visit_import'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:248:in `block in render'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/engine.rb:248:in `render'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.10/lib/sass/plugin/rack.rb:51:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:35:in `block in call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:34:in `catch'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/warden-1.0.6/lib/warden/manager.rb:34:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `block in call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:421:in `_run_call_callbacks'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.10/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/content_length.rb:13:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/chunked.rb:15:in `call'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.4/lib/rack/handler/mongrel.rb:67:in `process'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:165:in `block in process_client'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `each'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:164:in `process_client'
/Users/travis/.rvm/gems/ruby-1.9.2-p180/gems/mongrel-1.2.0.pre2/lib/mongrel.rb:291:in `block (2 levels) in run'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: The line was indented 2 levels deeper than the previous line.\A         on line 20 of /Users/travis/Documents/considerit_20/dub/ConsiderIt/public/stylesheets/sass/points/_show.sass\A         from line 32 of /Users/travis/Documents/considerit_20/dub/ConsiderIt/public/stylesheets/sass/considerit.sass\A \A 15:   .bullet_point\A 16:     margin-top: 6px\A 17: \A 18:   &.con\A 19:     .username .avatar\A 20:         border-color: $brd_red_dark\A 21: \A 22:     .bullet_point\A 23:       color: $brd_red_dark\A 24: \A 25:              "; }
