li.point_in_list {
  list-style: none outside none;
  margin-bottom: 8px;
  color: white;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.95; }
  li.point_in_list:hover {
    opacity: 1; }
  li.point_in_list > table {
    width: 100%; }
  li.point_in_list.con td.body {
    background: url("/images/chalk/point-con-self.png") no-repeat scroll 0px 3px transparent; }
    li.point_in_list.con td.body .read_more a.toggle_more, li.point_in_list.con td.body .read_more a.toggle {
      float: left; }
  li.point_in_list.pro td.body {
    background: url("/images/chalk/point-pro-self.png") no-repeat scroll 0px 3px transparent; }
    li.point_in_list.pro td.body .read_more a.toggle_more, li.point_in_list.pro td.body .read_more a.toggle {
      float: left; }
  li.point_in_list td.body {
    overflow: hidden;
    padding: 3px 0 3px 38px;
    vertical-align: top; }
    li.point_in_list td.body .wrapper {
      padding: 3px; }
    li.point_in_list td.body .point_text.nutshell {
      font-size: 14px;
      line-height: 16px; }
    li.point_in_list td.body .point_text.full {
      font-size: 90%;
      margin: 10px 15px 10px 10px;
      display: none; }
    li.point_in_list td.body .read_more {
      height: 25px; }
      li.point_in_list td.body .read_more a.toggle_more, li.point_in_list td.body .read_more a.toggle {
        color: #c1c1c1;
        padding-top: 10px; }
    li.point_in_list td.body .username {
      font-size: 10px;
      color: #c1c1c1;
      padding-bottom: 2px; }
  li.point_in_list.point_in_list_other td.body {
    padding-bottom: 10px; }
  li.point_in_list.point_in_list_other.pro {
    background: #39665f url("/images/bg-point-pro.png") no-repeat left top; }
    li.point_in_list.point_in_list_other.pro td.body {
      background: url("/images/chalk/point-pro-other.png") no-repeat scroll 0px 3px transparent;
      padding: 3px 0px 10px 0px; }
      li.point_in_list.point_in_list_other.pro td.body .username, li.point_in_list.point_in_list_other.pro td.body .point_text.nutshell, li.point_in_list.point_in_list_other.pro td.body .read_more {
        padding-left: 35px; }
  li.point_in_list.point_in_list_other.con {
    background: #654a74 url("/images/bg-point-con.png") no-repeat left top; }
    li.point_in_list.point_in_list_other.con td.body {
      padding: 3px 0px 3px 3px;
      background: url("/images/chalk/point-con-other.png") no-repeat scroll 145px 3px transparent; }
      li.point_in_list.point_in_list_other.con td.body .username, li.point_in_list.point_in_list_other.con td.body .point_text.nutshell, li.point_in_list.point_in_list_other.con td.body .read_more {
        padding-right: 35px; }
      li.point_in_list.point_in_list_other.con td.body .username {
        text-align: right; }
  li.point_in_list.point_in_list_self {
    width: 225px; }
  li.point_in_list.ranked .discuss, li.point_in_list.ranked .read_more {
    font-size: 12px;
    float: left; }
  li.point_in_list.ranked .read_more {
    margin: 0px 0px 0 0px; }
    li.point_in_list.ranked .read_more a.toggle {
      color: #c1c1c1;
      padding-right: 10px; }
    li.point_in_list.ranked .read_more .pipe {
      padding: 10px 10px 0 0;
      color: #d0d0d0; }
  li.point_in_list.ranked .discuss {
    padding-top: 10px;
    display: block;
    margin: 0; }
    li.point_in_list.ranked .discuss > a {
      color: #c1c1c1; }
  li.point_in_list.ranked .scores {
    float: right;
    width: 120px; }
    li.point_in_list.ranked .scores ul {
      margin: 10px 0 0 0;
      list-style: none outside none; }
      li.point_in_list.ranked .scores ul li {
        cursor: pointer;
        color: #dddddd;
        padding: 1px 5px;
        background-color: #4b4d4e;
        float: left;
        margin-right: 5px;
        font-size: 10px; }
        li.point_in_list.ranked .scores ul li:hover {
          background-color: black;
          color: white; }
  li.point_in_list td.dismiss_point,
  li.point_in_list td.include_point {
    width: 12px; }
    li.point_in_list td.dismiss_point .dismiss.left,
    li.point_in_list td.include_point .dismiss.left {
      top: 35px;
      left: 0px;
      width: 12px; }
      li.point_in_list td.dismiss_point .dismiss.left .judgepointform,
      li.point_in_list td.include_point .dismiss.left .judgepointform {
        margin: 0 5px 0 0px; }
        li.point_in_list td.dismiss_point .dismiss.left .judgepointform input.judge_point,
        li.point_in_list td.include_point .dismiss.left .judgepointform input.judge_point {
          display: none;
          background-image: url("/images/arrow-left-dark.png"); }
          li.point_in_list td.dismiss_point .dismiss.left .judgepointform input.judge_point:hover,
          li.point_in_list td.include_point .dismiss.left .judgepointform input.judge_point:hover {
            background-image: url("/images/arrow-left-dark-hover.png"); }
    li.point_in_list td.dismiss_point .include.left,
    li.point_in_list td.include_point .include.left {
      top: -5px;
      left: -29px; }
      li.point_in_list td.dismiss_point .include.left .judgepointform input.judge_point,
      li.point_in_list td.include_point .include.left .judgepointform input.judge_point {
        background-image: url("/images/arrow-left.png"); }
        li.point_in_list td.dismiss_point .include.left .judgepointform input.judge_point:hover,
        li.point_in_list td.include_point .include.left .judgepointform input.judge_point:hover {
          background-image: url("/images/arrow-left-hover.png"); }
    li.point_in_list td.dismiss_point .dismiss.right,
    li.point_in_list td.include_point .dismiss.right {
      top: 35px;
      left: 200px; }
      li.point_in_list td.dismiss_point .dismiss.right .judgepointform,
      li.point_in_list td.include_point .dismiss.right .judgepointform {
        margin: 0 0px 0 5px; }
        li.point_in_list td.dismiss_point .dismiss.right .judgepointform input.judge_point,
        li.point_in_list td.include_point .dismiss.right .judgepointform input.judge_point {
          display: none;
          background-image: url("/images/arrow-right-dark.png"); }
          li.point_in_list td.dismiss_point .dismiss.right .judgepointform input.judge_point:hover,
          li.point_in_list td.include_point .dismiss.right .judgepointform input.judge_point:hover {
            background-image: url("/images/arrow-right-dark-hover.png"); }
    li.point_in_list td.dismiss_point .include.right,
    li.point_in_list td.include_point .include.right {
      top: -4px;
      left: 181px; }
      li.point_in_list td.dismiss_point .include.right .judgepointform input.judge_point,
      li.point_in_list td.include_point .include.right .judgepointform input.judge_point {
        background-image: url("/images/arrow-right.png"); }
        li.point_in_list td.dismiss_point .include.right .judgepointform input.judge_point:hover,
        li.point_in_list td.include_point .include.right .judgepointform input.judge_point:hover {
          background-image: url("/images/arrow-right-hover.png"); }
  li.point_in_list .dismiss,
  li.point_in_list .include {
    position: absolute;
    z-index: 999; }
    li.point_in_list .dismiss input.judge_point,
    li.point_in_list .include input.judge_point {
      margin: 0;
      color: #c1c1c1;
      background: none no-repeat scroll 0 center transparent;
      border: none;
      background-color: transparent;
      width: 50px;
      height: 35px; }
    li.point_in_list .dismiss:hover,
    li.point_in_list .include:hover {
      cursor: pointer; }

#points_self_pro .newpoint {
  margin-left: 20px; }
  #points_self_pro .newpoint .newpointform {
    padding: 5px 5px 5px 5px; }

#points_self_con .newpoint {
  margin-right: 20px; }
  #points_self_con .newpoint .newpointform {
    padding: 5px 5px 5px 5px; }

.newpoint {
  width: 215px;
  margin: 20px 0; }
  .newpoint .newpointform {
    border: 3px solid #666666; }

.newpointbutton button {
  font-size: 135%;
  width: 175px;
  height: 50px;
  border: none; }
  .newpointbutton button.pro {
    background: url(/images/add-pro.png) left top no-repeat; }
  .newpointbutton button.con {
    background: url(/images/add-con.png) left top no-repeat; }

.newpointform {
  background-color: transparent;
  width: 95%;
  display: none;
  margin: auto; }
  .newpointform p.note {
    color: #c1c1c1; }
  .newpointform .text_group {
    width: 100%;
    .point-description-height: 150px; }
    .newpointform .text_group .point-title,
    .newpointform .text_group .point-description {
      width: 190px; }
  .newpointform .point-title-group {
    margin-bottom: 10px; }
    .newpointform .point-title-group .point-title {
      height: 60px; }
  .newpointform .count {
    color: #c1c1c1;
    padding-top: 2px; }
  .newpointform .point-submit {
    float: right; }
  .newpointform .point-cancel {
    float: right;
    padding: 5px; }
    .newpointform .point-cancel a {
      color: #c1c1c1;
      padding: 5px;
      font-size: 12px; }

#initiative h3 {
  font-size: 24px;
  margin-bottom: 0px;
  line-height: normal; }
  #initiative h3.banner a {
    text-decoration: underline; }
  #initiative h3.other {
    color: black;
    font-size: 20px; }
    #initiative h3.other .subheader {
      font-size: 18px;
      font-weight: normal; }
#initiative .extra {
  font-size: 14px;
  position: relative;
  top: -6px;
  color: white; }
#initiative ol#step_through {
  list-style: none outside none; }
  #initiative ol#step_through li.step {
    margin-bottom: 30px;
    padding-bottom: 25px; }
    #initiative ol#step_through li.step .head {
      padding: 20px 10px 5px 0px;
      height: 45px; }
      #initiative ol#step_through li.step .head h3 {
        display: inline; }
      #initiative ol#step_through li.step .head .extra {
        padding: 3px 0 0 50px; }
      #initiative ol#step_through li.step .head .ol_number {
        background-color: #0342a1;
        padding: 3px 3px 3px 20px;
        position: relative;
        left: -10px;
        color: white;
        font-size: 22px;
        font-weight: bold; }
    #initiative ol#step_through li.step .rest {
      font-size: 14px;
      margin-top: 10px;
      color: white; }

#initiative.guide .initiatives {
  margin-bottom: 15px; }
  #initiative.guide .initiatives > div {
    clear: both; }
    #initiative.guide .initiatives > div ul.initiative_list {
      width: auto;
      position: relative;
      float: left; }
      #initiative.guide .initiatives > div ul.initiative_list li {
        position: relative; }
#initiative.guide ol#step_through li.step {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: none; }
  #initiative.guide ol#step_through li.step .head {
    margin-left: 15px; }
#initiative.guide ol#step_through li.head {
  background-color: #e6e6e6;
  margin-left: 15px; }
#initiative.guide ol#step_through #description {
  width: 68%;
  float: left;
  background: none; }
  #initiative.guide ol#step_through #description .init_graphic {
    display: none; }
  #initiative.guide ol#step_through #description h1.initiative_name {
    font-size: 20px; }
  #initiative.guide ol#step_through #description #full_desc_block {
    display: none; }
#initiative.guide ol#step_through li.breakdown .bars {
  top: -10px; }
#initiative.guide .take_stand {
  text-align: center; }
#initiative.guide .action_sidebar {
  color: #e6e6e6;
  width: 22%;
  float: right;
  font-weight: bold;
  font-size: 12px;
  overflow: hidden;
  padding: 10px;
  margin-right: 15px;
  background-color: #555555;
  margin-top: 15px; }
  #initiative.guide .action_sidebar > div {
    text-align: center; }
    #initiative.guide .action_sidebar > div .call {
      padding-bottom: 5px; }

#initiative ol#step_through {
  list-style: none outside none; }
  #initiative ol#step_through li.step#welcome {
    margin-bottom: 5px;
    padding-bottom: 10px; }
    #initiative ol#step_through li.step#welcome .description .show_details {
      font-size: 12px;
      vertical-align: top; }
    #initiative ol#step_through li.step#welcome .description h3 {
      font-size: 20px; }
    #initiative ol#step_through li.step#welcome .description .details {
      font-size: 14px;
      width: 70%;
      margin-bottom: 10px; }
      #initiative ol#step_through li.step#welcome .description .details li {
        list-style: disc outside none;
        padding: 5px; }
    #initiative ol#step_through li.step#welcome .thanks h3.banner {
      font-size: 18px;
      color: #717171; }
    #initiative ol#step_through li.step#welcome .thanks h3.whatsnext {
      margin-top: 15px;
      font-size: 28px; }
    #initiative ol#step_through li.step#welcome .update {
      font-size: 18px;
      float: right; }
      #initiative ol#step_through li.step#welcome .update .change_stance a:hover {
        text-decoration: underline; }
  #initiative ol#step_through li#print_summary {
    background-color: #74abff;
    padding-bottom: 0; }
    #initiative ol#step_through li#print_summary span.share {
      padding-left: 5px; }
      #initiative ol#step_through li#print_summary span.share.facebook {
        position: relative;
        top: -4px; }
      #initiative ol#step_through li#print_summary span.share.twitter {
        position: relative;
        top: 2px; }
  #initiative ol#step_through li.discuss {
    float: left;
    width: 400px; }
    #initiative ol#step_through li.discuss .discussion .load {
      margin-top: 10px auto;
      padding: 15px 20px; }
      #initiative ol#step_through li.discuss .discussion .load .load_comments {
        width: 276px;
        height: 53px;
        background: transparent url("/images/load_comments.png") no-repeat top left;
        border: none; }
  #initiative ol#step_through li.more_measures {
    float: right;
    width: 525px; }
    #initiative ol#step_through li.more_measures .head .banner {
      padding-left: 10px; }
  #initiative ol#step_through li.update {
    background-color: #74abff; }
  #initiative ol#step_through li.full_discussion > h2 {
    position: relative;
    padding: 3px 3px 3px 20px;
    background-color: #0342a1;
    color: white;
    width: 150px;
    text-align: center;
    left: -10px; }

#initiative #description {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #e6e6e6; }
  #initiative #description .init_graphic img {
    width: 175px; }
  #initiative #description .init_text {
    vertical-align: top;
    padding-left: 20px; }
    #initiative #description .init_text h1.initiative_name {
      margin-bottom: 5px;
      line-height: 30px;
      text-transform: capitalize; }
    #initiative #description .init_text li.initiative_desc_point {
      width: 90%;
      padding: 5px 0px;
      line-height: 18px;
      list-style: none outside none; }
    #initiative #description .init_text #show {
      display: none; }
#initiative .position {
  margin: auto; }
  #initiative .position .slider_table {
    margin: auto;
    width: 85%;
    font-size: 20px; }
    #initiative .position .slider_table ul.position_labels {
      width: 100%; }
      #initiative .position .slider_table ul.position_labels li {
        float: left;
        margin-right: 4%;
        list-style: none outside none;
        font-size: 16px; }
    #initiative .position .slider_table td.slider_label div {
      width: 125px; }
    #initiative .position .slider_table td.left {
      text-align: right;
      padding-right: 10px; }
    #initiative .position .slider_table .slider_container {
      margin: auto;
      height: 60px;
      text-align: center; }
      #initiative .position .slider_table .slider_container .slider {
        margin: 10px; }
      #initiative .position .slider_table .slider_container .ui-slider {
        width: 600px;
        background: none;
        background-color: #d0d0d0;
        border: none;
        height: 16px; }
        #initiative .position .slider_table .slider_container .ui-slider a.ui-slider-handle {
          background: url("/images/slider.png") repeat-x scroll 50% 50% transparent;
          border: none;
          -moz-border-radius: 0px;
          border-radius: 0px;
          top: -0.2em;
          height: 32px;
          width: 28px; }
    #initiative .position .slider_table td.right {
      text-align: left;
      padding-left: 10px; }
    #initiative .position .slider_table .center {
      font-size: 12px; }
#initiative ol#step_through {
  list-style: none outside none; }
  #initiative ol#step_through li.slide {
    background-color: #74abff; }
  #initiative ol#step_through li.step#stance {
    background-color: #adcdff; }
    #initiative ol#step_through li.step#stance .extra {
      color: black; }
    #initiative ol#step_through li.step#stance .rest {
      padding: 10px; }
      #initiative ol#step_through li.step#stance .rest table#points {
        width: 100%; }
        #initiative ol#step_through li.step#stance .rest table#points td.user_position {
          vertical-align: top; }
        #initiative ol#step_through li.step#stance .rest table#points td.points_other {
          vertical-align: top;
          width: 215px;
          padding-top: 25px; }
          #initiative ol#step_through li.step#stance .rest table#points td.points_other .other {
            padding-bottom: 5px; }
          #initiative ol#step_through li.step#stance .rest table#points td.points_other .extra {
            font-size: 10px;
            color: #444444;
            top: -3px; }
          #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer {
            margin: 0; }
            #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer li {
              margin: auto;
              list-style: none outside none; }
              #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer li.count {
                min-width: 100px; }
              #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer li.refresh > div {
                text-align: center; }
              #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer li.refresh .total {
                color: #272727;
                font-size: 12px;
                font-weight: bold; }
              #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer li.refresh.prev .total {
                padding-bottom: 10px; }
              #initiative ol#step_through li.step#stance .rest table#points td.points_other ul.point_list_footer li.refresh.next .total {
                padding-top: 10px; }
          #initiative ol#step_through li.step#stance .rest table#points td.points_other#points_other_pro ul.point_list_footer td {
            float: left; }
          #initiative ol#step_through li.step#stance .rest table#points td.points_other#points_other_con ul.point_list_footer td {
            float: right; }
  #initiative ol#step_through li.step#submitstance {
    margin-bottom: 0px;
    padding-bottom: 5px; }
    #initiative ol#step_through li.step#submitstance .extra {
      color: black; }
    #initiative ol#step_through li.step#submitstance input.submit {
      background-color: transparent;
      background-image: url("/images/submit-stance.png");
      background-repeat: no-repeat;
      cursor: pointer;
      text-shadow: gray 1px 1px 2px;
      width: 180px;
      height: 55px;
      border: none; }
    #initiative ol#step_through li.step#submitstance .rest {
      margin: auto;
      width: 100%;
      padding: 10px; }
      #initiative ol#step_through li.step#submitstance .rest > div {
        margin: auto; }
        #initiative ol#step_through li.step#submitstance .rest > div form {
          width: 180px;
          margin-left: 380px; }
        #initiative ol#step_through li.step#submitstance .rest > div .stance_status {
          padding-bottom: 5px;
          text-align: center;
          color: #717171;
          font-size: 14px; }
          #initiative ol#step_through li.step#submitstance .rest > div .stance_status .name {
            font-weight: bold; }

#ranked_points .position_container {
  width: 95%;
  padding: 0 20px;
  margin: 0;
  min-height: 0px; }
  #ranked_points .position_container > div {
    width: 48%; }
    #ranked_points .position_container > div ul.point_list {
      position: relative;
      top: -30px;
      width: 98%;
      min-height: 415px; }
  #ranked_points .position_container .paginate {
    width: 140px;
    padding: 15px 0;
    position: absolute;
    bottom: 0px;
    left: 35%; }
    #ranked_points .position_container .paginate .text {
      text-align: center;
      color: white;
      padding: 0 10px;
      color: #c1c1c1;
      font-size: 12px; }
    #ranked_points .position_container .paginate .prev {
      float: left; }
    #ranked_points .position_container .paginate .next {
      float: right; }
    #ranked_points .position_container .paginate .arrow {
      width: 20px; }

ul.point_list {
  top: -25px;
  margin: 0;
  padding: 0;
  width: 200px; }

.position_container {
  padding: 0px 5px;
  margin: 0px 10px;
  width: 480px;
  min-height: 550px;
  background: transparent url("/images/chalk/chalkboard.png") repeat scroll top left;
  border: 3px solid;
  border-top-color: #bbbbbb;
  border-right-color: #222222;
  border-left-color: #777777;
  border-bottom-color: #222222; }
  .position_container > div {
    position: relative; }
  .position_container #points_self_pro .points_list_header {
    padding-left: 20px; }
  .position_container .points_self#points_self_pro .points_list_header {
    background: transparent url("/images/chalk/pro_back.png") no-repeat scroll top right; }
  .position_container .points_self#points_self_con .points_list_header {
    background: transparent url("/images/chalk/con_back.png") no-repeat scroll top right; }
  .position_container .points_self .points_list_header {
    height: 120px;
    width: 200px; }
  .position_container .points_self#points_self_pro {
    float: left;
    margin-right: 5px; }
  .position_container .points_self#points_self_con {
    float: right; }
  .position_container .must_be_logged_in {
    color: white;
    padding: 25px 25px 50px 25px;
    width: 100%; }
    .position_container .must_be_logged_in .contribute, .position_container .must_be_logged_in .login_or_create, .position_container .must_be_logged_in .fb_login {
      float: left;
      height: 75px; }
    .position_container .must_be_logged_in .contribute {
      font-size: 20px;
      font-weight: bold;
      width: 135px;
      padding-top: 25px; }
    .position_container .must_be_logged_in .login_or_create {
      padding-top: 5px;
      width: 169px;
      border-right: 1px dotted gray; }
      .position_container .must_be_logged_in .login_or_create .login {
        float: none;
        width: 154px;
        height: 48px;
        background: transparent url("/images/loginbutton.png") no-repeat scroll top left; }
        .position_container .must_be_logged_in .login_or_create .login a {
          border: none;
          padding-right: 154px;
          padding-bottom: 48px; }
      .position_container .must_be_logged_in .login_or_create .create {
        font-size: 14px;
        font-weight: bold; }
        .position_container .must_be_logged_in .login_or_create .create a {
          text-decoration: underline; }
    .position_container .must_be_logged_in .fb_login {
      width: 75px;
      margin-top: 20px; }
      .position_container .must_be_logged_in .fb_login button {
        border: none;
        padding: none;
        width: 66px;
        height: 22px;
        background: transparent url("/images/fb_login.png") no-repeat top left; }
    .position_container .must_be_logged_in .why a {
      font-size: 12px;
      text-decoration: underline;
      color: gray;
      font-weight: bold; }
    .position_container .must_be_logged_in li {
      padding: 3px; }
    .position_container .must_be_logged_in a {
      color: white;
      text-decoration: underline;
      cursor: pointer; }

ul.initiative_list {
  width: 100%;
  margin: 0; }

li.initiative_item {
  list-style: none outside none;
  background-color: #d0d0d0;
  float: left;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-bottom: 1px solid #848484;
  position: relative; }
  li.initiative_item.finished.pro {
    background: #d0d0d0 url("/images/finished_pro.png") no-repeat left top; }
  li.initiative_item.finished.neutral {
    background: #d0d0d0 url("/images/finished_neutral.png") no-repeat left top; }
  li.initiative_item.finished.con {
    background: #d0d0d0 url("/images/finished_con.png") no-repeat left top; }
  li.initiative_item.finished:hover, li.initiative_item.finished.active {
    background-color: black; }
  li.initiative_item:hover, li.initiative_item.active {
    background-color: black; }
  li.initiative_item > a {
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: auto; }
    li.initiative_item > a:hover, li.initiative_item > a.active {
      color: white; }
    li.initiative_item > a .link_internal {
      margin: auto; }
      li.initiative_item > a .link_internal h2 {
        font-weight: bold;
        font-family: helvetica;
        letter-spacing: -3px;
        text-align: center;
        padding-top: 0px; }
        li.initiative_item > a .link_internal h2 .header .designation {
          letter-spacing: 0px;
          text-transform: uppercase; }
        li.initiative_item > a .link_internal h2 .subheader {
          width: 100%;
          letter-spacing: -1px;
          margin: 10px 0px 0px 0px;
          text-transform: capitalize; }
      li.initiative_item > a .link_internal .description {
        margin-left: 10px;
        text-align: justify; }
  li.initiative_item.large {
    height: 265px;
    width: 278px; }
    li.initiative_item.large > a {
      height: 265px;
      width: 278px; }
      li.initiative_item.large > a .link_internal {
        padding: 0;
        height: 265px;
        width: 278px; }
        li.initiative_item.large > a .link_internal h2 {
          font-size: 30px;
          line-height: 25px; }
          li.initiative_item.large > a .link_internal h2 .subheader {
            font-size: 28px;
            line-height: 22px;
            margin-top: 3px; }
          li.initiative_item.large > a .link_internal h2 .header .designation {
            font-size: 14px; }
          li.initiative_item.large > a .link_internal h2 .header .number {
            font-size: 75px;
            line-height: 60px; }
  li.initiative_item.medium {
    height: 90px;
    width: 140px; }
    li.initiative_item.medium > a {
      height: 90px;
      width: 140px; }
      li.initiative_item.medium > a .link_internal {
        padding: 0;
        height: 90px;
        width: 140px; }
        li.initiative_item.medium > a .link_internal h2 {
          font-size: 30px;
          line-height: 25px; }
          li.initiative_item.medium > a .link_internal h2 .subheader {
            font-size: 14px;
            line-height: 14px;
            margin-top: 3px; }
          li.initiative_item.medium > a .link_internal h2 .header .designation {
            font-size: 10px; }
          li.initiative_item.medium > a .link_internal h2 .header .number {
            font-size: 55px;
            line-height: 40px; }
  li.initiative_item.small {
    height: 80px;
    width: 85px;
    padding: 5px;
    margin: 0 5px 5px 0; }
    li.initiative_item.small.finished {
      background-image: none; }
    li.initiative_item.small > a {
      height: 80px;
      width: 85px;
      padding: 5px; }
      li.initiative_item.small > a .link_internal {
        padding: 0;
        height: 80px;
        width: 85px; }
        li.initiative_item.small > a .link_internal h2 {
          font-size: 26px;
          line-height: 22px; }
          li.initiative_item.small > a .link_internal h2 .subheader {
            font-size: 12px;
            line-height: 10px;
            margin-top: 1px; }
          li.initiative_item.small > a .link_internal h2 .header .designation {
            font-size: 8px; }
          li.initiative_item.small > a .link_internal h2 .header .number {
            font-size: 40px;
            line-height: 35px; }

#initiative li.breakdown {
  border: 2px solid #74abff;
  border-width-left: 1px;
  position: relative;
  padding-bottom: 0; }
  #initiative li.breakdown .extra {
    color: black; }
  #initiative li.breakdown .you_slider {
    position: absolute;
    z-index: 3000;
    top: 95px;
    left: 593px; }
    #initiative li.breakdown .you_slider.call {
      top: 104px;
      left: 661px; }
  #initiative li.breakdown .bars {
    position: absolute;
    z-index: 999;
    top: -20px;
    left: 525px; }
    #initiative li.breakdown .bars .vizbase td {
      color: #717171;
      font-size: 14px; }
      #initiative li.breakdown .bars .vizbase td .inner, #initiative li.breakdown .bars .vizbase td .pedestal {
        position: relative;
        top: -10px; }
      #initiative li.breakdown .bars .vizbase td.middle {
        height: 0px;
        margin-left: 0px;
        width: 300px; }
        #initiative li.breakdown .bars .vizbase td.middle .pedestal {
          background-color: #cccccc;
          height: 5px;
          width: 300px;
          margin-left: 6px; }
      #initiative li.breakdown .bars .vizbase td.first {
        padding-right: 3px; }
      #initiative li.breakdown .bars .vizbase td.last {
        padding-left: 3px; }
  #initiative li.breakdown .explore#ranked_points {
    background-color: #adcdff;
    margin: 50px 10px 10px 10px;
    padding: 15px; }
    #initiative li.breakdown .explore#ranked_points .extra {
      padding: 3px 0 0 2px; }
    #initiative li.breakdown .explore#ranked_points .group {
      color: white; }
    #initiative li.breakdown .explore#ranked_points .filters {
      float: right;
      position: absolute;
      z-index: 1000;
      top: 135px;
      right: 25px; }
      #initiative li.breakdown .explore#ranked_points .filters a#show_popular, #initiative li.breakdown .explore#ranked_points .filters a#show_self {
        font-size: 12px;
        font-weight: bold;
        display: block;
        text-align: right; }
        #initiative li.breakdown .explore#ranked_points .filters a#show_popular:hover, #initiative li.breakdown .explore#ranked_points .filters a#show_self:hover {
          text-decoration: underline; }

#initiative .full_discussion li.comment, #initiative .full_discussion li.new_comment {
  margin-top: 8px; }
  #initiative .full_discussion li.comment table.comment_body, #initiative .full_discussion li.new_comment table.comment_body {
    width: 100%;
    border-bottom: 1px dotted #cccccc;
    padding: 5px; }
    #initiative .full_discussion li.comment table.comment_body .body_row .user, #initiative .full_discussion li.comment table.comment_body .body_row .text, #initiative .full_discussion li.new_comment table.comment_body .body_row .user, #initiative .full_discussion li.new_comment table.comment_body .body_row .text {
      float: left; }
    #initiative .full_discussion li.comment table.comment_body .body_row .user, #initiative .full_discussion li.new_comment table.comment_body .body_row .user {
      width: 120px; }
    #initiative .full_discussion li.comment table.comment_body .body_row .text, #initiative .full_discussion li.new_comment table.comment_body .body_row .text {
      width: 83%; }
    #initiative .full_discussion li.comment table.comment_body .subject_line.pro .text, #initiative .full_discussion li.new_comment table.comment_body .subject_line.pro .text {
      background-color: #39665f; }
    #initiative .full_discussion li.comment table.comment_body .subject_line.con .text, #initiative .full_discussion li.new_comment table.comment_body .subject_line.con .text {
      background-color: #654a74; }
    #initiative .full_discussion li.comment table.comment_body .subject_line.unaffiliated .text, #initiative .full_discussion li.new_comment table.comment_body .subject_line.unaffiliated .text {
      background-color: #777777; }
    #initiative .full_discussion li.comment table.comment_body .subject_line .text, #initiative .full_discussion li.new_comment table.comment_body .subject_line .text {
      width: 95%;
      margin-bottom: 8px; }
      #initiative .full_discussion li.comment table.comment_body .subject_line .text .subject, #initiative .full_discussion li.new_comment table.comment_body .subject_line .text .subject {
        font-size: 18px;
        color: white;
        padding: 5px 10px; }
    #initiative .full_discussion li.comment table.comment_body .reply_row a.reply, #initiative .full_discussion li.new_comment table.comment_body .reply_row a.reply {
      margin-left: 120px;
      padding: 10px 10px 10px 30px;
      font-size: 14px;
      background: transparent url("/images/comment-reply.png") no-repeat scroll 0px 2px;
      display: block; }
      #initiative .full_discussion li.comment table.comment_body .reply_row a.reply:hover, #initiative .full_discussion li.new_comment table.comment_body .reply_row a.reply:hover {
        background-image: url("/images/comment-reply_hover.png");
        text-decoration: underline; }

#initiative .full_discussion ul.comment_children,
#initiative .full_discussion ul.comment_section,
#initiative .full_discussion ul#discussion_threads {
  list-style: none outside none; }
#initiative .full_discussion ul.comment_section {
  margin-left: 0px; }
  #initiative .full_discussion ul.comment_section > li.new_comment {
    margin-top: 25px; }
    #initiative .full_discussion ul.comment_section > li.new_comment h3 {
      margin-bottom: 5px; }

#discussion_threads {
  margin: 0; }
  #discussion_threads > h3 {
    margin-bottom: 10px; }
    #discussion_threads > h3 a#start_new_discussion {
      padding: 10px;
      text-align: center;
      text-decoration: underline; }
  #discussion_threads .discussion-thread {
    margin-bottom: 4px;
    color: black;
    list-style: none outside none;
    padding: 10px;
    opacity: 0.9;
    overflow: hidden; }
    #discussion_threads .discussion-thread:hover {
      opacity: 1; }
    #discussion_threads .discussion-thread.pro {
      background-color: #39665f; }
    #discussion_threads .discussion-thread.con {
      background-color: #654a74; }
    #discussion_threads .discussion-thread.unaffiliated {
      background-color: #555555; }
    #discussion_threads .discussion-thread td {
      vertical-align: top; }
      #discussion_threads .discussion-thread td .text {
        padding-left: 5px;
        font-size: 12px; }
        #discussion_threads .discussion-thread td .text > a {
          color: white;
          width: 100%;
          padding: 0 120px 40px 0; }
        #discussion_threads .discussion-thread td .text h3.subject {
          font-size: 14px;
          line-height: 15px;
          padding-bottom: 5px; }

li.new_comment .avatar {
  top: 0; }
li.new_comment .count {
  color: #c1c1c1; }
li.new_comment li.body textarea {
  height: 80px; }
li.new_comment .comment_submit {
  margin: 10px 0 5px 0;
  float: left; }
li.new_comment table.comment_body {
  border-bottom: none;
  width: 100%; }
  li.new_comment table.comment_body .text a.cancel {
    float: left;
    color: gray; }
li.new_comment.from_point {
  list-style: none outside none;
  font-size: 14px; }
  li.new_comment.from_point table.comment_body {
    margin-top: 5px; }
    li.new_comment.from_point table.comment_body tr.body_row .user {
      width: 65px;
      font-size: 10px;
      float: left; }
    li.new_comment.from_point table.comment_body tr.body_row .text {
      width: auto;
      float: right; }
      li.new_comment.from_point table.comment_body tr.body_row .text form ul.form {
        margin: 0; }
        li.new_comment.from_point table.comment_body tr.body_row .text form ul.form li.body {
          width: auto; }
          li.new_comment.from_point table.comment_body tr.body_row .text form ul.form li.body textarea {
            width: 230px; }
          li.new_comment.from_point table.comment_body tr.body_row .text form ul.form li.body .count {
            color: #c1c1c1;
            width: 35px;
            display: block;
            float: right;
            padding-left: 5px; }
        li.new_comment.from_point table.comment_body tr.body_row .text form ul.form a.cancel {
          font-size: 10px;
          margin-left: 10px;
          padding-top: 16px; }
li.new_comment.from_discussion {
  font-size: 20px; }
  li.new_comment.from_discussion .count {
    color: #c1c1c1; }
  li.new_comment.from_discussion li.the_subject input[type="text"] {
    display: inline;
    width: 500px; }
  li.new_comment.from_discussion li.body textarea {
    width: 500px; }
  li.new_comment.from_discussion table.comment_body .text {
    width: 550px; }
    li.new_comment.from_discussion table.comment_body .text a.cancel {
      font-size: 12px;
      margin-left: 10px;
      padding-top: 16px; }

#initiative.userpage .stance_status {
  font-size: 36px;
  width: 100%;
  text-align: center; }
#initiative.userpage ol#step_through li#stance.step {
  background-color: white; }
  #initiative.userpage ol#step_through li#stance.step .position_container {
    width: 750px;
    margin: auto; }
    #initiative.userpage ol#step_through li#stance.step .position_container ul.point_list {
      width: 330px; }
      #initiative.userpage ol#step_through li#stance.step .position_container ul.point_list li.point_in_list.point_in_list_self {
        width: 310px; }
    #initiative.userpage ol#step_through li#stance.step .position_container #points_self_pro {
      margin-left: 10px; }

#intro {
  width: 100%; }
  #intro .table_container {
    background-color: black;
    width: 100%; }
    #intro .table_container > table {
      width: 100%; }
      #intro .table_container > table .person_tapestry {
        margin-top: 25px; }
        #intro .table_container > table .person_tapestry ul.horizontal li {
          float: left; }
        #intro .table_container > table .person_tapestry ul.vertical {
          width: 55px; }
        #intro .table_container > table .person_tapestry ul li {
          width: 55px;
          height: 55px; }
        #intro .table_container > table .person_tapestry img {
          height: 55px; }
      #intro .table_container > table #description {
        padding: 10px 0px 10px 40px;
        width: 725px; }
        #intro .table_container > table #description .header .follow {
          position: absolute;
          z-index: 999;
          top: -2px;
          left: 850px; }
        #intro .table_container > table #description .header .subheader .text {
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-family: Cambria, Helvetica Neue, Helvetica, Calibri, sans-serif;
          color: #717171; }
          #intro .table_container > table #description .header .subheader .text span {
            padding-right: 10px;
            color: #c1c1c1; }
        #intro .table_container > table #description .header .subheader h2 {
          font-size: 26px;
          color: #c1c1c1; }
          #intro .table_container > table #description .header .subheader h2 .extra {
            color: #717171;
            font-size: 24px;
            line-height: 28px; }
    #intro .table_container #infographic img {
      width: 98%; }

.get_started {
  margin-left: 40px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
  color: #717171; }

#details {
  min-height: 200px; }
  #details table.init-details {
    display: none; }
    #details table.init-details td img {
      max-width: 120px;
      margin: 15px; }

.home_header > h2 {
  margin-top: 15px;
  font-size: 36px; }
  .home_header > h2 .subheader {
    font-size: 24px;
    font-weight: normal;
    position: relative;
    top: -5px;
    color: gray; }

#guide .img_container {
  width: 100%;
  text-align: center; }

#static > * {
  padding-left: 20px; }
#static.aboutus h3 {
  margin-bottom: 5px;
  line-height: 26px; }
#static.aboutus td {
  vertical-align: top; }
  #static.aboutus td.desc {
    width: 50%;
    padding-right: 50px;
    font-size: 16px;
    line-height: 17px; }
  #static.aboutus td.list {
    width: 50%; }
    #static.aboutus td.list > ul {
      list-style: none outside none; }
      #static.aboutus td.list > ul > li {
        padding-bottom: 5px; }
      #static.aboutus td.list > ul ul.people {
        list-style: none outside none; }
#static.tos ul {
  padding-left: 50px; }
#static.tos h3 {
  padding-top: 15px; }
#static.rules {
  font-size: 16px;
  line-height: 20px; }
  #static.rules > p {
    max-width: 650px;
    font-size: 18px;
    line-height: 20px; }
  #static.rules ul {
    margin-right: 12px; }
    #static.rules ul li {
      padding: 15px;
      height: 350px;
      width: 28%;
      float: left;
      list-style: none outside none;
      background-color: #cccccc;
      border: 3px solid gray; }
      #static.rules ul li.middle {
        margin: 0 10px; }
      #static.rules ul li strong {
        display: block;
        padding-bottom: 10px;
        font-size: 18px; }

#footer {
  clear: both;
  color: white;
  width: 100%;
  line-height: 18px; }
  #footer > div {
    padding: 29px 15px 15px 15px;
    background-color: white;
    margin: 0 auto;
    min-width: 940px;
    position: relative;
    width: 940px; }
    #footer > div:hover {
      border-bottom: 1px solid #cccccc; }
    #footer > div.bordernone:hover {
      border-bottom: none; }
  #footer p.credit {
    margin: 0;
    float: right;
    font-size: 11px; }
  #footer .sitemap {
    background-color: #e6e6e6;
    color: black; }
    #footer .sitemap .initiatives h4 {
      padding-left: 5px;
      text-transform: capitalize; }
    #footer .sitemap .initiatives ul.nav {
      padding-left: 0; }
      #footer .sitemap .initiatives ul.nav > li {
        padding-left: 17px;
        text-transform: capitalize; }
        #footer .sitemap .initiatives ul.nav > li.finished.pro {
          background: transparent url("/images/finished_pro_small.png") no-repeat left center; }
        #footer .sitemap .initiatives ul.nav > li.finished.neutral {
          background: transparent url("/images/finished_neutral_small.png") no-repeat left center; }
        #footer .sitemap .initiatives ul.nav > li.finished.con {
          background: transparent url("/images/finished_con_small.png") no-repeat left center; }
    #footer .sitemap ul.nav {
      padding-left: 8px; }
    #footer .sitemap a:hover {
      text-decoration: underline; }
    #footer .sitemap > div {
      padding: 20px;
      font-size: 12px;
      height: 255px;
      float: left; }
      #footer .sitemap > div li {
        list-style: none outside none; }
      #footer .sitemap > div.initiatives {
        width: 190px;
        background-color: #555555;
        color: white; }
        #footer .sitemap > div.initiatives a {
          color: white; }
      #footer .sitemap > div.guides {
        width: 225px; }
      #footer .sitemap > div.learn {
        width: 405px; }
        #footer .sitemap > div.learn .powered {
          padding-top: 30px;
          font-size: 14px; }
      #footer .sitemap > div.last {
        margin-right: 0;
        float: right; }
      #footer .sitemap > div h4 {
        margin-bottom: 9px;
        font-size: 20px; }
        #footer .sitemap > div h4.later {
          margin-top: 9px; }
    #footer .sitemap:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

#masthead {
  min-width: 940px; }
  #masthead > div {
    margin: 67px auto 0 auto;
    padding: 15px;
    min-width: 940px;
    position: relative;
    width: 900px;
    background-color: white;
    height: 35px; }
    #masthead > div > #offset_header {
      position: absolute;
      top: -56px;
      width: 100%; }
      #masthead > div > #offset_header .logo_cell h1#logo a {
        height: 110px;
        width: 97px;
        display: block;
        overflow: hidden;
        padding-right: 160px; }
      #masthead > div > #offset_header .beta {
        z-index: 999;
        position: absolute;
        font-size: 10px;
        color: white;
        top: 40px;
        left: 125px;
        width: 275px; }
      #masthead > div > #offset_header #nav-primary {
        position: absolute;
        top: 55px;
        right: 15px;
        width: auto; }
        #masthead > div > #offset_header #nav-primary .nav.primary {
          list-style: none outside none;
          margin: 0; }
          #masthead > div > #offset_header #nav-primary .nav.primary > li {
            float: left;
            height: 36px; }
            #masthead > div > #offset_header #nav-primary .nav.primary > li.middle, #masthead > div > #offset_header #nav-primary .nav.primary > li.last {
              border-left: 2px dotted #894444; }
            #masthead > div > #offset_header #nav-primary .nav.primary > li > a {
              padding: 0 15px;
              display: block;
              font-weight: bold;
              font-size: 14px;
              height: 36px;
              line-height: 38px;
              text-transform: capitalize; }
              #masthead > div > #offset_header #nav-primary .nav.primary > li > a:hover {
                color: #8d0808; }
            #masthead > div > #offset_header #nav-primary .nav.primary > li.drops:hover ul.dropdown {
              display: block; }
            #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown {
              position: absolute;
              top: 35px;
              left: 45px;
              z-index: 99;
              display: none;
              padding: 5px 2px;
              background-color: #555555; }
              #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown li {
                z-index: 99;
                background-color: #555555;
                list-style: none outside none; }
                #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown li.finished.pro {
                  background: transparent url("/images/finished_pro_small.png") no-repeat scroll left center; }
                #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown li.finished.neutral {
                  background: transparent url("/images/finished_neutral_small.png") no-repeat scroll left center; }
                #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown li.finished.con {
                  background: transparent url("/images/finished_con_small.png") no-repeat scroll left center; }
                #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown li a {
                  padding: 1px 18px;
                  color: white;
                  height: auto;
                  line-height: 18px;
                  font-size: 12px;
                  text-transform: capitalize; }
                  #masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown li a:hover {
                    text-shadow: none;
                    text-decoration: underline; }
      #masthead > div > #offset_header #nav-user {
        position: absolute;
        top: -12px;
        right: 15px;
        width: auto;
        height: 35px;
        margin: 0;
        background-color: #e6e6e6; }
        #masthead > div > #offset_header #nav-user > div {
          padding-top: 5px;
          line-height: 25px;
          float: left; }
          #masthead > div > #offset_header #nav-user > div.first {
            border-right: 2px dotted #894444; }
          #masthead > div > #offset_header #nav-user > div.fb form {
            display: inline-block;
            margin-right: 10px;
            margin-top: 2px; }
          #masthead > div > #offset_header #nav-user > div a {
            padding: 16px 20px;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            font-weight: bold; }
            #masthead > div > #offset_header #nav-user > div a:hover {
              color: #8d0808; }
          #masthead > div > #offset_header #nav-user > div.first.last a, #masthead > div > #offset_header #nav-user > div.first.last form {
            padding-left: 0; }
  #masthead .logged_in_name {
    height: 35px; }
  #masthead .avatar {
    position: relative;
    top: -5px; }

.fb, .fb_login {
  width: 76px;
  height: 29px;
  margin-left: 15px; }

.fb input#user_submit, .fb_login input#user_submit, .fb_account input#user_submit {
  padding-right: 60px;
  padding-top: 15px;
  overflow: hidden;
  color: transparent;
  font-size: 0px;
  border: none;
  background-color: transparent; }

.fb {
  background: transparent url("/images/fb_login.png") no-repeat scroll 0px 7px; }

.fb_login {
  background: transparent url("/images/fb_login.png") no-repeat scroll 0px 0px; }

#loginhtml .lvg_account h2, #loginhtml .lvg_account h3 {
  display: none; }
#loginhtml .fb_account {
  margin: 10px 0 0 75px; }
  #loginhtml .fb_account li.or {
    color: gray;
    font-size: 18px;
    padding-top: 44px; }
  #loginhtml .fb_account li.fb_form {
    background: transparent url("/images/fb_big.jpg") no-repeat scroll 0px 0px;
    height: 128px;
    width: 128px;
    margin-left: 75px; }
    #loginhtml .fb_account li.fb_form > form input#user_submit {
      padding-right: 128px;
      padding-top: 128px; }

.LV_validation_message {
  font-weight: bold;
  margin: 0 0 0 5px;
  font-size: 10px;
  float: right; }

.LV_valid {
  color: #00cc00; }

.LV_invalid {
  color: #cc0000; }

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
  border: 1px solid #00cc00; }

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border: 1px solid #cc0000; }

#sessions h3 {
  margin-bottom: 0px;
  line-height: 20px; }
#sessions h2 {
  line-height: 30px; }
#sessions ul.form {
  width: 385px; }
  #sessions ul.form > li.input_validates {
    height: 50px; }
  #sessions ul.form fieldset {
    border: 1px solid #cccccc;
    margin: 10px 5px; }
    #sessions ul.form fieldset legend {
      font-size: 14px;
      color: #717171;
      margin-left: 10px; }
    #sessions ul.form fieldset ul {
      padding: 5px 0; }
      #sessions ul.form fieldset ul li.notifications {
        padding: 3px 0; }
        #sessions ul.form fieldset ul li.notifications label {
          letter-spacing: 0px;
          text-transform: none; }
        #sessions ul.form fieldset ul li.notifications input {
          display: inline;
          height: 20px;
          width: 20px;
          margin-right: 5px; }
#sessions #pledge {
  display: none;
  width: 385px; }
  #sessions #pledge ul {
    margin-left: 10px; }
    #sessions #pledge ul li {
      padding-bottom: 10px;
      font-size: 12px; }

.ui-dialog {
  background: none repeat scroll 0 0 transparent;
  border: none; }
  .ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 transparent;
    border: none;
    height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1000; }
    .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
      position: absolute;
      z-index: 999;
      top: 38px;
      background-color: gray;
      left: 400px; }

.ui-widget-overlay {
  background: none repeat scroll 0 0 black;
  opacity: 0.75; }

#initial_form .extra {
  font-size: 12px;
  color: #717171;
  padding-top: 10px; }

#settings_dialog,
#create_dialog,
#login_dialog {
  display: none;
  background: none repeat scroll 0 0 white;
  padding: 20px; }
  #settings_dialog > #sessions,
  #create_dialog > #sessions,
  #login_dialog > #sessions {
    width: 400px; }
  #settings_dialog a,
  #create_dialog a,
  #login_dialog a {
    font-weight: bold; }
    #settings_dialog a:hover,
    #create_dialog a:hover,
    #login_dialog a:hover {
      text-decoration: underline; }
    #settings_dialog a.faux_account_create,
    #create_dialog a.faux_account_create,
    #login_dialog a.faux_account_create {
      background-color: gray;
      color: white;
      padding: 6px;
      margin-top: 5px; }
      #settings_dialog a.faux_account_create:hover,
      #create_dialog a.faux_account_create:hover,
      #login_dialog a.faux_account_create:hover {
        text-decoration: none; }
      #settings_dialog a.faux_account_create[disabled="disabled"], #settings_dialog a.faux_account_create[disabled="true"],
      #create_dialog a.faux_account_create[disabled="disabled"],
      #create_dialog a.faux_account_create[disabled="true"],
      #login_dialog a.faux_account_create[disabled="disabled"],
      #login_dialog a.faux_account_create[disabled="true"] {
        background-color: #dddddd;
        color: #aaaaaa;
        cursor: default; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

strong {
  font-weight: bold; }

h1 {
  font-size: 28px; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.italic {
  font-style: italic; }

div.autosize {
  display: table;
  width: 1px; }
  div.autosize > div {
    display: table-cell; }

.hide {
  display: none; }

table {
  border-collapse: separate; }

html {
  background-color: #b4b4b4; }

body {
  color: #222222;
  font-family: Helvetica Neue, Helvetica, Calibri, sans-serif;
  font-size: 14px; }

#content > div {
  margin: 0 auto;
  min-width: 940px;
  position: relative;
  width: 940px;
  max-width: 940px;
  background-color: white;
  padding: 15px; }
#content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

h2 {
  margin-bottom: 18px;
  font-size: 28px;
  line-height: 36px; }
  h2 h3 {
    margin-top: -18px;
    clear: left;
    color: #425d78;
    font-weight: normal; }

h3 {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 36px; }
  h3 h4 {
    margin-top: -18px;
    color: #425d78;
    font-weight: normal; }

h4 {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 18px; }

h5 {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 18px; }

p {
  margin-bottom: 18px; }

a {
  color: #0342a1;
  outline: none;
  cursor: pointer;
  text-decoration: none; }
  a img {
    border: none; }

li ul, li ol {
  margin: 0 0 0 18px; }

ul {
  margin: 0;
  list-style-type: disc; }

ol {
  margin: 0;
  list-style-type: decimal; }

dl {
  margin: 0 0 18px; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 18px; }

label {
  letter-spacing: -1px;
  text-transform: capitalize; }

input, textarea {
  padding: 6px;
  vertical-align: top; }

input[type="text"], input[type="password"], textarea {
  border: 1px solid #bbbbbb;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  vertical-align: top; }
  input[type="text"].blur, input[type="text"].example, input[type="password"].blur, input[type="password"].example, textarea.blur, textarea.example {
    color: #a6abb0; }
  input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    background-color: azure;
    border-color: DeepSkyBlue; }

button,
input[type="submit"] {
  background-color: gray;
  color: white;
  padding: 6px;
  font-size: 14px;
  cursor: pointer; }
  button:focus,
  input[type="submit"]:focus {
    background-color: gray;
    border-color: gray; }

.message {
  background-color: white;
  font-size: 18px;
  text-align: center;
  border: 10px solid black;
  padding: 25px;
  width: 350px; }

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: red;
  font-size: 150%;
  color: white;
  padding: 2px;
  display: none; }

ul.form {
  list-style: none outside none; }
  ul.form > li {
    width: 95%;
    margin-top: 4px; }
    ul.form > li input {
      display: block; }
      ul.form > li input[type="text"], ul.form > li input[type="password"] {
        width: 100%; }
      ul.form > li input.check {
        width: 15px;
        display: inline; }
        ul.form > li input.check#eula, ul.form > li input.check#study, ul.form > li input.check#user_session_remember_me {
          margin-top: 5px; }
      ul.form > li input#user_avatar {
        width: 70%; }
    ul.form > li.check {
      margin-top: 10px; }
      ul.form > li.check label {
        text-transform: none;
        letter-spacing: normal; }
        ul.form > li.check label span {
          height: 100%;
          vertical-align: middle;
          font-size: 12px; }

#user_session_submit {
  margin-top: 15px; }

.available_themes {
  position: absolute;
  top: 5px;
  left: 250px; }
  .available_themes li {
    float: left;
    padding: 10px;
    border-right: 1px dotted black; }

#point_similarity form {
  margin: auto;
  width: 650px; }
  #point_similarity form .point_to_be_compared {
    border: 3px solid #eeeeee;
    padding: 10px;
    width: 250px; }
    #point_similarity form .point_to_be_compared#p1 {
      margin-left: 10px;
      float: left; }
    #point_similarity form .point_to_be_compared#p2 {
      margin-right: 10px;
      float: right; }
  #point_similarity form .current_value {
    margin: 10px auto;
    width: 325px;
    text-align: center;
    border: 1px solid #85d55d;
    background-color: #ceeebe;
    color: #5cb62f;
    padding: 5px; }
  #point_similarity form .slider_wrapper {
    margin: 20px auto;
    color: #aaaaaa; }
    #point_similarity form .slider_wrapper > div {
      margin: 0 auto; }
    #point_similarity form .slider_wrapper .slider_footer {
      width: 650px;
      height: 25px;
      margin-left: 5px; }
      #point_similarity form .slider_wrapper .slider_footer .right {
        float: left;
        margin-left: 20px; }
      #point_similarity form .slider_wrapper .slider_footer .left {
        float: left;
        margin-right: 20px; }
      #point_similarity form .slider_wrapper .slider_footer #similarity_slider {
        width: 325px;
        margin: 0 auto;
        float: left; }
  #point_similarity form .submit_buttons {
    width: 200px;
    margin: 0 auto; }
    #point_similarity form .submit_buttons .left {
      float: left; }
    #point_similarity form .submit_buttons .right {
      float: right; }
    #point_similarity form .submit_buttons input {
      background-color: white;
      border: none;
      color: black; }
  #point_similarity form .progress {
    margin-top: 20px;
    color: #aaaaaa;
    text-align: center; }
  #point_similarity form .completed {
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 10px;
    width: 250px;
    text-align: center; }

a.rate_point_similarity {
  color: white; }

#infovis {
  height: 500px; }
