ul.form > li input#eula.check, 
ul.form > li input#study.check, 
ul.form > li input#user_session_remember_me.check {
  margin-top: 0;
}

#wrap #masthead #nav-user {
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}