#wrap #content { 
  position: relative; 
}

#wrap #masthead {
	position: relative;
	z-index: 999;
}

body #wrap {
	position: relative;
}

body .ui-dialog {
  z-index: 99;
}

#footer .learn,
#footer .guides {
	background-color: #e6e6e6;
}

li.initiative_item > a .link_internal h2 .subheader {
	margin-top: 30px;
	
}	

.fb input#user_submit, .fb_login input#user_submit {
  padding-right: 25px
}

button, input[type="submit"] {
	width: auto;
	overflow: visible;
}

#masthead > div > #offset_header #nav-primary .nav.primary > li.drops ul.dropdown {
	top: 25px;
}

#content {
	height: 100%;
  }
  #content > div {}


#footer {
  padding-bottom: 0; }
  #footer > div {
    overflow: hidden; }

.form-group, #instructions, .header, .idea-meta, .entry-meta, .comment, .tag-cloud, .list-block li, .pagination, .sitemap {
  display: block; }

#intro .header h2 {
  margin-bottom: 28px; }
	
.body_row .avatar img {
	margin-top: 10px;
}

#initiative.guide .initiatives > div ul.initiative_list {
  width: 100%;
}