html {
  background: none; }

#content > div {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  margin: 15px 25px; }

#initiative.userpage input {
  font-size: 24px;
  padding: 8px; }
#initiative.userpage .init_text {
  margin-top: 15px; }
  #initiative.userpage .init_text > h3 > div {
    line-height: 24px;
    text-align: center; }
    #initiative.userpage .init_text > h3 > div.initiative_name {
      text-transform: capitalize;
      font-size: 18px; }
  #initiative.userpage .init_text > ul {
    margin-top: 10px;
    margin-left: 10px;
    list-style: inside; }
    #initiative.userpage .init_text > ul li {
      padding: 5px 0; }
#initiative.userpage ol#step_through li#stance.step .position_container {
  background: none;
  border: none;
  width: 600px;
  margin: auto; }
  #initiative.userpage ol#step_through li#stance.step .position_container ul.point_list {
    width: 275px; }
    #initiative.userpage ol#step_through li#stance.step .position_container ul.point_list li.point_in_list.point_in_list_self {
      width: 250px; }
  #initiative.userpage ol#step_through li#stance.step .position_container #points_self_pro.points_self .points_list_header {
    background: url("/images/chalk/pro_back_print.png") no-repeat scroll right top transparent; }
  #initiative.userpage ol#step_through li#stance.step .position_container #points_self_con.points_self .points_list_header {
    background: url("/images/chalk/con_back_print.png") no-repeat scroll right top transparent; }
  #initiative.userpage ol#step_through li#stance.step .position_container .points_self .points_list_header {
    height: 90px; }
  #initiative.userpage ol#step_through li#stance.step .position_container li.point_in_list td.body .username {
    color: gray; }
  #initiative.userpage ol#step_through li#stance.step .position_container li.point_in_list td.body .point_text.nutshell {
    color: black; }
  #initiative.userpage ol#step_through li#stance.step .position_container li.point_in_list td.body .read_more {
    display: none; }
