@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\000031}}
html {
  background: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\000034}}
#content > div {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  margin: 15px 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000311}}
#initiative.userpage input {
  font-size: 24px;
  padding: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000315}}
#initiative.userpage .init_text {
  margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000318}}
  #initiative.userpage .init_text > h3 > div {
    line-height: 24px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000322}}
    #initiative.userpage .init_text > h3 > div.initiative_name {
      text-transform: capitalize;
      font-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000325}}
  #initiative.userpage .init_text > ul {
    margin-top: 10px;
    margin-left: 10px;
    list-style: inside; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000329}}
    #initiative.userpage .init_text > ul li {
      padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000339}}
#initiative.userpage ol#step_through li#stance.step .position_container {
  background: none;
  border: none;
  width: 600px;
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000345}}
  #initiative.userpage ol#step_through li#stance.step .position_container ul.point_list {
    width: 275px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000348}}
    #initiative.userpage ol#step_through li#stance.step .position_container ul.point_list li.point_in_list.point_in_list_self {
      width: 250px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000352}}
  #initiative.userpage ol#step_through li#stance.step .position_container #points_on_board_pro .points_list_header {
    background: url("/images/chalk/pro_back_print.png") no-repeat scroll right top transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000355}}
  #initiative.userpage ol#step_through li#stance.step .position_container #points_on_board_con .points_list_header {
    background: url("/images/chalk/con_back_print.png") no-repeat scroll right top transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000359}}
  #initiative.userpage ol#step_through li#stance.step .position_container .points_self .points_list_header, #initiative.userpage ol#step_through li#stance.step .position_container .points_board .points_list_header {
    height: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000363}}
  #initiative.userpage ol#step_through li#stance.step .position_container li.point_in_list td.body .username {
    color: gray; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000366}}
  #initiative.userpage ol#step_through li#stance.step .position_container li.point_in_list td.body .point_text.nutshell {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/ConsiderIt\/public\/stylesheets\/sass\/stances\/_print\.sass}line{font-family:\0000368}}
  #initiative.userpage ol#step_through li#stance.step .position_container li.point_in_list td.body .read_more {
    display: none; }
