@import "grooves/base/colors"
@import "grooves/base/variables"

.m-dashboard-moderate

  #tabs
    margin-left: 15px
    a 
      //+font-size(0)
      padding: 2px $grid_xs 0 $grid_xs
      margin-right: 4px
      display: inline-block
      position: relative
      top: 1px

      cursor: pointer
      border-radius: 8px 8px 0 0
      

      &.active
        border: 1px solid $comp_color
        background-color: $comp_color
        color: white
      &.inactive
        color: #666
        background-color: #f1f1f1
        border: 1px solid #ddd
        border-bottom-color: $comp_color

      .name
        font-weight: bold

  .m-moderate_hide-moderated
    margin-bottom: $vertical_baseline

  .m-moderate-content
    border-top: 1px solid $comp_color
    //border-radius: 8px

  &.hide_moderated .moderated
    display: none

  .m-moderate-row
    padding: $vertical_baseline $grid_xs
    border-bottom: 1px solid #aaa

    &.passed
      background-color: #efe
      td
        background-color: #efe

    &.failed
      background-color: #fee
      td
        background-color: #fee

  .m-moderatable-field
    margin-bottom: $vertical_baseline/2

  .m-moderate-form

    .pressable_button
      //+font-size(1)
      padding: 3px $grid_xs
      margin-left: 0
      margin-right: $grid_xs

  .meta
    text-transform: uppercase
    //+font-size(-4)
    margin-bottom: $vertical_baseline / 2

    .m-moderate-context_link
      text-decoration: underline
    .by

