@import "grooves/base/colors"
@import "grooves/base/variables"
@import "core"

.m-dashboard-moderate

  #tabs
    margin-left: 15px
    a 
      //+font-size(0)
      padding: 2px $grid_xs 0 $grid_xs
      margin-right: 4px
      display: inline-block
      position: relative
      top: 1px

      cursor: pointer
      border-radius: 8px 8px 0 0
      

      &.active
        border: 1px solid $comp_color
        background-color: $comp_color
        color: white
      &.inactive
        color: #666
        background-color: #f1f1f1
        border: 1px solid #ddd
        border-bottom-color: $comp_color

      .name
        font-weight: bold


  .m-moderate-content
    //border-radius: 8px

  &.hide_moderated .moderated
    display: none

  .m-moderate-filters
    padding-top: $vertical_baseline
    padding-left: $grid_xs
    color: rgba($base_text_color, .5)
    border-top: 1px solid $comp_color

  .m-moderate-filter
    color: rgba($base_text_color, .7)

    &.selected
      opacity: 1
      font-weight: bold
      color: $base_text_color
      
    &:hover
      color: $base_text_color

  .m-moderate-row
    padding: $vertical_baseline $grid_xs
    border-bottom: 1px solid #aaa


  .m-moderatable-evaluation-option
    &:hover
      background-color: rgba(yellow, .15)
    label
      width: 80%
      cursor: pointer
      display: inline-block
    input
      cursor: pointer


  .m-moderatable-field
    margin-bottom: $vertical_baseline/2

  .m-moderatable-email button
    +font-size(-3)

  .meta
    text-transform: uppercase
    //+font-size(-4)
    margin-bottom: $vertical_baseline / 2

    .m-moderate-context_link
      text-decoration: underline
    .by

