.paginate
  display: inline-block

  .forward, .back
    display: block
    background-repeat: no-repeat
    height: 16px
    width: 13px
    cursor: pointer

.horizontal
  position: relative
  .paginate
    width: 20px
    height: 20px
    display: inline-block
    position: absolute
    top: 50%
    margin-top: -10px
    &.first
      //float: left
      //.back
      //  background-image: image-url('arrow-prev.png')
      left: 0
    &.last
      right: 0
      //float: right
      //.forward
      //  background-image: image-url('arrow-next.png')

    .forward 
      text-align: right
    .back
      text-align: left

  .carousel
    height: 90px
    //float: left
    margin: 3px 20px


  