#wrap 

  &:before
    // content: ''
    // width: 100%
    // height: 35px
    // position: absolute
    // left: 0
    // background-color: #585858
    // bottom: 0px
    // border-top: 1px solid #444
    // //border-bottom: 1px solid #333
    // +box-shadow(0px, 0px, 3px, rgba(black, .3))
    // +linear-gradient(#555,#666)
    // z-index: -1

  #footer
    +inset-text(.3)
    padding: 15px 0
    position: relative
    width: 800px
    //width: 100%

    > div
      display: block
      color: black
      
      vertical-align: middle
      text-align: center

      .label
        
        font-variant: small-caps
        text-transform: lowercase
        +heading
        font-size: 13pt
        color: #555
        color: rgba(black, .6)
        margin-top: 24px

      .body
        font-size: 9pt  
        padding-top: 10px        
        a
          color: black
          text-decoration: underline
        
        .ledge
          width: 855px
          &.top
            margin-top: 17px

      &.about
        .label
          margin-top: 5px



      &.link_list
        a
          padding-left: 4px
          white-space: nowrap

    // &:after
    //   content: "."
    //   display: block
    //   height: 0
    //   clear: both
    //   visibility: hidden
      
    .powered_by
      margin-top: 12px
      color: #ccc
      color: rgba(#ccc, .9)
      text-align: center
      +text-outline(rgba(black,.5))
      font-size: 12pt
      font-variant: small-caps
      text-transform: lowercase
      font-weight: bold

      a
        color: inherit
        text-decoration: underline

    .report_problems
      +text-outline(rgba(black,.5))
      font-size: 8pt
      color: #ccc
      font-weight: bold
      text-transform: lowercase
      a
        color: inherit
        text-decoration: underline

      