#wrap 

  &:before
    // content: ''
    // width: 100%
    // height: 35px
    // position: absolute
    // left: 0
    // background-color: #585858
    // bottom: 0px
    // border-top: 1px solid #444
    // //border-bottom: 1px solid #333
    // +box-shadow(0px, 0px, 3px, rgba(black, .3))
    // +linear-gradient(#555,#666)
    // z-index: -1

  #footer
    +inset-text(.3)
    padding: 15px 0
    position: relative
    width: 800px
    //width: 100%

    > div
      display: block
      color: black
      
      vertical-align: middle
      text-align: center

      .label
        
        font-variant: small-caps
        text-transform: lowercase
        +heading
        font-size: 13pt
        color: #555
        color: rgba(black, .6)
        margin-top: 24px

      .body
        font-size: 9pt  
        padding-top: 10px        
        a
          color: black
          text-decoration: underline
        
        .ledge
          width: 855px
          &.top
            margin-top: 17px

      &.about
        .label
          margin-top: 5px
      &.contact
        //height: 100px
        form, span
          display: inline-block
          position: relative
          margin-left: 8px

          &.facebook, &.twitter
            iframe
              position: absolute
              left: 0
              top: 0
              z-index: 0

            img
              position: relative
              top: 1px
              left: -2px
              height: 11px

            &.facebook
              margin-right: 30px
              //top: 4px
              .wrapper
                width: 44px
          
            &.twitter
              .wrapper
                width: 66px

          input[type="button"], input[type="submit"], .wrapper
            font-size: 8pt
            height: 20px
            padding: 2px 20px
            
            +chalkboard
            +chalk
            border: none
            border-top: 1px solid #ccc
            border-bottom: 1px solid #111
            +box-shadow(0px, 1px, 2px, rgba(black, .3))
            +border-radius(5px) 
            cursor: pointer
            text-shadow: none

            &.wrapper
              pointer-events: none
              position: relative
              z-index: 1
              height: 16px
              padding: 2px 0 0 0
              vertical-align: top
              padding-left: 4px



      &.link_list
        a
          padding: 0 11px
          white-space: nowrap

    // &:after
    //   content: "."
    //   display: block
    //   height: 0
    //   clear: both
    //   visibility: hidden
      
    .powered_by
      margin-top: 12px
      color: #555
      color: rgba(black, .6)
      text-align: center
      +inset-text
      font-size: 10pt
      font-variant: small-caps
      text-transform: lowercase
      font-weight: bold

      a
        color: inherit
        text-decoration: underline


      