#wrap
  #masthead
    height: $vertical_baseline * 3
    position: absolute
    top: 0
    left: 0
    width: 100%
    
    .inner
      width: $content_width
      //margin-top: $vertical_baseline * 2
      position: relative
      z-index: 1
      padding: 0
      margin: auto

      .logo_cell
        position: absolute
        left: 0px
        z-index: 6
        //float: left
        a
          overflow: hidden
          opacity: 1


#nav-user
  //position: absolute
  //top: -80px
  //right: 0
  position: absolute
  z-index: 7
  right: 0
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px

  padding: 10px 15px

  a
    color: $header_color
    font-weight: bold
    +font-size(-1)

  > li
    display: inline-block
    vertical-align: top

    &.triangle
      cursor: pointer
      position: relative

      .spacing
        height: 0px

      .hide
        z-index: 99
        position: absolute
        right: -19px
        width: 150px
        +chalkboard
        +on_chalkboard

        .avatar 
          padding: 2px 0 0px 15px
          a
            padding: 0
            margin: 0
            img
              width: 35px
              height: 35px
        ul
          margin-left: 0
          li a
            width: 100%
            padding: 1px 10px 0 8px
            display: block
            cursor: pointer
            +font-size(-3)

            //&:hover
            //  color: #ccc

    &.progress
      width: 220px
      position: relative
      margin-right: 10px
      padding-right: 10px
      display: none

      .hide
        width: 100%
        
      #progressbar
        display: inline-block
        border: 1px solid #5A0002
        width: 100%
        height: 18px
        margin-top: 0px

        .ui-widget-header
          background-color: #900000
          border: 1px solid #AC0000

      
      .triangle_img
        vertical-align: top
        margin-top: 6px

      .text_progress
        color: #969696
        +font-size(-1)
        position: absolute
        top: 1px
        left: 30px
