.flash_messages
  position: relative
  //top: -81px
  //padding-left: 137px
  z-index: 100
  .message
    //position: absolute
    z-index: 999
    +chalkboard
    +on_chalkboard    
    border: 1px solid hsl(50, 100%, 30%)
    border-width: 2px 0
    //color: #4D4A33
    +font-size(-3)
    padding: 3px 41px 3px 10px
    text-align: center

    .close
      position: absolute
      right: 0
      top: 0
      button
        //background-color: #E9DF63
        //color: #4D4A33
        padding: 0 4px 2px 4px
        background: none
        border: none

    form
      display: inline-block
      input
        background-color: transparent
        font-size: inherit
        color: inherit
        text-decoration: underline
        padding: 0
        border: none
