
.message
  position: relative
  z-index: 1
  background-color: #FFFABA
  background-color: rgba(#FFFABA, .5)
  border: 1px solid #FFE800
  color: #666
  font-size: 8pt
  padding: 3px 21px
  text-align: center
  width: 700px
  margin: auto

  form
    display: inline-block
    input
      background-color: transparent
      font-size: inherit
      color: inherit
      text-decoration: underline
      padding: 0
