.m-sidebar
  hr
    border-top: 1px solid #aaa
    margin: $vertical_baseline/2 0

  li
    list-style-type: none

  .m-sidebar-image img
    display: inline-block
    width: 100%

  .m-sidebar_link
    //+background-image(linear-gradient(#eee, #ccc))
    +font-size(-1)
    color: #555
    width: 100%      
    //width: $dashboard_sidebar_width - 2 * $grid_xs
    padding: 5px $grid_xs
    display: inline-block
    text-align: right

    &.current
      font-weight: bold
      background-color: $comp_color
      color: white
      //position: relative
      //left: 1px
      //&:hover
      //  background: none
      //  background-color: white

    &:hover
      //+background-image(linear-gradient(#fff, #ddd))
      background-color: $comp_color
      color: white