%a.l-navigate-back
  &laquo; go back
%a.t-logo{ :href => '#l-footer', :title => 'Learn more about ConsiderIt'}
  Consider&#9733;It
  //%br
  //%span{ :style => "font-size:8px; line-height:8px; position: relative; top: -8px"}
  %span.t-logo-tagline
    Technology for good dialogue
.l-navigate-breadcrumbs