#initiative
  #description
    padding: 10px
    margin-bottom: 20px
    background-color: $bk_light_gray
    .init_graphic
      img
        width: 175px
    .init_text
      vertical-align: top
      padding-left: 20px
      
      h1.initiative_name
        margin-bottom: 5px
        line-height: 30px
        text-transform: capitalize
          
      li.initiative_desc_point
        width: 90%
        padding: 5px 0px
        line-height: 18px
        @include nude-list
    
      #show
        display: none
  
  .position
    margin: auto
    .slider_table
      margin: auto
      width: 85%
      font-size: 20px

      ul.position_labels
        width: 100%
        li
          float: left
          margin-right: 4%
          @include nude-list
          font-size: 16px
          
      td.slider_label 
        div
          width: 125px
        
      td.left
        text-align: right
        padding-right: 10px
      
      .slider_container
        margin: auto
        height: 60px
        text-align: center
        
        .slider
          margin: 10px
        
        .ui-slider
          width: 600px
          background: none
          background-color: $bk_gray
          border: none
          height: 16px
          a.ui-slider-handle
            background: url("/images/slider.png") repeat-x scroll 50% 50% transparent  
            border: none
            -moz-border-radius: 0px
            border-radius: 0px
            top: -.2em
            height: 32px
            width: 28px
            
      td.right
        text-align: left
        padding-left: 10px
      
      .center
        font-size: 12px
  
    
  ol#step_through
    @include nude-list
    
    li.slide
      background-color: $bk_blue
      
    li.step
      
         

      &#stance
        background-color: $bk_light_blue
        .extra
          color: black
        .rest
          padding: 10px
                
          #points
            width: 100%
            > div
              display: inline-block
            .user_position 
              vertical-align: top
              margin-left: -20px

            .points_other
              vertical-align: top
              padding-top: 50px

              .other
                padding-bottom: 5px
                  
              .extra
                font-size: 10px
                color: #444
                top: -3px
                
              ul.point_list_footer
                margin: 0
                li
                  margin: auto
                  @include nude-list
        
                  &.count
                    min-width: 100px
                              
                  &.refresh
                    > div
                      text-align: center
                      
                    .total
                      color: $txt_dark_gray
                      font-size: 12px
                      font-weight: bold
                    
                    &.prev
                      .total
                        padding-bottom: 10px
                    &.next
                      .total
                        padding-top: 10px
                        
              &#points_other_pro 
                ul.point_list_footer
                  td
                    float: left
              &#points_other_con 
                margin-left: -14px
                ul.point_list_footer
                  td
                    float: right

                  
       
      &#submitstance
        margin-bottom: 0px
        padding-bottom: 5px
          
        .extra
          color: black
        input.submit
          background-color: transparent
          background-image: url('/images/submit-stance.png') 
          background-repeat: no-repeat
          cursor: pointer
          text-shadow: gray 1px 1px 2px
          width: 180px
          height: 55px
          border: none
          
        .rest
          margin: auto
          width: 100%
          padding: 10px
          
          > div
            margin: auto
            
            form
              width: 180px
              margin-left: 380px
              
            .stance_status
              padding-bottom: 5px
              text-align: center
              color: $txt_gray
              font-size: 14px
              .name
                font-weight: bold
      
