
#initiative
  &.guide
    li.breakdown
      border: 3px solid $bk_light_blue

        
    ol#step_through li.step
      margin: 0 40px
      padding-bottom: 0

      .head
        padding: 15px 15px 15px 15px
        color: $txt_dark_gray
        position: relative

        .extra
          padding: 0
          letter-spacing: 1px
          top: -3px

  #description
    &.hiding
      background-color: inherit
      .description_wrapper, .pic, #full_desc_block
        display: none
            
    background-color: $bk_light_gray
    position: relative

    margin: 0px 0 20px 0
    padding-bottom: 15px

    .pic
      float: left
      width: 175px
      height: 162px
      margin: 25px 18px 0 13px
      background: url('/images/placeholder-tax.png') no-repeat scroll top left

    #full_desc_block
      background-color: $bk_gray
      position: absolute
      right: 0
      top: 0
      a
        padding: 6px 10px
        display: inline-block
        color: $txt_gray
        text-decoration: underline
        font-size: 12px

    .description_wrapper
      float: left
      width: 580px
      margin: 15px 70px 0 0px

      .init_text
        vertical-align: top
        
        h2.locality
          font-size: 16px
          font-weight: normal
          line-height: 20px
          color: $txt_gray
          font-variant: small-caps
          text-transform: lowercase

        h1.initiative_name
          margin-bottom: 5px
          font-size: 24px
          font-weight: bold
          line-height: 25px
          text-transform: capitalize
          padding-bottom: 5px
          color: $txt_dark_gray

        .initiative_desc_point
          width: 90%
          padding: 5px 0px
          line-height: 18px

      .full_text, .long_description, .additional
        width: 480px
      
      .long_description, .additional
        .prompt
          font-size: 15px
          font-weight: bold
          color: $txt_dark_gray
          a
            font-size: 12px
            font-weight: normal
            text-decoration: underline
            color: inherit
        
        table
          display: block
          margin-left: -50px

          p 
            margin-bottom: 0

          tr
            padding: 3px 0

            td
              padding: 5px 10px
        ul
          li
            list-style-type: disc
        ol
          li 
            list-style-type: decimal
        ul, ol
          margin-left: 15px
          li

          ul li
            list-style-type: circle
          ol li
            list-style-type: lower-latin
          ol, ul
            margin-left: 25px

  .position
    margin: auto
    .slider_table
      margin: auto
      width: 85%
      font-size: 20px

      ul.position_labels
        width: 100%
        li
          float: left
          margin-right: 4%
          @include nude-list
          font-size: 16px
          
      td.slider_label 
        div
          width: 125px
        
      td.left
        text-align: right
        padding-right: 10px
      
      .slider_container
        margin: auto
        height: 60px
        text-align: center
        
        .slider
          margin: 10px
        
        .ui-slider
          width: 600px
          background: none
          background-color: $bk_gray
          border: none
          height: 16px
          a.ui-slider-handle
            background: url("/images/slider.png") repeat-x scroll 50% 50% transparent  
            border: none
            -moz-border-radius: 0px
            border-radius: 0px
            top: -.2em
            height: 32px
            width: 28px
            
      td.right
        text-align: left
        padding-left: 10px
      
      .center
        font-size: 12px
  
    
  ol#step_through
    @include nude-list
    
    li.slide
      background-color: $bk_blue
      
    li.step
      
         

      &#stance
        background-color: $bk_light_blue
        .extra
          color: black
        .rest
          padding: 10px
                
          #points
            width: 100%
            > div
              display: inline-block
            .user_position 
              vertical-align: top
              margin-left: -60px

            .points_other
              vertical-align: top
              padding-top: 50px
              width: 224px

              .other
                padding-bottom: 5px
                  
              .extra
                font-size: 10px
                color: #444
                top: -3px
                
              ul.point_list_footer
                margin: 0
                li
                  margin: auto
                  @include nude-list
        
                  &.count
                    min-width: 100px
                              
                  &.refresh
                    > div
                      text-align: center
                      
                    .total
                      color: $txt_dark_gray
                      font-size: 12px
                      font-weight: bold
                    
                    &.prev
                      .total
                        padding-bottom: 10px
                    &.next
                      .total
                        padding-top: 10px
                        
              &#points_other_pro 
                ul.point_list_footer
                  td
                    float: left
              &#points_other_con 
                margin-left: -63px
                ul.point_list_footer
                  td
                    float: right

                  
       
      &#submitstance
        margin-bottom: 0px
        padding-bottom: 5px
          
        .extra
          color: black
                    
        .rest
          margin: auto
          width: 100%
          padding: 10px
          
          > div
            margin: auto
            
            form
              margin: auto
              width: 400px

              input[type="submit"]
                background-color: transparent
                background-image: url('/images/submit-stance.png') 
                background-repeat: no-repeat
                cursor: pointer
                text-shadow: gray 1px 1px 2px
                width: 380px
                height: 75px
                border: none
                padding: 0
              
              a
                display: inline-block
                margin-left: 240px
                margin-top: -10px
                font-size: 10px
                color: $txt_gray                
                font-weight: bold
                &:hover
                  text-decoration: underline

              label
                color: $txt_gray
                text-transform: none
                letter-spacing: 0
                padding-left: 5px

              li
                padding: 5px 0

            .stance_status
              padding-bottom: 5px
              text-align: center
              color: $txt_gray
              font-size: 14px
              .name
                font-weight: bold
      
