
.initiatives
  margin: 15px auto

  .paginate
    display: inline-block

    .forward, .back
      display: block
      background-repeat: no-repeat
      height: 16px
      width: 13px
      cursor: pointer
      

  .carousel

    ul.initiative_list
  
  &.vertical
    margin: -15px 20px 0 0
    float: right
    width: 300px

    .paginate
      width: 100%
      height: 16px

      .forward, .back
        margin-left: auto
        opacity: .6
        padding-right: 5px

      &.first
        .back
          background-image: url('/images/arrow-up.png')
      &.last
        .forward
          background-image: url('/images/arrow-down.png')
          background-position: 0 5px

    .carousel
    
  &.horizontal
    .paginate
      width: 20px
      margin-top: 40px
      &.first
        float: left
        .back
          background-image: url('/images/arrow-prev.png')
      &.last
        float: right
        .forward
          background-image: url('/images/arrow-next.png')

      .forward 
        text-align: right
      .back
        text-align: left

    .carousel
      height: 90px
      float: left


li.initiative_item
  @include nude-list
  
  background-color: $bk_gray
  margin: 0px 10px 10px 0px
  padding: 10px
  border: 1px solid $bk_gray
  border-bottom: 1px solid $brd_light_gray
  position: relative
  color: black
  
  &.finished
    background-image: none
    &:hover, &.active
      background-color: black
      color: white

  &:hover, &.active
    background-color: black
    color: white

  > a
    color: inherit
    margin: auto
    display: inline-block
    padding: 10px
                
    font-weight: bold
    font-family: helvetica
    letter-spacing: -3px
    text-align: center
          
    .designation
      letter-spacing: 0px

    .short_name
      width: 100%
      letter-spacing: -1px
      text-transform: capitalize

               
  &.horizontal
    margin: 0 5px 5px 0
    float: left 
    padding: 0

    &.finished
      
    
    > a
           
      font-size: 26px
      line-height: 22px
  
      .short_name
        font-size: 12px
        line-height: 12px
      
      .designation
        font-size: 8px
        line-height: 15px
        text-transform: uppercase
      
      .number
        font-size: 40px   
        line-height: 40px 

  &.vertical
    margin: 3px 0
    padding: 0

    &.finished
    
    > a      
      font-size: 26px
      line-height: 22px
      width: 100%
      height: 100%
      padding: 0
      margin: 0

      > div
        display: inline-block

      .number
        font-size: 28px   
        line-height: 28px 
        width: 60px
        padding: 5px 0
        text-align: right
        margin-right: 15px

      .short_name
        width: 135px
        font-size: 15px
        line-height: 15px
        text-align: left
        margin-right: 15px
      
      .designation
        font-size: 13px
        text-align: left
      
