ul.point_list
  top: -25px
  margin: 0
  padding: 0
  margin-bottom: 10px
  position: relative

.points_other ul.point_list
  top: 0


#ranked_points
  position: relative
  .position_container
    width: 805px
    min-height: 550px

    .carousel
      top: -25px
      position: relative
      
      ul.point_list
        top: 0

#points
  .position_container
    width: 570px
    min-height: 700px

.position_container
  padding: 0px 5px
  
  
  // chalk
  background: transparent url("/images/chalk/chalkboard.png") repeat scroll top left                                
  border: 3px solid
  border-top-color: #bbb
  border-right-color: #222
  border-left-color: #777
  border-bottom-color: #222
  
  > div
    position: relative  

  #points_on_board_pro
    .points_list_header
      padding-left: 20px
  
  .points_self
    width: 265px
    
  .points_self, .points_board 
    &#points_on_board_pro
      .points_list_header
        //chalk
        background: transparent url("/images/chalk/pro_back.png") no-repeat scroll top center
        
    &#points_on_board_con
      //chalk
      .points_list_header
        background: transparent url("/images/chalk/con_back.png") no-repeat scroll top center
        
    .points_list_header   
      //chalk
      height: 120px 
      width: 200px
      margin: 0 auto

    &#points_on_board_pro
      float: left
      margin-right: 5px
    &#points_on_board_con
      float: right
  
  .must_be_logged_in
    color: white
    padding: 25px 25px 50px 25px
    width: 100%
    
    .contribute, .login_or_create, .fb_login
      float: left
      height: 75px
    
    .contribute
      font-size: 20px
      font-weight: bold
      width: 135px
      padding-top: 25px
      
    .login_or_create
      padding-top: 5px
      width: 169px
      border-right: 1px dotted gray
      .login 
        float: none
        width: 154px
        height: 48px
        background: transparent url('/images/loginbutton.png') no-repeat scroll top left  
                
        a
          border: none
          padding-right: 154px  
          padding-bottom: 48px          
      .create
        font-size: 14px
        font-weight: bold
        a
          text-decoration: underline
    .fb_login
      width: 75px
      margin-top: 20px
      button
        border: none
        padding: none
        width: 66px
        height: 22px
        background: transparent url('/images/fb_login.png') no-repeat top left  
    .why
      a
        font-size: 12px
        text-decoration: underline
        color: gray
        font-weight: bold
        
    li
      padding: 3px
    a
      color: white
      text-decoration: underline
      cursor: pointer