#initiative

  h3
    font-size: 24px
    margin-bottom: 0px
    line-height: normal
    
    &.banner
      a
        text-decoration: underline
    &.other
      color: black
      font-size: 20px
      .subheader
        font-size: 18px
        font-weight: normal
        
  .extra
    font-size: 14px
    position: relative
    top: -6px
    color: white
    display: none
  

    
  ol#step_through
    @include nude-list
    
    li.step
      margin-bottom: 30px
      padding-bottom: 25px
      
      .head
        padding: 20px 10px 5px 0px
        
        h3
          display: inline
        .extra
          padding: 3px 0 0 50px
        .ol_number
          background-color: $bk_dark_blue
          padding: 3px 3px 3px 20px
          position: relative
          left: -10px
          color: white
          font-size: 22px
          font-weight: bold
          
      .rest
        font-size: 14px
        margin-top: 10px
        color: white


