#initiative

  li.breakdown
    border: 2px solid $bk_blue
    border-width-left: 1px
    position: relative
    padding-bottom: 0
    
    .extra
      color: black
    
    .you_slider
      position: absolute
      z-index: 999
      top: 95px
      left: 593px
      
      &.call
        top: 104px
        left: 661px
      
    .bars
      position: absolute
      z-index: 99
      top: -20px
      left: 525px
      .viz
        .stance_chart
          
      .vizbase
  
        td
          color: $txt_gray
          font-size: 14px
          .inner, .pedestal
            position: relative
            top: -10px
          &.middle
            height: 0px
            margin-left: 0px
            width: 300px
            .pedestal
              background-color: #ccc
              height: 5px
              width: 300px
              margin-left: 6px
  
          &.first
            padding-right: 3px
          &.last
            padding-left: 3px
            
    .explore#ranked_points
      background-color: $bk_light_blue
      margin: 50px 10px 10px 10px
      padding: 15px
              
      .extra 
        padding: 3px 0 0 2px        
  
      .group
        color: white
    
      .filters
        float: right
        position: absolute
        z-index: 100
        top: 135px
        right: 25px
        
        a#show_popular, a#show_self
          font-size: 12px
          font-weight: bold
          display: block
          text-align: right
          
          &:hover
            text-decoration: underline
