%li.statement.step
  .head
    %h3.banner.double
      - if @is_admin
        - @proposal.statement_prompt = prompt
        = render :partial => 'proposals/admin_make_editable', :locals => { :field => :statement_prompt}
      - else
        = prompt
  
  .rest.statement
    = text_area_tag :statement, @position.explanation
