-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

.proposal_list
  .infinite_scroll{ :name => "proposals" }
    %ul
      - proposals.each do |proposal|
        = render :partial => "proposals/list_output/item", :locals => { :proposal => proposal, :show_full_text => false, :hide_initially => hide_initially }
    .clear

