@import "theme_colors"
@import "proposals/description" 

.point-pledge
  display: none

#explore_proposal > ol 
  li.head
    display: none

#wrap #footer
  width: 100%

  .powered_by
    text-align: center
    a
      font-weight: bold
      text-decoration: underline
      color: white    