- link = dashboard_email_notifications_url(:host => @subdomain.host_with_port, :u => @user.email, :t => ApplicationController.arbitrary_token("#{@user.email}#{@user.unique_token}#{@subdomain.name}" ) )

%div 
  %a{href: link, style: "color: white"} Unsubscribe

  = description
