@import "variables"
@import "library"
@import "compass/css3/transition"


// High-level decision board styles

.decision_board_body
  // width: auto
  +transition(border $transition_speed, width $transition_speed, height $transition_speed)
  border-radius: 15px
  position: relative

[data-state="crafting"]
  .decision_board_body
    width: $decision_board_width
    padding: $vertical_baseline * 1.5 $grid_gutter

[data-state="results"]
  .decision_board_body
    width: 186px

    a
      padding: $vertical_baseline / 4 $grid_gutter
      width: 100%
      display: block

// The heading of the decision board
.decision_board_heading_region, [data-state="crafting"][data-prior-state="summary"].transitioning .decision_board_heading_region
  width: $decision_board_width
  position: relative
  margin-left: -$grid_gutter / 2 - 2
  border: 2px transparent
  display: block

[data-state="crafting"], [data-state="results"]
  .decision_board_heading_region
    display: none

.decision_board_heading_view a
  padding: $vertical_baseline/4 0 $vertical_baseline/4 $grid_gutter
  +font-size(2)
  width: 100% 
  display: inline-block


//the save opinion and other stuff in the footer of the decision board
[data-state="crafting"] .decision_board_footer_view
  position: relative
  width: 100%
  z-index: 2
  margin: $vertical_baseline 0 2 * $vertical_baseline 0

  .submit_opinion_button
    width: 100%
    +font-size(2)
    text-align: center
    font-weight: bold
    position: relative

  .submit_opinion_footer
    margin-top: $vertical_baseline/2
    .subscribe_to_proposal_notifications
      display: inline-block
      +font-size(-2)
      label, input[type="checkbox"]
        cursor: pointer

    .cancel_submitting_an_opinion
      display: inline-block
      margin-right: $grid_gutter
      float: right
      +font-size(-2)

[data-state="results"] .decision_board_footer_view
  visibility: hidden




