@import "variables"
@import "library"
@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/transform"

$histogram_width: $body_width + 2 * $grid_major

.feelings_region
  +transition(opacity $transition_speed)
  margin: $vertical_baseline auto 0 auto
  position: relative
  top: 0px
  width: $histogram_width
  display: block

  .histogram_base, .histogram_bar_users, .histogram_bar
    +transition(opacity $transition_speed)
    +backface-visibility(hidden)


// HISTOGRAM / WHAT

.histogram_bar
  position: relative
  border-radius: 0px
  text-align: center
  display: inline-block
  vertical-align: bottom

[data-state="crafting"]
  .histogram_bar_users  
    opacity: .2

.histogram_bar_users
  background-color: transparent
  font-size: 0
  margin: auto
  
  .avatar
    border-radius: 50%
    background-color: #bbb
    background-image: none
    margin-bottom: 1px


//////////
// When there are multiple colums in a bar, need to prevent putting the row with least faces at the bottom
//  xxx        x
//  xxx   =>  xxx 
//   x        xxx
.extreme_or_neutral
  .histogram_bar_users
    +rotate(180deg)
    .avatar
      +rotate(180deg)  
///////

$histogram_base_height: 4px

.histogram_base
  margin: auto
  height: $histogram_base_height
  width: $histogram_width - 2 * $grid_major
  border-radius: 10px


////
// Slider handle
.ui-slider-handle
  border-radius: 50%
  +transition(width $transition_speed, height $transition_speed, top $transition_speed, margin $transition_speed)
  +box-shadow
  border: 1px solid #414141

  // the mouth leading into the "give opinion button" or the decision board, depending on state
  .bubblemouth
    +transition(width $transition_speed, top $transition_speed, left $transition_speed, transform $transition_speed)
    position: absolute  

[data-state="results"] .histogram_base .ui-slider-handle
  width: 20px
  height: 20px 
  top: -10 +  $histogram_base_height/2
  margin-left: -10px

  .bubblemouth
    width: 16px
    top: 21px

[data-state="crafting"] .histogram_base .ui-slider-handle
  top: -35px +  $histogram_base_height/2
  width: 50px
  height: 50px 
  margin-left: -25px

  &:hover
    +grab_cursor

  .bubblemouth
    width: 28px
    top: 54px

// The area on top of the slider that shows in crafting to let user know what their stance is
.feeling_feedback
  position: absolute
  top: -5 * $vertical_baseline
  width: 250px
  left: 50%
  margin-left: -125px

  .feeling_feedback_label, .feeling_feedback_result, .feeling_feedback_instructions
    text-align: center

  .feeling_feedback_label
    +font-size(-1)
    font-weight: 200

  .feeling_feedback_result
    +font-size(5)
    font-weight: 600

  .feeling_feedback_instructions
    +font-size(-3)
    font-weight: 200

// the poles of the histogram & slider
.feeling_labels
  width: 130%
  margin-left: -15%
  position: absolute
  bottom: -10px

  .histogram_label
    +font-size(6)
    font-weight: 200

  .histogram_label_support
    float: left
  .histogram_label_oppose
    float: right