@import "variables"
@import "library"

.newpoint

  .newpoint_prompt
    padding: $vertical_baseline/4 0
    cursor: pointer
    +font-size(0)

    .newpoint_link
      text-decoration: underline
      font-weight: 600
    .newpoint_bullet
      padding: 0 6px
    .qualifier
      font-weight: 100


  .newpoint_form
    padding-top: $vertical_baseline / 2
    position: relative
    margin-left: $grid_gutter
    input, textarea
      +font-size(0)
      padding-top: 0
      padding-bottom: 0
  
    &:before
      left: -11px    
      +font-size(-4)

  .newpoint_description
    width: 96%
    min-height: 55px

  .newpoint_nutshell_wrap
    .newpoint_nutshell
      width: 96%
      min-height: 55px

    .count
      +font-size(-3)
      vertical-align: middle
      position: absolute
      right: 20px
      top: -16px

  .newpoint-submit
    text-align: right
    margin-top: 3px

  .newpoint_hide_name
    label, input
      +font-size(-1)