
.unlock
  %span.subtext
    Show your local measures: 
  %span.inlined
    = text_field_tag :zip, '', :placeholder => 'Your zip code', :title => 'Type your zip code to unlock your local ballot measures', :id => 't-unlock-measures-zip'
  = submit_tag 'Show', :id => 't-unlock-measures-button', :class => "button"
.unlocked.hide
  %span.subtext
    Showing local measures for 
  %span.zipcode
  %a.reset_zip
    change
