//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

- phil = true
- style = 'horizontal'
- hide_initially = false

#home
  #flag
    = image_tag current_theme_image_path("flag.png")

  #paper{ :class => phil ? 'phil' : 'jeremy' }

    - if phil
      .subheader
        &hellip;if you 
        = succeed ' ' do
          %a{:href => 'http://www.phildoddsforcongress.com', :title => 'Phil Dodd\'s candidate website'} elect me
        as U.S. House Representative of Florida District 3


    #proposals

      = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false, :prompt => 'Vote on this proposal' }

      - if current_user && current_user.is_admin?
        = render :partial => "proposals/new", :locals => { :prompt => 'Add new proposal'}

