
.power
  Powered by 

#{link_to image_tag('directrep/images/chalkboardit.png'), 'http://chalkboard.it', :target => '_blank', :title => 'Powered by ChalkboardIt'}

-# #{link_to image_tag('directrep/images/makeyourlaws.png'), 'https://makeyourlaws.org/', :target => '_blank', :title => 'Powered by Make Your Laws'}


