//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

.available_themes
  %ul
  - ['lvg', 'default', 'pso'].each do |theme|
    %li.theme
      = link_to theme, theme_path(:theme => theme), :method => :post
