-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- num_majors = 22

%style(type="text/css") 
  :sass
    table.grid
      display: none
      height: 10px
      .xs
        width: 18px
        height: 10px

      .minor
        width: 30px
        height: 10px
        background-color: rgba(green, .4)

%table.grid
  %td
    .xs
  - (1..num_majors).each do |i|
    %td
      .minor
    %td
      .xs
  %td
    .xs


#grid
