%script{ :type => "text/template", :id => "tpl_dashboard_analyze"}
  .dashboard-heading
    %h2
      Analytics [experimental]

    .dashboard-subheading
      Data about what users are doing

  .analytics-tabs
    %ul
      %li.analytics-view{ :'action' => 'visitation'}
        Visitation
      %li.analytics-view{ :'action' => 'timeseries'}
        Time series

  .analytics-region

%script{ :type => "text/template", :id => "tpl_dashboard_analytics_visitation"} 
  %h2
    On-site activities broken down by how the user first reached the site

  %table.analytics-visitation
    %tr
      %th
        domain
      %th
        unique visitors
      %th
        registered users
      %th
        registration rate


    (( _.each(_.sortBy(by_domain, function(d){return -d.total;}), function(domain) { ))
    %tr.analytics-visitation-row
      %td
        {{ domain.domain }}
      %td
        {{ domain.total }}
      %td
        {{ domain.registered }}
      %td
        {{ (domain.registered / domain.total * 100 ).toFixed(1) }}%        
    (( }); ))

%script{ :type => "text/template", :id => "tpl_dashboard_analytics_timeseries"} 
  %h2
    Timelines of activities, with cumulative plots on the right    


  (( _.each(time_series_data, function(s) { ))

  .placeholder{ :id => "placeholder-{{s.title}}" }
    %h3
      {{ s.title }}
    .main
      .graph

      .overview

    .cumulative
      .graph

      .overview

  (( }); ))