%script{ :type => "text/template", :id => "tpl_decision_board_layout" }  

  .decision_board_body 

    .decision_board_heading_region

    .decision_board_points_region

    .slider_region

    //.position-explanation-region

  .decision_board_footer_region
              

%script{ :type => "text/template", :id => "tpl_decision_board_points_area" }  

  .pros_on_decision_board_region.points_list_region>     
  .cons_on_decision_board_region.points_list_region>


%script{ :type => "text/template", :id => "tpl_decision_board_slider" }  
  .slider_heading
    {{ slider_prompt }}
  %table
    %tr
      %td.supporting_slider_label
        %div
          {{ slider_left }}

      %td.slider_container
        .noUiSlider

      %td.opposing_slider_label
        %div
          {{ slider_right }}
    %tr
      %td.neutral_slider_label{ :colspan => 3 }
        {{ slider_middle }}


%script{ :type => "text/template", :id => "tpl_decision_board_footer" }  

  (( if( active ) { ))

  %a.submit_opinion_button.superbutton{:'action' => 'submit-opinion'}
    // fa-floppy-o
    %i.fa-lg.fa.fa-floppy-o
    (( if(updating){ ))
    Update your opinion
    (( } else { ))
    Save your opinion
    (( } ))

  .submit_opinion_footer
    .subscribe_to_proposal_notifications

      = label_tag :follow_proposal, '', :title => 'We\'ll send periodic email notifications summarizing activity on the proposal, as well as alerts about new pro and con points. You can easily unsubscribe later.' do
        
        (( if (follows) { )) 
        = check_box_tag :follow_proposal, 'true', true
        (( } else { ))
        = check_box_tag :follow_proposal, 'true'
        (( }))

        %span
          Notify me about new Pros and Cons

    %a.cancel_submitting_an_opinion{:'action' => 'show-results'}
      cancel and show results
  (( } else { ))
  %a.submit_opinion_button.superbutton{:'action' => 'show-results'}
    View results 
  (( } ))


%script{ :type => "text/template", :id => "tpl_decision_board_heading_view" }  

  (( if(active) { ))
  %a{ :href => "{{Routes.new_opinion_proposal_path( long_id )}}", :'action' => 'craft-opinion'}
    //fa-pencil-square-o
    %i.fa.fa-pencil
    {{ call }}
  (( } ))

// %script{ :type => "text/template", :id => "tpl_position_explanation" }  
//   %label{ :name => :explanation }
//     Optional statement that summarizes your thoughts
//   %textarea.position-statement{ :name => :explanation}
