%script{ :type => "text/template", :id => "tpl_header_logo" }

  %a.t-logo{ :href => 'http://consider.it', :title => 'Learn more about ConsiderIt'}
    
    %span.t-logo-name
      Consider
    %span.t-logo-separator
      &#9733;
    %span.t-logo-name
      It
    %span.t-logo-tagline
      Technology for good dialogue
