%script{ :type => "text/template", :id => "tpl_static_sidebar" }
  %ul
    %li.sidebar-image
      (( if( tenant.get('homepage_pic_file_name') ){ ))
      %img.t-logo{ :src => "{{tenant.getHomepagePic()}}"}
      (( } else { ))
      - if current_tenant.managing_account && current_tenant.managing_account.avatar_file_name
        = image_tag current_tenant.managing_account.avatar.url(:large), :class => 't-logo'
      (( } ))



    %li
      %a.sidebar_link{:href => "/home/terms-of-use", :'action' => 'terms-of-use'}
        Terms of use

%script{ :type => "text/template", :id => "tpl_static_terms-of-use"}
  #static-header
    %h1
      Consider.it Terms of Use

  #static-main.tos

    %p
      Welcome to the Consider.it! The following terms of use are provided to make explicit your rights and responsibilities as a participant and to inform you of how your contributions to this site will be used. This page will cover four topics:
    %ul
      %li
        Participation rules
      %li
        Privacy and data collection policy
      %li
        Consider.it content; removing your Consider.it registration
      %li
        Liability statement

    %h3
      Participation rules

    %p
      In order to foster an environment conducive to civil and on-topic political discussion, please abide by the following rules. Violation of any of these rules may result in account suspension or deactivation.

    %ul
      %li
        Do not make personal attacks or use offensive language. Disagreement is both inevitable and welcome on Consider.it; offensive behavior is not. In your posts, please refrain from name-calling; using expletives; slurs against race, ethnicity, gender, and sexual orientation; and other insults. A basic rule of thumb is to focus your attention on the proposals themselves rather than on the people advocating or opposing them. Doing so will help ensure that Consider.it is a welcoming space for all users.
      %li
        Though you may change your stance at any time, do not create multiple accounts. Please sign up for and use one and only one account. Multiple accounts belonging to a single individual will be deactivated immediately.



    %a{ :name => "privacy_policy"}
    %h3
      Privacy and data collection policy

    %p
      By using this site, you certify that you agree to have information about how you use this site collected. For people who read the discussion and take positions, we are collecting session logs. These logs are completely anonymized – we aren’t collecting any information in these logs that could identify you personally. For people who post new content, the items on the site are all publicly visible on the internet.
    %p
      For people who read information on the site and perhaps take positions, we are collecting session logs that record users’ interaction with the website so that we can better understand user behavior. 

    %p
      For people who are posting new content, the items on the site are all publicly visible on the internet.

    %p
      We absolutely do not sell user data to third parties. 

    %h3
      Consider.it content

    %p
      Text is available under the 
      %a{ :href => "http://creativecommons.org/licenses/by-sa/3.0/" }
        Creative Commons Attribution-ShareAlike License.
      (This is the same license that is used for example in Wikipedia.)
      Please notify us if you see any other information about you or others that is incorrect, or if you want to correct your registration. Also please notify us if you want to remove your registration and profile for Consider.it. However, if you remove your registration, your contributions may remain as part of the collective Consider.it content.

    %h3
      Liability statement

    %ul
      %li
        Consider.it provides a vehicle for users to exchange ideas and content. Consider.it managers and sponsors are not responsible for the opinions, links and other content posted on this site, with the exception of information posted by the mangers of the site.
      %li
        There is no guarantee that access to the site will be uninterrupted or error free. The site is provided on an “as available” basis without warranties of any kind, either express or implied. We are not responsible if specific content is improperly displayed, not posted or not available.
      %li
        Neither Consider.it managers nor its sponsors are liable for any legal damages based on any claim of the user, or as a result of the user's employing this service.
      %li
        The Consider.it managers reserve the right to determine how long content remains on this site.

    %p
      Consider.it Terms of Use version of 6 December 2013




%script{ :type => "text/template", :id => "tpl_static_fact_check" }
  #static-header
    %h1
      On-demand Fact checking

  #static-main.fact_check
    .statement
      %h3
        Fact checking is available on request