%script{ :type => "text/template", :id => "tpl_comments_view" } 

  .point-discussion-heading
    Discussion

  %ul.point-comments

  .new-comment            

    (( if( is_logged_in ) { ))    
    %span.avatar.new-comment-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture"}
    (( } else { ))
    %span.avatar.new-comment-avatar
    (( } ))


    .new-comment-body

      (( if( comments_open) { ))

      %textarea.new-comment-body-field.is_counted{ :name => :body, :placeholder => 'Type your comment here...', :title => 'Type your comment here...' }
      %span.count
        1000

      (( if( is_logged_in ) { ))
      .new-comment-submit-wrap
        %span.new-comment-civility-reminder
          Thanks for being civil!

        %button.new-comment-submit.button
          Add comment

      (( } else { ))
      .login
        You must 
        = surround '' do 
          %a.login-signin{:'action' => 'login'}
            Sign In
        to leave a comment.
      (( } ))
      (( } else { ))
      This conversation has concluded.
      (( } ))


%script{ :type => "text/template", :id => "tpl_comment_view" }   
  
  (( if( moderation_status == 0 ){ ))
  %i
    This comment has been hidden because it contains a personal attack, is inappropriate (e.g. advertising), or is wildly offtopic.
  ((} else { ))

  %a.avatar.comment-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.name}}'s profile picture", :'id' => "{{user.id}}", :'action' => "user_profile_page"}

  .comment-body-wrap
    .comment-body
      {{body}}

    .comment-footer
      .comment-author
        &ndash; 
        %a{ :href => "{{Routes.profile_path(user.id)}}", :'id' => "{{user.id}}", :'action' => "user_profile_page"}
          {{ user.name }}

      .thank

        (( if(can_thank && !user_thanked){ ))
        %button.thank.button
          thanks

        (( } else if(user_thanked){ ))

        %a.unthank
          undo thank
        (( } )) 

      (( if(thanks.length > 0 ) { ))
      .thank-given      

        %ul
          (( thanks.each( function(thank){ ))
          %li.l-thanks-item
            %span.avatar{ :'action' => "user_profile_page", :'id' => "{{thank.get('user_id')}}", :id => "avatar-{{thank.get('user_id')}}", :class => "participant"}
          (( }); ))
        %span.given_thanks
          {{ thanks.length }} {{ thanks.length == 1 ? 'person says' : 'people say' }} thanks
      (( } ))


  (( } ))


