%script{ :type => "text/template", :id => "tpl_footer" }

  .footer-shortdesc
    %a.homepage_link{ :href => "http://consider.it"}
      %span.t-logo-name
        Consider
      %span.t-logo-separator
        &#9733;
      %span.t-logo-name
        It
      is new technology for helping people think through issues together.

  .footer-history
    =link_to 'We invented', 'http://dub.washington.edu/djangosite/media/papers/kriplean-cscw2012.pdf', :target => '_blank' 
    =link_to 'Consider.it', 'http://consider.it', :target => "_blank"
    as researchers at the University of Washington. ConsiderIt was first deployed as the 
    =link_to 'Living Voters Guide', 'https://www.livingvotersguide.org', :target => '_blank' 
    in collaboration with 
    = succeed '.' do 
      =link_to 'Seattle CityClub', 'http://www.seattlecityclub.org', :target => '_blank' 

  .footer-contact
    Do you see a need in your organization for ConsiderIt? 
    =link_to 'Email us', 'mailto:kevin@consider.it'
    or signup below.  


  // Begin MailChimp Signup Form
  #mc_embed_signup
    %form{ :action => "http://chalkboard.us7.list-manage1.com/subscribe/post?u=9cc354a37a52e695df7b580bd&amp;id=d4b6766b00", :method => "post", :id => "mc-embedded-subscribe-form", :name => "mc-embedded-subscribe-form", :class => "validate", :target => "_blank", :novalidate => 'true'}
      %span.mc-field-group

        %input.inlined{:type=>"email", :placeholder => "Email address", :value=>"", :name=>"EMAIL", :class=>"required email", :id=>"mce-EMAIL"}

      %input.button.mc-subscribe{:type=>"submit", :value=>"subscribe", :name=>"subscribe", :id=>"mc-embedded-subscribe"}

   