
%script{ :type => "text/template", :id => "tpl_header" }

  .l-heading-wrap

    #header-logo-region

    #user-nav

  .l-navigate

%script{  :type => "text/template", :id => "tpl_header_nav" }

  %ul.l-navigate-breadcrumbs  
    %a{ :href => '/', :title => "Go to homepage", :'data-target' => "go-home"}
      %i.fa-home.fa
      homepage
