%script{ :type => "text/template", :id => "tpl_point_view"}
  %span.point-header-region>
  .point-wrap>
    .point-close
      %i.fa.fa-times-circle
    .point-wrap-region{ :'data-target' => "open-point", :'data-id' => "{{id}}" }
    .open-point-region

%script{ :type => "text/template", :id => "tpl_point_view_header"}
  (( if (hide_name || user.name == 'Anonymous' ) { ))
  %span.avatar.point-author-avatar.avatar-anonymous{:style => "background-image: url(/system/default_avatar/small_default-profile-pic.png)", :title => "This user has requested to remain anonymous"}
  (( } else if (user) { ))

  %a.avatar.point-author-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.name}}'s profile", :'data-id' => "{{user.id}}", :'data-target' => "user_profile_page" }
  (( } ))

  (( if(has_assessment){ ))
  .point-assessment-indicator-region
    %img{:src => "{{verdict.getIcon()}}"}
  (( } ))

%script{ :type => "text/template", :id => "tpl_point_view_body"}
  .point-nutshell-wrap
    .point-nutshell
      {{ adjusted_nutshell }}

  .point_description 
    {{ text }}

  .point-operations

    %a.point-read-more

    (( if( _.contains(actions, 'remove') ){ ))
    %button.point-remove{ :'data-target' => 'point-remove', :'data-id' => "{{id}}"}
      %i.fa-trash
      remove
    (( } ))


%script{ :type => "text/template", :id => "tpl_open_point"}
  .point-actions
    .point-include-wrap.point-action
      %button.point-include.button{ :'data-target' => 'point-include', :'data-id' => "{{id}}", :title => "Add this point to your list"}
        %i.fa.fa-small.fa-list
        Add to your pro/con list

    .point-follow-region.point-action
    .point-assessment-region.point-action


  .point-discussion

%script{ :type => "text/template", :id => "tpl_point_follow"}
  (( if(already_follows){ ))
  %button.point-follow.button
    %i.fa.fa-rss
    Unsubscribe to comments
  (( } else{ ))
  %button.point-follow.button{ :title => 'Get notifications when the point is updated or someone comments on it. You can easily unsubscribe later.'}
    %i.fa.fa-rss
    Subscribe to new comments
  (( } ))
