%script{ :type => "text/template", :id => "tpl_points_layout"}
  .points_heading_region
  .points_list_region
  .points_footer_region

%script{ :type => "text/template", :id => "tpl_community_points"}
  = render :partial => "shared/bubble", :locals => {:left => false, :down => false}
  
  .points_heading_region
  .points_list_region
  .points_footer_region

%script{ :type => "text/template", :id => "tpl_points_heading"}
  %span.points_heading_label
    {{ header }}

%script{ :type => "text/template", :id => "tpl_community_points_heading"}

  %span.points_heading_label{'action' => 'expand-toggle'}
    {{ header }}

    (( if(is_expanded) { ))
    %i.unexpand_points_icon.fa.fa-small.fa-compress  

    .sort_points
      %span.sort_points_label
        sort 
        %i.fa.fa-small.fa-caret-down
      %ul.sort_points_menu
        (( _.each(sorts, function(sort){  ))
        %li.sort_points_menu_option
          %a{ :title => "{{ sort.title }}", :'action' => "{{ sort.target }}" }
            {{ sort.name }}
        (( }); ))

    (( } else { ))
    %i.expand_points_icon.fa.fa-small.fa-expand
    (( } ))


%script{:type => "text/template", :id => "tpl_community_points_footer"}
  (( if(has_more_points || is_expanded){ ))
  %a.toggle_expand_points.button{'action' => 'expand-toggle'}
    (( if( is_expanded ) { ))
    Unexpand these {{ label }}
    (( } else { ))
    View all {{ cnt }} {{ label }}
    (( } ))
  (( } ))

  .imply_more_points
    %i
      &hellip;

%script{ :type => "text/template", :id => "tpl_decision_board_points_footer"}
  .newpoint

    %span.newpoint_prompt{ :'action' => 'write-point'}
      Add a new {{ label }}

    .newpoint_form
      = hidden_field_tag :is_pro, "{{is_pro}}"

      .newpoint_nutshell_wrap
        = text_area_tag :nutshell, nil, :placeholder => 'Summarize your point (required)', :cols => 28, :class => "newpoint_nutshell is_counted", :required=>true, :maxlength => 140, :pattern => "^.{3,}"
        %span.count
          140

      .newpoint_description-wrap
        = text_area_tag :text, nil, :placeholder => "Write a longer description (optional)", :title => "Write a longer description (optional)", :cols => 28, :class => "newpoint_description"

      .newpoint_hide_name
        %input.newpoint-anonymous{ :id => "{{hide_label}}", :name => "{{hide_label}}", :type => "checkbox"}

        %label{ :for => "{{hide_label}}", :title => 'We encourage you not to hide your name from other users. Signing your point with your name lends it more weight to other participants.'}
          Conceal your name

      .newpoint-submit
        %a.newpoint-cancel
          cancel

        %input.button{ :type => 'submit', :value => 'Done', :'action' => "submit-point"}

  .add_point_drop_target
    Drag and drop {{ label.toLowerCase() }}s from the {{ direction }}


%script{ :type => 'text/template', :id => "tpl_no_community_points"}
  No points identified