%script{ :type => "text/template", :id => "tpl_proposals_region_layout"}
  #active-proposals-region
  #past-proposals-region

%script{ :type => "text/template", :id => "tpl_create_new_proposal"}  
  %button.new-proposal-submit.button
    %i.fa.fa-small.fa-plus
    New conversation


%script{ :type => "text/template", :id => 'tpl_proposals_layout'}
  .proposals-create-region

  .proposals-list-region

  .proposals-operations
    .sort-proposals-region
    .proposals-pagination-region

  

%script{ :type => "text/template", :id => 'tpl_proposals_list'}


  (( if( !is_active && !tenant.enable_hibernation && data_loaded ){ ))
  %h2.past_proposals_heading
    Past conversations

  (( } else if( !is_active && tenant.enable_hibernation) { ))
  .active_proposals_hibernation_message
    %i.fa-info-circle.fa.fa-lg 
      
    {{tenant.hibernation_message}}    
  (( } ))

  %ul.proposals-list



%script{ :type => "text/template", :id => 'tpl_sort_proposals'}
  (( if(data_loaded) { ))
  .title
    Sort by: 
  (( _.each(sortable_fields, function(sort) { ))
  %a{:'data-target' => "{{ sort.target }}", :'data-type' => 'sort', :class => "sort_proposals_by"}
    {{ sort.name }}
  (( }) ))
  (( } ))


%script{ :type => "text/template", :id => "tpl_proposals_pagination"}
  (( if (data_loaded) { ))
  %span.proposals-list-pagination-pages
    (( if (currentPage > 1 && false) { ))
    %span.proposals-list-pagination-jump-left
      %a.proposals-list-pagination-jump.button{:'data-target'=> 'proposals:first_page'}
        &laquo; First
      %a.proposals-list-pagination-jump.button{:'data-target'=> 'proposals:previous_page'}
        &laquo;
    (( } ))
    (( _.each (page_set, function (p) { ))
    (( if (currentPage == p) { ))
    %span.selected.superbutton
      {{ p }}
    (( } else { ))
    %a.proposals-list-pagination-page.button{:'data-target' => 'proposals:goto_page', :'data-page' => "{{p}}"}
      {{ p }} 
    (( } ))
    (( }); ))
    (( if (lastPage != currentPage && lastPage != 0 && false) { ))
    %span.proposals-list-pagination-jump-right
      %a.proposals-list-pagination-jump.button{:'data-target'=> 'proposals:next_page'}
        &raquo;
      %a.proposals-list-pagination-jump.button{:'data-target'=> 'proposals:last_page'}
        Last &raquo;

    (( } ))

  .proposals-list-pagination-current
    %span.current
      {{ (currentPage - 1) * pageSize + 1 }}
    &ndash;
    %span.perpage
      {{ Math.min(currentPage * pageSize, totalRecords) }} 
    of
    %span.total
      {{ totalRecords }} 
    shown.
  (( } else if(has_more_models) { ))
  %button.proposals-pagination-showmore.button{ :'data-target' => 'load-proposals' }
    {{ prompt }} 
  (( } ))





