%script{ :type => "text/template", :id => "tpl_reasons_layout"}
  .four_columns_of_points
    .community_pros_region.points_list_region>
    .opinion_region>
    .community_cons_region.points_list_region>
  .participating_users_region

  .reasons_footer_region

%script{ :type => "text/template", :id => "tpl_view_results"}
  %a{:'action' => 'show-results'}
    //%i.fa.fa-bar-chart-o.fa-lg 
    %i.fa.fa-th-list.fa-lg
    View Results
