%script{ :type => "text/template", :id => "tpl_user_opinion" }

  .user_opinion-reasons.user_opinion-reasons-supporting
    (( if(supporting_points.length > 0){ ))
    .user_opinion-reasons-label
      ((if (stance != 3) { ))
      Their reasons include: 
      (( } else {  ))
      They recognize these Pros:
      (( } ))
    %ul.user_opinion-reasons-list          
      (( _.each(supporting_points, function(pnt){ ))

      %li.user_opinion-point
        {{ pnt.get('nutshell') }} 
        %span.username
          &ndash; {{ pnt.getUser().get('name') }}
      (( }); ))

    (( } else { ))
    .user_opinion-reasons-none
      {{ user.name }} does not give any supporting reasons.
    (( } ))
  .user_opinion-reasons.user_opinion-reasons-opposing
    (( if(opposing_points.length > 0){ ))
    .user_opinion-reasons-label
      At the same time, {{ user.name }} recognizes these tradeoffs:          
    %ul.user_opinion-reasons-list          
      (( _.each(opposing_points, function(pnt){ ))
      %li.user_opinion-point
        {{ pnt.get('nutshell') }} 
        %span.username
          &ndash; {{ pnt.getUser().get('name') }}
      (( }) ))

    (( } else { ))
    .user_opinion-reasons-none
      {{ user.name }} does not recognize any tradeoffs mitigating their opinion. 
    (( } ))


  %a.user_profile_link{:'data-id' => "{{user.id}}", :'action' => "user_profile_page"}
    View {{ user.name }}'s profile