//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

#static.considerit
  %p 
    %a{:href=>"http://engage.cs.washington.edu/considerit/", :target=>"_blank"}
      ConsiderIt
    is an open source deliberation platform written in Ruby on Rails and licensed under the 
    = succeed '.' do 
      %a{:href=>"http://www.gnu.org/licenses/agpl.html", :target=>'_blank'}<>
        AGPL
    The code is accessible at this
    = succeed '.' do
      %a{:href=>'https://github.com/tkriplean/ConsiderIt', :target=>'_blank'}<>
        Github repository

  %p 
    ConsiderIt helps individuals make sense of complex issues and find common ground in unexpected places. Decision makers can easily learn the most salient reasons people support or oppose their proposals.

  %p 
    The ConsiderIt project is lead by 
    =link_to 'Travis Kriplean', 'http://twitter.com/#!/hotvig'

    and was originally funded through a National Science Foundation grant. You can read more about it at 
    = succeed '.' do
      = link_to 'http://crowdresearch.org/blog/?p=2443'
