#static.considerit
  %h2 ConsiderIt

  %p 
    %a{:href=>"http://engage.cs.washington.edu/considerit/", :target=>"_blank"}
      ConsiderIt
    is an open source deliberation platform written in Ruby on Rails and licensed under the 
    %a{:href=>"http://www.gnu.org/licenses/agpl.html", :target=>'_blank'}
      AGPL. 
    The code is accessible at this
    %a{:href=>'https://github.com/tkriplean/ConsiderIt', :target=>'_blank'}
      Github repository.

  %p 
    ConsiderIt helps individuals make sense of complex issues through the collaborative creation of pro/con lists. ConsiderIt makes it easy to endorse points made by others who share your views, or to add new points of your own. 

  %p
    ConsiderIt also helps create common ground among people with different views. ConsiderIt prioritizes the pro and con points that are endorsed by people from across the decision spectrum, decreasing polarization and helping decision-makers move towards solutions with broad appeal. 

  %p
    The considerations surfaced through ConsiderIt can also be useful for decision-makers in organizations, enabling them to identify the pro and con points that matter most to their users, readers or constituents. 

