#static.considerit
  %h2 ConsiderIt

  %p 
    ConsiderIt is an open source deliberation platform that allows people to collaboratively create pro/con lists of the key points around any complex issue. 

  %p
    ConsiderIt works by drawing on the wisdom of crowds to generate a set of key considerations for decision-making: helping organizations identify the pro and con points that matter most to their users, readers or constituents. 

  %p
    ConsiderIt helps individuals make sense of complex issues by letting them create pro/con lists of the key points that matter to them. ConsiderIt makes it easy to endorse points made by others who share your views, or to add new points of your own. 

  %p ConsiderIt also helps create common ground among people with different views. ConsiderIt prioritizes the pro and con points that are endorsed by people from across the decision spectrum, decreasing polarization and helping decision-makers move towards solutions with broad appeal.

  %p
    We do not yet have a separate website for ConsiderIt. Stay tuned for one though.
      
  %p
    ConsiderIt is open source, a Ruby on Rails project. It is licensed under the AGPL. The Github repository is available at 
    %a
      https://github.com/tkriplean/ConsiderIt


