#intro
  = render :partial => "home/_index_body"

  
#initiative.guide   
  .get_started
    Get started by clicking an option #{APP_CONFIG['decisions']['name']['short']} below! 
  
  = render :partial => "options/blocks/strip"
