#intro
  = render :partial => "home/index_body"

  
#initiative.guide   
  .get_started
    Get started by clicking a #{APP_CONFIG['decisions']['name']['short']} below! 
  
  = render :partial => "options/blocks/strip"
