---
# - name: Stop Passenger
#   shell: $source && cd $app_home && passenger stop -p $port
#   ignore_errors: yes
#   sudo: False

# - name: Start Passenger
#   shell: $source && cd $app_home && passenger start -d -a 0.0.0.0 -p $port -e $environment
#   ignore_errors: yes
#   async: 60
#   poll: 10
#   sudo: False

- name: Compress avatars
  local_action: shell zip -r files/avatars.zip ../public/system/avatars
  sudo: False

- name: Copy sample avatars
  copy: src=files/avatars.zip dest=$app_home
  sudo: False

- name: Uncompress avatars directory
  shell: unzip $app_home/avatars.zip -d $app_home
  ignore_errors: yes
  async: 60
  poll: 10
  sudo: False

- name: Remove avatars zip
  file: path=$app_home/avatars.zip state=absent
  sudo: False

- name: Ensure cache directory
  file: path=$app_home/public/system/cache state=directory
  sudo: False

- name: Create default database
  mysql_db: name=${database.name} state=present login_user=${database.user} login_password=${database.password}
  sudo: True
  ignore_errors: yes

# Cache avatars
- name: Cache avatars
  shell: $source && cd $app_home && RAILS_ENV=$rails_environment bundle exec rake cache:avatars
  sudo: False

# Import seed database
- name: Copy existing database to remote server
  copy: src=files/${database.name}.sql.bz2 dest=/tmp/${database.name}.sql.bz2
  sudo: True

- name: Uncompress database dump
  command: /bin/bunzip2 /tmp/${database.name}.sql.bz2 creates=/tmp/${database.name}.sql
  sudo: True

- name: Import database
  mysql_db: name=${database.name} login_user=${database.user} login_password=${database.password} state=import target=/tmp/${database.name}.sql
  ignore_errors: yes
  sudo: True

- name: Remove database dump
  file: path=/tmp/{database.name}.sql state=absent
  sudo: True
