%li{ :id => "initiative_item-#{option.id}", :class => "initiative_item #{has_stance(@user, option)} medium" }

  = render :partial => "options/block/base", :locals => { :option => option, :show_full_text => show_full_text }