%li{ :id => "initiative_item-#{option.id}", :class => "initiative_item #{has_stance(current_user, option)} small" }
  = render :partial => "options/block/base", :locals => { :option => option, :show_full_text => show_full_text }