%script{ :type => "text/template", :id => "tpl_homepage_heading" }

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      


  .t-intro-wrap{:'data-domain' => 'homepage'}
    .l-content-wrap.t-intro

      = theme_image_tag 'logo_large.png', :class => 't-logo'
              
      .l-message-title
        = simple_format current_tenant.header_text
