
.point_column

  ul.point_list
    margin: 0
    padding: 0
    position: relative

  &.point_column_margin
    min-height: 200px
    //padding: 10px 0
    
    ul.point_list
      top: 0
  
  &.point_column_self
    //top: -15px
    position: relative

.point_list_footer
  min-height: 35px
  text-align: center
  margin: 5px 0
  
  .arrow
    height: 18px

  input.forward
    background-position: 0 3px

  .paginate, .arrow
    //vertical-align: text-top