.newpoint
  width: 215px
  margin: 20px 0

  .newpointform
    padding: 5px
      
.newpointbutton 
  button

    font-size: 135%
    width: 240px
    height: 50px
    border: none

    &.pro
      background: image-url('write-pro.png') left top no-repeat
      &:hover
        background-image: image-url('write-pro-hover.png')

    &.con
      background: image-url('write-con.png') left top no-repeat
      &:hover
        background-image: image-url('write-con-hover.png')


#points_on_board_pro
  .pointform form
    left: 0

#points_on_board_con
  .pointform form
    left: -246px
  
.pointform
  display: none
  margin-top: -55px

  > form
    width: 460px
    margin: auto
    position: absolute
    z-index: 1000
    padding: 5px 8px
    border: 3px solid

    &.form-pro
      border-color: $pro_point_dark
      background-color: $pro_point_light

      .bullet_point
        color: $pro_point_dark

    &.form-con
      border-color: $con_point_dark
      background-color: $con_point_light

      .bullet_point
        color: $con_point_dark

    .symbol
      display: block
      float: left
    
    .form_proper
      width: 415px
      padding-left: 30px

      .username
        font-size: 10px
        color: #C1C1C1

      p.note
        color: #C1C1C1
      
      .point-title, 
      .point-description
        width: 350px

      .count
        color: #C1C1C1
        display: inline-block
        margin-left: 5px

      .point-title-group
        margin-bottom: 10px
        .point-title
          height: 50px
        .count
          margin-top: 25px          

      .point-description-group
        .point-description
          height: 70px  
        .count
          margin-top: 35px

      .point-pledge
        float: left
        padding-top: 4px

      .point-submit
        float: right
        margin-right: 38px

      .point-cancel
        float: right
        padding: 5px
        a
          color: #C1C1C1
          padding: 5px
          font-size: 12px

      .hide_name
        font-size: 11px
        margin: 12px 0
        width: 200px

        label
          color: #C1C1C1
          letter-spacing: 0
          text-transform: inherit