.newpoint
  margin: 0 0 15px 0
  top: -19px
  position: relative

  .bullet_point
    top: 9px

  .newpointbutton 
    
    button
      background-color: inherit
      color: white
      font-size: 20px
      width: 240px
      //height: 40px
      border: none
      padding: 5px
      position: relative
      padding-left: 10px
      text-align: left
      opacity: .75
      text-decoration: underline

      &:hover
        opacity: 1


      // &.pro
      //   background-color: rgba($pro_point_light, .5)
      //   border: 2px solid lighten($pro_point_light, 10%)
          
      // &.con
      //   background-color: rgba($con_point_light, .5)
      //   border: 2px solid lighten($con_point_light, 10%)
  
.pointform
  background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0) 13%, rgba(255, 255, 255, 0.05) 100%)
  border-radius: 5px
  padding: 0 5px

  display: none
  //margin-top: -55px

  > form
    background-color: transparent
          
    .form_proper

      p.note
        color: #C1C1C1

      textarea, textarea:focus
        background-color: transparent
        margin-left: 6px
        border-color: #666
        font-size: 13px
        width: 91%
        color: #e1e1e1        

      .count
        color: #888
        display: inline-block
        position: relative
        float: right
        font-size: 11px

      .point-title-group
        .point-title
          height: 90px

      .point-description-group
        .point-description
          height: 120px  

      .point-pledge
        float: left
        padding-top: 4px

      .point-submit
        float: right
        margin: 4px 0 0 0
        font-weight: bold


        input
          background-color: transparent
          padding: 0
          opacity: .8

          &:hover
            opacity: 1

      .point-cancel
        float: right
        padding: 5px
        a
          color: #C1C1C1
          padding: 5px
          font-size: 12px
          opacity: .8
          &:hover
            opacity: 1

      .hide_name
        font-size: 12px
        margin: 8px 0 12px 4px

        label
          color: #C1C1C1
          letter-spacing: 0
          text-transform: inherit
          margin-left: 3px