.pro_con_list
  padding: 0px 5px
  vertical-align: top
  margin: auto

  background: transparent image-url("chalk/chalkboard.png") repeat scroll top left                                
  border: 3px solid
  border-top-color: #bbb
  border-right-color: #222
  border-left-color: #777
  border-bottom-color: #222
  
  > div
    position: relative      
  
  .full_column

    .pro_con_list_header   
      height: 120px 
      width: 200px
      margin: 0 auto

      &.pro_header
        background: transparent image-url("chalk/pro_back.png") no-repeat scroll top center
        padding-left: 20px

      &.con_header
        background: transparent image-url("chalk/con_back.png") no-repeat scroll top center


    &#points_on_board_pro
      float: left
      margin: 0 5px 0 25px

    &#points_on_board_con
      float: right
      margin-right: 25px




  // for pro/con lists that can't have new points added to them
  &.static
    min-height: 550px

    .full_column
      .carousel
        top: -25px
        position: relative
        
        ul.point_list
          top: 0

      .point_list_footer
        .paginate
          color: #C1C1C1

        .forward
          background-image: image-url('arrow-down-light.png')
        
        .back
          background-image: image-url('arrow-up-light.png')



  // for pro/con lists that can have new points added to them
  &.dynamic
    width: 570px
    min-height: 700px

    .full_column
      width: 240px
      border: 2px solid transparent

    .hovered
      border-color: #777

      .droppable
        color: #eee
        border-color: #eee

    .droppable
      border: 2px dashed #666
      color: #666
      padding: 13px 15px
      width: 203px
      line-height: normal
      position: relative
      height: 39px
      margin-bottom: 5px
      .prompt
        width: 160px
        padding-left: 20px




.bullet_point
  font-size: 15px
  position: absolute
  top: 2px
  left: 1px
  font-family: Impact, Impact5, Charcoal6, sans-serif
  color: #777