.pro_con_list

  vertical-align: top
  margin: auto
  position: relative
                   
  //+box-shadow(0px, 5px, 3px, black, .6)

  display: none
  
  &#domain_all, &#domain_self
    display: block


  > div
    position: relative
    //padding: 0px 5px      
  
  .full_column
    position: relative
    z-index: 1
    vertical-align: top

    width: 50%
    

    .pro_con_list_header   
      //height: 120px 
      //background: transparent image-url("chalk/point_header_back.png") no-repeat scroll top center
      margin-bottom: $vertical_baseline
      height: 3 * $vertical_baseline

      .inner
        +heading
        text-transform: uppercase
        font-weight: bold
        font-size: 2.5em
        text-align: center
        position: relative

    &#points_on_board_pro > *
      margin-left: $grid_major - $chalkboard_border_width
      margin-right: 35px

    &#points_on_board_con > *
      margin-right: $grid_major - $chalkboard_border_width
      margin-left: 35px

  // for pro/con lists that can't have new points added to them
  &.static
    +wood-frame
    width: $pro_con_list_static_width
    margin: auto
    border-top: none
    +box-shadow-remove

    > .slate
      min-height: 550px
      +chalkboard 

      > table
        width: $pro_con_list_static_width
        margin-top: $vertical_baseline

    .full_column
      
      &#points_on_board_pro
        //padding: 0 5px 0 35px

      &#points_on_board_con
        //padding-right: 30px

      .pro_con_list_header
        //background-position: center -23px 
        .inner
          //top: 6px

      .carousel
        //top: -50px
        position: relative
        width: 310px
        //padding-left: 6px
        
        ul.point_list
          top: 0


  // for pro/con lists that can have new points added to them
  &.dynamic
    //width: 620px
    padding-top: 2em

    > .slate
      > table
        width: 100% 
        tr.point_columns
          height: 625px

    #inclusion_learned
      position: absolute
      +font-size(3)
      width: 225px
      text-align: center
      left: 50%
      margin-left: -150px
      top: 250px
      color: #99965c
      font-weight: bold

    &.no_other_points > .slate > table tr.point_columns
      height: 300px
      
    //  min-height: 500px

    //  .full_column
    //    min-height: 500px

    //&.has_other_points > .slate
    //  min-height: 600px
    //  .full_column
    //    min-height: 600px

    &.empty
    .full_column
      &.drop_pending
        //border-color: transparent      

        .droppable, .droppable .prompt
          border-color: $yellow_postit
          color: $yellow_postit

      .droppable
        //position: absolute
        //left: 0
        //top: 10 * $vertical_baseline
        margin: auto
        margin-top: 4 * $vertical_baseline
        width: 100%
        +font-size(-3)
        text-align: center
        border: 2px dashed #99965c
        height: 160px
        width: 175px
        padding: 0
        display: block

        .prompt
          //width: 100px
          //margin: 111px auto 0 auto
          display: inline-block
          //position: relative
          font-weight: bold
          +font-size(0)
          padding: $vertical_baseline $grid_xs
          text-align: left
          color: #99965c
          line-height: 1.3

    //&.point_edit_mode .full_column .droppable, &.point_edit_mode .full_column.empty .droppable
    //  display: none

    //.full_column
      //width: 250px
      //border: 2px solid transparent

    //  &.drop_pending
        //border-color: #777
    //    .droppable
    //      display: block

    //  .droppable
        display: none
        width: 240px
        height: 75px
        border: 2px dashed #e1e1e1
        margin: $vertical_baseline 0

    //    .prompt
          display: none

    //    &.dropping_in_progress
          display: block
          







.bullet_point
  +font-size(-1)
  position: absolute
  top: 4px
  left: 1px
  font-family: Impact, Impact5, Charcoal6, sans-serif