.pro_con_list
  padding: 0px 5px
  vertical-align: top
  margin: auto
  position: relative

  +chalkboard-with-frame                            
  +box-shadow(0px, 5px, 3px, black, .6)

  display: none
  &.domain_all, &.domain_self
    display: block


  > div
    position: relative      
  
  .full_column
    position: relative
    z-index: 1

    .pro_con_list_header   
      height: 120px 
      background: transparent image-url("chalk/point_header_back.png") no-repeat scroll top center


      .inner
        font-weight: bold
        color: #ddd
        +font-size(5)
        height: 100%
        text-align: center
        position: relative
        top: 35px
        left: -6px

    &#points_on_board_pro
      float: left
      padding: 0 5px 0 25px

    &#points_on_board_con
      float: right
      padding-right: 25px




  // for pro/con lists that can't have new points added to them
  &.static
    min-height: 550px
    width: $pro_con_list_static_width
    margin: auto
    border-top: none
    +box-shadow-remove

    .full_column
      
      &#points_on_board_pro
        padding: 0 5px 0 35px

      &#points_on_board_con
        padding-right: 30px

      .pro_con_list_header
        background-position: center -23px 
        .inner
          top: 6px

      .carousel
        top: -50px
        position: relative
        padding-left: 6px
        
        ul.point_list
          top: 0

      .point_list_footer
        color: #BBB

        //.forward
        //  background-image: image-url('arrow-down-light.png')
        
        //.back
        //  background-image: image-url('arrow-up-light.png')



  // for pro/con lists that can have new points added to them
  &.dynamic
    width: 570px

    &.no_other_points
      min-height: 500px

      .full_column
        min-height: 500px

    &.has_other_points
      min-height: 700px
      .full_column
        min-height: 670px

    .full_column
      width: 240px
      border: 2px solid transparent

    .droppable
      position: absolute
      left: 0
      top: 227px
      margin: auto
      width: 570px
      +font-size(-3)
      text-align: center

      .prompt
        width: 100px
        margin: 107px auto 0 auto
        display: inline-block
        position: relative
        font-weight: bold
        color: #ccc
        color: rgba(white, .65)

        &.pros
          text-align: left
          left: -171px
        &.cons
          text-align: right
          right: -173px

      .drop_instruction
        position: absolute
        top: -70px
        &.right
          left: -1px
        &.left
          right: -12px





.bullet_point
  +font-size(-1)
  position: absolute
  top: 4px
  left: 1px
  font-family: Impact, Impact5, Charcoal6, sans-serif
  color: #ccc