
.point_in_list
  @include nude-list
  position: relative
  margin-bottom: 8px
  color: white
  background-repeat: no-repeat
  //border: 1px solid
  box-shadow: 1px 2px 0.2em rgba(0, 0, 0, 0.8)  
  width: 232px
  border: 1px solid transparent

  &:hover .body .operations
    // visibility: visible

  > .extra
    display: none
  > .body
    overflow: hidden
    vertical-align: top
    padding: 3px 10px 3px 10px

    .avatar
      display: none

    .nested_user
      white-space: nowrap
      font-style: italic

    .point_text.nutshell
      font-size: 13px
      color: #eee
      padding-bottom: 9px

    .point_text.full
      font-size: 90%
      margin: 15px 0
      display: none
      width: 90%

      .link

        ul
          li 
            padding: 2px 0
            a
              color: white
              text-decoration: underline

            .domain
              text-decoration: none
              color: #C1C1C1

    .operations   
      position: absolute
      opacity: 0
      text-align: right
      right: 10px
      bottom: 4px

      > div, > div > div
        display: inline-block
        &.pointform
          display: none
        
        .bullet
          font-size: 8px
          color: #555
          vertical-align: middle
          
        a.point_operation, 
        button.point_operation,
        input.point_operation 
          font-size: 11px
          padding: 0
          margin: 0
          vertical-align: middle

      .read_more
        a.toggle_more, a.toggle
          display: inline-block
          font-size: 11px
          &.hide
            padding: 3px 10px

        .comment_count
          display: inline-block
          position: absolute
          right: 6px
          z-index: 2
          top: 5px
          font-size: 9px

        .comment_icon
          display: inline-block
          position: relative
          z-index: 1
          width: 19px

          &:before, &:after, span:before, span:after
            content: ''
            right: 0
            position: absolute
          
          span:after, span:before
            background: none repeat scroll 0 0 rgba(#666, .3)
            margin: -10px 0 0
          
          span:before
            border-radius: 2px
            height: 13px
            //margin-top: -8px
            width: 16px

          span:after
            background: none repeat scroll 0 0 transparent    
            border-color: rgba(#666, .3) transparent transparent rgba(#666, .3)
            border-right: 2px solid transparent
            border-style: solid
            border-width: 2px
            right: 8px
            margin-top: 3px   




  &.point_in_list_margin
    width: 172px
    height: 129px
    cursor: move
    @include curl-shadow
    padding-bottom: 5px
    margin-bottom: 18px


    &:hover
      background: image-url('paper.png') repeat left top transparent

      &.pro
        background-color: $pro_point_expanded
      &.con
        background-color: $con_point_expanded


    &:hover .triangle
      //display: block

    .triangle
      position: absolute
      top: 0
      right: -1px
      width: 0
      height: 0
      line-height: 0
      border-top-color:  #d8d8d8
      border-right-color: #d8d8d8
      border-bottom-color: rgba(#888, .3)
      border-left-color: rgba(#888, .3)
      display: none
      border-width: 7px
      border-style: solid
      box-shadow: -1px 1px 1px rgba(#aaa,.1)


    &.pro
      background-color: $pro_point_light
      border-right: none
      //border-color: $pro_point_dark

    &.con
      background-color: $con_point_light
      border-left: none
      //border-color: $con_point_dark

    .include
      display: none

    .bullet_point
      left: 5px
      top: 8px
      color: rgba(#4C4C4C, .5)

    > .body 
      padding: 10px 10px 3px 16px

      .nutshell
        font-size: 11px
        opacity: .7
        color: black

      .operations        

        .edit, .remove
          display: none

        > div, >div > div
                    
          a.point_operation, 
          button.point_operation,
          input.point_operation 
            color: #444
            &:hover
              color: black

  &.point_in_list_board,
  &.point_in_list_self
      
    width: 255px
    border-color: transparent
    box-shadow: none
      
    .body
      padding: 3px 5px 3px 13px
            
    .operations        
      bottom: -3px

      > div, >div > div
                      
        a.cancel,
        a.point_operation, 
        button.point_operation,
        input.point_operation 
          @include linkify
          color: #777
          &:hover
            color: #C1C1C1                

        .deletepointformproper
          position: absolute
          left: 0
          padding: 3px
          width: 150px
          margin-left: 35px
          
          > *
            vertical-align: middle


  &.point_in_list_board
    width: 310px

    .scores
      float: right
      width: 120px
      
      ul       
        margin: 10px 0 0 0
        @include nude-list
        li
          cursor: pointer
          color: #ddd
          padding: 1px 5px
          background-color: #4B4D4E
          float: left
          margin-right: 5px
          font-size: 10px
          
          &:hover
            background-color: black
            color: white


.point_in_list.expanded
  border-color: #444
  box-shadow: 0px 1px 2px rgba(black, .4)
  z-index: 1001
  position: absolute

  .body
    overflow: visible

    .avatar
      margin-right: 15px
      width: 58px
      margin-top: 5px
      box-shadow: 0px 1px 2px rgba(black, .2)
      position: absolute

    .operations
      display: none

  .extra
    position: absolute
    top: -1px
    
    
    padding: 100px 0 20px 0
    background: inherit
    color: black
    z-index: -1
    border: 1px solid transparent
    display: block
    min-height: 125px

    .less.point_text_toggle
      display: none

    &.animation_state-extra_expand
      padding-top: 130px
      display: block
      border-color: #444    
      box-shadow: 0px 1px 2px rgba(black, .4) 

    > *
      visibility: hidden

  .body > .nutshell
    
    &.animation_state-nutshell_spill
      font-size: 20px
      width: 650px


  &.pro
    border-radius: 5px 0 0 5px
    
    .nutshell
      left: 16px

    .extra
      border-radius: 0 5px 5px 5px

    &:after
      right: -2px

  &.con
    border-radius: 0 5px 5px 0px

    .nutshell
      right: 10px

    .body .avatar
      left: -569px

    .extra
      border-radius: 5px 0 5px 5px

    &:after
      left: 0px

  &.point_in_list_self, &.point_in_list_board
    background: image-url('chalk/chalkboard.jpg') repeat top left #333

    .remove
      display: none

    .extra, body > .nutshell, &.animation_state-finished .toggle.less
      color: #EDEDED

    .extra.animation_state-extra_expand
      width: 630px
      border: 5px solid white
      border-radius: 5px
      top: -10px
      padding-right: 40px
      padding-left: 80px

    .toggle.less
      top: 0

    &.pro 
      .avatar
        left: -60px

      .nutshell.animation_state-nutshell_spill

      .extra.animation_state-extra_expand
        left: -75px

    &.con 
      .avatar
        left: -335px

      .nutshell.animation_state-nutshell_spill
        left: -265px
      
      .extra.animation_state-extra_expand
        left: -350px

      .extra .less
        right: 6px


  &.point_in_list_margin
    background: image-url('paper.png') repeat left top transparent
    cursor: auto
    opacity: 1 // prevents jquery .ui-state-disabled from making it translucent
    
    .body > .nutshell
      color: black
    
    &:hover
      .triangle
        display: none

    &:after, &:before
      box-shadow: none

    .include
      display: none

    .extra
      width: 0px

    &:after
      content: ''
      top: 0
      width: 5px
      height: 133px
      position: absolute
      background: inherit
    
    .toggle.less
      top: 5px

    .extra.animation_state-extra_expand
      width: 488px

    &.pro 
      background-color: $pro_point_expanded
      .nutshell.animation_state-nutshell_spill
        left: 100px
      .extra.animation_state-extra_expand
        left: 172px
        padding-right: 80px
        padding-left: 40px

    &.con 
      background-color: $con_point_expanded  
      .nutshell.animation_state-nutshell_spill
        left: -496px
      
      .extra.animation_state-extra_expand
        left: -608px
        padding-right: 40px
        padding-left: 80px

      .extra .less
        right: -164px


  &.animation_state-finished
    .nutshell
      font-family: Georgia, Times, "Times New Roman", serif
      font-size: 22px
    .extra
   
      > *
        visibility: visible
      
      .less
        display: block
        position: absolute
        color: #424242
        right: 5px


  
