
.point_in_list
  +nude-list
  position: relative
  
  background-repeat: no-repeat
  //border: 5px solid transparent

  > .extra
    visibility: hidden
    display: none

  > .body
    vertical-align: top
    //padding: 3px 10px 3px 10px
    position: relative

    .avatar
      display: none

    .nested_user
      //font-style: italic
      text-transform: uppercase

    .point_text
      +hyphenate

    .nutshell

      .nested_user
        white-space: nowrap
        display: inline-block
        +font-size(-2)

    .point_text.full
      display: none
      +font-size(0)

      > .nested_user
        +font-size(0)

      p
        margin-bottom: 8px

      .link
        ul
          li 
            padding: 2px 0
            +font-size(0)
            a
              text-decoration: underline

            .domain
              text-decoration: none

  .operations   
    position: absolute
    text-align: right

    > div
      display: inline-block
      &.pointform
        display: none
        
      a.point_operation
        +font-size(-4)
        padding: 0
        margin: 0
        font-weight: bold

      .editpoint:before, &.remove:before
        content: '\2022'
        +font-size(-6)
        position: relative
        right: 1px

      a.toggle
        display: inline-block


  &.point_in_list_margin
    //width: 148px
    width: 174px
    height: 160px
    cursor: move
    //+curl-shadow
    //margin-bottom: 1em
    padding: 0 9px $vertical_baseline 9px
    margin: 0 9px 

    &.pro
      border-right: none
      //border-color: $pro_point_dark

    &.con
      border-left: none
      //border-color: $con_point_dark

    .include
      display: none

    .body > .bullet_point 
      display: none
      left: -10px
      top: 1px

    > .body 
      padding: $vertical_baseline $grid_xs

      .nutshell

        +font-size(-4)
        //width: 148px

    .operations        
      bottom: 23px
      left: $grid_xs + 9px
      a
        color: darken(desaturate($yellow_postit, 20%), 30%)

      .edit, .remove
        display: none
                  

  &.point_in_list_board, &.point_in_list_self
      
    //width: 255px
    border-color: transparent
    padding-bottom: $vertical_baseline
    cursor: pointer

    .bullet_point
      left: -10px
      top: 0px

    .body > .nutshell
      +font-size(-2)
      margin-bottom: 0px

    &:hover .operations
      display: block
    .operations
      +transition
      bottom: 0
      left: 0
      display: none


  &.point_in_list_board
    width: 310px
    .nutshell
      width: 310px

    > .body .operations
      .bullet
        display: none

  &.point_in_list_self
    width: $grid_major * 5

  
  //everything related to hovering over a point

  &:hover
    &.point_in_list_margin
      .operations a
        color: darken(desaturate($yellow_postit, 100%), 70%)

    &.point_in_list_self, &.point_in_list_board


.point_in_list#expanded
  opacity: 1 // prevents jquery .ui-state-disabled from making it translucent
  z-index: 1001
  position: absolute
  width: 882px - 2 * $grid_major - 2 * $grid_minor
  height: auto
  min-height: 550px
  padding: $vertical_baseline 2 * $grid_major + 2 * $grid_minor
  +box-shadow(0px, 6px, 12px, black, .75)
  +transition('all .25s')
  cursor: auto
  margin: 0 $grid_xs/2

  &.point_in_list_self, &.point_in_list_board
    +transition(none)

  > .body
    padding: $vertical_baseline $grid_xs
    .point_text
      +hyphenate_remove
      display: block
    .bullet_point, .nutshell .nested_user
      display: none
    .avatar
      width: 58px
      //top: 3px
      position: absolute
      left: -60px
      display: block

    .details
      +font-size(1)

    .nutshell
      width: auto
      +font-size(3)
      margin-bottom: $vertical_baseline

      .details_indicator
        display: none
    .nested_user
      padding-top: $vertical_baseline

  .operations
    display: none

  .less.point_text_toggle
    display: block
    position: absolute
    right: 5px
    top: 0

  .extra    
    padding: $vertical_baseline $grid_xs
    display: block
    visibility: visible
    opacity: 1  

    .discuss
      width: 750px


.point
  //+on_paper
  +curl-shadow
  padding: 30px 30px
  width: 800px
  min-height: 450px
  margin: auto
  +box-shadow(0px,1px,5px,rgba(black,.4)) 


  &, a
    +main_font

  a
    text-decoration: underline
    opacity: 1

  .meta
    position: absolute  
    top: -25px

  .operations
    position: absolute
    z-index: 100
    right: 10px

    .edit
      display: none

  .body
    position: relative

    .pic
      position: absolute
      left: 0px
      top: 5px

      img
        position: relative
        z-index: 1
        +box-shadow(0,0,2px, rgba(black,.2))

      &.has_pic:after, &.has_pic:before
        position: absolute
        display: block
        z-index: 1
        content: ''

      &.has_pic:after
        background: image-url('tape.png') no-repeat top left transparent
        width: 53px
        height: 23px
        right: 14px
        top: -16px
        z-index: 3

      &.has_pic:before
        background: image-url('pic_background.png') no-repeat top left transparent
        width: 50px
        height: 45px
        left: -10px
        bottom: -5px

    .nutshell, .full, .nested_user
      margin-left: 82px

    h3.nutshell
      +font-size(3)
      padding-bottom: 10px
      padding-right: 130px
      font-weight: normal
    .full
      width: 600px

    .nested_user
      font-style: italic
      padding: 10px 0



  .discuss
    left: 82px



.point, .point_in_list 
  .follow, .unfollow
    margin-top: 5px 
    +font-size(-2)