
%script{ :type => "text/template", :id => "tpl_header" }

  .l_heading_wrap

    #header_logo_region

    #user_nav

  .l-navigate

%script{  :type => "text/template", :id => "tpl_header_nav" }

  %ul.l-navigate-breadcrumbs  
    %a{ :href => '/', :title => "Go to homepage", :'action' => "go-home"}
      %i.fa-home.fa
      homepage
