%script{ :type => "text/template", :id => "tpl_proposals_region_layout"}
  #active_proposals_region
  #past_proposals_region

%script{ :type => "text/template", :id => "tpl_create_new_proposal"}  
  %button.button{ :action => "create-new-proposal"}
    %i.fa.fa-small.fa-plus
    New conversation


%script{ :type => "text/template", :id => 'tpl_proposals_layout'}
  .proposals_create_region

  .proposals_list_region

  .proposals-operations
    .sort_proposals_region
    .proposals_pagination_region

  

%script{ :type => "text/template", :id => 'tpl_proposals_list'}


  (( if( !is_active && !tenant.enable_hibernation && data_loaded ){ ))
  %h2.past_proposals_heading
    Past conversations

  (( } else if( !is_active && tenant.enable_hibernation) { ))
  .active_proposals_hibernation_message
    %i.fa-info-circle.fa.fa-lg 
      
    {{tenant.hibernation_message}}    
  (( } ))

  %ul.proposals_list



%script{ :type => "text/template", :id => 'tpl_sort_proposals'}
  (( if(data_loaded) { ))
  .title
    Sort by: 
  (( _.each(sortable_fields, function(sort) { ))
  %a{:'action' => "{{ sort.target }}", :'data-type' => 'sort', :class => "sort_proposals_by"}
    {{ sort.name }}
  (( }) ))
  (( } ))


%script{ :type => "text/template", :id => "tpl_proposals_pagination"}
  (( if (data_loaded) { ))
  %span.proposals_list_pagination_pages
    (( if (currentPage > 1 && false) { ))
    %span.proposals_list_pagination_jump-left
      %a.proposals_list_pagination_jump.button{:'action'=> 'proposals:first_page'}
        &laquo; First
      %a.proposals_list_pagination_jump.button{:'action'=> 'proposals:previous_page'}
        &laquo;
    (( } ))
    (( _.each (page_set, function (p) { ))
    (( if (currentPage == p) { ))
    %span.selected.superbutton
      {{ p }}
    (( } else { ))
    %a.proposals_list_pagination_page.button{:'action' => 'proposals:goto_page', :'data-page' => "{{p}}"}
      {{ p }} 
    (( } ))
    (( }); ))
    (( if (lastPage != currentPage && lastPage != 0 && false) { ))
    %span.proposals_list_pagination_jump-right
      %a.proposals_list_pagination_jump.button{:'action'=> 'proposals:next_page'}
        &raquo;
      %a.proposals_list_pagination_jump.button{:'action'=> 'proposals:last_page'}
        Last &raquo;

    (( } ))

  .proposals_list_pagination_current
    %span.current
      {{ (currentPage - 1) * pageSize + 1 }}
    &ndash;
    %span.perpage
      {{ Math.min(currentPage * pageSize, totalRecords) }} 
    of
    %span.total
      {{ totalRecords }} 
    shown.
  (( } else if(has_more_models) { ))
  %button.proposals_pagination_showmore.button{ :'action' => 'load-proposals' }
    {{ prompt }} 
  (( } ))





