

li.new_comment
  .avatar
    top: 0
  .count
    color: $txt_light_gray
    
  li.body
    textarea
      height: 80px
  
  .comment_submit
    margin: 10px 0 5px 0
    float: left
  
  .comment_body
    border-bottom: none
    width: 100%
    .text

      a.cancel
        float: left
        color: gray
        
  &.from_point
    @include nude-list
    font-size: 14px
    .comment_body
      margin-top: 5px
      .body_row
        .user
          width: 65px
          font-size: 10px
          float: left
        .text
          width: auto
          float: right
          
          form
            ul.form
              margin: 0
              li.body
                width: auto
                textarea
                  width: 230px
                .count
                  color: $txt_light_gray
                  width: 35px
                  display: block
                  float: right
                  padding-left: 5px
                  
              .comment_submit
              
              a.cancel
                font-size: 10px
                margin-left: 10px
                padding-top: 16px 
          
    
 
  
  &.from_discussion
    
    font-size: 20px
    
    .count
      color: $txt_light_gray
      
    li.the_subject
      input[type="text"]
        display: inline
        width: 500px
    li.body
      textarea
        width: 500px
    
    .comment_submit
    
    .comment_body
      .text
        width: 550px
  
        a.cancel
          font-size: 12px
          margin-left: 10px
          padding-top: 16px