li.comment, li.new_comment
  position: relative
  margin-top: 8px
    
  
  .comment_body
    width: 100%
    padding: 5px
    
    .body_row
      .comment_text
        background-color: white
        position: relative
        .triangle
          position: absolute
          top: 5px
          left: -15px
          font-size: 18px
          color: white

    .subject_line
      &.pro .text
        background-color: $bk_green   
      &.con .text
        background-color: $bk_red   
      &.unaffiliated .text
        background-color: #777   

      .text
        width: 95%
        margin-bottom: 8px         
        .subject
          font-size: 18px
          color: white
          padding: 5px 10px

    .reply_row
      a.reply
        margin-left: 120px
        padding: 10px 10px 10px 30px
        font-size: 14px
        background: transparent url("/images/comment-reply.png") no-repeat scroll 0px 2px 
        display: block
        &:hover
          background-image: url("/images/comment-reply_hover.png") 
          text-decoration: underline

.point_in_list
  li.comment, li.new_comment 
    .body_row
      .user
        position: absolute
        left: 0px
        max-width: 70px

          
      .comment_text
        min-height: 70px
        margin-left: 85px
        color: $txt_dark_gray
        padding: 8px

    .reply_row, .subject_line
      display: none