.discuss
  position: absolute
  margin: 0px 20px
  display: none
  background-color: white
  z-index: -9000
  padding: 10px 20px
  color: #444
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8)
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8)
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8)

  .discussion_header
    .top
      font-size: 22pt
      color: #aaa
      font-weight: bold
      line-height: 18pt
      margin-top: 5px
    .bottom
      font-size: 10px
      color: #aaa
    hr
      background-color: #c5c5c5
      border: none
      height: 0px