.m-results
  height: $aggregate_area_height
  &[data-state="together"], &[data-state="separated"][data-state-from="together"]
    .m-histogram
      visibility: visible
      display: block
      opacity: 1
      min-height: $histogram_bar_height

  .m-histogram-base, .m-bar-people, .m-histogram-bar
    +transition(opacity $transition_speed $transition_function)
    +backface-visibility(hidden)

  &.transitioning

    &[data-state="together"][data-state-from="collapsed"]
      .m-bar-people
        visibility: hidden
      .m-histogram-base-label
        visibility: hidden



  &[data-state="together"][data-state-from="separated"]
    .m-histogram-bar
      opacity: 1
    .m-histogram-base, .m-bar-people  
      opacity: 1

  &[data-state="separated"][data-state-from="together"]
    .m-histogram-bar
      opacity: .1
    .m-histogram-base, .m-bar-people  
      opacity: 0


[data-state="separated"]
  .m-histogram-bar
    [data-target="user_profile_page"]
      cursor: auto

[data-state="together"]
  .m-histogram-bar
    cursor: pointer

// HISTOGRAM / WHAT
$histogram_bar_color: mix(darken($mid_bg_color, 12%), $accent_color, 75%)
$histogram_width: $histogram_bar_width * 7 + 3 * 7 + 3
.m-histogram
  +transition(opacity $transition_speed)
  opacity: 0
  visibility: hidden
  margin: $vertical_baseline auto 0 auto
  position: relative
  top: 0px
  width: $histogram_width

  .m-histogram-bar
    width: $histogram_bar_width
    position: relative
    border: 2px solid darken($histogram_bar_color, 10%)
    border-bottom: none
    background-color: $histogram_bar_color
    //+bubble($community_color, $dark_community_color, up, $include_bg: false, $text_color: $community_text_color)
    +bubble(whitesmoke, darken(whitesmoke, 10%), up, $include_bg: false, $text_color: $base_text_color)
    
    +single-box-shadow($hoff: 1px, $voff: 6px, $blur: 5px, $spread: -5px, $color: lighten($histogram_bar_color, 25%), $inset: true)

    border-radius: 0px
    text-align: center
    display: inline-block
    vertical-align: bottom


    &.m-bar-is-selected 
      .t-bubble
        display: block

    .t-bubble
      display: none
      position: absolute
      left: 50%
      margin-left: -15px
      z-index: 999999
      top: auto
      bottom: -36px
      width: 30px

      .t-bubble-spacing
        display: none

    // .m-bar-position
    //   position: absolute
    //   bottom: -37px
    //   width: 150px
    //   margin-left: -75px
    //   left: 50%
    //   display: none
    //   text-align: center
    //   +font-size(-1)

    &.m-bar-is-soft-selected, &.m-bar-is-hard-selected
      background-color: darken($histogram_bar_color, 8%)
      border-color: darken($histogram_bar_color, 16%)
    
    &.m-bar-is-soft-selected
      z-index: 5

    &.m-bar-is-hard-selected
      z-index: 10
      

.m-bar-people
  background-color: transparent
  font-size: 0
  margin: auto
  +rotate(180deg)
  height: 100%
  
  .m-bar-person
    +rotate(180deg)  
    opacity: .6

.m-bar-is-soft-selected .m-bar-people .m-bar-person
  opacity: .75

.m-bar-is-hard-selected .m-bar-people .m-bar-person
  opacity: .9


.m-histogram-base
  margin-left: -$grid_xs/2
  height: $vertical_baseline
  width: $histogram_width + $grid_xs
  border-radius: 10px
  background-color: mix(lighten($mid_bg_color, 30%), $accent_color, 90%)
  //background-color: lighten($mid_bg_color, 10%)
  +single-box-shadow($hoff: 0px, $voff: 2px, $blur: 4px, $color: lighten($mid_bg_color, 40%), $inset: true)

.m-histogram-base-label
  position: absolute
  padding: 0 $grid_xs + 3
  z-index: -1
  // border-radius: 16px
  // background-color: lighten($mid_bg_color, 55%)
  height: $vertical_baseline
  span
    +font-size(-2)
    text-transform: lowercase
    line-height: 1.1
    display: block
    //font-weight: bold

.m-histogram-base-label-support
  left: -92px
.m-histogram-base-label-oppose
  right: -82px