%collapsed_action_call
  position: absolute
  top: 50%
  border-radius: 0
  +font-size(-1)
  right: -183px
  width: 183px
  height: 32px

.l-proposal-description-outer-wrap.l-message-body
  padding: 0
 

.m-proposal-description-wrap

  .l-message-speaker.l-message-initiator
    left: $grid_xs / 2

    [data-target="user_profile_page"]
      opacity: .9
      display: inline-block
      margin-left: $grid_xs

      &:hover
        opacity: 1

    img
      width: $initiator_width // - 30
      vertical-align: bottom 

  &[data-state="collapsed"]
    .l-message-speaker.l-message-initiator
      top: 0

  // editable
  .m-proposal-description, .m-proposal-details

  .m-proposal-description-body br
    padding-bottom: $vertical_baseline/2

  .m-proposal-description-body.editable
    min-height: 80px
  //


  // in title
  .m-position-your-action-body.join
    @extend %collapsed_action_call
    margin-top: -16px


  .m-proposal-description
    +bubble($initiator_color, $dark_initiator_color, left, $text_color: $initiator_text_color)
    margin: auto
    left: -$dialog_stutter


    p
      margin-bottom: $vertical_baseline / 2
    h1, h2, h3
      color: $initiator_text_color
    td
      padding: 0 3px
  
  .m-proposal-description-title
    +font-size(2)


  // in details

  .m-proposal-details

    .l-message-body
      //margin: 0 $margin_width $vertical_baseline $margin_width //- $dialog_stutter + $grid_xs  
      +bubble(darken($base_bg_color, 3%), darken($base_bg_color, 12%), left, $text_color: $base_text_color)
      left: -$dialog_stutter

      &.m-proposal-details-body-wrap // silliness to override css from prior rule...
        //border: 1px solid darken($base_bg_color, 15%)
        border-top: none
        border-radius: 0px 0px 16px 16px 
        //width: $body-width - $grid_xs / 2

  .m-proposal-details-wrapper
    position: relative

  // read more fields
  .m-proposal-description-details
    margin-top: $vertical_baseline / 2
    //+font-size(-1)

    .hidden, .showing
      text-decoration: underline  

    .m-proposal-description-detail-field-full
      p
        margin-bottom: $vertical_baseline/2

      h1, h3
        margin: $vertical_baseline/4 0

      h1
        +font-size(2)
      h3
        +font-size(1)
      ul
        padding-left: $grid_xs

  // additional links
  .m-proposal-links
    background-color: darken($base_bg_color, 15%)
    position: absolute
    right: -$margin_width - $grid_xs
    bottom: 0
    padding: $vertical_baseline/2 $grid_xs/2
    width: $margin_width

  .m-proposal-url-field
    a
      text-decoration: underline


  &[data-state="expanded-together"], &[data-state="expanded-separated"]
  
    .m-proposal-description
      border-radius: 16px 16px 0px 0px

      > .t-bubble
        display: none

  &[data-state="collapsed"]
    .m-proposal-description
      cursor: pointer

    .m-proposal-details
      > .t-bubble
        display: none



