[data-activity="proposal-no-activity"]
  .m-reasons, > .l-message-speaker
    display: none

[data-activity="proposal-has-activity"]
  .m-reasons[data-state="collapsed"]
    .m-reasons-lists
      min-height: 85px
      //margin-bottom: 100px // spacing for participants block

.m-reasons

  // REASONS
  // this is the wrapper for the peer and position point lists
  .m-reasons-lists
    margin: $vertical_baseline / 2 auto 0 auto
    position: relative
    width: $body_width

  /////////
  // wrapper for a points column, managed by a PointsController
  .m-points-list-region
    position: relative
    vertical-align: top

  .m-position-region
    position: relative

  .m-points-list-region, .m-position-region
    display: inline-block

  .m-aggregated-propoints-region, .m-aggregated-conpoints-region
    +transition(width .4s ease, left .5s linear, right .5s linear)
    position: absolute
    top: 0
    z-index: 10

  &[data-state="together"], &[data-state="collapsed"]
    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      width: $peer-point-results-width

    .m-aggregated-propoints-region
      left: 0

    .m-aggregated-conpoints-region
      right: 0

  &[data-state="separated"]

    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      width: $peer-point-width

    .m-aggregated-propoints-region
      left: -232px

    .m-aggregated-conpoints-region
      right: -232px

  ////////

  // The header of the reasons, describing whose reasons they are
  &[data-state="separated"], &[data-state="collapsed"]
    .m-reasons-header-region
      display: none


  &[data-state="together"]
    .m-reasons-header-region
      display: static
      border-radius: 0  
      padding: 0 $grid_xs
      //+bubble($community_color, $dark_community_color, left, $text_color: $community_text_color)

      .t-bubble
        display: none

    .m-reasons-header
      text-align: center
      margin-top: $vertical_baseline * 1.5

      .m-results-pro-con-list-who
        display: none
        +font-size(0)    
        //position: absolute
        //left: 740px
        //top: 15px

      .m-reasons-results-header

      .m-reasons-results-header-link
        +font-size(4)    
        display: none

      .m-reasons-results-header-label
        +font-size(8)    
        font-weight: bold
        display: inline-block
        margin: 0 $peer-point-results-width / 2 - 50
        border-bottom: 3px solid $base_text_color
  ////


  /// The participants block
  &[data-state="separated"]
    > .l-message-speaker
      display: none
    .l-group-container
      

// sticky footer for results (not presented in .m-reasons el)
.m-reasons-footer-sticky
  text-align: center

  a
    width: 100%
    border-radius: 0
    +font-size(2)