[data-activity="proposal-no-activity"]
  .m-reasons[data-state="collapsed"]
    display: none

  

[data-visibility="unpublished"]
  .m-reasons
    display: none

[data-activity="proposal-has-activity"]
  .m-reasons[data-state="collapsed"]
    .m-reasons-lists
      min-height: 85px
      //margin-bottom: 100px // spacing for participants block

  .m-reasons
    &[data-state="together"], &[data-state="separated"]
      min-height: 500px



.m-reasons
  &[data-state="together"]
    .m-reasons-lists
      width: $body_width + 2 * $grid_major

  // REASONS
  // this is the wrapper for the peer and position point lists
  .m-reasons-lists
    margin: $vertical_baseline auto 0 auto
    position: relative
    width: $body_width

  &[data-state="collapsed"], &[data-state="together"]
    .m-reasons-lists
      +bubble($community_color, $dark_community_color, left, $text_color: $community_text_color)
      svg.t-bubble
        left: auto
        right: -23px
        
  &[data-state="separated"], &[data-state="together"]
    .m-reasons-lists
      > svg.t-bubble
        display: none

  /////////
  // wrapper for a points column, managed by a PointsController
  .m-points-list-region
    position: relative
    vertical-align: top

  .m-position-region
    position: relative

  .m-points-list-region, .m-position-region
    display: inline-block

  &[data-state="separated"]
    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      &.m-pointlist-browsing
        width: $peer-point-width + $expanded_points_increment

  &[data-state="together"]
    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      &.m-pointlist-browsing
        width: $peer-point-results-width + $expanded_points_increment

  .m-aggregated-propoints-region, .m-aggregated-conpoints-region
    +transition(width .4s ease, left .5s linear, right .5s linear)
    position: absolute
    top: 0
    z-index: 10



  &[data-state="together"], &[data-state="collapsed"]
    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      width: $peer-point-results-width

  &[data-state="collapsed"]
    .m-aggregated-propoints-region
      left: 0

    .m-aggregated-conpoints-region
      right: 0

  &[data-state="together"]
    .m-aggregated-propoints-region
      left: $grid_major

    .m-aggregated-conpoints-region
      right: $grid_major


  &[data-state="separated"]

    .m-aggregated-propoints-region, .m-aggregated-conpoints-region
      width: $peer-point-width

    .m-aggregated-propoints-region
      left: -232px

    .m-aggregated-conpoints-region
      right: -232px

  ////////


  /// The participants block
  &[data-state="separated"]
    > .l-message-speaker
      display: none
    .l-group-container
      

// sticky footer for results (not presented in .m-reasons el)
.m-reasons-footer-sticky
  text-align: center

  a
    width: 100%
    border-radius: 0
    +font-size(2)