#tutorial
  //#help_link
  //  Confused? 
  //  =link_to "Read the tutorial", '/home/help'
  #console
    .frame
      .what

        %iframe{ :src => "http://player.vimeo.com/video/30497537?title=1&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }

      .how
        %iframe{ :src => "http://player.vimeo.com/video/31315280?title=1&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }
