////////////////////////////////////////
// Define/overide any skin style variables here
@import "skins/clean"

// These must be included in all theme files in this order
@import "variables"
@import "variables_skin"
@import "skinables" 
/////////

.l_header
  height: 0
  margin: 0
  min-height: 0

#l_content_main_wrap
  padding-top: 3 * $vertical_baseline

#t_bg-content
  +box-shadow(0 0 3px rgba(0, 0, 0, 0.2))

// .homepage_heading_view .t-logo
//   height: 5 * $vertical_baseline

.homepage_heading_view 
  left: -$dialog_stutter
  position: relative

  .homepage_main
    min-height: 100px

  .homepage_account_message
    text-align: center
    padding: $vertical_baseline 0
    margin: $vertical_baseline * 2 0 $vertical_baseline 0
    border-top: 2px solid
    border-bottom: 1px solid
    border-color: darken($base_background_color, 5%)

  .homepage_account_message_heading, .homepage_account_message_details

  .homepage_account_message_heading
    +font-size(4)

  .homepage_account_message_details
    +font-size(2)

.homepage_account_image
  position: relative
  top: 0 * $vertical_baseline
  margin: auto
  text-align: center
.header-logo 
  display: none