- down ||= false
- left ||= false
- flipped ||= false

- cache ['bubble', left, down, flipped] do 
  - size = 28
  - stroke_width = 1

  - if down
    - height = 2 * size
  - else
    - height = size

  %svg{ :xmlns => "http://www.w3.org/2000/svg", :width => size, :height => height, :class => "t-bubble", :version => "1.1", :baseProfile => "full" }

    - if !left && !down
      - transform = "scale(-1, 1) translate(#{-size}, 0)"
    - elsif down
      - transform = "scale(2,1) translate(#{size+6}, #{8 + size}) rotate(-245)"
    - else
      - transform = 'translate(.75 -1) rotate(3)'

    - if flipped
      - transform = 'translate(28,0) scale(-1,1)' + transform

    %g{ :transform => transform }
    
      %path.t-bubble-main{d: "M23.0619886,5 C23.0619886,19.9963179 3,27.9943541 3,27.9943541 C3,27.9943541 21.7676667,27.994354 26.9449541,21.9958269 L23.0619886,5 Z M23.0619886,5"}

      %path.t-bubble-adjust{d: "M27.378418,20.913672 L23.4689941,4.4 C23.4689941,4.4 23.5527547,6.32501898 23.4689941,6.81333008 C23.3504435,7.50446238 23.1328125,8.99228515 23.1328125,8.99228515 L26.3166504,21.9688468 L27.378418,20.913672 Z M27.378418,20.913672"}
