%script{ :type => "text/template", :id => "tpl_homepage_heading" }

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      

  .oha_homepage_header
    %a{ :href => 'http://kamakakoi.com' }
      = theme_image_tag 'oha-logo-small.png'
      %span
        Kamakakoi : The Cutting Edge

  .homepage_main

    %a{ :href => 'http://kamakakoi.com' }
      = theme_image_tag 'logo_large.png', :class => 't-logo'
            
    .homepage_account_message
      = simple_format current_tenant.header_text
