// These mixins and extenders can be used across all the sass files

@import "sassy-buttons"
@import "compass/css3/box-shadow"

// @import "compass/css3/background-size"
// @import "compass/css3/images"
// =stripe($stripe-color, $height)
//   +background-image(linear-gradient(transparent 50%, $stripe-color 50%))
//   +background-size($height $height)

=grayscale
  //filter: url('/filters.svg#grayscale')  //FF 3.5+
  filter: gray  // IE6-9
  -webkit-filter: grayscale(1) // Google Chrome & Safari 6+ 

=grayscale_off
  filter: none
  -webkit-filter: grayscale(0)

=grayscale_hover
  +grayscale
  &:hover
    +grayscale_off

=link_style($base_color, $amount: 25%, $method: -1)

  // by default, determine whether the hover should darken or lighten the color
  @if $method == -1
    @if lightness($base_color) < 50%
      $method: darken
    @else
      $method: lighten

  color: $base_color
  &:hover
    @if $method == darken
      color: darken($base_color, $amount)
    @else
      color: lighten($base_color, $amount)

// Browsers render the inset colors so differently...
=inset-border($base_text_color)
  border-color: darken($base_text_color, 10%) lighten($base_text_color, 5%) lighten($base_text_color, 10%) lighten($base_text_color, 5%)

=outset-text($transparency:.1)
  +single-text-shadow($hoff: 1px, $voff: 1px, $color: rgba(black, $transparency), $blur: 0)


=pressable_button
  margin: 2px 5px
  padding: 2px 8px
  cursor: pointer
  color: #555
  background-color: #efefef
  border: 1px solid
  border-radius: 5px
  border-color: white #ccc #ccc white
  +single-box-shadow

  &.selected
    border-color: #ccc white white #ccc
    +single-box-shadow($inset: true, $blur: 4px, $color: rgba(0, 0, 0, .2))

=grab_cursor
  cursor: move
  cursor: ew-resize
  cursor: -webkit-grab
  cursor: -moz-grab

  &:active
    cursor: move
    cursor: ew-resize
    cursor: -webkit-grabbing
    cursor: -moz-grabbing


