////////////////////////////////////////////////////////
// THEME: Processes all styles requiring theme variables.
//        Also imports some base themes
////////////////////////////////////////////////////////
@import "variables"
@import "compass/css3/box-shadow"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/typography/vertical_rhythm"
@import "sassy-buttons"

// libraries of mixins
@import "library/library"
@import "library/library_skinned"
@import "skins/css_snippets/bubble"

@import "reset"
@import "vendor/overrides"


// has to go after variable def; can go in library
%main_font-family
  font-family: $main_font-family


// compass vertical rhythm stuff...has to go after $base-font-size declared
+establish-baseline
html
  +adjust-leading-to(3)

#l-wrap
  font-size: $base-font-size

#t-bg
  background: $bg_declaration

#t-bg-top
  background: $bg_top_declaration

#t-bg-content
  background: $bg_content_declaration

#t-bg-content-top
  background: $bg_content_top_declaration
  
//+font-face("ModernPictogramsNormal", font-files("modernpics-webfont.woff", "modernpics-webfont.eot",  "modernpics-webfont.ttf", "modernpics-webfont.svg#ModernPictogramsNormal"), $eot: "modernpics-webfont.eot")

//+font-face("FontAwesome", font-files("fontawesome-webfont.woff", "fontawesome-webfont.eot",  "fontawesome-webfont.ttf"), $eot: "fontawesome-webfont.eot")

// $styles: "regular", "bold", "italic"
// @each $style in $styles
//   $file: "optima-#{$style}-webfont"
//   +font-face("Optima-web-#{$style}", font-files("#{$file}.woff", "#{$file}.eot",  "#{$file}.ttf", "#{$file}.svg"), $eot: "#{$file}.eot")

body, h1, h2, h3, h4, h5, h6, a, input, button
  color: $base_text_color


// do we need to put input and button here...?
html
  body, input, button, textarea
    @extend %main_font-family

a:hover
  color: $base_hover_color

  /* SHARED STYLES */
[data-target="user_profile_page"]
  cursor: pointer


.button
  +button($bground_color: hsl(0,0,35%))



////////////////////////////////////////
///////// Themable Colors
////////////////////////////////////////


// franklin/proposals
.m-proposals-new button
  @extend %desaturatedbutton

#m-proposals-container-completed
  hr
    border-top: 1px dashed $base_text_color

.m-proposals-filters, .m-proposals-list-pagination-wrap
  @extend %on_background

.m-proposals-list-pagination 
  .m-proposals-pagination-showmore, .m-proposals-list-pagination-page, .m-proposals-list-pagination-jump
    @extend %desaturatedbutton

  .selected
    @extend %superbutton
    padding: $vertical_baseline / 4 $grid_xs/2

.m-proposals-container-hibernation-message
  background-color: $comp_color
  color: $comp_text_color

// franklin/proposal

[data-visibility="published"]
  .m-proposal-admin_strip
    i
      color: darken($base_bg_color, 25%)

    &:hover
      .m-proposal-admin-options-menu
        background-color: $base_bg_color
        border: 1px solid darken($base_bg_color, 20%)

        a
          &:hover
            color: $comp_text_color
            background-color: $dark_comp_color

[data-visibility="unpublished"]
  .m-proposal-admin_strip
    color: $base_text_color

    .m-delete_proposal
      color: darken($base_bg_color, 25%)
      &:hover
        color: $base_text_color

  .m-proposal-admin-publish
    .m-proposal-publish
      @extend %desaturatedbutton

.m-position-your-action-body
  @extend %superbutton

// franklin/proposal/aggregate
$histogram_bar_color: mix(darken($mid_bg_color, 12%), $accent_color, 75%)
.m-histogram
  .m-histogram-bar
    border: 2px solid darken($histogram_bar_color, 10%)
    background-color: $histogram_bar_color
    +bubble(whitesmoke, darken(whitesmoke, 10%), up, $include_bg: false, $text_color: $base_text_color)    
    +single-box-shadow($hoff: 1px, $voff: 6px, $blur: 5px, $spread: -5px, $color: lighten($histogram_bar_color, 25%), $inset: true)
    &.m-bar-is-soft-selected, &.m-bar-is-hard-selected
      background-color: darken($histogram_bar_color, 8%)
      border-color: darken($histogram_bar_color, 16%)

.m-histogram-base
  background-color: mix(lighten($mid_bg_color, 30%), $accent_color, 90%)
  +single-box-shadow($hoff: 0px, $voff: 2px, $blur: 4px, $color: lighten($mid_bg_color, 40%), $inset: true)

// franklin/proposal/crafting
.m-position
  &[data-state="separated"], &[data-state="together"]
    .m-position-message-body
      background: $decision_board_bg

  .m-position-message-body
    border: 1px dashed $decision_board_border_color

.m-personal-reasons
  @extend %on_chalkboard

.m-position-footer
  .m-position-your-action-body.submit
    @extend %superbutton

  .m-position-submit-footer-wrap
    .m-position-cancel
      color: lighten($base_text_color, 25%)
      &:hover
        color: $base_text_color

.m-reasons-header
  a
    color: $decision_board_text_color
    &:hover
      color: darken($decision_board_text_color, 10%)

.m-stance
  @extend %on_chalkboard
  .m-stance-slider-container
    .noUiSlider
      background-color: lighten(mix($mid_bg_color, $accent_color), 20%)

// franklin/proposal/reasons
  &[data-state="collapsed"] 
    .m-reasons-footer-region
      .m-reasons-view-results
        color: darken($base_bg_color, 25%)

// franklin/proposal/description
.m-proposal-description-wrap

  .m-proposal-description
    +bubble($initiator_color, $dark_initiator_color, left, $text_color: $initiator_text_color)

    h1, h2, h3
      color: $initiator_text_color
  
  .m-proposal-details
    .l-message-body
      +bubble($base_bg_color, darken($base_bg_color, 12%), left, $text_color: $base_text_color)

  .m-proposal-links
    background-color: darken($base_bg_color, 15%)

// franklin/proposal/toggle
.m-proposal-state-toggle
  &[data-state="separated"], &[data-state="together"]

    .m-proposal-state-primary
      color: $decision_board_text_color

    .m-proposal-state-secondary
      color: lighten($base_text_color, 20%)
      &:hover
        color: $base_text_color


// franklin/assessment
.assessment-request-form-dialog

  .login
    color: $base_text_color

// franklin/comments
.m-thank .thank, .m-new-comment .m-login
  color: $base_text_color

// franklin/point
.m-point-unexpanded
  &.m-point-position
    .m-point-remove
      color: $decision_board_text_color
      &:hover
        color: darken($decision_board_text_color, 15%)

  &.m-point-peer
    .m-point-operations
      a
        color: lighten($base_text_color, 15%)

        &:hover
          color: $base_text_color

.m-point-position.m-point-unexpanded .m-point-wrap
  background-color: $decision_board_color

.m-point-include, .m-point-assessment-request-initiate, .m-point-follow
  @extend %desaturatedbutton
  +font-size(-3)
  &:hover
    +font-size(-3)

// franklin/points
[data-state="points-collapsed"]
  .m-pointlist-footer-more
    i
      color: darken($base_bg_color, 25%)

.m-pointlist-browse
  .m-pointlist-browse-toggle
    @extend %desaturatedbutton

.m-peer-reasons

  .m-pointlist-header-label
    border-bottom-color: $base_text_color

  &[data-state="points-separated"], &[data-state="points-together"]

    .m-pointlist-header-label
      color: lighten($base_text_color, 20%)

    .m-pointlist-browse-sort

      &:hover
        .m-pointlist-browse-sort-menu
          background-color: $base_bg_color
          border: 1px solid darken($base_bg_color, 20%)

          a
            &:hover
              color: $comp_text_color
              background-color: $dark_comp_color
            &.selected
              background-color: darken($callout_bg_color, 8%)
              color: $callout_text_color

  &[data-state="points-separated"]
    .m-pointlist-header-label
      border-bottom-color: darken($base_bg_color, 20%)

  &[data-state="points-collapsed"], &[data-state="points-together"]
    .m-pointlist-header-label
      color: lighten($base_text_color, 20%)
    +bubble(whitesmoke, darken(whitesmoke, 10%), left, $text_color: $base_text_color)

.m-position-points
  .m-pointlist-header-label
    border-bottom-color: $decision_board_text_color

.m-peer-reasons[data-state="points-together"], .m-peer-reasons[data-state="points-separated"] 
  .m-pointlist-browse-header-open, .m-pointlist-browse-header-close
    color: darken($base_bg_color, 15%)

.draggable_hover_pro .m-position-propoints, .draggable_hover_con .m-position-conpoints
  .m-point-drop-target
    color: darken($decision_board_text_color, 25%)
    border-color: darken($decision_board_text_color, 25%)

.m-point-drop-target, .m-newpoint
  border: 1px dashed $decision_board_border_color

// franklin/point
.m-thank .thank
  @extend %desaturatedbutton

// helpers

.l-tooltip-user
  .l-tooltip-user-action
    @extend %superbutton

// homepage

.t-intro
  .l-message-body
    +bubble($standout_color, $dark_standout_color, left, $text_color: $standout_text_color)

// auth
.m-user-options
  .m-user-options-menu
    background-color: $base_bg_color
    border: 1px solid darken($base_bg_color, 20%)

    a:hover
      color: $comp_text_color
      background-color: $dark_comp_color

#l-dialog-detachable 
  .m-user-accounts-complete-paperwork-form
    input[type="text"], input[type="email"], input[type="password"], textarea
      &.ui-state-valid
        color: $initiator_text_color

  .l-dialog-body
    @extend %whitesmoke


.m-user-accounts-complete-paperwork-form
  .m-user-accounts-form-fields-wrap
    background-color: $initiator_color
    border: 1px solid $dark_initiator_color
    border-top-color: lighten($dark_initiator_color, 15%)
    border-bottom-color: darken($dark_initiator_color, 15%)
    color: $initiator_text_color

.m-login, .m-user-options-display, #l-header .t-logo, #l-header .l-navigate
  @extend %on_header_footer

.m-user-accounts-email-auth-region, .m-user-accounts-complete-paperwork-form, .m-user-accounts-password-reset-form
  input[type="submit"], .m-user-accounts-register-next
    @extend %superbutton

// dashboard
html body #m-dashboard
  .m-dashboard-profile
    .m-dashboard-profile-activity-summary
      background-color: $comp_color
      &:hover
        background-color: darken($comp_color, 10%)

.m-sidebar
  .m-sidebar_link
    &.current
      background-color: $comp_color
    &:hover
      background-color: $comp_color


//////// These should be moved out to admin...

// analytics


// assessable
.assessment_published_at
  background-color: $callout_bg_color
  color: $callout_text_color

// dialog
#l-dialog-detachable
  .option
    .sublabel
      color: lighten($base_text_color, 15%)


//////////////////////////////////////////
// UNINCORPORATED
//////////////////////////////////////////


// styles pillaged from fontawesome examples; these should be boiled down and refactored
.input-group
  position: relative
  display: table
  border-collapse: separate
  &.col
    float: none
    padding-left: 0
    padding-right: 0

  .form-control
    width: 100%
    margin-bottom: 0
    margin-top: 0

.input-group-addon, .input-group-btn, .input-group .form-control
  display: table-cell
.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child)
  border-radius: 0
.input-group-addon,.input-group-btn
  width: 1%
  white-space: nowrap
  vertical-align: middle

.input-group-addon
  padding: 6px 12px
  font-size: 14px
  font-weight: normal
  line-height: 1
  text-align: center
  background-color: #eee
  border: 1px solid #ccc
  border-radius: 4px
.input-group-addon input[type="radio"],.input-group-addon input[type="checkbox"]
  margin-top: 0
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle)
  border-bottom-right-radius: 0
  border-top-right-radius: 0
.input-group-addon:first-child
  border-right: 0
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child)
  border-bottom-left-radius: 0
  border-top-left-radius: 0
.input-group-addon:last-child
  border-left: 0
.input-group-btn
  position: relative
  white-space: nowrap
.input-group-btn>.btn
  position:relative
.input-group-btn>.btn+.btn
  margin-left: -4px
.input-group-btn>.btn:hover,.input-group-btn>.btn:active
  z-index: 2








