@import "variables"

///////// FONT ////////////
$main_font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Verdana, sans-serif



//////// COLORS ////////////////


///////// BASE BACKGROUND ///////
$base_text_color: #414141
$base_hover_color: darken($base_text_color, 25%)
// approximate color of basic background, used for default fill for bubbles
$base_bg_color: #fafafa
// background for header and footer
$header_footer_bg_color: hsl( 0, 0%, 92%)
$header_footer_text_color: hsl( 0, 0%, 20%)

$bg_declaration: asset-data-url('base/images/brillant.png') repeat
$bg_main: asset-data-url('base/images/brillant.png') repeat $base_bg_color

$bg_top_declaration: none
$bg_content_declaration: none
$bg_content_top_declaration: none


/////////////////// BACKGROUND COMPLEMENTS
$comp_color:       invert($base_bg_color)  //hsl(  0, 0%, 25%)
$comp_text_color:  #fafafa  //hsl( 0, 0%, 92%)

$mid_bg_color: #666

/////////////// PROPOSAL INITIATORS
$accent_text_color: hsl( 210, 35%, 25%)
$accent_color:    hsl( 210, 70%, 84%)


////////////// SPECIAL PROPOSALS
$standout_text_color: $base_text_color
$standout_color: hsl( 0, 0%, 92%)

////////// CHALKBOARD SLATE
$decision_board_color: transparent //hsl( 0, 0%, 25%)
//$decision_board_text_color: mix($base_text_color, $accent_color, 80%)
$decision_board_text_color: mix(darken($base_text_color, 35%), darken(saturate($accent_color, 50%), 25%), 20%)
$decision_board_border_color: $decision_board_text_color //mix(lighten($base_text_color, 10%), $accent_color, 30%)
$decision_board_bg: mix($base_bg_color, $accent_color, 98%)


/////////////// PROPOSAL INITIATORS
$initiator_text_color: $accent_text_color
$initiator_color:    $accent_color

///////////////// PROPOSAL RESPONDERS
// $community_text_color: hsl( 49, 35%, 15%)
// $community_color:    hsl( 49, 70%, 84%)

$community_text_color: hsl( 49, 25%, 15%)
$community_color:    hsl( 49, 25%, 95%)

///////////////// ATTENTION GRABBING COLOR
$callout_bg_color: darken($initiator_color, 25%) //#BAAC54
$callout_text_color: #fafafa

/////////////////////////

// determines how much each base color is darkened for their dark counterpart
$border_darken_amt: 10%

$dark_initiator_color: darken($initiator_color, $border_darken_amt)
$dark_community_color: darken($community_color, $border_darken_amt)
$dark_comp_color: darken($comp_color, $border_darken_amt)
$dark_standout_color: darken($standout_color, $border_darken_amt)



// Sassy button defaults
$sb-base-color:      #0bc265      // Base color of your button
$sb-second-color:    false        // Optional second color of button gradient
$sb-border-radius:   10px         // Button border radius
$sb-border-width:    1px          // Button border width
$sb-padding:         $vertical_baseline/4 $grid_gutter / 2  // Button padding
$sb-font-size:       20px         // Button font-size
$sb-line-height:     1.2em        // Button line-height
$sb-text-color:      white        // Button text color
$sb-text-style:      "none"      // Button text shadow style
$sb-gradient-style:  "matte"      // Button gradient style
$sb-auto-states:     true         // Automatically create pseudo styles 


