////////////////////////////////////////////////////////////////////
// GRID VARIABLES, horizontal and vertical. Sets out the atomic 
// units for spacing.
////////////////////////////////////////////////////////////////////

// Pictoral summary of grid variables:
// 
//    |          $grid_major                 |   
//    | $grid_gutter |      $grid_minor      |

// Horizontal spacing units in Golden Ratio and $grid_major = $grid_minor + $grid_gutter
$grid_major: 48px
$grid_minor: 30px
$grid_gutter: 18px

// The height of each vertical grid unit (rhythm)
$vertical_baseline: 1em


////////////////////////////////////////////////////////////////////
// LAYOUT VARIABLES. Defines the high-level content dimensions.
////////////////////////////////////////////////////////////////////

// Pictoral summary of layout variables:
// 
//    |                                        $page_width                                           |   
//    | $content_gutter |                    $content_width                       |  $content_gutter |
//                      |  $body_gutter |      $body_width        | $body_gutter  |             

// $page_width encompasses the entirety of all content shown. If a viewport is larger 
// than $page_width, background is shown in the additional space on either side.
$page_width: 24 * $grid_major 

// $content_width encompasses the area of the page that is rendered into. Only occasionally is content 
// rendered in the $body_gutter on either side of the content area (e.g. points by others shown in the 
// margins in crafting mode)
$content_gutter: 2 * $grid_major
$content_width: $page_width - 2 * $content_gutter 

// $body_width encompasses the core active area. Content rendered in the $body_gutter
// tends to be things like individual or groups of user avatars
$body_gutter: 4 * $grid_major
$body_width: $content_width - 2 * $body_gutter


////////////////////////////////////////////////////////////////////
// UI WIDGET SIZES
////////////////////////////////////////////////////////////////////

// decision board width is the size of the pro/con list in the middle
$decision_board_width: $body_width + 4 // the four is for the border 

// POINTS
// Pictoral summary of point:
// |                             point-width                                |
// | grid_gutter/2 | point-avatar-width | point-content-width | grid_gutter/2 | 

$point-width: $body_width / 2 
$point-avatar-width: 2 * $grid_gutter
$point-content-width: $point_width - $point-avatar-width - $grid-gutter 

$open_point-width: $body_width + 3 * $grid_major

// $proposer_img_size is the size of the proposer avatar shown to the right of a proposer
$proposer_img_size: 75px

// the horizontal amount that a point grows by when you expand the pros or cons
$expanded_points_increment: 3 * $grid_major

// The height of the histogram
$histogram_height: 10 * $vertical_baseline

// The slight offset that the proposal description gets to make it look like a back and forth dialogue
$dialog_stutter: $grid_gutter


////////////////////////////////////////////////////////////////////
// STATE TRANSITION VARIABLES
////////////////////////////////////////////////////////////////////

$transition_speed: 1000ms
$transition_function: ease-out

////////////////////////////////////////////////////////////////////
// COMPASS DEFAULTS
////////////////////////////////////////////////////////////////////
$default-transition-property : all
$default-transition-duration : .4s
$default-transition-function : false
$default-transition-delay    : false

$default-box-shadow-color    : rgba(black, .4)
$default-box-shadow-h-offset : 0px
$default-box-shadow-v-offset : 1px
$default-box-shadow-blur     : 2px
$default-box-shadow-spread   : false
$default-box-shadow-inset    : false


////////////////////////////////////////////////////////////////////
// FONTS. Respects a vertical rhythm
////////////////////////////////////////////////////////////////////

$base-font-size: 16px
$browser-default-font-size: $base-font-size
$base-line-height: 6px
$base_unit: 1.3

$font-size-scale: $base-font-size - 5 * $base_unit $base-font-size - 4 * $base_unit $base-font-size - 3 * $base_unit $base-font-size - 2 * $base_unit $base-font-size - 1 * $base_unit $base-font-size $base-font-size + 2 * $base_unit $base-font-size + 4 * $base_unit $base-font-size + 6 * $base_unit $base-font-size + 8 * $base_unit $base-font-size + 10 * $base_unit $base-font-size + 12 * $base_unit $base-font-size + 14 * $base_unit $base-font-size + 16 * $base_unit $base-font-size + 20 * $base_unit $base-font-size + 25 * $base_unit $base-font-size + 30 * $base_unit $base-font-size + 35 * $base_unit

@import "compass/typography/vertical_rhythm"

=font-size($size:0)
  +adjust-font-size-to(nth($font-size-scale, $size + 5))


