#wrap.homepage  
  #content
    margin-top: 5 * $vertical_baseline

  #masthead .inner .logo_cell
    left: 50%
    //margin-left: -100px
    top: 50px
    margin-left: -350px

    img 
      width: 700px


.new_proposal form.new_proposal_form 
  table
    margin: auto
    text-align: center
  td
    padding-left: $grid_xs
  .avatar
    position: static
  #proposal_description
    margin-left: 0
  input[type="submit"]
    top: 0
  

#intro 


  #home

    #logo
      position: absolute
      top: -70px
      left: 50%
      z-index: 2
      margin-left: -100px

    #value
      text-align: center
      position: relative
      padding: 6px 20px 6px 20px

      .valueprop
        font-weight: normal
        +signature_font
        +outset-text
        +font-size(3)
        //color: #FA040D
        color: #C00000

      .first
        font-weight: bold
        +font-size(2)
        color: #333
        font-variant: small-caps
        text-transform: lowercase
        display: inline-block
        +outset-text




  #active_proposals
    //+border-radius(5px)
    //+box-shadow(0,0px,3px,rgba(black,.5))
    //border-top: 1px solid #ccc
    //border-bottom: 1px solid #111
    //padding: 12px 30px
    position: relative
    margin: 20px 0 0 0


    .get_started
      +font-size(-1)
      text-align: center
      color: #777
      font-weight: normal
      +outset-text

      a
        text-decoration: underline
        color: inherit
    