@import "mixins"
@import "theme_mixins"
@import "homepage"
@import "paper_proposal"


$primary_button_background_color: #c83b34

$background_color: #e6e6e6


@font-face
  font-family: 'Armata'
  font-style: normal
  font-weight: 400
  src: local('Armata'), local('Armata-Regular'), url(https://themes.googleusercontent.com/static/fonts/armata/v3/jtA73b1gNr8_YTaAbvb4uuvvDin1pK8aKteLpeZ5c0A.woff) format('woff')

//body, input, button, 

h1, h2, h3, h4, h5, h6
  font-family: 'Armata', 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif

#craft_position #nameplate
  display: none
  +font-size(0)
  &, input, a, textarea
    font-family: 'Armata', 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif

.participant_connection
  +main_font
  
#craft_position #submitstance .rest .stanceform form 
  width: 650px
  input[type="submit"]
    +main_font
    font-weight: bold
  .login_required

.infiniteCarousel .paginate input.forward[type="submit"], .infiniteCarousel .paginate button.back, .infiniteCarousel .paginate button.forward, .infiniteCarousel .arrow input.forward[type="submit"], .infiniteCarousel .arrow button.back, .infiniteCarousel .arrow button.forward, .dynamicList .paginate input.forward[type="submit"], .dynamicList .paginate button.back, .dynamicList .paginate button.forward, .dynamicList .arrow input.forward[type="submit"], .dynamicList .arrow button.back, .dynamicList .arrow button.forward
  color: #777

#craft_position > .user_opinion td.margin
  padding-top: 5 * $vertical_baseline
#craft_position > .user_opinion td.margin .points_other
  top: 8 * $vertical_baseline

.newpoint .newpointbutton a.write_new
  +font-size(0)

//$dark_header_background: #710000

#admin_strip #content #more_options
  display: none

#explore_proposal
//  margin-top: 60px
#wrap #masthead .inner .logo_cell
  margin-left: 378px
  top: 11px  
  //margin-left: -193px
  img 
    width: 300px

#footer, #zipcode_entry
  display: none

.pro_con_list


button,
input[type="submit"]
  background-color: gray
  border: none
  color: white
  &.important
    //background-color: $primary_button_background_color    

html
  background-color: #bbb
  +main_background
  background-attachment: fixed

  body
    background: none
    &:after, &:before
      content: none

    #wrap 
      z-index: 4

      > div#content  
        padding-top: 10px
        position: relative
        z-index: 5

        &:after
          content: "."
          display: block
          height: 0
          clear: both
          visibility: hidden

      #masthead
        z-index: 10

  body
    &:after
      +main_background
      content: ''
      width: 100%
      height: 300px
      top: 0
      left: 0
      z-index: 1

#nav-user > li.triangle .hide
  +main_background

#craft_position

  > .user_opinion
    +nude-list
    //+wall
    //+box-shadow(0, 4px, 7px, black, 0.5)
    //+border-radius(5px)
    //border: 1px solid
    //border-color: white #c1c1c1 #bbb #c1c1c1
    padding: 12px 0


.proposal_prompt

  .pic
    //background-image: image-url('policyninja/images/hawaii.png')
    //width: 175px
    //height: 185px
    //left: -111px
    //top: -100px
    //display: none

    //&:after, &:before
      content: none

#home
  #follow
    right: 14px
    top: 143px
    z-index: 10
    position: absolute

#follow
  position: absolute

#static


#static.aboutus
  .desc
    img.horizontal_ad
      padding-top: 30px
      width: 100%

#help 
  width: 600px
  margin: auto
  ul
    padding: 0 10px 0 10px
    li
      list-style: disc inside none

.proposals

.slider_table .slider_container .ui-slider
  background-color: #666



.new_proposal
  .prompt
    //color: #ccc
    //font-weight: bold
    +font-size(3)
    padding: 10px 18px
    //+border-radius(5px)
    //border: 1px solid #777
    //width: 200px
    //cursor: pointer
    //background-color: #222
    display: block
    margin: auto

.proposals.horizontal
  .paginate
    display: none

  .carousel
    height: auto
    float: none
    ul
      text-align: center
    li.proposal_item
      float: none
      display: inline-block
      width: auto
      text-align: center
      vertical-align: top
      margin: $vertical_baseline / 4 $grid_xs / 4

      a
        display: inline-block
        width: 250px
        height: $vertical_baseline * 8

      .number
        +font-size(4)

      .user_name
        display: none

      .prompt
        +font-size(-3)
        font-weight: normal
        padding-top: $vertical_baseline



.proposals.horizontal.blocks
  //width: 850px
  .paginate, .old
    display: none

  h3
    +main_font
    +outset-text
    +font-size(2)
    padding-top: $vertical_baseline

  .carousel
    height: auto
    float: none
    ul
      


    li.proposal_item
      float: none
      display: inline-block
      text-align: center
      //width: 180px
      
      vertical-align: top
      opacity: .9
      
      +linear-gradient(darken($primary_button_background_color, 25%), $primary_button_background_color)
      background-color: darken($primary_button_background_color, 5%)


      margin: $vertical_baseline / 4 $grid_xs / 8

      &:hover
        background: none

      > a
        padding: 0
        color: #ddd
        display: block
        padding: $vertical_baseline $grid_xs / 2 $vertical_baseline $grid_xs / 2
        //height: $vertical_baseline * 4

        &:hover
          color: white

      .number
        +font-size(-1)
        font-weight: normal
        letter-spacing: normal
        color: darken(desaturate(#980000, 60%), 20%)
        font-weight: bold
        top: - $vertical_baseline
        font-variant: small-caps
        text-transform: uppercase
        display: block
        //+inset-text(.1)
        padding-bottom: $vertical_baseline /4

      .short_name
        font-weight: normal
        vertical-align: middle
        letter-spacing: normal
        +font-size(1)
        font-variant: small-caps
        text-transform: lowercase
        font-weight: bold
        line-height: 1


      &:hover
        +linear-gradient(darken($primary_button_background_color, 15%), $primary_button_background_color)
        background-color: darken($primary_button_background_color, 5%)
