//////////////////////////////////////////////////////////////
// These must be included at the top of all theme stylesheets
@import "grooves/base/variables"
@import "grooves/base/colors"
@import "grooves/base/fonts"
////////////////////////////

////////////////////////////////////////
// Overide any base style variables here
@import "grooves/simple/variables"
@import "grooves/simple/colors"
@import "grooves/simple/fonts"

$main_font-family: "Armata", "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Verdana, sans-serif
$base-font-size: 14px
$browser-default-font-size: $base-font-size

$base-line-height: 4px

@font-face
  font-family: 'Armata'
  font-style: normal
  font-weight: 400
  src: local('Armata'), local('Armata-Regular'), url(https://themes.googleusercontent.com/static/fonts/armata/v3/jtA73b1gNr8_YTaAbvb4uuvvDin1pK8aKteLpeZ5c0A.woff) format('woff')


// required for all themes
@import "grooves/base/processor"
@import "considerit" 
/////////


#l-header
  position: absolute
  margin-left: -$content_width/2
  left: 50%
  width: $content_width

#t-bg-content-top
  padding-top: 4 * $vertical_baseline

.t-intro-wrap
  text-align: center


.l-message-title
  font-weight: bold
  +font-size(0)
  margin: $vertical_baseline/2 0

#l-content-main
  width: $content_width + 118 * 2
