Powered by 
%strong
  ConsiderIt
, an 
= link_to 'Open Source platform', 'https://github.com/tkriplean/considerit', :target => '_blank'
for public deliberation, reported on in
= link_to 'this forthcoming CSCW paper.', 'http://www.cs.washington.edu/homes/travis/papers/cscw_2012_camera_ready.pdf' 