@import "sassy-buttons"
@import "compass/css3/background-size"
@import "compass/css3/images"
@import "compass/css3/box-shadow"

=stripe($stripe-color, $height)
  +background-image(linear-gradient(transparent 50%, $stripe-color 50%))
  +background-size($height $height)

=grayscale
  //filter: url('/filters.svg#grayscale')  //FF 3.5+
  filter: gray  // IE6-9
  -webkit-filter: grayscale(1) // Google Chrome & Safari 6+ 

=grayscale_off
  filter: none
  -webkit-filter: grayscale(0)

=grayscale_hover
  +grayscale
  &:hover
    +grayscale_off

%nude_list
  list-style: none outside none

// Browsers render the inset colors so differently...
=inset-border($base_text_color)
  border-color: darken($base_text_color, 10%) lighten($base_text_color, 5%) lighten($base_text_color, 10%) lighten($base_text_color, 5%)

=outset-text($transparency:.1)
  +single-text-shadow($hoff: 1px, $voff: 1px, $color: rgba(black, $transparency), $blur: 0)

%superbutton
  +sassy-button("simple", 5px, inherit, darken($callout_bg_color, 8%), darken($callout_bg_color, 16%))
  color: $callout_text_color
  &:hover
    color: lighten($callout_text_color, 20%)

%supersuperbutton
  +sassy-button("glass", 5px, inherit, darken($callout_bg_color, 16%), darken($callout_bg_color, 24%))
  color: $callout_text_color
  &:hover
    color: lighten($callout_text_color, 20%)
    
%desaturatedbutton
  //+sassy-button("simple", 5px, inherit, lighten(desaturate($callout_bg_color, 100%), 10%))
  +sassy-button("simple", 5px, inherit, darken(desaturate($base_bg_color, 100%), 5%), darken(desaturate($base_bg_color, 100%), 10%), $base_text_color, "false")
  padding: $vertical_baseline/4 $grid_xs / 2
  text-align: center
  display: inline-block
  vertical-align: top
  margin: 0
  color: lighten($base_text_color, 15%)
  // +text-shadow(none)
  &:hover
    +sassy-button("simple", 5px, inherit, lighten(desaturate($callout_bg_color, 10%), 10%))
    padding: $vertical_baseline/4 $grid_xs / 2
    color: $callout_text_color


=button($bground_color: hsl(0,0,45%), $darken_amt: 10%)
  +sassy-button("glass", 5px, inherit, $bground_color, darken($bground_color, $darken_amt))
  padding: $vertical_baseline / 4 $grid_xs/2

  // color: invert($bground_color)
  // &:hover
  //   color: darken( invert($bground_color), 20%)

=pressable_button
  margin: 2px 5px
  padding: 2px 8px
  cursor: pointer
  color: #555
  background-color: #efefef
  border: 1px solid
  border-radius: 5px
  border-color: white #ccc #ccc white
  +single-box-shadow

  &.selected
    border-color: #ccc white white #ccc
    +single-box-shadow($inset: true, $blur: 4px, $color: rgba(0, 0, 0, .2))



=grab_cursor
  cursor: move
  cursor: ew-resize
  cursor: -webkit-grab
  cursor: -moz-grab

  &:active
    cursor: move
    cursor: ew-resize
    cursor: -webkit-grabbing
    cursor: -moz-grabbing
