//////////////////////////////////////////////////////////////
// These must be included at the top of all theme stylesheets
@import "variables"
@import "variables_skin"
@import "compass/css3/box-shadow"
////////////////////////////

////////////////////////////////////////
// Overide any skin style variables here
$base_bg_color: #fafafa
$header_footer_bg_color: hsl( 0, 100%, 27%)
$header_footer_text_color: hsl( 0, 0%, 80%)
$bg_declaration: asset-data-url('wall_texture.png') repeat #777
$bg_top_declaration: asset-data-url('lvg/images/spots-red.png') repeat-x 
$bg_content_declaration: whitesmoke //asset-data-url('paper.jpg') //repeat white 5 * $vertical_baseline 0em
$bg_content_top_declaration: none
$bg_main: $base_bg_color
$comp_color: $decision_board_text_color
$standout_text_color: $base_text_color
$standout_color: hsl( 0, 0%, 98%)
$initiator_text_color: #fafafa
$initiator_color:    hsl( 0, 100%, 32%)
$community_text_color: hsl( 0, 30%, 15%)
$community_color:    hsl( 0, 0%, 87%)
$callout_bg_color: hsl( 0, 5%, 50%)

$dark_initiator_color: darken($initiator_color, $border_darken_amt)
$dark_community_color: darken($community_color, $border_darken_amt)
$dark_comp_color: darken($comp_color, $border_darken_amt)
$dark_standout_color: darken($standout_color, $border_darken_amt)


// required for all themes
@import "skinables" 
@import "sassy-buttons"
@import "library/library_skinned"
/////////

#l-header
  min-height: 32px
  
#t-bg-content

#l-content-main-wrap
  // background: asset-data-url('paper.jpg') repeat white 5 * $vertical_baseline 0em

#t-bg-content
  +single-box-shadow(rgba(black, .25), 0, 1px)
  border-radius: 15px

  //margin-top: 2 * $vertical_baseline

#t-bg-top
  &:before
    content: ""
    height: 7 * $vertical_baseline
    +single-box-shadow(rgba(black, .25), 0, 1px)
    position: absolute
    width: 100%
    top: 13 * $vertical_baseline
    +background(linear-gradient(top, #888, #777))
    border-top: 1px solid #919191
    border-bottom: 1px solid #666

#l-header
  .t-logo
    display: inline-block
    position: absolute
    top: 183px
    left: 88px
    z-index: 20

    .t-logo-name
      text-transform: none

    .t-logo-tagline  
      display: none
      //margin-left: 220px
      //margin-top: 20px
      font-weight: bold
      margin-left: 0
      +font-size(-1)
      color: #888

      &:hover
        color: #444

    .t-logo-name
      +font-size(-1)
      font-style: italic

    .t-logo-read-more
      +font-size(-2)
      font-style: normal

// #l-header .t-logo
//   float: none

.t-intro-wrap
  #t-intro-people
    text-align: center
    padding-top: $vertical_baseline
    margin-left: -($full_width - $content_width)/2
    width: $full_width

    .row
      font-size: 0
    .avatar
      width: 25px
      height: 25px
      //+grayscale
      opacity: .05

      &.hovered
        //+grayscale_off
        opacity: .10

      &.highlightable
        opacity: .4

      &.hovered.highlightable
        //+grayscale_off
        opacity: .6


  .t-logo
    position: absolute
    left: 111px
    top: -1.5 * $vertical_baseline
    margin-left: -145px
    z-index: 2
    width: 250px

  .t-intro-text
    //background-color: rgba(white, .6)

  .l-message-title
    position: absolute
    z-index: 1
    top: 68px
    left: 212px
    font-weight: bold
    +font-size(8)
    //font-weight: bold
    //margin-top: $vertical_baseline / 4
    +single-text-shadow( $voff: 1px, $color: rgba(white, .75)) 
    color: #222
    pointer-events: none

  .t-introduce-fact-checkers
    position: absolute
    z-index: 1
    top: 106px
    left: 214px

    margin-top: $vertical_baseline/4

    a
      +font-size(1)
      font-style: italic
      +text-shadow( rgba(white, .75) 1px 1px 0, rgba(white, .75) 1px -1px 0, rgba(white, .75) -1px 1px 0, rgba(white, .75) -1px -1px 0)
      color: #222
      text-shadow: none    
      text-align: center

      &:hover
        color: black
      .link

  .t-intro-get-started
    text-align: center
    //font-weight: bold
    margin-top: $vertical_baseline 
    position: relative
    z-index: 10
    +font-size(3)

#follow
  position: absolute
  right: $grid_xs
  top: 113px
  //background-color: rgba(white, .6)
  z-index: 3

/// local...
#t-unlock-measures-button
  @extend %desaturated_button

#t-unlock-measures-zip, #t-unlock-measures-button
  +font-size(1)

#t-unlock-measures-zip
  padding: $vertical_baseline/4 $grid_xs/4
  width: 110px

.t-intro-learn-more
  position: absolute
  right: 28px
  top: 4px
  +font-size(-3)
  text-decoration: underline
  color: #666


.t-unlock-local
  color: #777
  padding: $vertical_baseline/4 $grid_xs/2
  margin: $vertical_baseline/2 auto 0 auto
  text-align: center
  background-color: #eee
  border-radius: 5px
  z-index: 20
  width: 390px
  +font-size(-2)

  .unlock
    .subtext
      padding-right: $grid_xs / 2

  h3 
    color: #333

  .no_measures
    width: 650px
    margin: auto
    padding-bottom: $vertical_baseline/2
    a
      text-decoration: underline

  .not_perfect
    +font-size(-3)
    a
      text-decoration: underline
    

  a
    color: inherit
    text-decoration: underline

  #domain
    width: 350px

  .unlock_this
    +font-size(1)
/////



$juri_width: $initiator_width

  

// .l-message
//   &.m-proposal-summary-view, &.m-proposal-showing-details
//     > .l-message-speaker.l-message-initiator
//       top: -14px




.t-local
  .m-point-assessment-region
    display: none

.m-proposal-leading
  font-weight: bold
  //font-variant: small-caps
  //padding-right: $grid_xs/2
  //text-transform: lowercase

html body #m-dashboard
  margin-bottom: 0

/// footer
#l-footer
  padding: 0 0 2 * $vertical_baseline 0

.l-footer-wrap
  padding: 0 0 $vertical_baseline 0
  z-index: 25
  width: $content_width
  +font-size(2)

  #l-footer_segments
    color: #555

    a
      text-decoration: underline
      cursor: pointer
      color: #666     
      &:hover
        color: #222       

    .heading
      font-weight: bold
      color: #666
      text-transform: uppercase
      letter-spacing: 0
      line-height: 1.3


    .line
      +font-size(-1)
      line-height: 1.3

    .who
      margin-top: $vertical_baseline / 2
      img
        width: 100px
        opacity: .8
        &:hover
          opacity: 1


    #service, #powered, #contact, #voter_info
      text-align: center

    #service
      background: image-url('lvg/images/footer_triangle.png') no-repeat top center transparent
      padding: $vertical_baseline / 2 0 3 * $vertical_baseline 0
      .line, h3
        line-height: 1.5
      h3
        +font-size(2)

    #powered
      .power
        margin-top: $vertical_baseline

        img
          width: 120px
          opacity: .8
          &:hover
            opacity: 1
      > .line
        padding-bottom: $vertical_baseline
      padding-bottom: 2 * $vertical_baseline

    #contact, #voter_info
      position: absolute
      top: 4 * $vertical_baseline
    #contact
      right: 5%
      padding-bottom: $vertical_baseline

      iframe
        height: 20px

      .partners, .past
        padding-bottom: $vertical_baseline

    #voter_info
      left: 5%

  .copromoters
    margin-top: $vertical_baseline
    +font-size(-2)
    color: #666
    text-align: center
    ul
      display: inline-block
    li
      display: inline-block
      //padding-right: $grid_xs / 2

      &.strong
        font-weight: bold
        padding-right: $grid_xs / 2
        &:after
          content: none

      a
        color: #666

        &:hover
          text-decoration: underline

      &:after
        content: '\2022'
        padding: 0 $grid_xs / 4


#static-main-region
  .media-story
    margin-bottom: $vertical_baseline

    list-style: none
    a
      text-decoration: underline
    .loc
      font-variant: small-caps
      text-transform: lowercase
  
  .t-about-image
    //float: right
    display: inline-block
    margin: 0 $grid_xs/4 $vertical_baseline/2 $grid_xs/4

  .history
    a
      text-decoration: underline

// /home/fact_check
.fact_check

  .spl_logo
    display: inline-block
    position: relative
    float: right
    img
      width: 100px
  ul
    padding-left: $grid_xs
    margin-bottom: $vertical_baseline
    li.category_explanation
      list-style: none
      position: relative
      padding-bottom: $vertical_baseline
      min-height: 45px
      display: inline-block
      img
        width: 45px
        position: absolute
        left: -50px
        top: 50%
        margin-top: -22px
        //top: -12px



#m-proposals-container-completed
  display: none

.t-lvg-library-resources
  &:after
    content: "These resources curated for the Living Voters Guide by the Seattle Public Library"
    font-style: italic

.t-lvg-library-resource
  padding: $vertical_baseline/2 $grid_xs
  a
    text-decoration: underline
    font-weight: bold
  p
    +font-size(-1)
