%table.slider_table
  %tr
    %td.slider_label.left
      %div
        Support
    %td.slider_container
      %div.slider{:id => "slider#{id}"}
    %td.slider_label.right
      %div
        Oppose
  %tr
    %td
    %td
      .center
        Neutral
    %td