
///////// BASE BACKGROUND ///////
$base_text_color: #414141
$base_hover_color: darken($base_text_color, 25%)
// approximate color of basic background, used for default fill for bubbles
$base_bg_color: #fafafa
// background for header and footer
$header_footer_bg_color: hsl( 0, 0%, 92%)
$header_footer_text_color: hsl( 0, 0%, 20%)

$bg_declaration: asset-data-url('base/images/brillant.png') repeat
$bg_top_declaration: none
$bg_content_declaration: none
$bg_content_top_declaration: none


/////////////////// BACKGROUND COMPLEMENTS
$comp_color:       invert($base_bg_color)  //hsl(  0, 0%, 25%)
$comp_text_color:  #fafafa  //hsl( 0, 0%, 92%)

$mid_bg_color: #666


////////// CHALKBOARD SLATE
$decision_board_color: hsl( 0, 0%, 25%)
$decision_board_text_color: hsl(0, 0%, 90%)

////////////// SPECIAL PROPOSALS
$standout_text_color: $base_text_color
$standout_color: hsl( 0, 0%, 92%)

/////////////// PROPOSAL INITIATORS
$initiator_text_color: hsl( 210, 35%, 25%)
$initiator_color:    hsl( 210, 70%, 84%)

///////////////// PROPOSAL RESPONDERS
$community_text_color: hsl( 49, 35%, 15%)
$community_color:    hsl( 49, 70%, 84%)

///////////////// ATTENTION GRABBING COLOR
$callout_bg_color: darken($initiator_color, 25%) //#BAAC54
$callout_text_color: #fafafa

/////////////////////////

// determines how much each base color is darkened for their dark counterpart
$border_darken_amt: 10%