$desaturate: false
$desaturate_color: false

$border_darken_amt: 8%

$position_color: #414141
$base_color: $position_color
$base_hover_color: #000

$initiator_text_color: hsl( 210, 35%, 25%)
$standout_text_color: hsl( 356, 35%, 25%)
$standout_color: hsl( 356, 66%, 70%)
$community_text_color: hsl( 49, 35%, 15%)

$initiator_color:    hsl( 210, 70%, 84%)
$community_color:    hsl( 49, 70%, 84%)

$comp_color:         hsl(  0, 0%, 25%)
$bg_color:           hsl(   15, 0%, 30%)
$position_color:     hsl( 0, 0%, 25%)
$position_button_bg: darken($initiator_color, 25%) //#BAAC54

$content_bg_color: #fafafa
$product_background_color: hsl( 0, 0%, 92%)



@if $desaturate
  $initiator_color: desaturate($initiator_color, 100%)
  $community_color: desaturate($community_color, 100%)
  $bg_color: desaturate($initiator_color, 100%)
  $comp_color: desaturate($comp_color, 100%)
  $standout_color: desaturate($standout_color, 100%)
  $position_button_bg: desaturate($position_button_bg, 100%)

@if $desaturate_color
  $base_color: desaturate($base_color, 100%)
  $base_hover_color: desaturate($base_hover_color, 100%)
  $initiator_text_color: desaturate($initiator_text_color, 100%)
  $community_text_color: desaturate($community_text_color, 100%)

$dark_initiator_color: darken($initiator_color, $border_darken_amt)
$dark_community_color: darken($community_color, $border_darken_amt)
$dark_comp_color: darken($comp_color, $border_darken_amt)
$dark_standout_color: darken($standout_color, $border_darken_amt)


$dark_position_color: darken($position_color, 10%) 


$header_gray: #777
$empty_color: #ddd

