@import "compass/typography/vertical_rhythm"

$main_font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Verdana, sans-serif
$base-font-size: 16px
$base-line-height: 6px
$scale: 8px 9.3px 10.7px 12px 13.3px 14.7px 16px 18.7px 21.3px 24px 28px 32px 36px 40px 44px 48px 64px 80px 90px

 


