@import "constructs/misc"

%on_header_footer
  color: $header_footer_text_color
  //background-color: $header_footer_bg_color
  a
    color: darken($header_footer_text_color, 10%)
    &:hover
      color: darken($header_footer_text_color, 25%)

%on_background
  color: $base_text_color
  a
    color: darken($base_text_color, 10%)
    &:hover
      color: darken($base_text_color, 25%)


%on_chalkboard
  color: $decision_board_text_color
  //background-color: $decision_board_color
  a
    color: darken($decision_board_text_color, 10%)
    &:hover
      color: darken($decision_board_text_color, 20%)
  
  h1, h2, h3
    color: $decision_board_text_color

  textarea, input[type="text"], input[type="email"], input[type="password"]
    background-color: transparent
    border: 1px solid
    +inset-border($decision_board_text_color)
    display: inline-block
    color: $decision_board_text_color

    &.error 
      border-color: #883333
      &:focus
        +inset-border($decision_board_text_color)

%light

  color: darken($base_text_color, 20%)
  
  h1, h2, h3
    color: darken($base_text_color, 20%)

  a
    color: darken($base_text_color, 20%)
    
    &:hover
      color: darken($base_text_color, 25%)

  textarea, input[type="text"], input[type="email"], input[type="password"]
    color: #2a2a2a
    background-color: white
    //border-width: 1px
    //+inset-border(#bbb)
    border: 1px solid #ccc
    padding: 6px 12px


%whitesmoke
  @extend %light
  background: whitesmoke

%on_paper
  @extend %light
  background: image-url('paper.jpg') repeat left top #fafafa

// %chalkboard
//   background: image-url("chalk/chalkboard.jpg") repeat left top #414141

// =wall($bground_color:#ccc)
//   background: image-url('wall_texture.png') repeat scroll 0 0 $bground_color

