$grid_major: 48px
$grid_minor: 30px
$grid_xs: 18px

$vertical_baseline: 1em

$content_width: 967px //$grid_major * 22 + $grid_xs
$body_width: 667 - 2 * $grid_xs
$decision_board_width: 598px
$margin_width: 150px
$initiator_width: 100px


$slider_width: 300px
$slider_label_width: 100px


//$peer-point-height: 180px
$expanded_points_increment: 250px

$pro-con-list-column-width: 275px //$body_width / 2 //250px

$histogram_bar_width: 87px //2 * $grid_major - 4


$dialog_stutter: 28px


$transition_speed: 1.2s
$transition_function: linear



// Peer point: 
// | padding | avatar | point-wrap | padding | 
$peer_padding: $grid_xs
$peer-point-avatar-area: 38px
$peer-point-wrap-width: 225px
$peer-point-wrap-results-width: $decision_board_width / 2 - $peer_padding - $peer-point-avatar-area

$peer-point-width: $peer-point-wrap-width + $peer-point-avatar-area + $peer_padding + 2 //the two is for border
$peer-point-results-width: $peer-point-wrap-results-width + $peer-point-avatar-area + $peer_padding + 2 //the two is for border