$grid_major: 48px
$grid_minor: 30px
$grid_xs: 18px

$vertical_baseline: 1em

$content_width: 920px //967px //$grid_major * 22 + $grid_xs
$margin_width: 150px
$initiator_width: 75px


$slider_width: 283px
$slider_label_width: 100px


//$peer-point-height: 180px
$expanded_points_increment: 250px


$histogram_bar_width: 73px //2 * $grid_major - 4
$histogram_bar_height: 150px
$aggregate_area_height: 10 * $vertical_baseline

$dialog_stutter: $grid_xs


$transition_speed: 1000ms
$transition_function: ease-out



// Peer point: 
// | padding | avatar | point-wrap | padding | 
$peer_padding: $grid_xs
$peer-point-avatar-area: 38px
$peer-point-wrap-width: 225px
$peer-point-wrap-results-width: $peer-point-wrap-width
$position-point-wrap-width: $peer-point-wrap-width


//$peer-point-wrap-results-width:  243px // $decision_board_width / 2 - $peer_padding - $peer-point-avatar-area

$peer-point-width: $peer-point-wrap-width + $peer-point-avatar-area + $peer_padding + 2 //the two is for border

$peer-point-results-width: $peer-point-width //$peer-point-wrap-results-width + $peer-point-avatar-area + $peer_padding + 2 //the two is for border


//$position-point-wrap-width: 237px //$body_width / 2 //250px
$position-point-width: $position-point-wrap-width + $peer-point-avatar-area 

$decision_board_width: $position-point-width * 2 + 2 * $peer_padding //+ 10
$body_width: $decision_board_width //667 - 2 * $grid_xs

$full_reasons_width: $decision_board_width + 2 * $peer-point-results-width + 11 //7 is for borders //+ 2 * $grid_xs
$full_reasons_left: -($full_reasons_width - $content_width) / 2 + 2

$m-point-expanded-width: $body_width + 150
