$grid_major: 48px
$grid_minor: 30px
$grid_xs: 18px

$vertical_baseline: 1em

$content_width: 967px //$grid_major * 22 + $grid_xs
$body_width: 600px
$margin_width: 120px
$initiator_width: 100px


$slider_width: 300px
$slider_label_width: 100px

$peer-point-width: 225px
$peer-point-results-width: 296px
//$peer-point-height: 180px
$expanded_points_increment: 250px

$pro-con-list-column-width: 275px //$body_width / 2 //250px

$histogram_bar_width: 82px //2 * $grid_major - 4




