$primary_button_background_color: #082872

$dark_background_theme: desaturate(#0342A1, 35%)
$light_background_theme: #d7d7d7 //#e4def9 //desaturate(#ADCDFF, 35%)
$medium_background_theme: desaturate(#74ABFF, 35%)

$dark_header_background: #710000

button,
input[type="submit"]
  background-color: gray
  border: none
  color: white
  &.important
    //background-color: $primary_button_background_color    

  
#craft_position > ol 
  li.step

    &.considerations
      background-color: $light_background_theme
    &.slide
      background-color: $medium_background_theme
    &.statement
      background-color: $light_background_theme

#explore_proposal > ol 

  li.statements
    .position_statement
      background-color: $light_background_theme

#wrap #footer
  //background-color: white
