@import "variables"

.toggle_proposal_state_view
  text-align: center

  &[state="summary"]
    display: none


  &[state="crafting"], &[state="results"]
    margin-top: 2 * $vertical_baseline

    .proposal_state_primary
      +font-size(6)
      font-weight: bold

    .proposal_state_secondary
      +font-size(1)
      text-decoration: underline