.judgepointform{ :id => "judgepointform_#{point.id}" }

  = form_for :inclusion, :remote => true, :url => option_point_inclusion_path(@option, point, 1), :html => { :method => :delete } do |f| 
       
    %input{:class => 'judge_point no_qtip', :type => 'submit', :value => "#{ current_user && point.user_id == current_user.id ? 'delete' : 'remove'}", :name => "judge", :title => 'Click to remove this point from your list'}

  