$background_color: #890000

$people_width: 35px * 30

html body #wrap.homepage
  +border-radius(5px)
  &:after, &:before
    position: absolute

.homepage .logo_cell
  display: none

html body #wrap.homepage > div#content
  padding-top: 0

html body #wrap.homepage > div#masthead
  height: $vertical_baseline * 3

#intro 

  padding-top: $vertical_baseline
  //+border-radius(5px)
  //background-color: white    
  //+box-shadow(0px, 0px, 4px, rgba(black, .7))
  //background: image-url('chalkboardit/images/proposal_back.jpg') repeat top left white

  #home
    #follow
      top: 220px
      right: -20px

    #people
      width: $people_width
      left: 50%
      font-size: 0
      margin-left: -$people_width/2
      position: relative      
      .row
        text-align: center
        .img
          display: inline-block
          opacity: .5
          width: 35px
          height: 35px
          +grayscale
          //+transition

          &.hovered
            +grayscale_off
            opacity: 1
          //&:hover
          //  opacity: 1
          //border-right: 1px solid white
          //border-bottom: 1px solid white

    #logo
      position: absolute
      top: -55px
      left: 50%
      z-index: 2
      margin-left: -145px
      pointer-events: none

      img
        //width: 280px



  #active_proposals
    //+border-radius(5px)
    //+box-shadow(0,0px,3px,rgba(black,.5))
    //border-top: 1px solid #ccc
    //border-bottom: 1px solid #111
    //padding: 12px 30px
    position: relative
    margin: 0 0 $vertical_baseline * 2 0

    .banner

      h1#tagline
        font-weight: bold
        +font-size(5)
        color: #333
        text-align: center
        //+banner-single
        +main_font
        line-height: 1.3
        padding: $vertical_baseline/2 $grid_xs 0 $grid_xs
        letter-spacing: 0
        +outset-text

      h2.get_started
        +font-size(1)
        text-align: center
        color: #777
        font-weight: normal
        +main_font
        +outset-text

        a
          text-decoration: underline
          color: inherit
    



    #coming_soon
      .prompt
        +font-size(0)
        color: #777
        font-weight: normal
        +outset-text
        text-align: center

        a
          text-decoration: underline

#zipcode_entered
  color: #777
  padding: 6px 30px 0 30px
  margin: 0 auto
  text-align: center

  h3 
    color: #333

  .no_measures
    width: 650px
    margin: auto
    padding-bottom: $vertical_baseline/2
    a
      text-decoration: underline

  .not_perfect
    +font-size(-3)
    a
      text-decoration: underline
  .reset
    display: inline-block
    +font-size(-3)

    a
      color: inherit
      text-decoration: underline

  #domain
    width: 350px

  .unlock_this
    +font-size(1)

