$primary_button_background_color: #082872

$background_color: #890000

//$dark_header_background: #710000

button,
input[type="submit"]
  background-color: gray
  border: none
  color: white
  &.important
    //background-color: $primary_button_background_color    

  
