//////////////////////////////////////////////////////////////
// These must be included at the top of all theme stylesheets
@import "grooves/base/variables"
@import "grooves/base/colors"
@import "grooves/base/fonts"
////////////////////////////

////////////////////////////////////////
// Overide any base style variables here
@import "variables"
@import "colors"
@import "fonts"

// required for all themes
@import "grooves/base/processor"
@import "considerit" 
/////////

#l-header
  min-height: 32px
  
#t-bg-content
  +single-box-shadow
  border-radius: 2px

#t-bg-content
  //margin-top: 2 * $vertical_baseline

#t-bg-top
  &:before
    content: ""
    height: 7 * $vertical_baseline
    +single-box-shadow
    position: absolute
    width: 100%
    top: 13 * $vertical_baseline
    +background(linear-gradient(top, #888, #777))
    border-top: 1px solid #919191
    border-bottom: 1px solid #555

#l-header
  .t-logo
    display: inline-block
    position: absolute
    top: 183px
    left: 88px
    z-index: 20

    .t-logo-name
      text-transform: none

    .t-logo-tagline  
      display: none
      //margin-left: 220px
      //margin-top: 20px
      font-weight: bold
      margin-left: 0
      +font-size(-1)
      color: #888

      &:hover
        color: #444

    .t-logo-name
      +font-size(-1)
      font-style: italic

    .t-logo-read-more
      +font-size(-2)
      font-style: normal

// #l-header .t-logo
//   float: none

.t-intro-wrap
  #t-intro-people
    text-align: center
    padding-top: $vertical_baseline
    margin-left: 25px
    .row
      font-size: 0
    .avatar
      width: 25px
      height: 25px
      //+grayscale
      opacity: .05

      &.hovered
        //+grayscale_off
        opacity: .10

      &.highlightable
        opacity: .4

      &.hovered.highlightable
        //+grayscale_off
        opacity: .6


  .t-logo
    position: absolute
    left: 111px
    top: -1.5 * $vertical_baseline
    margin-left: -145px
    z-index: 2
    width: 250px
    pointer-events: none

  .t-intro-text
    //background-color: rgba(white, .6)

  .l-message-title
    position: absolute
    z-index: 1
    top: 68px
    left: 212px

    +font-size(8)
    @extend %bolded
    //margin-top: $vertical_baseline / 4
    +single-text-shadow( $voff: 1px, $color: rgba(white, .75)) 
    color: #222
    pointer-events: none

  .t-introduce-fact-checkers
    position: absolute
    z-index: 1
    top: 106px
    left: 258px

    margin-top: $vertical_baseline/4

    a
      +font-size(1)
      font-style: italic
      +text-shadow( rgba(white, .75) 1px 1px 0, rgba(white, .75) 1px -1px 0, rgba(white, .75) -1px 1px 0, rgba(white, .75) -1px -1px 0)
      color: #222
      text-shadow: none    
      text-align: center

      &:hover
        color: black
      .link

  .t-intro-get-started
    text-align: center
    //font-weight: bold
    margin-top: $vertical_baseline 
    position: relative
    z-index: 10
    +font-size(3)

#follow
  position: absolute
  right: $grid_xs
  top: 113px
  //background-color: rgba(white, .6)
  z-index: 3

/// local...

#t-unlock-measures-zip, #t-unlock-measures-button
  +font-size(1)

#t-unlock-measures-zip
  padding: $vertical_baseline/4 $grid_xs/4
  width: 110px

.t-intro-learn-more
  position: absolute
  right: 28px
  top: 4px
  +font-size(-3)
  text-decoration: underline
  color: #aaa



.t-unlock-local
  color: #777
  padding: $vertical_baseline/4 $grid_xs/2
  margin: $vertical_baseline/2 auto 0 auto
  text-align: center
  background-color: #eee
  border-radius: 5px
  z-index: 20
  width: 390px

  .subtext
    padding-right: $grid_xs / 2

  h3 
    color: #333

  .no_measures
    width: 650px
    margin: auto
    padding-bottom: $vertical_baseline/2
    a
      text-decoration: underline

  .not_perfect
    +font-size(-3)
    a
      text-decoration: underline
  .reset
    display: inline-block
    +font-size(-2)

  a
    color: inherit
    text-decoration: underline

  #domain
    width: 350px

  .unlock_this
    +font-size(1)
/////


html body #m-dashboard
  margin-bottom: 0

/// footer
#l-footer
  padding: 0 0 2 * $vertical_baseline 0

.l-footer-wrap
  padding: 0 0 $vertical_baseline 0
  z-index: 25
  width: $content_width
  +font-size(2)

  #l-footer_segments
    color: #555

    a
      text-decoration: underline
      cursor: pointer
      color: #666     
      &:hover
        color: #222       

    .heading
      font-weight: bold
      color: #666
      text-transform: uppercase
      letter-spacing: 0
      line-height: 1.3


    .line
      +font-size(-1)
      line-height: 1.3

    .who
      margin-top: $vertical_baseline / 2
      img
        width: 85px
        opacity: .7
        &:hover
          opacity: 1


    #service, #powered, #contact, #voter_info
      text-align: center

    #service
      background: image-url('lvg/images/footer_triangle.png') no-repeat top center transparent
      padding: $vertical_baseline / 2 0 3 * $vertical_baseline 0
      .line, h3
        line-height: 1.5
      h3
        +font-size(2)

    #powered
      .power
        margin-top: $vertical_baseline

        img
          width: 120px
          opacity: .8
          &:hover
            opacity: 1
      > .line
        padding-bottom: $vertical_baseline
      padding-bottom: 4 * $vertical_baseline

    #contact, #voter_info
      position: absolute
      top: 4 * $vertical_baseline
    #contact
      right: 5%
      padding-bottom: $vertical_baseline

      iframe
        height: 20px

      .partners, .past
        padding-bottom: $vertical_baseline

    #voter_info
      left: 5%

#static-main-region
  .media-story
    margin-bottom: $vertical_baseline

    list-style: none
    a
      text-decoration: underline
    .loc
      font-variant: small-caps
      text-transform: lowercase


// /home/fact_check
.fact_check

  .spl_logo
    display: inline-block
    position: relative
    float: right
    img
      width: 100px


