//////////////////////////////////////////////////////////////
// These must be included at the top of all theme stylesheets
@import "grooves/base/variables"
@import "grooves/base/colors"
@import "grooves/base/fonts"
////////////////////////////

////////////////////////////////////////
// Overide any base style variables here
@import "variables"
@import "colors"
@import "fonts"

// required for all themes
@import "grooves/base/processor"
@import "considerit" 
/////////

#l-header
  min-height: 32px
  
#t-bg-content
  +single-box-shadow
  border-radius: 2px

#t-bg-content
  margin-top: 2 * $vertical_baseline

#t-bg-top
  &:before
    content: ""
    height: 7 * $vertical_baseline
    +single-box-shadow
    position: absolute
    width: 100%
    top: 13 * $vertical_baseline
    +background(linear-gradient(top, #888, #777))
    border-top: 1px solid #919191
    border-bottom: 1px solid #555

.t-intro-wrap
  #t-intro-people
    text-align: center
    padding-top: $vertical_baseline
    .row
      font-size: 0
    .avatar
      width: 25px
      height: 25px
      //+grayscale
      opacity: .5

      &.hovered
        //+grayscale_off
        opacity: 1

  .t-logo
    pointer-events: none
    position: absolute
    left: 50%
    top: -3.5 * $vertical_baseline
    margin-left: -145px
    z-index: 2

  .l-message-title
    +font-size(9)
    @extend %bolded
    text-align: center
    margin-top: $vertical_baseline / 2
    color: #222
    +single-text-shadow($voff: 1px, $color: rgba(black,.25))

  .t-intro-get-started
    text-align: center
    +font-size(2)



/// local...

.t-unlock-local
  color: #777
  padding: 6px 30px 0 30px
  margin: 0 auto
  text-align: center

  h3 
    color: #333

  .no_measures
    width: 650px
    margin: auto
    padding-bottom: $vertical_baseline/2
    a
      text-decoration: underline

  .not_perfect
    +font-size(-3)
    a
      text-decoration: underline
  .reset
    display: inline-block
    +font-size(-3)

  a
    color: inherit
    text-decoration: underline

  #domain
    width: 350px

  .unlock_this
    +font-size(1)
/////
