-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- @segments.each_with_index do |(pros,cons), bucket| 
  = render :partial => "points/pro_con_list", :locals => { :dynamic => false, :bucket => bucket, :points => {:pros => pros, :cons => cons} }
