//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

- @segments.each_with_index do |(pros,cons), bucket| 
  = render :partial => "points/pro_con_list", :locals => { :dynamic => false, :bucket => bucket, :pro_points => pros, :con_points => cons, :has_other_points => pros.length + cons.length > 0}
