- proposal_stance_data = stance_fractions(@proposal)
- height_scaler = proposal_stance_data.max


- proposal_stance_data.reverse.each_with_index do |bucket_percentile, index| 
  .bar{ :style => "height: #{bucket_percentile/height_scaler * 100}\%; left: #{-7*index}px", :id => "bucket-#{6-index}"}  
    .close
      x

    .border_cover