//////////////////////////////////////////////////////////////
// These must be included at the top of all theme stylesheets
@import "grooves/base/variables"
@import "grooves/base/colors"
@import "grooves/base/fonts"
////////////////////////////

////////////////////////////////////////
// Overide any base style variables here


// required for all themes
@import "grooves/base/_processor"
@import "considerit" 
/////////

@import "constructs/bubble"


#l-content
  // +single-box-shadow($voff: 2px, $color: rgba(black,.15))
  // border-bottom: 1px solid darken($header_footer_bg_color, 10%)


#l-footer
  background-color: $header_footer_bg_color

#l-header .t-logo
  margin: $vertical_baseline/2 $grid_xs/2 $vertical_baseline/2 $grid_xs + $margin_width - $initiator_width

.t-intro-wrap 
  left: -$dialog_stutter
  position: relative
  .l-message-initiator
    text-align: right
    img
      max-height: 100px
      max-width: $margin_width