ul.point_list
  margin: 0
  padding: 0
  margin-bottom: 10px
  position: relative

.points_other ul.point_list
  top: 0


#ranked_points
  position: relative
  .position_container
    width: 805px
    min-height: 550px

    .carousel
      top: -25px
      position: relative
      
      ul.point_list
        top: 0

#points
  .position_container
    width: 570px
    min-height: 700px

.position_container
  padding: 0px 5px
  
  background: transparent url("/images/chalk/chalkboard.png") repeat scroll top left                                
  border: 3px solid
  border-top-color: #bbb
  border-right-color: #222
  border-left-color: #777
  border-bottom-color: #222
  
  > div
    position: relative  

  #points_on_board_pro
    .points_list_header
      padding-left: 20px
  
  .points_self
    width: 240px
    
  .points_self, .points_board 
    &#points_on_board_pro
      .points_list_header
        background: transparent url("/images/chalk/pro_back.png") no-repeat scroll top center
        
    &#points_on_board_con
      .points_list_header
        background: transparent url("/images/chalk/con_back.png") no-repeat scroll top center
        
    .points_list_header   
      height: 120px 
      width: 200px
      margin: 0 auto

    &#points_on_board_pro
      float: left
      margin-right: 5px
    &#points_on_board_con
      float: right


.droppable
  border: 2px dashed #666
  color: #666
  padding: 13px 15px
  width: 203px
  line-height: normal
  position: relative
  height: 39px
  top: -19px
  margin-bottom: 5px
  .prompt
    width: 160px
    padding-left: 20px

  &.hovered
    color: #eee
    border-color: #eee

.bullet_point
  font-size: 28px
  font-weight: bold
  width: 15px
  text-align: center
  padding: 4px 8px 0 10px
  position: absolute
  top: 0
  left: 0
  font-family: Impact, Impact5, Charcoal6, sans-serif