development:
  adapter: mysql2
  database: {{ database.name }}
  username: {{ database.user }}
  password: {{ database.password }}
  host: localhost
  encoding: utf8

test:
  adapter: mysql2
  database: {{ database.name }}_test
  username: {{ database.user }}
  password: {{ database.password }}
  host: localhost
  encoding: utf8

production:
  adapter: mysql2
  database: {{ database.name }}
  username: {{ database.user }}
  password: {{ database.password }}
  host: localhost
  encoding: utf8
