default:
  secret_token: '{{config.secret_token}}'
  secret_key_base: '{{config.secret_key_base}}'

  email: '{{config.admin_email}}'
  analytics:
    google: '{{config.google_analytics}}'

  new_relic: '{{config.new_relic}}'

{% if config.aws.enabled %}
  aws:
    access_key_id: '{{ config.aws.access_key_id }}'
    secret_access_key: '{{ config.aws.secret_access_key }}'
    s3_bucket: '{{ config.aws.s3_bucket }}'
    cloudfront: '{{ config.aws.cloudfront }}'
{% endif %}
  
  meta: {{ config.meta }}
  indexability: {{ config.indexability }}

development: 
  default_to: default

test: 
  default_to: development

production:
  default_to: development