
/
  %h3.other
    - if is_pro
      Pros
    - else
      Cons
    %span.subheader
      by others


.point_list_footer
  = render :partial => "points/column/pagination", :locals => { :points => points, :is_pro => is_pro }
  
%ul.point_list

  - points.each do |point|
    = render :partial => "points/show_in_margin", :locals => { :point => point }
 
.point_list_footer
  = render :partial => "points/column/pagination", :locals => { :points => points, :is_pro => is_pro }