
$grid_gutter: 18px

// The height of each vertical grid unit (rhythm)
$vertical_baseline: 1em

$font-size-scale: 9px 11px 12px 13px 14px 16px 18px 21px 24px 27px 30px 32px 34px 36px 42px 48px 54px 60px

=font-size($size:0)
  font-size: nth($font-size-scale, $size + 5)
  line-height: 1.4

$main_font-family: "Avenir Next W01", "Avenir Next", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Verdana, sans-serif !default

$base_text_color: black
$base_background_color: white

$considerit_blue: #2478cc
$default_avatar_in_histogram_color: #999


