%script{ :type => "text/template", :id => "tpl_homepage_heading" }

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools" 

  .homepage_main

    (( if(is_manager) { ))
    = form_for :account, :url => account_path, :remote => true, :multipart => true, :method => :put, :html => { :class => 'homepage_account_image_form'} do |f|

      (( var csrfparam = $('meta[name="csrf-param"]').attr('content'), csrftoken = $('meta[name="csrf-token"]').attr('content'); ))

      %input{ :type => "hidden", :name => "{{ csrfparam }}", :value => "{{ csrftoken }}" }

      .homepage_account_image

        %input{:id => "account_homepage_pic", :name => "account[homepage_pic]", :title => "Upload a profile picture (optional)", :type => "file", :class => "customfile-input ui-state-valid"}

        .selected.hide

        %button.hide
          Save image

    (( } else { ))
    .homepage_account_image
      (( var project_url = tenant.get('project_url') || '#'; target = project_url == '#' ? '' : '_blank'; ))
      %a{:href => "{{project_url}}", :target => "{{target}}"}
        (( if( tenant.get('homepage_pic_file_name') ){ ))
        %img.t-logo{ :src => "{{tenant.getHomepagePic()}}"}
        (( } else { ))
        - if current_tenant.managing_account && current_tenant.managing_account.avatar_file_name
          = image_tag current_tenant.managing_account.avatar.url(:large), :class => 't-logo'
        (( } ))

    (( } ))

    .homepage_account_message
      .homepage_account_message_heading
        {{ tenant.get('header_text') }}

      .homepage_account_message_details
        {{ tenant.get('header_details_text') }}