.homepage body #wrap > div#content
  z-index: 1
  padding-top: 0em

.homepage body
  #content
    height: 700px 
  .logo_cell
    display: none

  font-family: 'Lucida Grande', 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif

  #paper
    width: 745px
    height: 517px
    top: 190px
    left: 50%
    margin-left: -373px
    position: absolute

    &.phil
      background: image-url('directrep/images/phil.png') no-repeat 0 0 

    .subheader
      position: absolute
      top: 50px
      left: 41px
      +font-size(1)

      a
        text-decoration: underline
        font-weight: bold

    #proposals
      position: absolute
      bottom: 13px
      left: 15px
      .horizontal .carousel
        height: 11 * $vertical_baseline

        li.proposal_item
          width: 210px
          height: 10 * $vertical_baseline
          +linear-gradient(#002266, #001133)
          opacity: 1
          color: #e1e1e1
          margin: 0 5px
          position: relative
          +transition

          &:hover
            +linear-gradient(#6B0000, #390000)
            a, .prompt
              color: white
              
          > a
            text-align: left
            color: #e1e1e1
            height: 10 * $vertical_baseline
            +font-size(-2)

          .title

          .prompt
            +font-size(-2)
            margin-top: $vertical_baseline
            border-bottom: 1px dotted #555
            font-variant: small-caps
            display: inline-block
            position: absolute
            bottom: 10px

      .new_proposal
        position: absolute
        bottom: -47px
        left: 20px
        .avatar
          left: 0px
        form input[type="submit"]
          position: absolute
          top: 5px
          right: -65px