@import "mixins"
@import "homepage"
//@import "paper_proposal"
@import "ribbon_banners"

$rep_color: #81BADF
$constituency_color: #E0D875
$header_gray: #9C9C9C


.customfile-preview-wrap
  width: 80px
  height: 80px
  overflow: hidden

  img.customfile-preview
    height: 80px


html body
  background: url('/assets/directrep/images/background.jpg') repeat top left
  position: relative
  z-index: -2
  #content
    background-color: white
    +box-shadow(0px, 1px, 2px, rgba(black, .4))
    position: relative
    #inner_content

h1.banner
  color: $header_gray

.logo_cell
  top: $vertical_baseline

.head.single
    
  background: image-url('/assets/directrep/images/banner_background.jpg') repeat left top white
  //width: $content_width + 8px
  position: relative
  left: -4px - $grid_xs
  border: 1px solid
  border-color: #333 #2a2a2a #444
  +box-shadow(0px, 1px, 2px, black, .4)
  //z-index: 1
  text-align: center

  &:before, &:after
    background: image-url('/assets/directrep/images/banner-ribbon.png') repeat left top transparent
    //z-index: 0
    height: 64px
    width: $grid_xs * 2
    top: 5px
    border-color: #333 #222 #111

  &:before
    right: -20px

  &:after
    left: -23px

h2.banner
  background: image-url('/assets/directrep/images/banner_background.jpg') repeat left top white
  text-align: center
  border-color: #333 #2a2a2a #444
  +box-shadow(0px, 1px, 2px, black, .4)
  color: $header_gray


.bubble
  padding: $vertical_baseline / 2 $grid_xs
  position: relative

  &.left:before, &.right:before, &.left:after, &.right:after
    position: absolute
    display: block

  &.left:before, &.right:before    
    z-index: 6

  &.left:after, &.right:after    
    z-index: 5
    color: white

  &.left:before, &.left:after
    //content: '\25C0'
    content: '\25B8'
    +flip-horizontal
    font-size: 34px
    top: -4px

  &.left:before
    left: -11px

  &.left:after
    left: -17px

  &.right:before, &.right:after
    content: '\25B8'
    font-size: 24px
    top: -1px

  &.right:before
    right: -9px

  &.right:after
    right: -12px
    
  &.pro
    background-color: $pro_color
    &:before
      color: $pro_color

  &.con
    background-color: $con_color
    &:before
      color: $con_color

  &.empty
    background-color: $empty_color
    &:before
      color: $empty_color

  &.rep_statement
    background-color: $rep_color

    &:before
      color: $rep_color

  &.proposal_bubble
    background-color: $proposal_background
    +inset-box-shadow(0,1px,4px,#ddd)

    &:before
      color: $proposal_background

  &.constituent_statement
    background-color: $constituency_color
    text-align: right
    float: right
    &.shorter
      width: 240px
    &.longer
      width: 270px

    &:before
      color: $constituency_color



#proposals
  margin-top: $vertical_baseline


  .proposal
    margin: $vertical_baseline 0 2 * $vertical_baseline 0

    div.proposer, div.talking, div.participants
      display: inline-block
      vertical-align: top

    .proposer
      text-align: right
      img
        width: 115px

    .talking
      .bubble

        .question

        .top_points
          margin-top: $vertical_baseline

          .top
            margin-bottom: $vertical_baseline/2
            .lead
              font-variant: small-caps
              +font-size(-3)
              float: left
              margin-top: $vertical_baseline/2
              //margin-left: $proposal_width - $top_argument_width - 50
            .bubble
              width: $top_argument_width
              float: right
              +font-size(-2)
              &:after
                color: $proposal_background

            .pic
              float: right
              margin-left: 3px
        
        .official_response
          .pic
            float: left
            margin-right: 3px
            img
              width: 88px
          .bubble
            float: left
            +font-size(-2)
            width: $top_argument_width
            &:after
              color: $proposal_background
            &:after, &:before
              top: -8px


      .join
        display: block
        +linear-gradient(#777, #161616)
        padding: $vertical_baseline/2 $grid_xs/2
        &:hover

          color: $constituency_color
          cursor: pointer
          img
            opacity: 1
            
          .text
            color: white

        img
          opacity: .2
          +transition
          width: 25px

        .text
          //font-variant: small-caps
          +transition
          +font-size(-2)
          text-transform: uppercase
          text-decoration: underline
          vertical-align: top
          display: inline-block
          padding-top: 3px
          color: #aaa
          position: absolute
          right: $grid_xs + $grid_minor




#registration_overlay
  position: absolute
  z-index: 9999

