@import "mixins"
@import "homepage"

html 
  background-image: none
  background-color: #e4e4e4
  position: relative

.homepage body
  #content
    height: 700px 

  font-family: 'Lucida Grande', 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif

  #paper
    width: 745px
    height: 517px
    top: 190px
    left: 50%
    margin-left: -373px
    position: absolute

    &.phil
      background: image-url('directrep/images/phil.png') no-repeat 0 0 

    .subheader
      position: absolute
      top: 50px
      left: 41px
      +font-size(1)

      a
        text-decoration: underline
        font-weight: bold

    #proposals
      position: absolute
      bottom: 35px
      left: 20px
      .horizontal .carousel
        height: 150px

        li.proposal_item
          width: 225px
          height: 150px
          +font-size(-2)
          > a
            text-align: left

      .new_proposal
        position: absolute
        bottom: -70px
        .avatar
          left: 0px
        form input[type="submit"]
          position: absolute
          top: 5px
          right: -65px

