%script{ :type => "text/template", :id => "tpl_verdict_tooltip"}
  .point-assessment-verdict-tooltip
    .verdict-tooltip-content
      {{ content }}

%script{ :type => "text/template", :id => "tpl_assessment_layout"}
  .point-assessment-request
  .point-assessment


%script{ :type => "text/template", :id => "tpl_assessment_request"}
  (( if( !already_requested_assessment ) { ))
  %button.point-assessment-request-initiate.button
    %i.fa.fa-info
    Ask a librarian about this point
  (( } else { ))
  .point-assessment-requested-feedback
    Your fact check request has been registered.
  (( } ))


%script{ :type => "text/template", :id => "tpl_assessment_request_form"}

  .assessment_request_prompt
    Which claims do you wish to have researched and evaluated by a librarian?

  %textarea#request_suggestion{ :name => "request[suggestion]"}

  (( if( ConsiderIt.request('user:is_client_logged_in?') ) { ))
  .submit_block
    %input.button{ :name => "commit", :type => "submit", :value => "Submit your request"}
  (( } else { ))
  .login
    You must
    %a{:'action' => 'login', :class => "login-signin"} Sign In
    to request a fact check.
  (( } ))

  %p.guidelines
    Only falsifiable statements can be checked. See the #{link_to 'guidelines', '/home/fact_check', :target => "_blank"} for help.


%script{ :type => "text/template", :id => "tpl_assessment_header"}
  (( claims.each(function(claim){ ))
  .claim_summary

    .claim_summary_restatement
      Fact check: {{ claim.get('claim_restatement') }}
    .claim_summary_evaluation
      Rated: {{ claim.getVerdict().get('name') }}.
    .claim_summary_link
      = link_to 'Read the full report', "#claim_comment_{{claim.id}}"
  (( }) ))

%script{ :type => "text/template", :id => "tpl_claim_comment_view"}
  %img.comment_avatar.claim-evaluation{:src => "{{verdict.getIcon()}}", :title => "{{verdict.get('desc')}}"}

  .comment_body_wrap
    .comment_claim_restatement
      Fact check: {{ claim.get('claim_restatement') }}
    .comment_claim_evaluation
      Rated: {{ verdict.get('name') }}
    .comment_claim_report
      {{ claim.get('result') }}

    .comment_footer
      %span.comment_author
        &ndash; 
        = link_to 'Seattle Public Library', 'http://spl.org', :target => '_blank'

      .thank

        (( if(can_thank && !user_thanked){ ))
        %button.button{:action => 'thank-commenter'}
          thanks

        (( } else if(user_thanked){ ))

        %a.unthank{:action => 'unthank-commenter'}
          undo thank
        (( } )) 

      (( if(thanks.length > 0 ) { ))
      .thank_given      

        %ul
          (( thanks.each( function(thank){ ))
          %li.thanks_item
            %span.avatar{ :'action' => "user_profile_page", :'data-id' => "{{thank.get('user_id')}}", :id => "avatar-{{thank.get('user_id')}}", :class => "participant", :tooltip => "user_profile"}
          (( }); ))
        %span.given_thanks
          {{ thanks.length }} {{ thanks.length == 1 ? 'person says' : 'people say' }} thanks
      (( } ))

      .comment_claim_process       
        = link_to 'Read about the fact checking process', '/home/fact_check', :target => '_blank' 

