- cache("option-#{@option.id}-strip")
  .initiatives{ :class => "#{style}" }
    .paginate.first
      %button.back
    .carousel{ :name => "initiatives" }
      %ul.initiative_list
        - get_initiatives.each do |option|
          = render :partial => "options/blocks/item", :locals => { :option => option, :show_full_text => false, :style => style, :hide_initially => hide_initially }
      .clear
    .paginate.last
      %button.forward.not_ajax
    .clear

