- cache('option_strip') do
  .initiatives{ :class => "#{is_vertical ? 'vertical' : 'horizontal'}" }
    .paginate.first
      .back
    .carousel{ :name => "initiatives" }
      %ul.initiative_list
        - get_initiatives.each do |option|
          = render :partial => "options/blocks/item", :locals => { :option => option, :show_full_text => false, :is_vertical => is_vertical }
      .clear
    .paginate.last
      .forward.not_ajax
    .clear


