.point_link_prompt
  a
    display: inline-block
    font-size: 13px
    text-decoration: underline
    color: #C1C1C1
    opacity: .8
    &:hover
      opacity: 1


.point_link_form
  
  fieldset
    position: relative
    background-color: rgba(white, .05)
    padding: 3px 8px
    margin-top: 7px
    
    .fields
      label, input
        margin: 3px 0
      label
        font-size: 11px
      input[type="text"]
        font-size: 11px
        display: inline-block

      .url
        margin: 3px 0
      .lead
        padding-top: 4px
        display: inline-block
    
    .submit_block
      width: 30px
      
      margin-top: -3px
      a
        color: #999
        padding: 3px 5px   
        font-size: 10px 
