#initiatives.edit

  > ol
    @include nude-list

    .extra
      display: none
      padding: 3px 0 0 50px
      color: white
      
    li.step
      margin-bottom: 30px
      padding-bottom: 25px

      .head
        
        padding: 20px 10px 5px 0px

        .ol_number
          background-color: $bk_dark_blue
          padding: 3px 3px 3px 20px
          position: relative
          left: -10px
          color: white
          font-size: 22px
          font-weight: bold



      &.slide
        background-color: $bk_blue

        .position
          margin: auto
          color: white
          margin-top: 10px
    
      &#stance
        background-color: $bk_light_blue
        .extra
          color: black
        .rest
          padding: 10px
                
          #points
            width: 100%
            position: relative
            
            .points_other
              vertical-align: top
              padding-top: 50px
              position: absolute
              top: 0

              .point_list_footer
                width: 240px
                .forward
                  background-image: url('/images/arrow-down.png')
                
                .back
                  background-image: url('/images/arrow-up.png')
                      
              .carousel
                padding: 5px
              
                
              &#points_other_pro 
                left: -80px
                .carousel
                  width: 530px
                .point_list_footer
                  padding-right: 20px

                  .paginate
                    color: $brd_green_dark


              &#points_other_con 
                right: -80px

                .carousel
                  width: 530px
                  .point_list
                    float: right
                .point_list_footer
                  position: relative
                  left: 55%
                      
                  .paginate
                    color: $brd_red_dark
                  
       
      &#submitstance
        margin-bottom: 0px
        padding-bottom: 5px
                              
        .rest
          margin: auto
          width: 100%
          padding: 10px
          
          .stanceform
            margin: auto
            
            form
              margin: auto
              width: 660px

              input[type="submit"]
                background-color: $button_color
                cursor: pointer
                text-shadow: gray 1px 1px 2px
                width: 380px
                height: 75px
                border: none
                padding: 0
                color: white
                font-size: 24pt
                opacity: .9

                &:hover
                  opacity: 1
              
              a
                display: inline-block
                margin-left: 40px
                font-size: 12pt
                color: $txt_gray                
                font-weight: bold
                text-decoration: underline
                margin-top: 30px
                &:hover
                  color: $txt_dark_gray

              label
                color: $txt_gray
                text-transform: none
                letter-spacing: 0
                padding-left: 5px
              
              ul
                margin-top: 10px
                li
                  padding: 5px 0