#initiative.craft
 
  .slider_table
    margin: auto
    width: 85%
    font-size: 20px

    ul.position_labels
      width: 100%
      li
        float: left
        margin-right: 4%
        @include nude-list
        font-size: 16px
        
    td.slider_label 
      div
        width: 125px
      
    td.left
      text-align: right
      padding-right: 10px
    
    .slider_container
      margin: auto
      height: 60px
      text-align: center
      
      .slider
        margin: 10px
      
      .ui-slider
        width: 600px
        background: none
        background-color: $bk_gray
        border: none
        height: 16px
        a.ui-slider-handle
          background: url("/images/slider.png") repeat-x scroll 50% 50% transparent  
          border: none
          -moz-border-radius: 0px
          border-radius: 0px
          top: -.2em
          height: 32px
          width: 28px
          
    td.right
      text-align: left
      padding-left: 10px
    
    .center
      font-size: 12px