#craft_position

  > .user_opinion
    @include nude-list
    padding: 12px 0
      
    li
      &.step
        margin-bottom: 30px
        //padding-bottom: 25px          

      &.slide

        .position
          margin: auto
          color: white
          margin-top: 10px
    
      &.considerations

        .my_name
          &.no_name
            width: 270px
            color: #4F4F4F
            color: rgba(black, .6)

        .extra
          color: black
        .rest
          padding: 8px
                
          #points
            width: 100%
            position: relative
            
            .points_other
              vertical-align: top
              padding-top: 80px
              position: absolute
              top: 0

              &#points_other_con
                .heading
                  float: right

              .heading
                width: 172px
                padding: 0 3px 10px 3px
                text-align: center

                .lead
                  @include inset-text
                  font-size: 17px
                  color: #555
                  font-variant: small-caps
                  line-height: 12px
                  +fancy_font

                .sublead
                  font-size: 10px
              
              .point_list
                z-index: 100
                width: 172px

              .point_list_footer
                width: 172px
                //.forward
                //  background-image: image-url('arrow-down.png')
                
                //.back
                //  background-image: image-url('arrow-up.png')
                
                .arrow
                  color: #777

                .paginate
                  font-weight: normal
                  color: #666                 
                      
              .carousel
                padding: 5px 3px
              
                
              &#points_other_pro 
                left: 0
                .carousel
                  width: 530px
                .point_list_footer
                  padding-right: 20px


              &#points_other_con 
                right: 0
                h3
                  margin-left: 360px
                .carousel
                  width: 530px
                  .point_list
                    float: right
                .point_list_footer
                  position: relative
                  left: 361px
                  
      &.statement
        textarea
          display: block
          height: 60px
          margin: auto
          width: 572px

  #submitstance
    margin: 20px 0px 10px 0px
    padding-bottom: 5px
                          
    .rest
      margin: auto
      width: 100%
      
      .stanceform
        margin: auto
        
        form
          margin: auto
          width: 460px
          position: relative

          input[type="submit"]
            width: 100%
            height: 75px
            border: none
            padding: 0
            font-size: 24pt
            opacity: .9
            border: 1px outset

            border-left: none
            border-right: none
            border-top-color: #ddd
            border-bottom-color: black
            +box-shadow(0, 2px, 5px, #000000)

            &:hover
              opacity: 1
          
          a
            display: inline-block
            font-size: 11pt
            color: #999                
            font-weight: bold
            text-decoration: underline
            margin-top: 30px
            &:hover
              color: #272727
            
            &.skip_save
              position: absolute
              top: 0
              left: 482px
              width: 264px

          label
            color: #999
            text-transform: none
            letter-spacing: 0
            padding-left: 5px

          .notifications
            fieldset
              border: 2px groove threedface
              padding: 8px
              margin-top: 8px
              legend
                color: inherit
              ul

                li
                  padding: 5px 0