#craft_position

  > ol
    @include nude-list

    .extra
      display: none
      padding: 3px 0 0 50px
      color: white
      
    li
      &.step
        margin-bottom: 30px
        padding-bottom: 25px
        box-shadow: 1px 1px 2px rgba(black,.4)
        background: image-url('wall_texture.png') repeat scroll 0 0 transparent

        .head
          
          padding: 20px 10px 5px 0px


      &.slide

        .position
          margin: auto
          color: white
          margin-top: 10px
    
      &.considerations
        .extra
          color: black
        .rest
          padding: 10px
                
          #points
            width: 100%
            position: relative
            
            .points_other
              vertical-align: top
              padding-top: 80px
              position: absolute
              top: 0

              h3
                @include inset-text
                font-size: 19px
                color: #555
                font-variant: small-caps
                text-transform: lowercase
                padding-bottom: 10px
                width: 172px
                text-align: center
                font-weight: normal
                line-height: 18px

                .subheader
                  font-size: 10px
                  font-variant: normal
              
              .point_list
                z-index: 100
                width: 172px

              .point_list_footer
                width: 172px
                //.forward
                //  background-image: image-url('arrow-down.png')
                
                //.back
                //  background-image: image-url('arrow-up.png')
                
                .arrow
                  color: #777

                .paginate
                  font-weight: normal
                  color: #666                 
                      
              .carousel
                padding: 5px 3px
              
                
              &#points_other_pro 
                left: 0
                .carousel
                  width: 530px
                .point_list_footer
                  padding-right: 20px


              &#points_other_con 
                right: 0
                h3
                  margin-left: 360px
                .carousel
                  width: 530px
                  .point_list
                    float: right
                .point_list_footer
                  position: relative
                  left: 361px
                                        
       
      &#submitstance
        margin-bottom: 0px
        padding-bottom: 5px
                              
        .rest
          margin: auto
          width: 100%
          padding: 10px
          
          .stanceform
            margin: auto
            
            form
              margin: auto
              width: 400px

              input[type="submit"]
                width: 100%
                height: 75px
                border: none
                padding: 0
                font-size: 24pt
                opacity: .9

                &:hover
                  opacity: 1
              
              a
                display: inline-block
                margin-left: 40px
                font-size: 12pt
                color: #999                
                font-weight: bold
                text-decoration: underline
                margin-top: 30px
                &:hover
                  color: #272727
                
                &.skip_save
                  position: absolute

              label
                color: #999
                text-transform: none
                letter-spacing: 0
                padding-left: 5px
              
              ul
                margin-top: 10px
                li
                  padding: 5px 0
                  
      &.statement
        background-color: #B39FD6
        textarea
          display: block
          height: 300px
          margin: auto
          width: 572px
