#craft_position

  #nameplate

    &, input, a, textarea
      color: #666
      +heading
      //text-shadow: rgba(255, 255, 255, 0.4) -1px -1px
      text-align: center

    +font-size(3)
    //margin: 40px auto 10px auto
    //border-style: solid
    //border-width: 5px 7px 5px 7px
    //border-color: #bbb #222 #222 #777  
    //+border-image(image-url('nameplate.png'), 5, 7, 5, 7, stretch)
    border-bottom: 1px solid #ccc
    background-color: transparent
    width: $grid_major * 9 
    //+border-radius(3px)
    z-index: 300
    position: relative
    margin: .5em auto 0 auto

    border-width: 0 30px 6px 30px
    background-color: transparent
    +border-image(image-url('nameplate_border.png'), 0,22,6,22,stretch)

    .inner
      background: image-url('nameplate.jpg') repeat left top
      //+box-shadow-straight('-2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 10px white inset, 0px 4px 8px rgba(0,0,0,.3)')
      padding-top: 4px
      //background-color: black
      label
        text-align: right
        color: #888
      .my_name

        &.no_name
          //width: 185px
          margin: 1px 0
          background-color: #e1e1e1
          background-color: rgba(white, .7)
          border: 1px inset #ddd
          text-align: right
          padding: 0 2px inherit inherit

          &.hidden_edit
            background-color: inherit
            border: none
            padding: 0 0 inherit inherit

  > .user_opinion
    +nude-list
    +wood-frame
    //width: 1000px
    position: relative
    //left: -30px

    > table
      table-layout: fixed
      width: 1056px

    td.slate  
      //padding: 12px 0
      +chalkboard 
      width: 648px
      border: $chalkboard_border_width solid
      border-color: hsl(0, 0%, 80%) hsl(0, 0%, 10%) hsl(0, 0%, 10%) hsl(0, 0%, 50%)
      +box-shadow(0, 1px, 5px, rgba(black, .5))
      //border-top: none

    td.margin
      //+corkboard
      //+on_corkboard
      width: 210px
      vertical-align: top 
      padding-top: 8 * $vertical_baseline

      .heading
        text-align: center
        opacity: .8

        .lead
          +heading
          +font-size(0)
          text-transform: uppercase
          letter-spacing: -1px

        .sublead
          +font-size(-3)
          position: relative
          top: -3px
        .ledge
          display: none

      .points_other
        vertical-align: top
        padding: 0
        position: absolute
        top: 11 * $vertical_baseline


        
        .point_list
          //z-index: 100
          //width: 172px

        .point_list_footer
          width: 172px
          margin: 0 $grid_xs            
          .arrow

          .paginate
            font-weight: normal
            //padding-top: $vertical_baseline
        
        .carousel
          //padding: 5px 3px
        
          
        &#points_other_pro 
          left: 0
          .carousel
            //width: 530px


        &#points_other_con 
          right: 0
          .carousel
            //width: 530px
            .point_list
              float: right

    li
      &.step
        margin-bottom: 2em
        //padding-bottom: 25px          

      &.slide
        margin-top: 1em
        .head
          
        .position
          margin: auto
          margin-top: 10px
                  
      &.statement
        textarea
          display: block
          height: $vertical_baseline * 5
          margin: auto
          width: 450px

  #submitstance
    position: relative
    margin: 2 * $vertical_baseline 0px $vertical_baseline 0px
                          
    .rest
      margin: auto
      width: 100%
      
      .stanceform
        margin: auto
        
        form
          margin: auto
          width: 460px
          position: relative

          input[type="submit"]
            width: 100%
            padding: $vertical_baseline * .5 $grid_xs * 5
            +font-size(5)
          
          a
            display: inline-block
            +font-size(0)
            font-weight: bold
            text-decoration: underline
            margin-top: $vertical_baseline * 2
            
            &.skip_save
              position: absolute
              top: 0
              left: 482px
              width: 264px



          .notifications
            margin-top: 8px
            +font-size(0)
            
            
            > label
              font-weight: bold
              span
                padding-left: 3px
              .sub
                +font-size(-3)
                font-weight: normal

            .email
              input
                //color: #555
