.slider_table
  margin: auto
  //width: 85%
  font-size: 20px
      
  td.slider_label 
    > div
      width: 250px
      color: #555
    
    &.left
      text-align: right
      //padding-right: 20px

    &.right
      text-align: left
      //padding-left: 20px

    +boxy_border

  .slider_container
    margin: auto
    height: 60px
    text-align: center
    position: relative
    z-index: 1
    
    .slider
      margin: 10px

    .ui-slider
      background: none
      background-color: #7D7D7E
      background-color: rgba(black, .25)
      +box-shadow(0,0,0,transparent)
      border-radius: 15px
      width: 450px


      border: none
      height: 16px
      a.ui-slider-handle
        background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
        border: none
        +border-radius(0px)
        top: -.2em
        height: 32px
        width: 28px

        &:hover
          cursor: move

  
  .center
    font-size: 12px
    color: #555
    color: rgba(#666, .8)