.slider_table
  margin: auto
  //width: 85%
  font-size: 20px
      
  td.slider_label 
    > div
      width: 250px
      color: #555
    
    &.left
      text-align: right
      padding-right: 20px

    &.right
      text-align: left
      padding-left: 10px

    +boxy_border

  .slider_container
    margin: auto
    height: 60px
    text-align: center
    
    .slider
      margin: 10px
    
    .ui-slider
      width: 600px
      background: none
      +complex-gradient(#aaa, #6a6a6a, 0%, 100%, center top, 1)
      +box-shadow(1px, 2px, 3px, black, .4)

      border: none
      height: 16px
      a.ui-slider-handle
        background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
        border: none
        +border-radius(0px)
        top: -.2em
        height: 32px
        width: 28px

        &:hover
          cursor: move

  
  .center
    font-size: 12px
    color: #555
    color: rgba(#666, .8)