.infiniteCarousel
  position: relative

  &.vertical
    .wrapper 
      width: inherit

      > ul
        height: 1200px
        left: 0
  &.horizontal
    .wrapper 
      height: inherit

      > ul
        width: 9999px
        top: 0

  .wrapper
    overflow: auto

    > ul 
      list-style-image: none
      list-style-position: outside
      list-style-type: none

      > li 
        display: block

  .paginate, .arrow
    +font-size(-3)
    font-weight: bold


    input[type="submit"].forward, button.back, button.forward
      background-color: transparent
      border: none
      cursor: pointer
      background-repeat: no-repeat
      display: inline-block
      background-color: transparent
      border: none
      z-index: 1000
      padding: 0
      text-align: center