//////////////////////////////////////////
// BASE
//////////////////////////////////////////


@import "grooves/base/compass_defaults"
@import "compass/css3/box-shadow"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/typography/vertical_rhythm"
@import "sassy-buttons"



/* FONTS */
%main_font-family
  font-family: $main_font-family

%bolded
  font-weight: bold
  //font-family: $main_font-family

%italicized
  font-style: italic
  //font-family: $main_font-family

+establish-baseline
 
html
  +adjust-leading-to(3)


#l-wrap
  font-size: $base-font-size


$font-size-scale: $base-font-size - 5 * $base_unit $base-font-size - 4 * $base_unit $base-font-size - 3 * $base_unit $base-font-size - 2 * $base_unit $base-font-size - 1 * $base_unit $base-font-size $base-font-size + 2 * $base_unit $base-font-size + 4 * $base_unit $base-font-size + 6 * $base_unit $base-font-size + 8 * $base_unit $base-font-size + 10 * $base_unit $base-font-size + 12 * $base_unit $base-font-size + 14 * $base_unit $base-font-size + 16 * $base_unit $base-font-size + 20 * $base_unit $base-font-size + 25 * $base_unit $base-font-size + 30 * $base_unit $base-font-size + 35 * $base_unit
=font-size($size:0)
  //$base_unit defined in grooves/base/fonts
  +adjust-font-size-to(nth($font-size-scale, $size + 5))


@import "grooves/base/materials"

@import "constructs/misc"
@import "constructs/bubble"

@import "shared/dialog" 


$hex-bullet-point: '\2022'

//+font-face("ModernPictogramsNormal", font-files("modernpics-webfont.woff", "modernpics-webfont.eot",  "modernpics-webfont.ttf", "modernpics-webfont.svg#ModernPictogramsNormal"), $eot: "modernpics-webfont.eot")

//+font-face("FontAwesome", font-files("fontawesome-webfont.woff", "fontawesome-webfont.eot",  "fontawesome-webfont.ttf"), $eot: "fontawesome-webfont.eot")

// $styles: "regular", "bold", "italic"
// @each $style in $styles
//   $file: "optima-#{$style}-webfont"
//   +font-face("Optima-web-#{$style}", font-files("#{$file}.woff", "#{$file}.eot",  "#{$file}.ttf", "#{$file}.svg"), $eot: "#{$file}.eot")

@font-face
  font-family: 'zocial'
  src: font-url('zocialregular.eot')
  src: font-url('zocialregular.eot?#iefix') format('eot')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'zocial'
  src: asset-data-url('zocialregular.woff') format('woff'), font-url('zocialregular.ttf') format('truetype'), font-url('zocialregular.svg#zocialregular') format('svg')
  font-weight: normal
  font-style: normal


/* RESET
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 0
  padding: 0

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body 
  line-height: 1.3

ol, ul 
  list-style: none
  list-style-position: inside

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0



body, h1, h2, h3, h4, h5, h6, a, input, button
  color: $base_text_color




// do we need to put input and button here...?
html
  body, input, button, textarea
    @extend %main_font-family

  h1, h2, h3, h4, h5, h6, strong
    @extend %bolded


  em, i 
    @extend %italicized


/* ELEMENT DEFAULTS */

//http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  +box_sizing(border-box)


a
  &:hover
    color: $base_hover_color

a
  color: inherit
  outline: none
  cursor: pointer  
  text-decoration: none
  img
    border: none  

input, button
  +transition(opacity .5s linear, color .5s linear, background-color .5s linear)


table
  border-collapse: separate  

p

ul
  margin: 0
  list-style-type: disc

ol
  margin: 0
  list-style-type: decimal

blockquote
  quotes: "\201C" "\201D"
  &:before
    content: open-quote
    @extend %bolded
  &:after
    content: close-quote
    @extend %bolded



/* HELPERS */

.clear
  clear: both

.hide
  display: none

// #lightbox
//   display: none
//   background-color: rgba(black, .85)
//   position: fixed
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   z-index: 100


/* SHARED STYLES */


%pro_con_list
  vertical-align: top
  margin: auto
  position: relative
                   
  %m-pro-con-list-column
    position: relative
    vertical-align: top
    display: inline-block
    width: $pro-con-list-column-width - 3

  .m-pro-con-list-propoints, .m-pro-con-list-conpoints
    @extend %m-pro-con-list-column

  .m-pro-con-list-propoints 

  .m-pro-con-list-conpoints 
    
  .m-pro-con-list-header   
    margin-bottom: $vertical_baseline/2
    text-align: center
    +font-size(1)
    background-color: rgba(black, .05)
    font-weight: bold


.avatar
  vertical-align: top
  background-color: transparent
  border: none
  display: inline-block
  margin: 0
  padding: 0
  +background-size(cover)
  background-image: url('/system/default_avatar/small_default-profile-pic.png')

  &.m-avatar-anonymous
    cursor: default

[data-target="user_profile_page"]
  cursor: pointer

.button, button, input[type="submit"]
  outline: none
  cursor: pointer
  text-align: center

.button
  +button($bground_color: hsl(0,0,35%))

// unused and interferes with zocial class
// .icon:before 
//   content: attr(data-icon)
//   font-family: modern_pictograms_proregular


//////////////////////////////////////////
// LAYOUT
//////////////////////////////////////////


/* CONTAINERS */

html  

#l-wrap
  position: relative

#l-heading, #l-content, #l-footer
  position: relative

.l-heading-wrap, .l-content-wrap, .l-footer-wrap
  position: relative

#l-heading
  margin: 0 auto $vertical_baseline auto
  //border-bottom: 1px solid white

.l-heading-wrap
  width: $content_width
  left: 50%
  margin-left: -$content_width/2
  position: relative
  padding: 0
  height: 2 * $vertical_baseline

#l-content
  z-index: 2

#l-content-main, .l-content-wrap
  position: relative  
  margin: 0 auto

.l-content-wrap
  width: $content_width

#l-content-main
  width: $content_width

#l-footer
  padding: $vertical_baseline 0 2 * $vertical_baseline 0

.l-footer-wrap
  width: $body_width
  position: relative
  margin: 0 auto


.l-message
  position: relative
  margin-top: $vertical_baseline / 4
    
  > .l-message-speaker, > .l-message-recipient, > .l-message-body
    display: inline-block
    vertical-align: top
    position: relative

  > .l-message-speaker, > .l-message-recipient
    top: 0
    z-index: 1

  > .l-message-speaker
    position: absolute
    width: $margin_width

    &.l-message-initiator
      width: $initiator_width
      left: $margin_width - $initiator_width + $grid_xs

      [data-target="user_profile_page"]
        opacity: .9
        display: inline-block

      &:hover
        [data-target="user_profile_page"]
          opacity: 1

      img
        width: $initiator_width

  > .l-message-body
    width: 100%
    z-index: 2
    margin: auto
    display: block
    width: $body_width
    padding: $vertical_baseline / 2 $grid_xs

    .l-message-title
      +font-size(1)
      font-weight: bold


.l-group-container
  font-size: 0
  line-height: 0

.l-tooltip
  display: none

.tooltipster-content .l-tooltip
  display: block

.l-tooltip-title
  padding: $vertical_baseline/4 $grid_xs/2

//////////////////////////////////////////
// HEADING 
//////////////////////////////////////////

.t-logo-name, .t-logo-separator
  display: inline-block
.t-logo-name
  text-transform: uppercase
.t-logo-separator


#l-heading
  .t-logo
    position: relative
    margin: $vertical_baseline/2 $grid_xs/2
    float: left
    vertical-align: baseline

    // left: 106px
    +font-size(-1)
    @extend %bolded
    @extend %on_header_footer
    opacity: .8
    z-index: 10

    .t-logo-tagline
      display: inline-block
      margin-left: $grid_xs/2

  .l-navigate
    display: none
    margin: auto
    position: absolute
    top: 7px
    z-index: 50
    width: 100%
    @extend %on_header_footer

    .l-navigate-wrap
      width: $content_width
      margin-left: -$content_width/2
      left: 50%
      position: relative
      //padding-left: 98px
    .l-navigate-back, .l-navigate-crumb
      +font-size(0)
      text-transform: lowercase
    .l-navigate-breadcrumbs
      display: inline
      margin-left: 50px
    .l-navigate-crumb
      display: inline
      list-style: none

#m-user-nav
  position: relative
  text-align: right
  z-index: 999
  padding: $vertical_baseline/4 $grid_xs/2
  right: 0
  float: right

.m-login, .m-user-options
  display: inline-block

.m-login, .m-user-options-display
  @extend %on_header_footer

.m-login a, .m-user-options-display a
  +font-size(-1)

.m-login-signin:after
  position: relative
  content: $hex-bullet-point
  right: 0

.m-user-options
  cursor: pointer
  position: relative

  .m-user-options-display
    img
      vertical-align: middle 
      margin: 2px 0 0px 15px
      width: $vertical_baseline * 1.5
      height: $vertical_baseline * 1.5
      display: inline-block
  

  .m-user-options-menu-wrap
    display: none
    position: absolute
    right: -$grid_minor

  .m-user-options-menu
    min-width: 140px
    @extend %nude_list
    margin-left: 0
    display: inline-block
    +single-box-shadow($hoff: 0, $voff: 5px, $blur: 10px)
    border-radius: 5px
    background-color: $base_bg_color
    padding: $vertical_baseline / 2 0
    border: 1px solid darken($base_bg_color, 20%)

    a
      width: 100%
      padding: 2px $grid_minor
      display: block
      cursor: pointer
      +font-size(-3)
      font-weight: bold
      &:hover
        color: $comp_text_color
        background-color: $dark_comp_color


//////////////////////////////////////////
// USER MODULES
//////////////////////////////////////////

#registration_overlay
  width: 670px

.m-user-accounts-choose-method

  .m-user-accounts-login-options
    @extend %nude_list
    padding-bottom: $vertical_baseline

    .m-user-accounts-login-option
      display: inline
      margin-right: $grid_xs
      position: relative
      +font-size(-1)
      &.hide
        display: none


  .m-user-accounts-fineprint
    +font-size(-2)
    display: inline-block
    position: absolute
    bottom: -2.5 * $vertical_baseline
    left: 5px
    width: 250px
    text-align: left


$avatar_preview_height: 120px
$membership_card_width: 450px
$membership_card_height: 278px

.m-user-accounts-complete
  display: none

  .m-user-accounts-form-fields-wrap
    padding: $vertical_baseline 0

    .email_field input, .password_field input
      +font-size(0)

  input[type="submit"]
    margin-bottom: $vertical_baseline
    @extend %superbutton
    +font-size(0)

.m-user-accounts-complete-signin

  .email_field, .password_field
    position: relative

    label
      width: 70px
      text-align: right
      display: inline-block

  .forget_password_prompt
    +font-size(-3)
    display: block
    &:hover
      text-decoration: underline
    
.m-user-accounts-complete-register
  .m-user-accounts-form
    margin: auto

  .m-user-accounts-form-fields-wrap
    width: $membership_card_width
    
    box-shadow: 0 1px 2px rgba(black, .35), inset 0 0 8px 2px rgba(white, .5)
    background-color: $initiator_color

    border-radius: 5px
    border: 1px solid $dark_initiator_color
    border-top: 1px solid lighten($dark_initiator_color, 15%)
    border-bottom: 1px solid darken($dark_initiator_color, 15%)
    padding: $vertical_baseline $grid_xs
    margin: $vertical_baseline auto 0 auto

    color: $initiator_text_color



    .m-user-accounts-logo
      display: block
      margin-bottom: $vertical_baseline
      max-width: $membership_card_width - 2 * $grid_xs
      max-height: 45px

    .m-user-accounts-form-fields-text
      width: $membership_card_width - $avatar_preview_height - $grid_xs * 3
      float: right

    label
      +font-size(-2)
      text-align: left
      float: left

    input[type="text"], input[type="email"], input[type="password"], textarea
      width: 100%
      &.ui-state-valid
        border-color: transparent
        background-color: transparent
        color: $initiator_text_color

    .name_field input
      +font-size(4)
      @extend %bolded


    .m-user-accounts-authorized-feedback
      display: none
      a
        +font-size(-4)
      vertical-align: top
      text-align: left
      margin-top: $vertical_baseline / 2

    .m-user-accounts-pledge-taken
      display: none
      text-align: left

    // this is overriding some CSS from the jquery.fileinput plugin
    .avatar_field
      float: left
      width: $avatar_preview_height + 2
      .customfile
        background: transparent
        width: $avatar_preview_height + 2
        border: none

      .customfile-preview-wrap
        width: $avatar_preview_height
        height: $avatar_preview_height
        overflow: hidden
        border: 1px solid #333
        border-radius: 5px
        background-color: rgba(black, .25)      
        img.customfile-preview
          height: $avatar_preview_height


      .customfile-button
        float: none
        +font-size(-2)
        text-decoration: underline

      .customfile-feedback
        display: none

      .import_from_third_party
        span, a
          +font-size(-4)          

  .m-user-accounts-finish-wrap
    width: $membership_card_width
    margin: $vertical_baseline auto

    .m-user-accounts-pledge
      margin-bottom: $vertical_baseline

      ol
        text-align: left
        list-style: none

        li
          padding: 0 $grid_xs

          &:hover
            background-color: rgba(white, .25)

          label, input
            cursor: pointer
            padding: $vertical_baseline / 2 0

    .m-user-accounts-tos
      span, p, a
        +font-size(-2)

      .m-user-terms-show
        text-decoration: underline

      .m-user-the-terms-of-use
        display: none
        text-align: left
        background-color: white
        padding: $vertical_baseline $grid_xs
        margin: $vertical_baseline
        border-radius: 5px

        color: #333
        h1,h2,h3
          color: #333
          margin-top: $vertical_baseline
        a
          color: #333
          text-decoration: underline
          cursor: pointer

        li
          list-style-position: inside
          margin-bottom: $vertical_baseline

.m-limited-user-session
  .inlined.fixed
    text-align: left
    padding-left: 3px

    input
      display: none

$tooltip_width: 225px
.l-tooltip-user-title

  .l-tooltip-user-name
    font-weight: bold
    line-height: .7

.l-tooltip-user-joined
  +font-size(-4)

.l-tooltip-user
  min-width: 200px

  .l-tooltip-user-block, .l-tooltip-user-metrics

  .l-tooltip-user-block
    vertical-align: baseline

  .l-tooltip-user-metrics

  .l-tooltip-user-metric
    list-style: none
    margin: 0 0 $vertical_baseline/8 $grid_xs/8
    +font-size(-3)
    line-height: 1
    display: inline-block

  .l-tooltip-user-metric-major    
    color: white
    background-color: rgba(darken($callout_bg_color, 8%), .5)
    padding: 0 $grid_xs/4
    margin-left: $grid_xs/4

  .l-tooltip-user-metric-minor


  .l-tooltip-user-metric-number, .l-tooltip-user-metric-desc
    text-transform: lowercase
    font-variant: small-caps

  .l-tooltip-user-actions
    clear: both

  .l-tooltip-user-action
    +sassy-button("glass", 5px, inherit, lighten($callout_bg_color, 8%), darken($callout_bg_color, 8%) )
    +font-size(-2)
    color: white
    text-align: center
    width: 100%
    min-width: $tooltip_width
    display: inline-block
    border-radius: 0
    border-bottom: 0

    &:hover
      //+sassy-button("glass", 5px, inherit, darken($callout_bg_color, 4%), darken($callout_bg_color, 20%) )
      //+font-size(-2)
      border-radius: 0

  // .l-tooltip-user-profile

//////////////////////////////////////////
// CONSIDERIT MODULES
//////////////////////////////////////////



/* POINT_IN_LIST */
= circle($width)
  border-radius: 50%
  width: $width
  height: $width

  //////////////////////
  // thought bubbles...

%m-point-thought-bubble

  &:before, &:after
    content: ''
    position: absolute
    border: 1px solid
    border-bottom-color: transparent
    +transition(left .5s linear, right .5s linear)
  &:before
    +circle(5px)
    top: 23px
    z-index: -1
    opacity: .75

  &:after
    +circle(7px)
    top: 15px
    opacity: .9

  &.pro
    &:before, &:after
      border-right-color: transparent
    &:before
      left: -13px

    &:after
      left: -7px

  &.con
    &:before, &:after
      border-left-color: transparent
    &:before
      right: -13px

    &:after
      right: -7px

  .m-point-author-avatar

    display: inline-block
    position: absolute
    border-radius: 8px
    top: 2 * $vertical_baseline
    opacity: .85
    border: 1px solid transparent
    +single-box-shadow    
    opacity: .8

    &:hover
      opacity: 1


  // &.m-point-unexpanded
  .m-point-author-avatar
    width: 35px
    height: 35px

  &.pro .m-point-author-avatar
    left: -42px

  &.con .m-point-author-avatar
    right: -42px

  //////////////////////


%m-point
  @extend %nude_list
  position: relative
  cursor: pointer

  +transition(background-color .1s ease, top .5s linear)

  .m-point-nutshell

  .m-point-nutshell-wrap

    .m-point-user
      white-space: nowrap
      display: inline-block

  .m-point-details-description 
    display: none

.m-point-unexpanded
  .m-point-author-name
    display: none


// top pro / con in summary
.m-results-summary-pro-con-list
  .m-top-point-header
  .m-top-point-content
  .m-top-point-user
  
.m-top-point
  +font-size(-2)
  &.m-top-pro
    padding: 0 $grid_xs / 2 0 $grid_xs
  &.m-top-con
    padding: 0 $grid_xs 0 $grid_xs / 2
  .m-top-point-user
    white-space: nowrap

$arrow_height: 10px


%point_operation_button
  +sassy-button("simple", 5px, inherit, $callout_bg_color)
  +font-size(-3)
  padding: $vertical_baseline/4 $grid_xs / 2
  text-align: center
  display: inline-block
  vertical-align: top
  margin: 0
  color: $callout_text_color
  &:hover
    color: $callout_text_color



%m-white-thought-bubble
  @extend %m-point-thought-bubble
  
  border-radius: 5px
  &:before, &:after
    border-color: #aaa
    @extend %on_paper

  .m-point-wrap
    +single-box-shadow($color: rgba(black, .2))
    border-radius: 8px
    border: 1px solid #ccc //$dark_community_color
    @extend %on_paper

.m-point-peer
  @extend %m-point
  @extend %m-white-thought-bubble

  width: $peer-point-width

  .m-point-wrap
    width: $peer-point-width 

    padding: $vertical_baseline / 2 $grid_xs / 2 2 * $vertical_baseline $grid_xs / 2
    margin-bottom: $vertical_baseline

    //these transitions are for point inclusion effect
    +transition(top .5s ease, left .5s ease, color .5s linear, font-size .5s linear, padding-right .1s linear, padding-left .1s linear, padding-top .1s linear, padding-bottom .1s linear)


  .m-point-nutshell-wrap

  .m-point-nutshell, .m-point-user, .details_indicator
    +font-size(-3)

  .m-point-operations        
    position: absolute
    width: 90%
    
    a
      +font-size(-3)
      +transition(opacity .5s linear, color .5s linear, background-color .5s linear)

    .m-point-remove
      display: none

  &.m-point-unexpanded
    .m-point-operations
      bottom: $vertical_baseline / 4

    .m-point-wrap:hover
      border-color: #aaa
      .m-point-operations a
        color: #666

  &.pro
    .m-point-operations
      text-align: left
  &.con
    .m-point-operations
      text-align: right



  ///////////////////////
  /// Point inclusion effect

  =triangle($size)
    width: 0
    height: 0
    border-top: $size solid transparent
    border-bottom: $size solid transparent

  =triangle-right($size, $color: transparent)
    +triangle($size)
    border-left: $size solid $color

  =triangle-left($size, $color: transparent)
    +triangle($size)
    border-right: $size solid $color

  .m-point-include-wrap
    position: absolute
    bottom: 0

    .m-point-include
      @extend %point_operation_button
      display: inline-block
      position: relative
      z-index: 2
      border-radius: 0
      +transition(border-radius 1s ease)


    .list_connector
      +transition(left .5s ease, right .5s ease)
      position: absolute      
      bottom: -1px
      z-index: -1

      &:after
        content: ''
        position: absolute   
        top: -$arrow_height 

  &.pro
    .m-point-include-wrap
      right: 0

      .m-point-include
        border-bottom-right-radius: 8px

        .list_connector
          +triangle-right($arrow_height + 2)
          right: 0

          &:after
            right: 2px
            +triangle-right($arrow_height)

        &:hover
          border-bottom-right-radius: 1px
          border-right-color: transparent

          .list_connector
            right: -$arrow_height - 2
            border-left-color: darken($callout_bg_color, 8%)

            &:after
              border-left-color: darken($callout_bg_color, 8%)

    &.m-point-expanded
      .m-point-include-wrap .m-point-include 
        border-bottom-right-radius: 1px
        border-right-color: transparent    
        .list_connector
          right: -$arrow_height - 2
          border-left-color: darken($callout_bg_color, 8%)

          &:after
            border-left-color: darken($callout_bg_color, 8%)

  &.con
    .m-point-include-wrap
      left: 0
      
      .m-point-include
        border-bottom-left-radius: 8px

        .list_connector 
          +triangle-left($arrow_height + 2)    
          left: 0

          &:after
            left: 2px
            +triangle-left($arrow_height)


        &:hover
          border-bottom-left-radius: 1px
          border-left-color: transparent 

          .list_connector
            left: -$arrow_height - 2
            border-right-color: darken($callout_bg_color, 8%)

            &:after
              border-right-color: darken($callout_bg_color, 8%)

    &.m-point-expanded
      .m-point-include-wrap .m-point-include 
        border-bottom-left-radius: 1px
        border-left-color: transparent    
        .list_connector
          left: -$arrow_height - 2
          border-right-color: darken($callout_bg_color, 8%)

          &:after
            border-right-color: darken($callout_bg_color, 8%)

  ////////////////////

.m-point-results, .m-point-position
  @extend %m-point
  
  .m-point-wrap
    width: $pro-con-list-column-width - 3 * $grid_xs

  .m-point-nutshell, .details_indicator, .m-point-user
    +font-size(-1)


  &.m-point-unexpanded

    .m-point-nutshell-wrap
      margin-bottom: 0px

    .m-point-operations
      bottom: 0
      left: 0
      position: relative
      visibility: hidden

    &:hover .m-point-operations
      visibility: visible


    .m-point-operations
      padding: 0 $grid_xs

      %point_operation
        +font-size(-3)
        padding: 0
        margin: 0
        @extend %bolded

        padding: 2px 8px

      .m-point-remove, .m-point-read-more
        @extend %point_operation


.m-point-position
  .m-point-include-wrap
    display: none

  &.m-point-unexpanded
    &.pro
      padding: 0 $grid_xs 4px 2 * $grid_xs

      .m-point-nutshell-wrap:before
        left: 8px + $grid_xs

    &.con
      padding: 0 2 * $grid_xs 4px $grid_xs

      .m-point-nutshell-wrap:before
        left: 8px

    .m-point-nutshell-wrap
      &:before
            
        content: $hex-bullet-point
        position: absolute
        top: 0px
        +font-size(-3)

    .m-point-author-avatar
      display: none

                  
.m-point-results

  .m-point-wrap
    display: inline-block

  &.m-point-unexpanded
    .avatar
      width: 25px
      height: 25px
      margin: 2px 8px


  .m-point-remove, .m-point-include-wrap
    display: none


/* NEWPOINT */

.m-pro-con-list-propoints .m-newpoint
  margin-left: $grid_xs

.m-pro-con-list-conpoints .m-newpoint
  margin-right: $grid_xs


.m-newpoint
  position: relative
  margin-top: $vertical_baseline

  .m-newpoint-new, .m-newpoint-form

    // bullet point
    &:before
      content: $hex-bullet-point
      display: inline-block
      position: absolute
      top: 1px

  .m-newpoint-new
    +font-size(1)
    width: 95%
    border: none
    //padding: 0
    position: relative
    //text-align: left
    @extend %bolded
    display: inline-block

    border: 1px solid
    +inset-border(#414141)
    padding-left: $grid_xs
    margin-left: 3px

    &:before
      left: 4px
      +font-size(-4)

  .m-newpoint-form
    position: relative
    display: none
    margin-left: $grid_xs
    input, textarea
      +font-size(-1)
  
    &:before
      left: -9px    
      +font-size(-4)

  .m-newpoint-description
    width: 94%
  
  .m-newpoint-nutshell-wrap
    .m-newpoint-nutshell
      width: 94%

    .count
      +font-size(-3)
      vertical-align: middle
      position: absolute
      right: 20px
      top: -16px

  .m-newpoint-submit, .m-newpoint-anonymous-wrap
    //text-align: right
    //margin-left: 10px

  .m-newpoint-anonymous-wrap
    label, input
      +font-size(-1)

  .m-newpoint-submit
    margin-top: 3px

/* POINTLIST */
.m-pointlist-empty
  text-align: center
  font-style: italic

/* POINTLISTBROWSING */

.m-pointlist-browse
  .m-pointlist-browse-toggle
    @extend %superbutton
    +font-size(-2)
    width: $peer-point-width
    text-align: center

$expansion_size: 250px
.m-pointlist-browsing
  .m-point-peer:not(.m-point-expanded)
    width: $peer-point-width + $expansion_size
    .m-point-wrap
      width: $peer-point-width + $expansion_size

  .m-point-peer.pro
    margin-left: -$expansion_size

  .m-point-peer.con.m-point-expanded
    right: 525 - $expansion_size

.m-reasons-peer-pros .m-pointlist-browse-header
  left: -$expansion_size

.m-reasons-peer-cons .m-pointlist-browse-header
  text-align: right

.m-pointlist-browse-header
  visibility: hidden
  width: $peer-point-width + $expansion_size
  position: relative
  margin-bottom: $vertical_baseline

  .m-pointlist-browse-toggle
    +font-size(-2)
    margin-bottom: $vertical_baseline / 2

.m-pointlist-browse-heading
  +font-size(2)
  margin-bottom: $vertical_baseline / 4

.m-pointlist-browse-sort
  ul
    display: inline

  .m-pointlist-browse-sort-label
    +font-size(-2)

  .m-pointlist-sort-option
    display: inline-block
    list-style: none

    a
      padding: $vertical_baseline / 2 $grid_xs / 2
      text-transform: uppercase
      +font-size(-4)
      @extend %bolded
      
      &:hover
        background-color: darken($callout_bg_color, 10%)
        color: lighten($callout_text_color, 10%)

      &.selected
        background-color: darken($callout_bg_color, 8%)
        color: $callout_text_color


/* POINTLISTPAGINATION */

.m-pointlist-pagination
  text-align: center
  a
    display: inline-block
    width: 100%
    &:hover
      background-color: rgba(black, .3)


  .m-pointlist-status
    span
      +font-size(-3)
      @extend %bolded


/* POINT_DETAILS */

.m-point-discussion
  position: relative

.m-point-discussion-heading
  +font-size(3)
  margin: 0px 0 $vertical_baseline 0

.m-point-comments
  @extend %nude_list

/* EXPANDED POINT */
$m-point-expanded-width: $body_width + 150
.m-point-expanded
  position: relative
  z-index: 999
  cursor: auto
  width: $m-point-expanded-width  
  @extend %m-white-thought-bubble

  &.con
    &.m-point-position, &.m-point-results
      left: $pro-con-list-column-width - $m-point-expanded-width + ($m-point-expanded-width - $body_width) / 2
    &.m-point-peer
      right: $m-point-expanded-width - $peer-point-width
  &.pro
    &.m-point-position, &.m-point-results
      left: - ($m-point-expanded-width - $body_width) / 2


  .m-point-wrap
    cursor: auto
    width: $m-point-expanded-width

    padding: $vertical_baseline / 2 $grid_xs

  .m-point-nutshell, .m-point-details-description, .m-point-operations
    padding-bottom: $vertical_baseline / 2

  .m-point-nutshell
    +font-size(3)
    font-weight: bold

  .m-point-details-description 
    +font-size(0)
    display: block

  .m-point-read-more
    display: none

  .m-point-follow, .m-point-assess
    display: inline-block


  .m-point-author-name
    position: absolute
    top: -1.5 * $vertical_baseline
    font-weight: bold
    text-transform: uppercase
    cursor: pointer
    @extend %on_paper

  &.pro
    .m-point-author-name
      left: 5px
  &.con
    .m-point-author-name
      right: 5px


  &.m-point-position, &.m-point-results  
    color: $base_text_color

  &.m-point-position  
    .m-point-operations 
      .m-point-assessment-request-initiate, .m-point-remove, .m-point-follow input[type="submit"]
        @extend %point_operation_button
  
  .m-point-author-name
    border-radius: 5px 5px 0px 0px
    padding: 3px 8px
    top: -26px
    border: 1px solid #ccc
    border-bottom: none

  &.m-point-results
    .m-point-operations 
      .m-point-assessment-request-initiate, .m-point-follow input[type="submit"]
        @extend %point_operation_button

  &.m-point-peer
    .m-point-operations        
      position: relative

    .m-point-include-wrap
      bottom: auto
      position: relative
      top: -31px

    &.con
      .m-point-include-wrap
        float: left
        left: -$grid_xs - 1
        .m-point-include
          border-bottom-left-radius: 0px

    &.pro
      .m-point-include-wrap
        float: right
        right: -$grid_xs - 1
        .m-point-include
          border-bottom-right-radius: 0px

    .m-point-operations 
      .m-point-assessment-request-initiate, .m-point-follow input[type="submit"]
        @extend %point_operation_button




/* ASSESSMENT */

// Assessment request
// requesting fact check
.m-point-assessment-request
  .m-point-assessment-request-form
    +single-box-shadow($color: rgba(black, 0.2))
    border-radius: 5px
    padding: $vertical_baseline $grid_xs
    background-color: #FEFFCC
    color: #777
    width: 550px
    margin-top: $vertical_baseline

    strong
      color: #555

    .ask
      +font-size(2)
    p
      +font-size(-2)
      a
        text-decoration: underline

    .subheader
      +font-size(-4)
      font-weight: normal
      color: #777

    textarea
      height: 3em

    a
      color: #777

    .m-point-assessment-cancel-request
      +font-size(-2)

  a.signin_link
    @extend %bolded



// Assessment
.m-point-assessment
  @extend %on_paper
  padding: $vertical_baseline $grid_minor
  +single-box-shadow($color: rgba(black, 0.2))
  +font-size(-2)
  color: #777
  margin-top: $vertical_baseline

  .m-point-metadata
    display: inline-block
    width: 15%
    margin-right: $grid_xs
    text-align: left
    vertical-align: top
    +font-size(-2)
    list-style: none

  .m-point-assessment-inner-wrap
    display: inline-block
    width: 80%
    h1
      +font-size(3)
      padding-bottom: $vertical_baseline
      color: #555

    a 
      text-decoration: underline
      color: #777

  .m-point-assessment-claim
    list-style: none
    padding-bottom: $vertical_baseline
    position: relative

    &:before
      position: absolute
      left: -$grid_xs
      top: 0

    &[data-verdict="2"]:before
      content: "\2713\0020"
    &[data-verdict='1']:before
      content: '&hellip;'
    &[data-verdict='0']:before
      content: '?'

    .m-point-assessment-claim-header
      @extend %bolded
      .claim_verdict
        @extend %italicized

/* COMMENTS */
.m-comment
  margin: 8px 0 25px 0

  .m-comment-avatar
    width: 50px
    height: 50px
    
  .m-comment-body-wrap
    +font-size(-2)    
    display: inline-block
    width: 80%
    margin-left: $grid_xs    
    p, br
      margin-bottom: 6px

  .m-comment-author
    @extend %italicized
    white-space: nowrap

    a:hover
      text-decoration: underline


  .m-comment-edit
    +font-size(-2)

  .m-comment-edit-form
    .save_block
      top: auto
      left: 50px
      bottom: -30px

/* NEWCOMMENT */

.m-new-comment
  margin: 8px 0 25px 0

  .m-new-comment-avatar
    width: 50px
    height: 50px

  .m-new-comment-body
    +font-size(-1)    
    display: inline-block
    width: 80%
    margin-left: $grid_xs    

  .m-new-comment-body-field
    height: 60px
    width: 90%

  .m-new-comment-submit-wrap
    text-align: right
    width: 90%

  .m-new-comment-civility-reminder
    +font-size(-2)
    width: 150px
    padding-right: $grid_xs

  a.signin_link
    @extend %bolded


/* PROPOSAL */

// New Proposal

.m-proposals-new
  margin: auto
  text-align: center
  width: $content_width

  .m-new-proposal-submit
    @extend %superbutton
    border-radius: 0
    display: inline-block
    border: 1px solid 
    border-bottom: 1px solid 
    border-color: rgba(white,.5) rgba(black, .1) rgba(black,.25) rgba(white, .2)
    font-weight: bold
    width: $body_width

// Proposal

#m-proposals-container, #m-proposals-container-completed
  position: relative
  padding: 1 * $vertical_baseline 0

  .m-proposal-list
    @extend %nude_list

#m-proposals-container-completed
  hr
    margin-bottom: $vertical_baseline
    border-top: 1px dashed $base_text_color
    height: 1px

  h2
    text-align: center

  &.is-empty

    > h2, .m-proposals-heading
      display: none

.m-proposals-list-pagination-wrap
  padding-bottom: $vertical_baseline

.m-proposals-heading
  padding-top: $vertical_baseline

.m-proposals-heading, .m-proposals-list-pagination-wrap
  @extend %on_background
  text-align: center
  margin: 0 auto
  width: $content_width

.m-proposals-filter-container, .m-proposals-sort-container
  display: inline-block

  .title, a
    display: inline-block
    padding-right: $grid_xs/2

  a
    text-transform: lowercase
    font-variant: small-caps
    &.selected, &.selected:hover
      @extend %bolded

.m-proposals-list-pagination
  margin-top: $vertical_baseline

  .m-pointlist-pagination-showmore, .m-proposals-list-pagination-page, .m-proposals-list-pagination-jump
    +sassy-button("simple", 5px, inherit, darken($base_bg_color, 4%), darken($base_bg_color, 12%))
    color: lighten($base_text_color, 12%)
    &:hover
      color: darken($base_text_color, 12%)

  .selected
    +sassy-button("simple", 5px, inherit, darken($callout_bg_color, 4%), darken($callout_bg_color, 12%))
    color: $callout_text_color

  .m-pointlist-pagination-showmore, .m-proposals-list-pagination-page, .selected, .m-proposals-list-pagination-jump
    border-radius: 0
    text-shadow: none

  .m-proposals-list-pagination-page, .selected, .m-proposals-list-pagination-jump
    padding: $vertical_baseline/8 $grid_xs/4

.m-proposals-list-pagination-pages
  position: relative
  display: inline-block

// .m-proposals-list-pagination-jump-left, .m-proposals-list-pagination-jump-right
//   position: absolute
//   top: 0

// .m-proposals-list-pagination-jump-left
//   left: -76px

// .m-proposals-list-pagination-jump-right
//   right: -73px

.m-proposals-list-pagination-current
  margin-top: $vertical_baseline/4
  +font-size(-2)



.m-proposal
  margin: $vertical_baseline 0
  position: relative
  min-height: $initiator_width

  .m-position-your_action
    > .l-message-body
      padding: 0

  .m-aggregated-results, .m-results-summary
    > .l-message-speaker
      right: $grid_xs

  .right.m-proposal-message 
    > .l-message-speaker
      position: absolute

  > .l-content-wrap
    padding-bottom: 0
  
  .m-proposal-heading-wrap
    padding: $vertical_baseline $grid_xs
    cursor: pointer
    text-align: center
    +single-box-shadow

  .m-proposal-heading
    text-align: center
    text-transform: capitalize
    margin: auto
    @extend %bolded
    +font-size(2)

  .m-proposal-description
    +bubble($initiator_color, $dark_initiator_color, left, $text_color: $initiator_text_color)

    p
      margin-bottom: $vertical_baseline

  .m-proposal-description-details
    +font-size(-2)
    .hidden, .showing
      text-decoration: underline  

  .m-results-summary 
    .m-results-pro-con-list-who
      display: none

  .m-proposal-description-title-readmore
    +font-size(-3)
    white-space: nowrap

  &[data-state="0"][data-visibility="published"]
    .m-proposal-description-title
      display: inline  

  &[data-state="1"], &[data-state="2"], &[data-state="4"]
    .m-proposal-description-title-readmore
      display: none


// unexpanded proposal
.m-proposal[data-state="0"]
  .m-proposal-description
    cursor: pointer
  .m-position-your-action-body.join
    top: -9px
    +font-size(-2)
  .m-proposal-description-body, .m-proposal-description-details
    display: none

// results view of proposal
.m-proposal[data-state="2"], .m-proposal[data-state="4"]
  margin-bottom: $vertical_baseline * 2

  .m-position-your-action-body.join
    top: -$vertical_baseline

  .l-group-container
    min-height: 85px

  .m-proposal-admin_strip
    position: relative
    top: 2 * $vertical_baseline

  [data-action="results-implode-participants"]
    display: none

// results view of proposal, exploded
.m-proposal[data-state="4"]

  .m-results-responders 
    > .t-bubble
      display: none
  .m-results-responders
    border-radius: 0

  .l-group-container
    // position: absolute
    // z-index: 99

    .avatar // for the explode transition
      -ms-transition: -ms-transform .75s ease
      -moz-transition: -moz-transform .75s ease
      -webkit-transition: -webkit-transform .75s ease
      transition: transform .75s ease

  .m-histogram
    visibility: visible
    display: block


// inactive proposal
.m-proposal[data-status="proposal-inactive"]
  &[data-state="0"]
  .m-position-your-action-body, .m-position-submit-footer-wrap
    display: none

// unpublished proposal
.m-proposal[data-visibility="unpublished"]

  .m-proposal-description
    background-color: $standout_color
    border-color: $dark_standout_color
    color: $standout_text_color
    border-radius: 0 5px 0 0

    > .t-bubble 
      .t-bubble-border
        fill: $dark_standout_color
      .t-bubble-inner
        fill: $standout_color

    .m-proposal-description-title-readmore
      display: none


  .m-proposal-strip_publish
    display: none
  &[data-state="0"]
    .m-proposal-description-body
      display: block
    .m-position-your_action
      display: none

    .m-proposal-strip_publish
      position: relative
      text-align: center
      display: block
      .m-proposal-publish
        width: $body_width
        //margin-left: $margin_width + 5
        +sassy-button("glass", 5px, inherit, desaturate($callout_bg_color, 100%), darken( desaturate($standout_color, 100%), 8%) )
        +font-size(1)
        color: desaturate($callout_text_color, 100%)
        font-weight: bold
        text-align: center
        margin-top: -7px
        border-radius: 0 0 5px 5px

// proposals with no activity
.m-proposal[data-activity="proposal-no-activity"]

  .m-proposal-message.m-position-your_action
    .m-position-your-action-body.join
      top: -7px


  // active, unexpanded proposals with no activity
  // &[data-state="0"][data-status="proposal-active"]
  //   .m-proposal-admin_strip
  //     position: relative
  //     bottom: -1.5 * $vertical_baseline

  // unpublished, unexpanded proposals without any activity
  // &[data-state="0"][data-visibility="unpublished"]
  //   .m-proposal-admin_strip
  //     position: static
  //     +font-size(0)
  //     bottom: auto






// .m-proposal-connect
//   margin-top: $vertical_baseline
//   padding-top: 3px
//   ul
//     text-align: center
//   li
//     display: inline-block
//     vertical-align: middle
  
//   .m-proposal-action-label
//     +font-size(-4)
//     @extend %m-proposal-strip-item
//     width: 175px
//     text-align: center
//     opacity: .5

//   .m-proposal-action-link
//     cursor: pointer
//     +single-transition
//     +font-size(-3)

//   .m-proposal-follow_conversation
//     +pressable_button

%m-proposal-strip-item
  display: inline-block
  padding: $vertical_baseline / 2 0
  text-transform: uppercase
  +font-size(-1)
  //+border-radius(0 0 5px 5px)
  font-weight: bold

.m-proposal-strip
  margin: 0 $grid_xs
  text-align: center

// Proposal admin strip
.m-proposal-admin_strip
  .l-dialog-prompt, .m-proposal-admin_label, .m-delete_proposal
    display: inline-block
    padding: 0 $grid_xs / 2

  .l-dialog-prompt-label, .m-delete_proposal, .m-proposal-admin_label
    @extend %m-proposal-strip-item
    +font-size(-3)

  .l-dialog-prompt-label span, .m-delete_proposal
    text-decoration: underline

  .l-dialog-prompt-label, .m-delete_proposal
    &:hover
      background-color: rgba(black, .05)

  .m-delete_proposal
    padding: $vertical_baseline/2 inherit

  .m-proposal-admin_label
    opacity: .5


.l-message
  &.m-proposal-introduction, &.m-position, &.m-aggregated-results, &.m-position-your_action, &.m-results-summary
    > .l-message-recipient
      display: none

  &.m-results-summary
    > .l-message-speaker .l-group-container
      height: 120px


/* YOUR_ACTION */


.m-position-your-action-body
  @extend %superbutton
  text-align: center
  font-weight: bold
  border-radius: 0 0 5px 5px
  position: relative

  &.join
    
    width: 100%
    padding: $vertical_baseline / 2 0
    text-align: center

  &.submit
    +font-size(3)
    display: block
    border-radius: 0 0 5px 5px
    position: relative
    top: -$vertical_baseline / 2

.m-position-submit-footer-wrap

  .notifications
    display: inline-block
    +font-size(-2)
  .m-position-cancel
    display: inline-block
    margin-right: $grid_xs
    float: right
    +font-size(-2)
    color: lighten($base_text_color, 25%)
    &:hover
      color: $base_text_color

// YOUR_ACTION_CRAFT

// YOUR_ACTION_SAVE

/* SUMMARY */

.m-results-summary
  .m-results-summary-button
    bottom: 0px

.m-results-summary, .m-aggregated-results
  .m-results-summary-button
    +sassy-button("glass", 5px, inherit, saturate($community_color, 8%), darken(saturate($community_color, 8%), 5%))
    +font-size(-2)
    display: block
    font-weight: bold
    color: $community_text_color
    text-align: center
    +text-shadow(none)
    border-radius: 0 0 5px 5px
    width: $margin_width // + 16
    position: absolute

    &:hover
      color: darken($community_text_color, 5%)


.m-results-summary
  .m-summary-heading
    font-weight: normal


/* RESULTS */

.m-aggregated-results, .m-results-summary

  .m-results-responders
    padding: $vertical_baseline / 2 0

    +bubble($community_color, $dark_community_color, right, $text_color: $community_text_color)
    min-height: 120px  

.m-results-summary  
  .m-results-responders
    .t-bubble.t-bubble-bar
      font-size: 13px
      right: -10px 
      +scaleY(1.75)

      &:after
        right: -5px
        top: -4px
      
      &:before
        right: -3px

      &:after, &:before
        content: '\25B6'

      .t-bubble-wrap
        &:after
          display: none
          background: none


// HISTOGRAM / WHAT


$histogram_bar_color: darken($mid_bg_color, 15%)
.m-histogram
  display: none
  opacity: 0
  visibility: hidden
  margin: 0 auto
  position: relative
  top: 0px
  width: $body_width

  .m-histogram-bar
    width: $histogram_bar_width
    position: relative
    cursor: pointer
    border: 2px solid darken($histogram_bar_color, 10%)
    border-bottom: none
    background-color: $histogram_bar_color
    +bubble(lighten($community_color,10%), $dark_community_color, up, $include_bg: false, $text_color: $community_text_color)
    +single-box-shadow($hoff: 1px, $voff: 6px, $blur: 5px, $spread: -5px, $color: lighten($histogram_bar_color, 25%), $inset: true)

    border-radius: 0px
    text-align: center
    display: inline-block
    vertical-align: bottom


    &.m-bar-is-selected .t-bubble
      display: block

    .t-bubble
      display: none
      position: absolute
      left: 50%
      margin-left: -15px
      z-index: 999999
      top: auto
      bottom: -37px
      width: 30px

      .t-bubble-spacing
        display: none

    &.m-bar-is-soft-selected, &.m-bar-is-hard-selected
      background-color: lighten($histogram_bar_color, 16%)
      border-color: darken($histogram_bar_color, 2%)
    
    &.m-bar-is-soft-selected
      z-index: 5

    &.m-bar-is-hard-selected
      z-index: 10
      

.m-bar-is-soft-selected .m-bar-people .m-bar-person
  opacity: .75

.m-bar-is-hard-selected .m-bar-people .m-bar-person
  opacity: .9

.m-bar-people
  background-color: transparent
  font-size: 0
  margin: auto
  +rotate(180deg)
  height: 100%
  
  .m-bar-person
    +rotate(180deg)  
    opacity: .15

.m-histogram-base
  margin-left: -$grid_xs/2
  height: $vertical_baseline
  width: $body_width + $grid_xs
  border-radius: 10px
  background-color: lighten($mid_bg_color, 10%)
  +single-box-shadow($hoff: 0px, $voff: 2px, $blur: 4px, $color: lighten($mid_bg_color, 25%), $inset: true)

.m-histogram-base-label
  +font-size(-2)
  text-transform: uppercase
  position: absolute
  font-weight: bold

.m-histogram-base-label-support
  left: -100px
.m-histogram-base-label-oppose
  right: -84px


// POINTS / WHY

.m-results-pro-con-list-who
  text-align: center
  +font-size(1)
  margin-bottom: $vertical_baseline/2

.m-results-pro-con-list, .m-results-summary-pro-con-list
  @extend %pro_con_list

.m-point-list-has-pagination
  min-height: 500px


/* POSITION */  


.m-position
  +transition(margin-left .4s ease) // for point browsing

  .m-position-message-body
    +bubble($decision_board_color, darken($decision_board_color, 10%), left )
    border-radius: 0
    border-width: 3px
    //+transition(border-color .8s linear)

  .m-position-heading
    +font-size(2)
    padding: $vertical_baseline / 2 $grid_xs
    margin-bottom: $vertical_baseline/2
    text-align: center
    @extend %on_chalkboard

  .m-position-heading-points
    background-color: darken($callout_bg_color, 16%)
    border-top: 1px solid lighten($callout_bg_color, 5%)
    border-bottom: 1px solid darken($callout_bg_color, 24%)
    border-left: 3px solid darken($callout_bg_color, 35%)
    border-right: 3px solid darken($callout_bg_color, 35%)
    +single-box-shadow($hoff: 1px, $voff: 6px, $blur: 5px, $spread: -5px, $color: lighten($callout_bg_color, 25%), $inset: true)
    position: relative
    top: -$vertical_baseline/2
    width: $body_width
    left: -$grid_xs - 3
    color: $callout_text_color

  .m-position-heading-stance
    text-decoration: underline
    margin-top: $vertical_baseline



// REASONS
.m-reasons
  position: relative
  width: 1300px
  left: -250px 
  .m-reasons-pro-con-list, .m-reasons-peer-points
    display: inline-block

  .m-reasons-pro-con-list
    margin: 0 3px

    @extend %pro_con_list 
    @extend %on_chalkboard

    min-height: 400px

    .m-point-expanded
      @extend %on_paper


  .m-reasons-peer-points
    width: $peer-point-width
    vertical-align: top 
    margin-top: -3 * $vertical_baseline

    .m-reasons-peer-cons
      margin-left: 3px


// SLIDER
.m-stance
  margin: auto auto 2 * $vertical_baseline auto 
  @extend %on_chalkboard
      
  %m-stance-label
    vertical-align: middle
    +font-size(0)
    div
      width: $slider_label_width

  .m-stance-label-support
    @extend %m-stance-label
    text-align: right
    padding-right: $grid_xs

  .m-stance-label-oppose
    @extend %m-stance-label
    text-align: left
    padding-left: $grid_xs

  .m-stance-label-neutral
    @extend %m-stance-label
    text-align: center
    +font-size(2)
    +transition(opacity .5s linear)

  .m-stance-slider-container
    height: 45px 
    padding-top: 4px
    width: $slider_width

  .noUiSlider
    margin: 10px
    background: none
    background-color: $mid_bg_color
    background-color: rgba(black, .15)

    +box-shadow(none)
    border-radius: 15px
    width: $slider_width

    border: none
    height: 16px

  .noUi-handle 
    height: 38px
    width: 39px
    > div
      background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
      border: none
      top: -.2em
      height: 38px
      width: 39px
      +single-transition('none')
      margin-left: -19.5px

      &:hover
        cursor: move


// Static Position

$static_position_width: $body_width+$grid_major
.m-static-position
  text-align: left
  margin-left: - $static_position_width / 2
  width: $static_position_width

  .m-static-position-reasons-label
    font-weight: bold

  .m-static-position-reasons-list
    padding: $vertical_baseline / 2 $grid_xs 0 $grid_xs

  .m-static-position-point
    +font-size(-2)
    margin-bottom: $vertical_baseline/2

  .m-point-user
    white-space: nowrap
    font-style: italic

  .m-static-position-reasons-none
    font-style: italic


//////////////////
/// Footer ///////
.m-footer-shortdesc, .m-footer-history, .m-footer-contact
  margin-bottom: $vertical_baseline/2
  +font-size(-1)

  a
    text-decoration: underline

.m-footer-shortdesc
  font-weight: bold

.m-footer-shortdesc-logo
  text-transform: uppercase

.m-footer-history

.m-footer-contact

.mc-subscribe
  +sassy-button("simple", 5px, inherit, darken($header_footer_bg_color, 3%), darken($header_footer_bg_color, 5%))
  +font-size(-3)
  color: desaturate(invert(darken($header_footer_bg_color, 5%)), 100%)
  text-shadow: none
  position: relative
  top: -2px
  @extend %bolded
  &:hover
    color: desaturate(invert(darken($header_footer_bg_color, 5%)), 100%)


#mce-EMAIL
  +font-size(0)
  width: 350px



//////////////////
//// Header //////

.t-intro-wrap

.t-intro
  margin: 0 auto


  .l-message-body
    +bubble($standout_color, $dark_standout_color, left, $text_color: $standout_text_color)
    .l-message-title
      +font-size(2)
    .l-message-details
      //+font-size(-1)



//////////////////////////////////////////
// VENDOR
//////////////////////////////////////////

/**
/* for jquery.inline_labels.js
/**

// .inlined
//   position: relative

// label.inline
//   color: inherit
//   &.focus
//     color: #777

//   text-align: left
//   position: absolute !important
//   cursor: text !important
//   visibility: hidden !important
//   overflow: hidden !important
//   padding: 0 !important
//   margin: 0 !important
//   border: 0 !important

//   &.empty
//     visibility: visible !important

/**
/* for tooltipster
/**

.tooltipster-default 
  background-color: $callout_bg_color
  border: 2px solid darken($callout_bg_color, 15%)

  .tooltipster-content
    +font-size(0)
    font-size: 16px
    padding: 0



/**
/* for jquery.fileinput.js
/**

/**
/* for jquery.editable.js
/** 

.editable.editable-click, a.editable.editable-click
  &:hover
    cursor: pointer

  &:not(.editable-disabled)
    border-bottom: none
    position: relative
    width: 100%
    &:hover
      background-color: rgba(white, .85)
      color: #333

      &:after
        position: absolute
        text-align: center
        left: 50%
        margin-left: -40px
        top: -17px
        font-size: 10px
        line-height: 1.2
        padding-top: 3px
        content: 'click to edit'
        background-color: rgba(white, .95)
        color: #444
        width: 80px
        border: 1px solid #777
        border-bottom: 0
        font-weight: normal
        font-style: normal
        text-transform: none
        height: 13px
        border-radius: 5px 5px 0 0

.editableform 
  border: 1px solid rgba($standout_color, .7)
  .control-group
    position: relative

.editable-buttons
  position: absolute
  right: -1px
  bottom: -24px
  background-color: rgba(white, .95)
  z-index: 999
  border: 1px solid rgba($standout_color, .7)
  border-top: none
    
  .editable-cancel
    background: none
    border: none
    margin-left: 0
    color: #555

    &:hover
      color: black

  .editable-submit
    +sassy-button("glass", 5px, inherit, darken($standout_color, 8%), darken($standout_color, 16%))
    color: invert(darken($standout_color, 8%))
    font-size: 12px
    +text-shadow(none)
    line-height: .5
    @extend %bolded


//////////////////////////////////////////
// UNINCORPORATED
//////////////////////////////////////////

$home_size: 16
$home_scale: $home_size / 32
$home_height: 16px
// css3 home icon
.css3_icon
  height: $home_height
  width: $home_height
  position: relative
  overflow: hidden
  display: inline-block

.css3_icon_home
  height: 0px
  width: 0px
  border-width: 16px * $home_scale
  border-style: solid
  border-color: transparent transparent $header_footer_text_color transparent
  position: absolute
  bottom: 16px * $home_scale
  left: 0

  &:after
    content: ''
    width: 5px * $home_scale
    height: 16px * $home_scale
    background-color: transparent
    position: absolute
    top: 16px * $home_scale
    right: -11px * $home_scale
    border-left: 8px * $home_scale solid $header_footer_text_color
    border-right: 8px * $home_scale solid $header_footer_text_color

  &:before
    content: ''
    width: 9px * $home_scale
    height: 6px * $home_scale
    background-color: $header_footer_text_color
    position: absolute
    top: 16px * $home_scale
    right: -5px * $home_scale

.css3_icon_chimney
  width: 4px * $home_scale
  height: 10px * $home_scale
  background: $header_footer_text_color
  position: absolute
  right: 6px * $home_scale
  top: 3px * $home_scale

// verdict on point in margin
.m-point-results, .m-point-position
  .verdict_summary

.m-point-peer, .m-point-results:hover, .m-point-position:hover
  

  &.m-point-peer
    .verdict_summary .assessment
      color: #CBBE31
      right: 10px
      bottom: 20px

  &.m-point-results, &.m-point-position
    .verdict_summary .assessment
      right: 0px
      bottom: 0px


  .verdict_summary 
    display: block
    .assessment
      text-align: right
      position: absolute
      z-index: 10

      .assessment_details
        position: absolute
        +font-size(-3)
        width: 200px
        padding: $vertical_baseline/2 $grid_xs
        text-align: left

        .claim
          padding-bottom: $vertical_baseline

          .verdict
            padding-right: $grid_xs

          .summary
            .claim_desc
              @extend %italicized

            .claim_verdict
              @extend %bolded
              font-variant: small-caps
              text-transform: lowercase

      .wrap
        padding: 2px 10px

      &:hover
        cursor: pointer
        color: black

        &.truth
          .wrap, .assessment_details
            background-color: #cfc

        &.unverified
          .wrap, .assessment_details
            background-color: #ccf

        &.questionable
          .wrap, .assessment_details
            background-color: #fcc


        .assessment_details
          display: inline-block
          right: -30px

          strong
            display: block
            padding-top: $vertical_baseline

#expanded .verdict_summary
  display: none

// user dashboard
@import "dashboard/dashboard"

