//////////////////////////////////////////
// BASE
//////////////////////////////////////////


@import "grooves/base/compass_defaults"
@import "compass/css3/box-shadow"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/typography/vertical_rhythm"
@import "sassy-buttons"



/* FONTS */
%main_font-family
  font-family: $main_font-family

%bolded
  font-weight: bold
  //font-family: $main_font-family

%italicized
  font-style: italic
  //font-family: $main_font-family

+establish-baseline
 
html
  +adjust-leading-to(3)

html, body
  min-height: 100%

#l-wrap
  font-size: $base-font-size

#t-bg
  min-height: 100%

#t-bg-top

#t-bg-content

#t-bg-content-top, #l-content-main-wrap
  min-height: 500px


@import "core"

@import "grooves/base/materials"

@import "constructs/misc"
@import "constructs/bubble"

@import "shared/dialog" 


$hex-bullet-point: '\2022'

//+font-face("ModernPictogramsNormal", font-files("modernpics-webfont.woff", "modernpics-webfont.eot",  "modernpics-webfont.ttf", "modernpics-webfont.svg#ModernPictogramsNormal"), $eot: "modernpics-webfont.eot")

//+font-face("FontAwesome", font-files("fontawesome-webfont.woff", "fontawesome-webfont.eot",  "fontawesome-webfont.ttf"), $eot: "fontawesome-webfont.eot")

// $styles: "regular", "bold", "italic"
// @each $style in $styles
//   $file: "optima-#{$style}-webfont"
//   +font-face("Optima-web-#{$style}", font-files("#{$file}.woff", "#{$file}.eot",  "#{$file}.ttf", "#{$file}.svg"), $eot: "#{$file}.eot")

@font-face
  font-family: 'zocial'
  src: font-url('zocialregular.eot')
  src: font-url('zocialregular.eot?#iefix') format('eot')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'zocial'
  src: asset-data-url('zocialregular.woff') format('woff'), font-url('zocialregular.ttf') format('truetype'), font-url('zocialregular.svg#zocialregular') format('svg')
  font-weight: normal
  font-style: normal


/* RESET
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 0
  padding: 0

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body 
  line-height: 1.3

ol, ul 
  list-style: none
  list-style-position: inside

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0



body, h1, h2, h3, h4, h5, h6, a, input, button
  color: $base_text_color




// do we need to put input and button here...?
html
  body, input, button, textarea
    @extend %main_font-family

  h1, h2, h3, h4, h5, h6, strong
    @extend %bolded


  em, i 
    @extend %italicized


/* ELEMENT DEFAULTS */

//http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  +box_sizing(border-box)


a
  &:hover
    color: $base_hover_color

a
  color: inherit
  outline: none
  cursor: pointer  
  text-decoration: none
  img
    border: none  

input, button
  +transition(opacity .5s linear, color .5s linear, background-color .5s linear)


table
  border-collapse: separate  

p

ul
  margin: 0
  list-style-type: disc

ol
  margin: 0
  list-style-type: decimal

blockquote
  quotes: "\201C" "\201D"
  &:before
    content: open-quote
    @extend %bolded
  &:after
    content: close-quote
    @extend %bolded


$preloadersize_width: 32px
$preloadersize_height: 10.5px
#l-preloader
  width: $preloadersize_width
  height: $preloadersize_height
  left: 50%
  margin-left: -$preloadersize_width/2
  top: 50%
  margin-top: -$preloadersize_height/2
  position: absolute

.loading-container
  position: fixed
  top: 50%
  left: 50%
  margin-left: -15px
  z-index: 9999
/* HELPERS */

.clear
  clear: both

.fl
  float: left

.fr
  float: right
  
.hide
  display: none

#lightbox
  background-color: rgba(#777, .65)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 100


/* SHARED STYLES */





.avatar
  vertical-align: top
  background-color: transparent
  border: none
  display: inline-block
  margin: 0
  padding: 0
  +background-size(cover)
  background-image: url('/system/default_avatar/small_default-profile-pic.png')

  &.m-avatar-anonymous
    cursor: default

[data-target="user_profile_page"]
  cursor: pointer

.button, button, input[type="submit"]
  outline: none
  cursor: pointer
  text-align: center

.button
  +button($bground_color: hsl(0,0,35%))

// unused and interferes with zocial class
// .icon:before 
//   content: attr(data-icon)
//   font-family: modern_pictograms_proregular


//////////////////////////////////////////
// LAYOUT
//////////////////////////////////////////


/* CONTAINERS */

html  

#l-wrap
  position: relative

#l-header, #l-content, #l-footer
  position: relative

.l-heading-wrap, .l-content-wrap, .l-footer-wrap
  position: relative

#l-header
  margin: 0 auto $vertical_baseline auto
  min-height: 32px

  //border-bottom: 1px solid white

.l-heading-wrap
  width: $content_width
  left: 50%
  margin-left: -$content_width/2
  position: relative
  padding: 0
  height: 2 * $vertical_baseline

#l-content
  z-index: 2
  width: $content_width + 2 * 100
  margin: auto

#l-content-main, .l-content-wrap
  position: relative  
  margin: 0 auto

.l-content-wrap
  width: $content_width

#l-content-main

#l-content-main-wrap
  width: $content_width
  margin: auto

#l-footer
  padding: $vertical_baseline 0 2 * $vertical_baseline 0

#l-sticky-footer-region
  position: fixed
  bottom: 0
  width: 100%
  z-index: 999

.l-footer-wrap
  width: $body_width
  position: relative
  margin: 0 auto


.l-message
  position: relative
  //margin-top: $vertical_baseline / 2
    
  > .l-message-speaker, > .l-message-body
    display: inline-block
    vertical-align: top
    position: relative

  > .l-message-speaker
    bottom: 0px
    z-index: 1
    position: absolute
    width: $margin_width

  > .l-message-body
    z-index: 2
    margin: auto
    display: block
    width: $body_width //- $dialog_stutter
    padding: $vertical_baseline / 2 $grid_xs

    .l-message-title
      +font-size(3)
      //font-weight: bold


.l-group-container
  font-size: 0
  line-height: 0
  text-align: right

.l-tooltip
  display: none

.tooltipster-content .l-tooltip
  display: block

.l-tooltip-title
  padding: $vertical_baseline/4 $grid_xs/2


//////////////////////////////////////////
// HEADING 
//////////////////////////////////////////

.t-logo-name, .t-logo-separator
  display: inline-block
.t-logo-name
  text-transform: uppercase
.t-logo-separator


#l-header
  .t-logo
    position: relative
    margin: $vertical_baseline/2 $grid_xs/2
    float: left
    vertical-align: baseline

    // left: 106px
    +font-size(-1)
    @extend %bolded
    @extend %on_header_footer
    opacity: .8
    z-index: 10

  .t-logo-tagline
    display: inline-block
    margin-left: $grid_xs/2


  .l-navigate
    margin: auto
    position: absolute
    top: 7px
    z-index: 50
    width: 100%
    @extend %on_header_footer

    .l-navigate-wrap
      width: $content_width
      margin-left: -$content_width/2
      left: 50%
      position: relative
      //padding-left: 98px
    .l-navigate-back, .l-navigate-crumb
      +font-size(0)
      text-transform: lowercase
    .l-navigate-breadcrumbs
      display: inline
      margin-left: 50px
    .l-navigate-crumb
      display: inline
      list-style: none


@import "apps/auth"

@import "apps/static"


.m-point-assessment-verdict-tooltip
  width: 280px
  padding: $vertical_baseline/2 $grid_xs/2

  .m-verdict-tooltip-title
    +font-size(-2)
    font-weight: bold
  .m-verdict-tooltip-content
    +font-size(-3)
  .m-verdict-tooltip-readmore
    +font-size(-4)

$tooltip_width: 225px
.l-tooltip-user-title

  .l-tooltip-user-name
    font-weight: bold
    line-height: .7

.l-tooltip-user-joined
  +font-size(-4)

.l-tooltip-user
  min-width: 200px

  .l-tooltip-user-block, .l-tooltip-user-metrics

  .l-tooltip-user-block
    vertical-align: baseline

  .l-tooltip-user-metrics

  .l-tooltip-user-metric
    list-style: none
    margin: 0 0 $vertical_baseline/8 $grid_xs/8
    +font-size(-3)
    line-height: 1
    display: inline-block

  .l-tooltip-user-metric-major    
    color: white
    //background-color: rgba(darken($callout_bg_color, 8%), .5)
    padding: 0 $grid_xs/4
    margin-left: $grid_xs/4

  .l-tooltip-user-metric-minor


  .l-tooltip-user-metric-number, .l-tooltip-user-metric-desc
    text-transform: lowercase
    font-variant: small-caps

  .l-tooltip-user-actions
    clear: both

  .l-tooltip-user-action
    +sassy-button("glass", 5px, inherit, lighten($callout_bg_color, 8%), darken($callout_bg_color, 8%) )
    +font-size(-2)
    color: white
    text-align: center
    width: 100%
    min-width: $tooltip_width
    display: inline-block
    border-radius: 0
    border-bottom: 0

    &:hover
      //+sassy-button("glass", 5px, inherit, darken($callout_bg_color, 4%), darken($callout_bg_color, 20%) )
      //+font-size(-2)
      border-radius: 0

  // .l-tooltip-user-profile

//////////////////////////////////////////
// CONSIDERIT MODULES
//////////////////////////////////////////

@import "apps/franklin/points"
@import "apps/franklin/point"

@import "apps/franklin/proposals"
@import "apps/franklin/proposal"

@import "apps/franklin/comments"
@import "apps/franklin/assessment"



// .m-top-point
//   +font-size(-2)
//   &.m-top-pro
//     padding: 0 $grid_xs / 2 0 $grid_xs
//   &.m-top-con
//     padding: 0 $grid_xs 0 $grid_xs / 2
//   .m-top-point-user
//     white-space: nowrap

// Static Position

$static_position_width: $body_width+$grid_major
.m-static-position
  width: $static_position_width
  .m-static-position-reasons
    text-align: left


  .m-static-position-reasons-label
    font-weight: bold

  .m-static-position-reasons-list
    padding: $vertical_baseline / 2 $grid_xs 0 $grid_xs

  .m-static-position-point
    +font-size(-2)
    margin-bottom: $vertical_baseline/2

  .m-username
    font-style: italic

  .m-static-position-reasons-none
    font-weight: bold

.m-username
  white-space: nowrap
  display: inline-block

//////////////////
/// Footer ///////
.m-footer-shortdesc, .m-footer-history, .m-footer-contact
  margin-bottom: $vertical_baseline/2
  +font-size(-1)

  a
    text-decoration: underline

.m-footer-shortdesc
  font-weight: bold

  .homepage_link
    text-decoration: none

.m-footer-shortdesc-logo
  text-transform: uppercase

.m-footer-history

.m-footer-contact

.mc-subscribe
  +sassy-button("simple", 5px, inherit, darken($header_footer_bg_color, 3%), darken($header_footer_bg_color, 5%))
  +font-size(-3)
  color: desaturate(invert(darken($header_footer_bg_color, 5%)), 100%)
  text-shadow: none
  position: relative
  top: -2px
  @extend %bolded
  &:hover
    color: desaturate(invert(darken($header_footer_bg_color, 5%)), 100%)


#mce-EMAIL
  +font-size(0)
  width: 350px



//////////////////
//// Header //////

.t-intro-wrap

.t-intro
  margin: 0 auto
  min-height: $initiator_width


  .l-message-body
    +bubble($standout_color, $dark_standout_color, left, $text_color: $standout_text_color)
    .l-message-title
      +font-size(2)
    .l-message-details
      //+font-size(-1)



//////////////////////////////////////////
// VENDOR
//////////////////////////////////////////

/**
/* for jquery.inline_labels.js
/**

// .inlined
//   position: relative

// label.inline
//   color: inherit
//   &.focus
//     color: #777

//   text-align: left
//   position: absolute !important
//   cursor: text !important
//   visibility: hidden !important
//   overflow: hidden !important
//   padding: 0 !important
//   margin: 0 !important
//   border: 0 !important

//   &.empty
//     visibility: visible !important

/**
/* for tooltipster
/**/

.tooltipster-default 
  background-color: $callout_bg_color
  border: 2px solid darken($callout_bg_color, 15%)

  .tooltipster-content
    +font-size(0)
    font-size: 16px
    padding: 0


/**
/* for jquery.toastr.js
/**/

#toast-container.toast-top-full-width 
  left: 50%
  width: $content_width
  margin-left: -$content_width / 2

  > div
    text-align: center
    opacity: 1

/**
/* for jquery.fileinput.js
/**

/**
/* for jquery.editable.js
/**/

.editable-container.editable-inline
  border-color: #ddd #ccc #bbb #ccc
  background-color: white

.editable.editable-click, a.editable.editable-click, .editable-container.editable-inline
  border: 1px solid transparent
  padding: 4px 3px

  &:hover
    cursor: pointer
    border-color: #ddd #ccc #bbb #ccc
    background-color: white

  &:not(.editable-disabled)
    width: 96%
    display: inline-block
    position: relative
    margin-left: 25px

    &:before
      position: absolute
      left: -25px
      font-size: 14px
      opacity: .7

    &:hover
      position: relative
      opacity: 1

.editable-container
  position: relative

.editableform 
  //border: 1px solid rgba($standout_color, .7)
  .control-group
    position: relative

.editable-input
  width: 100%
  textarea
    background-color: transparent
    width: 100%
    padding: 0

.editable-buttons

  .editable-cancel
    background: none
    border: none
    margin-left: 0
    color: #555
    display: block
    margin: auto

    &:hover
      color: black

  .editable-submit
    +sassy-button("glass", 5px, inherit, darken($standout_color, 8%), darken($standout_color, 16%))
    color: invert(darken($standout_color, 8%))
    font-size: 12px
    +text-shadow(none)
    line-height: .5
    @extend %bolded
    +font-size(1)

.editable-empty, .editable-empty:hover, .editable-empty:focus
  font-style: normal

//////////////////////////////////////////
// UNINCORPORATED
//////////////////////////////////////////



// verdict on point in margin


.m-point-peer, .m-point-position:hover
  

  &.m-point-peer
    .verdict_summary .assessment
      color: #CBBE31
      right: 10px
      bottom: 20px

  &.m-point-position
    .verdict_summary .assessment
      right: 0px
      bottom: 0px


  .verdict_summary 
    display: block
    .assessment
      text-align: right
      position: absolute
      z-index: 10

      .assessment_details
        position: absolute
        +font-size(-3)
        width: 200px
        padding: $vertical_baseline/2 $grid_xs
        text-align: left

        .claim
          padding-bottom: $vertical_baseline

          .verdict
            padding-right: $grid_xs

          .summary
            .claim_desc
              @extend %italicized

            .claim_verdict
              @extend %bolded
              font-variant: small-caps
              text-transform: lowercase

      .wrap
        padding: 2px 10px

      &:hover
        cursor: pointer
        color: black



        .assessment_details
          display: inline-block
          right: -30px

          strong
            display: block
            padding-top: $vertical_baseline

#expanded .verdict_summary
  display: none

// user dashboard
@import "dashboard/dashboard"
@import "shared/sidebar"

