@mixin nude-list
  list-style: none outside none

@mixin like-link
  background-color: transparent
  border: none
  cursor: pointer
  &:hover
    font-weight: bold
    text-outline: none

@mixin flip-horizontal
  +scaleX(-1)
  +filter(FlipH)

@mixin linkify 
  background-color: transparent
  color: inherit
  border: none
  cursor: pointer

@mixin curl-shadow
  +box-shadow(0, 1px, 1px, black, 0.2)
  position: relative

  &:before, &:after
    content: ""
    position: absolute
    width: 165px
    height: 100px
    z-index: -1
    +box-shadow(0, 14px, 2px, black, 0.3)
    bottom: 12px

  &:before
    +transform(-5,-5)

  &:after
    +transform(5,5)

  &.pro
    &:after
      right: 1px
    &:before
      left: -4px

  &.con
    &:after
      right: -3px
    &:before
      left: 1px

@mixin inset-text($transparency:.4)
  text-shadow: rgba(white, $transparency) -1px -1px

@mixin outset-text
  text-shadow: rgba(black, .1) 1px 1px

=main_background
  background: image-url('spots.png') repeat left top #890000

=chalkboard
  background: image-url("chalk/chalkboard.jpg") repeat left top #414141    

= wall($bground_color:#ccc)
  background: image-url('wall_texture.png') repeat scroll 0 0 $bground_color

=heading
  font-family: Georgia, Times, "Times New Roman", serif

=main_font
  font-family: 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif

=chalk
  font-family: 'Chelsea Market', sans-serif
  color: #ddd

=fancy_font
  font-family: Copperplate, "Copperplate Gothic Light", Georgia, serif
