=nude-list
  list-style: none outside none

=like-link
  background-color: transparent
  border: none
  cursor: pointer
  &:hover
    font-weight: bold
    text-outline: none

=flip-horizontal
  +scaleX(-1)
  +filter(FlipH)

=linkify 
  background-color: transparent
  color: inherit
  border: none
  cursor: pointer

=curl-shadow
  +box-shadow(0, 1px, 1px, black, 0.2)
  position: relative

  &:before, &:after
    content: ""
    position: absolute
    width: 165px
    height: 100px
    z-index: -1
    +box-shadow(0, 14px, 2px, black, 0.3)
    bottom: 12px

  &:before
    +transform(-5,-5)

  &:after
    +transform(5,5)

  &.pro
    &:after
      right: 1px
    &:before
      left: -1px

  &.con
    &:after
      right: -2px
    &:before
      left: 1px

// Browsers render the inset colors so differently...
=inset-border($base_color)
  border-top-color: darken($base_color, 10%)
  border-left-color: darken($base_color, 10%)
  border-bottom-color: lighten($base_color, 10%)
  border-right-color: lighten($base_color, 10%)

=inset-text($transparency:.4)
  text-shadow: rgba(white, $transparency) -1px -1px

=outset-text
  text-shadow: rgba(black, .1) 1px 1px

=chalkboard
  background: image-url("chalk/chalkboard.jpg") repeat left top #414141   

=chalkboard-with-frame 
  +chalkboard

  border: 10px solid
  border-color: #bbb #222 #222 #777  
  border-top-width: 11px
  +border-image(image-url('chalk/board-border-bold.jpg'), 11, 10, 10, 10, repeat)


=wall($bground_color:#ccc)
  background: image-url('wall_texture.png') repeat scroll 0 0 $bground_color

=heading
  font-family: Georgia, Times, "Times New Roman", serif

=main_font
  font-family: 'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif

=chalk
  font-family: 'Chelsea Market', sans-serif
  color: #ddd

=fancy_font
  font-family: Copperplate, "Copperplate Gothic Light", Georgia, serif

=signature_font
  font-family: "Lobster", Georgia, serif

=paper
  background: image-url('paper.png') repeat left top transparent

=text-outline($color, $size:1px)
  text-shadow: -$size 0 $color, 0 $size $color, $size 0 $color, 0 0  -$size $color



