.proposal_prompt
  background: image-url('considerthis/images/proposal_back.jpg') repeat top left white
  width: 600px
  margin: auto  
  min-height: 150px
  +box-shadow(0px, 1px, 2px, rgba(black,.4))
  margin-bottom: 20px
  padding: 5px 20px 20px 50px

  .description_wrapper
    margin-left: 0
    .full_text, .long_description, .additional
      +font-size(-1)
      color: #666
      color: rgba(black, .5)


  .pic
    position: absolute
    width: 100px
    left: -50px
    top: 25px

    img
      position: relative
      z-index: 1
      +box-shadow(0,0,2px, rgba(black,.2))

    &:after, &:before
      position: absolute
      display: block
      z-index: -1
      content: ''

    &:after
      background: image-url('tape.png') no-repeat top left transparent
      width: 53px
      height: 23px
      right: 14px
      top: -16px
      z-index: 3

    &:before
      background: image-url('pic_background.png') no-repeat top left transparent
      width: 50px
      height: 45px
      left: -10px
      bottom: -5px



  .author
    color: #777
    font-style: italic
    padding-left: 10px

