
$bg_color: desaturate( darken($comp_color, 0%), 65%)


%imagesprite
  display: inline-block

%background-tile-sprite

//user_settings_triangle.png


=background-img
  background: repeat left top $bg_color
  $stripe-color: darken($bg_color, 1%)
  $height: $vertical_baseline

  +background-image(linear-gradient(transparent 50%, $stripe-color 50%))
  +background-size($height $height)