
$comp_color: lighten(#882F35, 10%)
$dark_comp_color: darken($comp_color, 10%)


%imagesprite
  display: inline-block


//user_settings_triangle.png
=down_wide_triangle
  @extend %imagesprite
  background-image: inline-image("user_settings_triangle.png", 'image/png') 
  width: 15px
  height: 8px


%background-tile-sprite

//user_settings_triangle.png
=background-img
  //@extend %background-tile-sprite
  //background-image: inline-image("../themes/directrep/images/back.png") 
  
  //background-image: image-url('directrep/images/back.png')

  background-color: $comp_color
  $stripe-color: darken($comp_color, 1%)
  $height: $vertical_baseline

  +background-image(linear-gradient(transparent 50%, $stripe-color 50%))
  +background-size($height $height)