#point_similarity
  
  
  form
    margin: auto
    width: 650px
    
    .point_to_be_compared
      border: 3px solid #eee
      padding: 10px
      width: 250px
      &#p1
        margin-left: 10px
        float: left
      &#p2
        margin-right: 10px
        float: right
    
    .current_value
      margin: 10px auto
      width: 325px
      text-align: center
      border: 1px solid #85D55D
      background-color: #CEEEBE
      color: #5CB62F
      padding: 5px
      
    .slider_wrapper
      margin: 20px auto
      color: #aaa
      
      > div
        margin: 0 auto
      

      
      .slider_footer
      
        width: 650px
        height: 25px
        margin-left: 5px
        .right
          float: left   
          margin-left: 20px
        .left
          float: left
          margin-right: 20px
          
        #similarity_slider
          width: 325px
          margin: 0 auto
          float: left
          
    .submit_buttons
      width: 200px
      .left
        float: left
      .right
        float: right
      input
        background-color: white
        border: none
        color: black
        
      margin: 0 auto
    .progress
      margin-top: 20px
      color: #aaa
      text-align: center
    .completed
      margin: 0 auto
      background-color: black
      color: white
      padding: 10px
      width: 250px
      text-align: center

a.rate_point_similarity
  color: white

#infovis 
  height: 500px
