$content_width: 980px
$pro_con_list_static_width: 730px

$histogram_bar_width: 80px
$histogram_width: $histogram_bar_width * 7 + 38
$histogram_height: 200px

$header_color: #a6a6a6


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic,800,300italic|Chelsea+Market|Lobster)
@import "mixins"
@import "carousel"

@import "points/show"
@import "points/new_point"
@import "points/column"
@import "points/pro_con_list"

@import "point_links/point_links"

@import "proposals/blocks"
@import "proposals/show"
@import "proposals/description"
@import "proposals/admin_strip"
@import "proposals/create"

@import "positions/craft"
@import "positions/slider"

@import "comments/comment"
@import "comments/discussion"
@import "comments/new"

@import "home/index"
@import "static/static"
@import "shared/footer"
@import "shared/header"
@import "shared/carousel"
@import "shared/messages"
@import "shared/social_media"

@import "users/sessions"


//////////////////////////////////////////////////////
/////////////// Materials definitions ////////////////
/// TODO: these maybe should be defined per theme ////
//////////////////////////////////////////////////////

.point_in_list_margin, .point
  +on_post_it
  &.pro
    +green_post_it
  &.con
    +red_post_it

.pro_con_list, 
.point_in_list_self.expanded, .point_in_list_board.expanded,
#site_registration .primary, #registration_form .primary, #post_signup_dialog .primary
  +on_chalkboard

/////////////


//////////////////////////////////////////////////////
/////////////// Base styles for input ////////////////
//////////////////////////////////////////////////////


//// SUBMIT styles
// juicy button
// subtle button
// linkified button

.button_proxy, button, input[type="submit"]
  outline: none
  cursor: pointer

  &.button
    +button

  &.linkified
    background-color: transparent
    border: none
    text-decoration: underline

//// TEXT INPUT styles


input[type="text"], input[type="email"], input[type="password"], textarea
  padding: 3px 5px
  color: #333

input[type="file"].proxied
  visibility: hidden

input[type=checkbox], input[type=radio]
  //vertical-align: middle
  //position: relative
  //bottom: 2px

.inlined
  position: relative

label.inline
  opacity: 1
  &.focus
    opacity: .65

  text-align: left
  position: absolute !important
  cursor: text !important
  visibility: hidden !important
  overflow: hidden !important
  padding: 0 !important
  margin: 0 !important
  border: 0 !important

  &.empty
    visibility: visible !important

input.hidden_edit
  background-color: transparent
  border: none
  width: auto
  text-align: right
  padding-right: none

/////////////

h1, h2, h3, h4, h5, h6
  font-weight: bold
  +heading

strong
  font-weight: bold
  
h1
  +font-size(4)



.clear
  clear: both

.center
  text-align: center

.fl
  float: left

.fr
  float: right

.italic
  font-style: italic

.hide
  display: none


table
  border-collapse: separate  

html

  body
    color: #222
    +main_font

    // 12pt/16px default font, for traditional browsers
    font-size: 100%
    line-height: 1.2

    #wrap
      position: relative
      
      > div
        width: $content_width
        margin: 0 auto
        padding: 10px 15px
        position: relative    

        &#content   
          position: relative
           

h2.sub_follows
  margin-bottom: 0px

p
  margin-bottom: 18px

a
  color: inherit
  outline: none
  cursor: pointer  
  text-decoration: none
  img
    border: none

ul
  margin: 0
  list-style-type: disc

ol
  margin: 0
  list-style-type: decimal

dl
  margin: 0 0 18px
  dt
    font-weight: bold

dd
  margin-left: 18px



.loading .ajax_loading
  display: block

.ajax_loading
  background-image: image-url("ajax-loader.gif") 
  display: none
  width: 15px
  height: 15px
  

.head
  text-align: center
  padding: 10px 10px 10px 0px
    
  h3.banner
    +font-size(5)
    margin-bottom: 0px
    text-align: center
    color: #555
    font-weight: normal
    +inset-text

    a
      text-decoration: underline

.add_qtip
  cursor: help

#lightbox
  background: transparent
  opacity: 0.75
  zoom: 1
  position: fixed
  top: 0px
  left: 0px
  min-width: 100%
  min-height: 100%
  width: 100%
  height: 100%
  z-index: -100

hr.ledge
  width: 100%
  margin: auto
  border: none
  height: 1px
  &.top
    +rgba(white, .15)
  &.bottom
    +rgba(black, .15)



.ui-widget-overlay
  position: fixed
  background-color: white
  opacity: .8
  +opacity(80)


