//////////////////////////////////////////
// BASE
//////////////////////////////////////////

/* VARIABLES */


@import "mixins"
@import "mixins/bubble"

//@import "users/sessions"

/* RESET
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body 
  line-height: 1.3

ol, ul 
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* COLORS */
$base_color: #222
$base_hover_color: #000

body, h1, h2, h3, h4, h5, h6, a, input, button
  color: $base_color

/* FONTS */

$main_font-family: Optima, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif
%main_font-family
  font-family: $main_font-family

// do we need to put input and button here...?
body, input, button
  @extend %main_font-family

/* ELEMENT DEFAULTS */

//http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  +boxy_border

body
  font-size: 100%

a, input, button
  &:hover
    color: $base_hover_color

a
  color: inherit
  outline: none
  cursor: pointer  
  text-decoration: none
  img
    border: none  

input, button
  +transition

h1, h2, h3, h4, h5, h6, strong
  font-weight: bold

em 
  font-style: italic

table
  border-collapse: separate  

p
  //margin-bottom: $vertical_baseline

ul
  margin: 0
  list-style-type: disc

ol
  margin: 0
  list-style-type: decimal

blockquote
  quotes: "\201C" "\201D"
  &:before
    content: open-quote
    font-weight: bold
  &:after
    content: close-quote
    font-weight: bold


/* HELPERS */

.clear
  clear: both
  display: none

.fl
  float: left

.fr
  float: right

.hide
  display: none

/* VARIABLES */

$grid_major: 48px
$grid_minor: 30px
$grid_xs: 18px

$vertical_baseline: 1em

$content_width: $grid_major * 22 + $grid_xs
$pro_con_list_width: 675px

$slider_width: 360px

$peer-point-width: 194px
$peer-point-height: 180px

$histogram_bar_width: 2 * $grid_major - 4

$rep_color: lighten(#49B1E5, 20%)
$dark_rep_color: darken($rep_color, 20%)

$constituency_color: lighten(#E5E15A, 20%)
$dark_constituency_color: darken($constituency_color, 30%)

$user_color: #ddd
$dark_user_color: darken($user_color, 10%) 

$comp_color: lighten(#882F35, 10%)
$dark_comp_color: darken($comp_color, 10%)

$header_gray: #777
$empty_color: #ddd

$proposal_width: 617px
$body_width: 727px

$content_background : image-url('directrep/images/brillant.png')

$hex-bullet-point: '\2022'

/* SHARED STYLES */

=superbutton
  +linear-gradient(lighten($comp_color, 5%), $comp_color)
  background-color: lighten($comp_color, 5%)
  +transition

  &:hover
    +complex-gradient(lighten($comp_color, 15%), lighten($comp_color, 5%), $from_stop : 0%, $to_stop: 20%)
    background-color: lighten($comp_color, 15%)


%chalkboard
  +on_chalkboard
  +chalkboard

%postit
  +on_paper

%postit-background-no-repeat
  @extend %postit
  +green_post_it

%postit-background-repeat
  @extend %postit
  +green_post_it($repeated: 1)




%pro_con_list
  vertical-align: top
  margin: auto
  position: relative
                   
  width: $pro_con_list_width
  border: $chalkboard_border_width solid
  border-color: hsl(0, 0%, 80%) hsl(0, 0%, 10%) hsl(0, 0%, 10%) hsl(0, 0%, 50%)
  +box-shadow(0, 1px, 5px, rgba(black, .5))

  padding: 2 * $vertical_baseline 0 0 $grid_xs

  %m-pro-con-list-column
    position: relative
    vertical-align: top
    display: inline-block
    width: 40%

  .m-pro-con-list-propoints, .m-pro-con-list-conpoints
    @extend %m-pro-con-list-column

  .m-pro-con-list-propoints 
    margin-left: $grid_major - $chalkboard_border_width
    margin-right: $grid_xs

  .m-pro-con-list-conpoints 
    margin-right: $grid_major - $chalkboard_border_width
    margin-left: $grid_xs
    
  .m-pro-con-list-header   
    margin-bottom: $vertical_baseline/2
    text-align: center
    position: relative

    img
      width: 80px


.avatar
  vertical-align: top
  background-color: transparent
  border: none
  display: inline-block
  margin: 0
  padding: 0
  background-size: 100% 100%
  background-image: url('/system/default_avatar/small_default-profile-pic.png')


.button, button, input[type="submit"]
  outline: none
  cursor: pointer
  text-align: center

.button
  +button($text_color: hsl(0,0,85%), $bground_color: hsl(0,0,35%))


//////////////////////////////////////////
// LAYOUT
//////////////////////////////////////////


/* CONTAINERS */

$background: image-url('directrep/images/back.png')

html
  //&:after
    //content: ''
    //position: absolute
    //top: 0
    //left: 0
    //position: fixed
    height: 100%
    width: 100%
  background: $background repeat left top $comp_color
    //z-index: -1

#l-wrap
  position: relative

  #l-heading, #l-content, #l-footer
    position: relative

  .l-heading-wrap, .l-content-wrap, .l-footer-wrap
    position: relative

  #l-heading
    //height: $vertical_baseline * 2
    //width: 100%
    //margin-bottom: $vertical_baseline

  .l-heading-wrap
    width: $content_width
    position: relative
    padding: 0
    margin: auto

  #l-content
    width: $content_width
    margin: 0 auto

  .l-content-wrap
    padding: $vertical_baseline $grid_xs
    margin-bottom: $vertical_baseline
    position: relative

  #l-footer

  .l-footer-wrap
    width: $content_width
    position: relative
    margin: 0 auto


%l-message-template
  > .l-message-speaker, > .l-message-recipient, > .l-message-body
    display: inline-block
    vertical-align: top

  > .l-message-body
    position: relative
    width: 100%

.l-group-container
  font-size: 0
  line-height: 0

.l-overlay
  position: absolute
  z-index: 9999


//////////////////////////////////////////
// HEADING 
//////////////////////////////////////////

#l-heading
  .t-logo
    position: absolute
    left: 0px
    overflow: hidden

#m-user-nav
  position: relative
  text-align: right
  z-index: 1
  padding: 10px 15px

.m-login, .m-user-options
  display: inline-block

.m-login a, .m-user-options a
  color: #a6a6a6
  font-weight: bold
  +font-size(-1)

.m-login-signin:after
  position: relative
  content: $hex-bullet-point
  right: 0

.m-user-options
  cursor: pointer
  position: relative

  .m-user-options-menu-wrap
    display: none
    //z-index: 99
    position: absolute
    right: -19px
    width: 150px
    +chalkboard
    +on_chalkboard

    img
      vertical-align: top 
      margin: 2px 0 0px 15px
      width: 35px
      height: 35px
      display: inline-block

  .m-user-options-menu
    +nude-list
    margin-left: 0
    display: inline-block

    a
      width: 100%
      padding: 1px 10px 0 8px
      display: block
      cursor: pointer
      +font-size(-3)


//////////////////////////////////////////
// USER MODULES
//////////////////////////////////////////

#registration_overlay
  width: 820px
  padding: 8px

  +wall(white)
  +border-radius(5px)
  +box-shadow(0,1px,2px,rgba(black,.5)) 

  .m-user-accounts-cancel
    position: absolute
    right: -17px
    top: -16px
    border-radius: 50%
    border: 3px solid white
    width: 30px
    height: 30px
    padding-top: 2px
    +box-shadow(0, 1px, 2px, rgba(black, .25))
    background-color: #555
    color: white
    z-index: 1
    text-align: center
    &:hover
      background-color: black  

.m-user-accounts-wrap
  +on_chalkboard
  +chalkboard

  text-align: center
  padding: $vertical_baseline * 2 $grid_xs * 2
  position: relative

  .m-user-accounts-heading
    +font-size(4)
    margin-bottom: $vertical_baseline

.m-user-accounts-choose-method
  .m-user-accounts-switch-method
    position: absolute
    right: $grid_xs
    top: $vertical_baseline / 2

    +font-size(-2)
    span
      text-decoration: underline

  .m-user-accounts-login-options
    +nude-list
    padding-bottom: $vertical_baseline

    .m-user-accounts-login-option
      display: inline
      margin-right: $grid_xs
      position: relative


  .m-user-accounts-fineprint
    +font-size(-3)
    display: inline-block
    position: absolute
    bottom: -2 * $vertical_baseline
    left: 40px
    width: 250px
    text-align: left


$avatar_preview_height: 120px
$membership_card_width: 450px
$membership_card_height: 278px

.m-user-accounts-complete
  display: none

  .m-user-accounts-form-fields-wrap
    input[type="text"], input[type="email"], input[type="password"], textarea
      padding: 1px 5px
      background-color: transparent
      border: 1px solid rgba(white, .5)
      margin-bottom: 2px   
      color: white

    .email_field input, .password_field input
      +font-size(2)

  input[type="submit"]
    margin: $vertical_baseline 0
    +button
    +superbutton
    padding: $vertical_baseline/2 $grid_xs * 2
    color: #eee
    +font-size(3)

.m-user-accounts-complete-signin
  .email_field, .password_field
    display: inline
    position: relative

  .forget_password_prompt
    position: absolute
    left: 0
    bottom: - 2 * $vertical_baseline

.m-user-accounts-complete-register
  .m-user-accounts-form
    margin: auto

  .m-user-accounts-form-fields-wrap
    width: $membership_card_width
    height: $membership_card_height
    background-image: $background
    border-radius: 5px
    border-top: 1px solid #ccc
    border-bottom: 1px solid black
    padding: $vertical_baseline $grid_xs
    margin: auto

    box-shadow: 0 1px 2px rgba(black, .35), inset 0 0 8px 2px rgba(white, .5)

    .m-user-accounts-logo
      display: block
      margin-bottom: $vertical_baseline

    .m-user-accounts-form-fields-text
      width: $membership_card_width - $avatar_preview_height - $grid_xs * 3
      float: right

    label
      +font-size(-2)
      text-align: left
      //margin-left: $grid_xs
      float: left

    input[type="text"], input[type="email"], input[type="password"], textarea
      width: 100%
      &.ui-state-valid
        border-color: transparent

    .name_field input
      +font-size(4)
      font-weight: bold


    .m-user-accounts-authorized-feedback
      display: none
      a
        +font-size(-6)
      vertical-align: top
      text-align: left
      margin-top: $vertical_baseline / 2
      //color: #333

    .m-user-accounts-pledge-taken
      display: none
      text-align: left

    // this is overriding some CSS from the jquery.fileinput plugin
    .avatar_field
      float: left
      width: $avatar_preview_height + 2
      .customfile
        background: transparent
        width: $avatar_preview_height + 2
        border: none

      .customfile-preview-wrap
        width: $avatar_preview_height
        height: $avatar_preview_height
        overflow: hidden
        border: 1px solid #333
        border-radius: 5px
        background-color: rgba(black, .25)      
        img.customfile-preview
          height: $avatar_preview_height


      .customfile-button
        float: none
        +font-size(-2)
        text-decoration: underline

      .customfile-feedback
        display: none

      .import_from_third_party
        +font-size(-4)
        a
          +font-size(1)

  .m-user-accounts-finish-wrap
    width: $membership_card_width
    margin: $vertical_baseline auto

    .m-user-accounts-pledge
      //.m-user-accounts-pledge-heading
      //  +font-size(2)
      //  font-weight: bold

      ol
        text-align: left
        list-style: none

        li
          color: white

          label, input
            cursor: pointer

    .m-user-accounts-tos
      +font-size(-2)

      .m-user-terms-show
        text-decoration: underline

      .m-user-the-terms-of-use
        display: none
        text-align: left
        background-color: white
        padding: $vertical_baseline $grid_xs
        margin: $vertical_baseline
        border-radius: 5px

        color: #333
        h1,h2,h3
          color: #333
          margin-top: $vertical_baseline
        a
          color: #333
          text-decoration: underline
          cursor: pointer

        li
          list-style-position: inside
          margin-bottom: $vertical_baseline





//////////////////////////////////////////
// CONSIDERIT MODULES
//////////////////////////////////////////

/* POINT_IN_LIST */


%m-point
  +nude-list
  position: relative
  cursor: pointer

  .m-point-nutshell

    .m-point-user
      white-space: nowrap
      display: inline-block
      +font-size(-2)

  .m-point-operations
    padding: 0 $grid_xs

    %point_operation
      display: inline-block          
      +font-size(-4)
      padding: 0
      margin: 0
      font-weight: bold

    .m-point-include, .m-point-remove, .m-point-read-more, .m-point-edit
      @extend %point_operation

    .m-point-edit:before, .m-point-remove:before
      content: '\2022'
      +font-size(-6)
      position: relative
      right: 1px


.m-point-peer
  @extend %m-point
  @extend %postit-background-no-repeat

  width: $peer-point-width
  height: $peer-point-height
  padding: $vertical_baseline $grid_xs

  .m-point-nutshell
    +font-size(-4)

  .m-point-operations        
    bottom: 23px
    left: $grid_xs + 9px
    a
      color: darken(desaturate($yellow_postit, 20%), 30%)

    .m-point-edit, .m-point-remove
      display: none

  &:hover .m-point_operations a
    color: darken(desaturate($yellow_postit, 100%), 70%)

.m-point-position
  @extend %m-point

  .m-point_operations .m-point-include
    display: none
                  
.m-point-results
  @extend %m-point

  .m-point-operations 
    .m-point-remove, .m-point-include
      display: none

.m-point-results, .m-point-position
  //border-color: transparent

  .m-point-nutshell
    +font-size(-2)
    margin-bottom: 0px
    // bullet point
    &:before
      content: $hex-bullet-point
      position: absolute
      left: -10px
      top: 0px

  .m-point-operations
    bottom: 0
    left: 0
    position: relative
    visibility: hidden

  &:hover .m-point-operations
    visibility: visible

/* NEWPOINT */

.m-newpoint
  position: relative

  // bullet point
  &:before
    content: $hex-bullet-point
    display: inline-block
    position: relative
    top: 0
    left: -10px
    
  .m-newpoint-new
    +font-size(2)
    width: 240px
    border: none
    padding: 0
    position: relative
    text-align: left
    text-decoration: underline
    margin-left: -10px
    font-weight: bold

  .m-newpoint-form
    position: relative
    top: -29px
    display: none

  .m-newpoint-description
    width: 100%
  
  .m-newpoint-nutshell-wrap
    .m-newpoint-nutshell
      width: 88%

    .count
      +font-size(-3)
      vertical-align: middle

  .m-newpoint-submit
    text-align: right


/* POINTLISTPAGINATION */

.m-pointlist-pagination
  text-align: center
  color: #777
  a
    color: #777

  .m-pointlist-status
    +font-size(-3)
    font-weight: bold


/* POINT_DETAILS */

#point_details_overlay
  padding: $vertical_baseline $grid_xs
  background-color: lighten($constituency_color, 5%)
  border: 1px solid $dark_constituency_color
  width: 867px

%m-point-details
  @extend %l-message-template

  > .l-message-speaker, > .l-message-recipient
    width: 70px

  .m-point-details-body
    @extend %postit-background-repeat  
    width: 800px - $grid_major
    min-height: 300px
    padding: $vertical_baseline $grid_major

  .m-point-details-author-avatar
    width: 70px
    height: 70px

  .m-point-details-nutshell
    +font-size(3)

    width: auto
    font-weight: bold
    margin-bottom: $vertical_baseline

  .m-point-details-description
    a
      text-decoration: underline

  .m-point-details-author
    font-style: italic
    padding: 10px 0

  .m-point-details-operations
    display: block
    padding: 0 $grid_xs

  .m-point-details-edit
    padding-right: $grid_xs

  .m-point-discussion
    position: relative
    //width: 660px
    padding: 0 $grid_xs

  .m-point-discussion-heading
    +font-size(3)
    margin: 0px 0 $vertical_baseline 0

  .m-point-comments
    +nude-list

.m-point-details-pro
  @extend %m-point-details
  .m-point-details-body
    +bubble($constituency_color, $dark_constituency_color, left)     
  .l-message-speaker
    text-align: right

.m-point-details-con
  @extend %m-point-details
  .m-point-details-body
    +bubble($constituency_color, $dark_constituency_color, right)     


/* COMMENTS */
.m-comment
  margin: 8px 0 25px 0

  .m-comment-avatar
    width: 50px
    height: 50px
    
  .m-comment-body
    +font-size(-2)    
    display: inline-block
    width: 80%
    margin-left: $grid_xs    
    p, br
      margin-bottom: 6px

  .m-comment-author
    font-style: italic
    white-space: nowrap

  .m-comment-edit
    +font-size(-2)

  .m-comment-edit-form
    .save_block
      top: auto
      left: 50px
      bottom: -30px

/* NEWCOMMENT */

.m-new-comment
  margin: 8px 0 25px 0

  .m-new-comment-avatar
    width: 50px
    height: 50px

  .m-new-comment-body
    +font-size(-1)    
    display: inline-block
    width: 80%
    margin-left: $grid_xs    

  .m-new-comment-body-field
    height: 60px
    width: 90%

  .m-new-comment-submit-wrap
    text-align: right
    width: 90%

  .m-new-comment-civility-reminder
    +font-size(-2)
    width: 150px
    padding-right: $grid_xs

  a.signin_link
    font-weight: bold


/* PROPOSAL */

#m-proposals-container
  margin-top: $vertical_baseline
  position: relative
  //z-index: 1

  .m-proposal-list
    +nude-list


.m-proposals-heading
  //z-index: 100
  border-radius: 8px
  width: 650px
  margin: auto
  border-top: 1px solid lighten($comp_color, 15%)
  border-bottom: 1px solid darken($comp_color, 20%)

  .m-proposals-header
    margin-top: 0
    padding-top: 0
    +font-size(3)
    text-align: center

  .m-proposals-header-sub
    +font-size(-2)
    //margin-top: -$vertical_baseline
    text-align: center
    .m-proposals-filter-container, .m-proposals-sort-container, .m-proposals-index
      display: inline-block
      padding-right: $grid_xs
      > *
        display: inline-block
        padding-right: $grid_xs/2

      a
        color: #333
        &:hover
          color: black
        &.selected, &.selected:hover
          font-weight: bold
          color: #222

    .m-proposals-index
      position: relative
      cursor: pointer
      z-index: 1
      &:after
        content: '\25BE'
        color: #222

      .menu
        display: none
        position: absolute
        +nude-list
        //z-index: 999
        text-align: right
        width: 500px
        right: 0
        background-color: rgba(darken($comp_color, 40%), .9)
        padding-right: 0
        li
          cursor: pointer
          text-align: right
          border-bottom: 1px dotted #aaa
          a
            display: inline-block
            color: #ddd
            padding: $vertical_baseline/2 $grid_xs
          &:hover 
            background-color: darken($comp_color, 40%)
            a
              color: #eee

      &:hover .menu
        display: block



.m-proposal
  margin: $vertical_baseline 0 2 * $vertical_baseline 0

  .m-proposal-heading
    text-align: center
    color: #222
    width: $body_width + 2 * $grid_major
    text-transform: capitalize
    margin: auto
    font-weight: bold
    +font-size(3)

  .m-proposal-description-details
    +font-size(-2)

    .hidden, .showing
      text-decoration: underline

  .m-proposal-connect
    margin-top: $vertical_baseline
    ul
      text-align: center
    li
      display: inline-block
      vertical-align: middle
      +font-size(-3)
      color: #aaa

    .m-proposal-action-link
      cursor: pointer
      +transition
      //+grayscale
      //opacity: .6
      &:hover
        //+grayscale_off
        //opacity: 1

.m-proposal-message
  @extend %l-message-template
  padding-top: $vertical_baseline / 2

  > .l-message-body
    width: $body_width
    padding: $vertical_baseline / 2 $grid_xs
    
  > .l-message-speaker, > .l-message-recipient
    width: 150px

  > .l-group-container
    height: 150px

  .m-proposal-initiator
    text-align: right
    img
      width: 115px
    &.small
      img
        width: 50px

  .m-proposal-description
    +bubble($rep_color, $dark_rep_color, left)


/* YOUR_ACTION */

.m-position-your-action-body
  +bubble($comp_color, $dark_comp_color, right )
  +superbutton
  +font-size(3)
  color: white
  text-align: center

  &:hover
    color: white
  &:before
    color: $dark_comp_color
  > .t-bubble
    +complex-gradient(lighten($comp_color, 34%), lighten($comp_color, 10%), $from_stop : 0%, $to_stop: 37%)

// YOUR_ACTION_CRAFT

// YOUR_ACTION_SAVE

/* SUMMARY */


.m-results-summary
  cursor: pointer

  .m-results-responders
    +bubble($constituency_color, $dark_constituency_color, right)

  .m-summary-heading
    padding-bottom: $vertical_baseline 

  %top_point
    display: inline-block
    
    .avatar
      width: 50px
      height: 50px
 
  .m-summary-top-pro
    @extend %top_point
    float: left

  .m-summary-top-con
    @extend %top_point
    float: right

  %m-top-point-body
    padding: $vertical_baseline / 2 $grid_xs
    width: 280px
    position: relative
    display: inline-block
    +colored_post_it($repeated: 1)

  .m-top-pro-body
    @extend %m-top-point-body
    +bubble($constituency_color, $dark_constituency_color, left, $constituency_color)              

  .m-top-con-body
    @extend %m-top-point-body
    +bubble($constituency_color, $dark_constituency_color, right, $constituency_color)              


/* RESULTS */

.m-aggregated-results
  .m-results-responders
    +bubble($constituency_color, $dark_constituency_color, right)

// HISTOGRAM / WHAT

.m-histogram
  margin: $vertical_baseline auto 0px auto
  position: relative
  width: $pro_con_list_width - 6
  //z-index: 10
  bottom: -4px

  %m-histogram-label
    position: absolute
    color: #313131
    +font-size(0)
    font-weight: bold
    vertical-align: bottom
    width: 3 * $grid_major
    text-transform: uppercase
    bottom: 0

  .m-histogram-label-support
    @extend %m-histogram-label
    text-align: right
    left: -150px

  .m-histogram-label-oppose
    @extend %m-histogram-label
    text-align: left
    right: -150px


  .m-histogram-bar
    width: $histogram_bar_width
    position: relative
    display: inline-block
    opacity: 0
    cursor: pointer
    +box-shadow(0px, 1px, 2px, black)
    border: 3px solid #222
    border-bottom: none
    background-color: #222
    +transition
    //z-index: 1

    .m-bar-close
      display: none
      position: absolute

    &:hover, &.m-bar-is-soft-selected, &.m-bar-is-hard-selected
      +chalkboard

    &:hover
      border-color: #414141

    &.m-bar-is-soft-selected, &.m-bar-is-hard-selected
      +box-shadow(0px, 1px, 2px, black)
      border-color: black

      &:after
        +chalkboard
        content: ''
        position: absolute
        display: block
        height: 5px
        width: $histogram_bar_width + 3
        left: -5px
        bottom: -4px
        border-radius: 6px 6px 0 0
    
    &.m-bar-is-soft-selected
      z-index: 5

    &.m-bar-is-hard-selected
      z-index: 10
      border-radius: 5px 5px 0 0

      .m-bar-close
        display: block
        right: 5px
        top: -2px
        //z-index: 1
        +font-size(-3)
        color: #999

    //.personal_position.update
      bottom: 0
      left: 30px
      position: absolute
      +on_background
      z-index: 50
      display: none
      //left: 50%
      //margin-left: 10px
      .label
        +font-size(-1)
        position: relative
        margin-left: 4px
        .arrow
          position: absolute
          +font-size(2)
          font-weight: bold
          left: -25px
          top: 8px
      .revise 
        position: relative
        top: -2px
        a
          text-transform: lowercase
          font-weight: bold
          text-decoration: underline
          +font-size(-2)
      

.m-bar-people
  background-color: transparent
  position: absolute
  //z-index: 1000
  font-size: 0

  color: #222

  margin: auto
  bottom: 0px

  .m-bar-ghost
    visibility: hidden
    float: right
  
  .m-bar-person
    background-color: inherit
    margin: auto
    display: inline-block
    position: relative


  %m-bar-person-details
    display: none

    text-align: center  
    cursor: pointer
    //don't use +font-size here because of the earlier 0% declaration
    font-size: 16px
    background-color: black
    color: #e1e1e1
    position: absolute
    z-index: 1
    top: 100%
    left: 50%
    margin-top: 14px
    +border-radius(5px)
    padding: 5px $grid_xs
    +box-shadow(0px, 1px, 2px, #313131)

    &:after
      content: "\25B2"
      position: absolute
      padding: 0 4px 0
      top: -13px
      color: black
      //z-index: 5

    .m-bar-person-explanation
      padding: 5px 0 0 0 
      +font-size(-1)

      p
        margin-bottom: 6px
        text-align: left

  .m-person-has-explanation .m-bar-person-details
    @extend %m-bar-person-details
    margin-left: -150px
    width: 400px
    &:after
      left: 200px - 12

  .m-person-has-no-explanation .m-bar-person-details
    @extend %m-bar-person-details
    margin-left: -75px
    width: 150px
    &:after
      left: 62px


// POINTS / WHY

.m-results-pro-con-list
  @extend %chalkboard
  @extend %pro_con_list
  min-height: 550px

.m-results-pro-con-list-who
  text-align: center
  +font-size(3)
  height: 3 * $vertical_baseline
  margin-top: -$vertical_baseline

  .filters
    +font-size(-5)
    text-transform: lowercase
    font-variant: small-caps

    .label
      color: #999

    .point_filter
      padding: 0 $grid_xs / 2
      &:hover
        cursor: pointer
      &.selected
        background-color: #666
        background-color: rgba(white, .1)
        +border-radius(5px)


/* POSITION */  


.m-position
  .m-position-message-body
    +bubble($user_color, $dark_user_color, right )

  .m-position-heading
    +font-size(3)
    padding: $vertical_baseline / 2 0
    text-align: center

// REASONS
.m-reasons
  position: relative
  margin-left: -$peer-point-width
  width: $content_width

  .m-reasons-pro-con-list, .m-reasons-peer-points
    display: inline-block

  .m-reasons-pro-con-list
    @extend %pro_con_list 
    @extend %chalkboard
    min-height: 645px

  .m-reasons-peer-points
    width: $peer-point-width
    vertical-align: top 
    padding-top: 5 * $vertical_baseline


  %m-reasons-peer-points-heading
    opacity: .8
    h3
      +font-size(0)
      text-transform: uppercase
      letter-spacing: -1px
      color: #777
      font-weight: normal

    .sublead
      +font-size(-3)
      margin-top: -3
      //position: relative
      //top: -3px

  .m-reasons-peer-pros-heading
    @extend %m-reasons-peer-points-heading
    text-align: left
    margin-left: $grid_xs

  .m-reasons-peer-cons-heading
    @extend %m-reasons-peer-points-heading
    text-align: right
    margin-right: $grid_xs

// SLIDER
.m-stance
  margin: auto auto 2 * $vertical_baseline auto 
  
      
  %m-stance-label
    vertical-align: middle
    //height: 40px
    +font-size(2)
    div
      width: 120px

  .m-stance-label-support
    @extend %m-stance-label
    text-align: right
    padding-right: $grid_xs

  .m-stance-label-oppose
    @extend %m-stance-label
    text-align: left
    padding-left: $grid_xs

  .m-stance-label-neutral
    @extend %m-stance-label
    text-align: center
    //+font-size(-3)
    +transition

  .m-stance-slider-container
    height: 45px 
    padding-top: 4px
    width: $slider_width

  .noUiSlider
    margin: 10px
    background: none
    background-color: #666

    background-color: rgba(black, .15)

    +box-shadow(0,0,0,transparent)
    border-radius: 15px
    width: $slider_width

    border: none
    height: 16px

  .noUi-handle > div
    background: image-url("slider.png") repeat-x scroll 50% 50% transparent  
    border: none
    top: -.2em
    height: 38px
    width: 39px
    +transition('none')
    //margin-left: -19.5px

    &:hover
      cursor: move

//////////////////////////////////////////
// VENDOR
//////////////////////////////////////////

/**
/* for jquery.inline_labels.js
/**

.inlined
  position: relative

label.inline
  //opacity: 1
  color: inherit
  &.focus
    color: #777

  text-align: left
  position: absolute !important
  cursor: text !important
  visibility: hidden !important
  overflow: hidden !important
  padding: 0 !important
  margin: 0 !important
  border: 0 !important

  &.empty
    visibility: visible !important

/**
/* for jquery.fileinput.js
/**



//////////////////////////////////////////
// UNINCORPORATED
//////////////////////////////////////////





