#nav-user {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0f000000', endColorstr='#0f000000');
  background-color: #620000;
}

html #lightbox {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

}

input[type="submit"] {
  min-height: 15px;
}