.head
  &:before, &:after
    display: none

  .banner
    &:before, &:after
      display: none

.point_in_list
  &#expanded

    &.ui-state-disabled
      filter: none

  &.point_in_list_margin
    > .body .nutshell
      color: #333

.contact .wrapper
  visibility: hidden
  z-index: -999999

.proposal_menu ul
  background-color: white

  li a 
    color: black

.point_in_list_margin
  border-bottom: 1px solid #999


#intro 
  #home
    #follow
      top: 255px
      right: 10px

.newpoint .newpointbutton a.write_new
  font-size: 1.2em

.pointform > form .form_proper .point-cancel a
  
  display: inline-block

.proposals.horizontal.blocks
  width: 1000px

  .carousel

    li.proposal_item
      width: 230px
      //background-color: #bbb
      //border-bottom: 1px solid #999
      //border-top: 1px solid #ddd

      &:hover

      > a

      .number

      .short_name


      &:hover
        //background-color: #aaa
        //border-bottom-color: #777

