.head
  &:before, &:after
    display: none

  .banner
    &:before, &:after
      display: none

.point_in_list
  &.expanded

    &.ui-state-disabled
      filter: none

  &.point_in_list_margin
    > .body .nutshell
      color: #333
