.head
  &:before, &:after
    display: none

  .banner
    &:before, &:after
      display: none

.point_in_list
  &#expanded

    &.ui-state-disabled
      filter: none

  &.point_in_list_margin
    > .body .nutshell
      color: #333

.contact .wrapper
  visibility: hidden
  z-index: -999999

.proposal_menu ul
  background-color: white

  li a 
    color: black

.point_in_list_margin
  border-bottom: 1px solid #999


li.proposal_item
  background-color: #bbb
  border-bottom: 1px solid #999
  border-top: 1px solid #ddd

  &:hover
    background-color: #aaa
    border-bottom-color: #777


