#intro 
  #home
    #follow
      top: 255px
      right: 10px

.newpoint .newpointbutton a.write_new
  font-size: 1.2em

.pointform > form .form_proper .point-cancel a
  
  display: inline-block

.proposals.horizontal.blocks
  //width: 1000px

  .carousel

    li.proposal_item
      //width: 230px
      //background-color: #bbb
      //border-bottom: 1px solid #999
      //border-top: 1px solid #ddd

      &:hover

      > a

      .number


      .short_name
        font-size: 105%

      &:hover
        //background-color: #aaa
        //border-bottom-color: #777