$default-transition-property : all
$default-transition-duration : .4s
$default-transition-function : false
$default-transition-delay    : false

$default-box-shadow-color    : rgba(black, .4)
$default-box-shadow-h-offset : 0px
$default-box-shadow-v-offset : 1px
$default-box-shadow-blur     : 2px
$default-box-shadow-spread   : false
$default-box-shadow-inset    : false


@import "compass/css3"
@import "sassy-buttons"

@import "mixins/variables"
@import "mixins/fonts"
@import "mixins/colors"
@import "mixins/materials"

=grayscale
  #filter: url('/filters.svg#grayscale')  //FF 3.5+
  filter: gray  // IE6-9
  -webkit-filter: grayscale(1) // Google Chrome & Safari 6+ 

=grayscale_off
  filter: none
  -webkit-filter: grayscale(0)

=grayscale_hover
  +grayscale
  &:hover
    +grayscale_off

=nude-list
  list-style: none outside none

=flip-horizontal
  +scaleX(-1)
  +filter(FlipH)

// =curl-shadow
//   +single-box-shadow($spread: 1px, $color: rgba(black, 0.2))
//   position: relative

//   &:before, &:after
//     content: ""
//     position: absolute
//     width: 165px
//     height: 100px
//     z-index: -1
//     +single-box-shadow($vhoff: 14px, $color: rgba(black, 0.3))
//     bottom: 12px

//   &:before
//     +rotate(-5)
//     +skew(-5, -5)

//   &:after
//     +rotate(5)
//     +skew(5, 5)

//   &.pro
//     &:after
//       right: 1px
//     &:before
//       left: -1px

//   &.con
//     &:after
//       right: -2px
//     &:before
//       left: 1px

// Browsers render the inset colors so differently...
=inset-border($base_color)
  border-top-color: darken($base_color, 10%)
  border-left-color: darken($base_color, 10%)
  border-bottom-color: lighten($base_color, 10%)
  border-right-color: lighten($base_color, 10%)

=inset-text($transparency:.4)
  +single-text-shadow($hoff: -1px, $voff: -1px, $color: rgba(white, $transparency), $blur: 0)

=outset-text($transparency:.1)
  +single-text-shadow($hoff: 1px, $voff: 1px, $color: rgba(black, $transparency), $blur: 0)

=superbutton
  +sassy-button("glass", 5px, inherit, darken($position_button_bg, 8%), darken($position_button_bg, 16%))

=button($text_color: hsl(0,0,80%), $bground_color: hsl(0,0,45%), $darken_amt: 10%)
  +sassy-button("glass", 5px, inherit, $bground_color, darken($bground_color, $darken_amt))

  // $bottom_color: darken($bground_color, $darken_amt)
  // $border_color: darken($bottom_color, 20%)
  // background-color: $bground_color
  // +background-image(linear-gradient(opacify($bground_color, .9) 0%, opacify($bottom_color, .9) 100%))
  // +border-radius(5px)
  // +box-shadow(0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.3))    
  // +single-transition

  // display: inline-block
  // //font-weight: bold
  // position: relative
  // text-decoration: none
  // zoom: 1
  // border: 1px solid darken($bottom_color, 5%)
  // //text-shadow: 0 -1px 0 $border_color
  // padding: 3px 10px
  // color: $text_color
  // letter-spacing: normal

  // &:hover
  //   +box-shadow(0 1px 2px rgba(255,255,255,0.5) inset, 0 1px 5px rgba(0,0,0,0.5))    
  //   +background-image(linear-gradient($bground_color 0%, $bottom_color 75%))
  //   border-color: $border_color
  //   color: lighten($text-color, 20%)



=pressable_button
  //display: inline-block
  margin: 2px 5px
  padding: 2px 8px
  cursor: pointer
  color: #555
  background-color: #efefef
  border: 1px solid
  border-radius: 5px
  border-color: white #ccc #ccc white
  +single-box-shadow

  &.selected
    border-color: #ccc white white #ccc
    +single-box-shadow($inset: true, $blur: 4px, $color: rgba(0, 0, 0, .2))

