- candidates = [{:identifier => 'phildodds', :name => 'Phil Dodds', :district => 'Florida HR3', :mug => 'phildodds.png'}, {:identifier => 'jeremyhansen', :name => 'Jeremy Hansen', :district => 'Vermont Senate', :mug => 'jeremyhansen.png'}]

#other_candidates
  .heading
    &#9733; Another DIRECTREP Candidate &#9733;

  %ul.candidate_list
    - candidates.each do |cnd|
      %li.candidate.fl
        %a{ :href => "http://#{cnd[:identifier]}.#{get_root_domain}" }
          %span.name_block
            .name
              &#9733;#{cnd[:name]}&#9733;
            
            .directrep
              DirectRep Candidate
            
            .district
              = cnd[:district]
    %li.clear
