%div
  %p
    Hi!

  %p
    Before your vote will be tallied in the totals, we must confirm that this is a valid email address. 

  %p 
    To confirm, please follow  
    = link_to 'this link', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
    [#{confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)}].


  %p
    Otherwise, let us know that you 
    = link_to 'did not register on our site', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :valid => false)
    [#{confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :valid => false)}].

  %p
    Thanks, and we look forward to your contributions. 
