-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

%ul.feed
  - @actions.each do |action| 
    %li.action  
      .title=action.title
      .description=action.description
      .date=action.created_at.to_s(:rfc822)
      .link=link_to action.url(request.host_with_port)
