@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\000031}}
.position_container {
  background: url("/blogademia/images/chalk/chalkboard.png?1322438292") repeat scroll left top transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\000036}}
  .position_container .points_self#points_on_board_pro .points_list_header, .position_container .points_board#points_on_board_pro .points_list_header {
    background: transparent url("/blogademia/images/chalk/pro_back.png") no-repeat scroll top center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000312}}
  .position_container .points_self#points_on_board_con .points_list_header, .position_container .points_board#points_on_board_con .points_list_header {
    background: transparent url("/blogademia/images/chalk/con_back.png") no-repeat scroll top center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000318}}
.points_other .point_list_footer .forward {
  background-image: url("/blogademia/images/arrow-down.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000321}}
.points_other .point_list_footer .back {
  background-image: url("/blogademia/images/arrow-up.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000326}}
.points_board .point_list_footer .forward {
  background-image: url("/blogademia/images/arrow-down-light.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000329}}
.points_board .point_list_footer .back {
  background-image: url("/blogademia/images/arrow-up-light.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000334}}
.newpointbutton button.pro {
  background: url("/blogademia/images/write-pro.png") left top no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000336}}
  .newpointbutton button.pro:hover {
    background-image: url("/blogademia/images/write-pro-hover.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000339}}
.newpointbutton button.con {
  background: url("/blogademia/images/write-con.png") left top no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000341}}
  .newpointbutton button.con:hover {
    background-image: url("/blogademia/images/write-con-hover.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000347}}
.horizontal .paginate.first .back {
  background-image: url("/blogademia/images/arrow-prev.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000350}}
.horizontal .paginate.last .forward {
  background-image: url("/blogademia/images/arrow-next.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000353}}
#initiative .position {
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000358}}
  #initiative .position .slider_table .slider_container .ui-slider a.ui-slider-handle {
    background: url("/blogademia/images/slider.png") repeat-x scroll 50% 50% transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000362}}
html {
  background-position: left top;
  background-repeat: repeat-x; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000368}}
#initiative #description .description_wrapper {
  margin: auto;
  float: none;
  width-top: 45px;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000374}}
#initiative #description {
  background-color: transparent;
  margin-top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000378}}
.full object {
  left: -150px;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000382}}
.point-pledge {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000386}}
#col1, #col2, #col3 {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000389}}
#col1 {
  width: 200px;
  margin-left: 10px;
  color: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000394}}
  #col1 img {
    margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\0000397}}
#col2 {
  width: 512px;
  margin-left: 20px;
  margin-top: -27px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003101}}
  #col2 h1 {
    color: #444055;
    font-size: 26pt;
    line-height: 25pt;
    width: 600px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003106}}
  #col2 h2 {
    color: #999999;
    font-size: 16pt;
    margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003111}}
  #col2 h3 {
    font-size: 12pt;
    color: #444055;
    font-style: italic;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003117}}
  #col2 .full_text {
    margin-top: 10px;
    text-align: justify;
    color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003122}}
    #col2 .full_text .personal_thought .hide {
      background-color: #9fa6d6;
      padding: 10px;
      color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003126}}
      #col2 .full_text .personal_thought .hide h3 {
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003129}}
    #col2 .full_text p, #col2 .full_text .paragraph {
      margin-bottom: 10px;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003132}}
      #col2 .full_text p a, #col2 .full_text .paragraph a {
        color: #666666;
        text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003137}}
      #col2 .full_text p .outset, #col2 .full_text .paragraph .outset {
        background-color: #b39fd6;
        color: black;
        position: absolute;
        right: -200px;
        bottom: -42px;
        width: 150px;
        padding: 5px 10px;
        font-size: 9pt;
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003148}}
        #col2 .full_text p .outset .triangle, #col2 .full_text .paragraph .outset .triangle {
          color: #b39fd6;
          position: absolute;
          left: -8px;
          top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003153}}
        #col2 .full_text p .outset a, #col2 .full_text .paragraph .outset a {
          color: inherit;
          text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003157}}
        #col2 .full_text p .outset .quote, #col2 .full_text .paragraph .outset .quote {
          font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003162}}
        #col2 .full_text p .outset.personal, #col2 .full_text .paragraph .outset.personal {
          top: -41px;
          background-color: #9fa6d6;
          bottom: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003166}}
          #col2 .full_text p .outset.personal .triangle, #col2 .full_text .paragraph .outset.personal .triangle {
            top: 5px;
            color: #9fa6d6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003169}}
        #col2 .full_text p .outset.status, #col2 .full_text .paragraph .outset.status {
          bottom: 110px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003172}}
#col3 {
  width: 137px;
  position: absolute;
  left: 20px;
  top: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003179}}
  #col3 .additional .full {
    position: absolute;
    left: 170px;
    padding: 10px 20px;
    top: 0;
    width: 600px;
    z-index: 200;
    background-color: #9fa6d6;
    border: 3px solid #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003190}}
  #col3 .paper_link {
    padding: 5px 10px;
    background-color: #2a1c42;
    text-align: center;
    margin-bottom: 5px;
    opacity: 0.9;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003198}}
    #col3 .paper_link:hover {
      opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003200}}
    #col3 .paper_link a {
      color: white;
      font-size: 12pt; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003205}}
#initiative ol#step_through li.step .head .ol_number {
  background-color: #2a1c42; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003208}}
#initiative ol#step_through li#stance.step {
  background-color: #9fa6d6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003211}}
#initiative ol#step_through li.slide {
  background-color: #b39fd6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003216}}
#initiative ol#step_through li.statements {
  background-color: transparent;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003220}}
  #initiative ol#step_through li.statements .full_statement {
    position: absolute;
    background-color: #a289d1;
    z-index: 1001;
    width: 735px;
    top: -14px;
    left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003228}}
    #initiative ol#step_through li.statements .full_statement .wrapper {
      position: relative;
      z-index: 100; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003231}}
      #initiative ol#step_through li.statements .full_statement .wrapper a.close {
        float: right;
        margin-right: 10px;
        margin-top: 8px;
        color: black;
        font-weight: bold;
        font-size: 8pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003239}}
      #initiative ol#step_through li.statements .full_statement .wrapper .textblock {
        padding: 20px 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003241}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock > .username {
          font-weight: bold;
          font-size: 18pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003244}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .stance {
          font-weight: bold;
          font-size: 12pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003248}}
          #initiative ol#step_through li.statements .full_statement .wrapper .textblock .stance .stance_name {
            text-transform: capitalize; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003251}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .prose {
          margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003255}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .important_points a {
          color: black;
          text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003259}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .important_points .group {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003262}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .important_points .point_list_footer {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003265}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .important_points .point_in_list .discuss {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003267}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .important_points .operations {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003269}}
        #initiative ol#step_through li.statements .full_statement .wrapper .textblock .important_points .position_container {
          width: 692px;
          position: relative;
          left: -87px;
          margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003280}}
#initiative #description .description_wrapper .full_text, #initiative #description .description_wrapper .long_description, #initiative #description .description_wrapper .additional {
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003283}}
#initiative ol#step_through li#submitstance.step .rest > div form input[type="submit"] {
  background-color: #2a1c42; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003286}}
#initiative li.breakdown .position_marker {
  background-color: #2a1c42; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003288}}
  #initiative li.breakdown .position_marker .triangle {
    color: #2a1c42; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003292}}
#wrap #footer {
  background-color: #2a1c42; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003294}}
  #wrap #footer .powered_by {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003296}}
    #wrap #footer .powered_by a {
      font-weight: bold;
      text-decoration: underline;
      color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003302}}
#wrap #footer {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003308}}
svg rect {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003312}}
#initiative li.ranked_points h3 {
  font-size: 26pt;
  line-height: 20pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003315}}
  #initiative li.ranked_points h3.subheader {
    font-size: 10pt;
    color: #777777;
    line-height: 15pt;
    padding-bottom: 5px;
    font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003321}}
  #initiative li.ranked_points h3 strong {
    font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003325}}
#initiative li.ranked_points #ranked_points.explore {
  padding: 0 10px;
  background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003329}}
  #initiative li.ranked_points #ranked_points.explore > .group {
    position: relative;
    padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003332}}
    #initiative li.ranked_points #ranked_points.explore > .group .triangle {
      position: absolute;
      left: 50%;
      top: -20px;
      font-size: 15pt;
      color: #b39fd6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003339}}
    #initiative li.ranked_points #ranked_points.explore > .group .position_container {
      width: 700px;
      margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003343}}
  #initiative li.ranked_points #ranked_points.explore .filters a#show_popular, #initiative li.ranked_points #ranked_points.explore .filters a#show_self {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003346}}
  #initiative li.ranked_points #ranked_points.explore .edit, #initiative li.ranked_points #ranked_points.explore .remove {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003349}}
#initiative li.ranked_points .statement_carousel {
  background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003352}}
  #initiative li.ranked_points .statement_carousel .paginate {
    padding-top: 27px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003357}}
    #initiative li.ranked_points .statement_carousel .paginate button {
      background-color: transparent;
      border: none;
      font-size: 10pt;
      color: #353535;
      padding-right: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003363}}
    #initiative li.ranked_points .statement_carousel .paginate h3.subheader {
      padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003367}}
  #initiative li.ranked_points .statement_carousel .vertical > h3 {
    font-size: 9pt;
    margin-bottom: 8px;
    color: #555555;
    font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003373}}
  #initiative li.ranked_points .statement_carousel .vertical .carousel {
    width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003375}}
    #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement {
      background-color: inherit;
      margin: auto;
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003380}}
      #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement.active {
        z-index: 1002;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003384}}
        #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement.active .view_statement .avatar .username {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003387}}
      #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement a.view_statement {
        text-align: center;
        color: #333333;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003392}}
        #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement a.view_statement .avatar {
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003394}}
          #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement a.view_statement .avatar img {
            width: 85px;
            border: 3px solid transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003397}}
            #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement a.view_statement .avatar img:hover {
              border-color: #a289d1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003400}}
          #initiative li.ranked_points .statement_carousel .vertical .carousel ul li.statement a.view_statement .avatar .username {
            font-size: 10pt;
            color: #333333;
            line-height: 9pt;
            background-color: rgba(150, 150, 150, 0.75);
            position: absolute;
            bottom: 8px;
            width: 85px;
            margin-left: 3px;
            overflow: hidden;
            /* For IE 8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb777777, endColorstr=#bb777777)"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003415}}
.submit_a_position {
  position: absolute;
  background-color: #2a1c42;
  color: white;
  padding: 5px 20px;
  font-size: 14pt;
  top: 195px;
  left: 310px;
  opacity: 0.75; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003424}}
  .submit_a_position:hover {
    opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003428}}
.stance_chart text {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003431}}
.showing_filtered a {
  text-decoration: underline;
  color: #cccccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003435}}
#initiative ol#step_through li.statement.step {
  background-color: #b39fd6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/travis\/Documents\/considerit_20\/dub\/ConsiderIt\/themes\/blogademia\/stylesheets\/sass\/considerit\.theme\.sass}line{font-family:\00003437}}
  #initiative ol#step_through li.statement.step textarea {
    display: block;
    height: 300px;
    margin: auto;
    width: 572px; }
