
// ///////// BASE BACKGROUND ///////
// $base_text_color: #414141
// $base_hover_color: darken($base_text_color, 25%)
// // approximate color of basic background, used for default fill for bubbles
$base_bg_color: #FEFEFE
// // background for header and footer
// $header_footer_bg_color: hsl( 0, 0%, 92%)
// $header_footer_text_color: hsl( 0, 0%, 20%)

$bg_declaration: asset-data-url('oha/images/bg-main2.jpg') repeat #e6e6e6
$bg_top_declaration: none
$bg_content_declaration: asset-data-url('oha/images/bg-bottom.jpg') repeat-y
$bg_content_top_declaration: asset-data-url('oha/images/page-bck-top.jpg') no-repeat

$bg_main: $base_bg_color


// /////////////////// BACKGROUND COMPLEMENTS
// $comp_color:       invert($base_bg_color)  //hsl(  0, 0%, 25%)
// $comp_text_color:  invert($base_text_color)  //hsl( 0, 0%, 92%)

// $mid_bg_color: #666


// ////////// CHALKBOARD SLATE
// $decision_board_color: hsl( 0, 0%, 25%)
// $decision_board_text_color: hsl(0, 0%, 80%)

// ////////////// SPECIAL PROPOSALS
$standout_text_color: $base_text_color
$standout_color: hsl( 0, 0%, 98%)

// // /////////////// PROPOSAL INITIATORS
$initiator_text_color: #fafafa
$initiator_color:    hsl( 5, 60%, 52%)

// // ///////////////// PROPOSAL RESPONDERS
$community_text_color: hsl( 5, 30%, 15%)
$community_color:    hsl( 5, 30%, 92%)

// // ///////////////// ATTENTION GRABBING COLOR
$callout_bg_color: hsl( 5, 5%, 52%)
//$callout_text_color: #fafafa

// /////////////////////////

// // determines how much each base color is darkened for their dark counterpart
// $border_darken_amt: 10%
