
.point_link_form

  %fieldset
    
    .fields
      .url.inlined
        = f.text_field :url, :class => 'url', :placeholder => 'http://...', :title => 'http://...'

      .description.inlined
        = f.text_field :description, :class => 'description', :placeholder => 'A brief description', :title => 'A brief description'


    .submit_block
      = link_to_remove_fields "delete", f

    .clear