
.point_link_form

  %fieldset
    
    .fields.fl
      .url 
        = f.text_field 'url', :class => 'has_example url', :title => 'http://...'

      .description
        = f.text_field 'description', :class => 'has_example description', :title => 'A brief description'


    .submit_block.fr
      = link_to_remove_fields "delete", f

    :javascript
      $j('.has_example').each(function(){
        if($j(this).val() == '') {
          $j(this).example(function() {
            return $j(this).attr('title'); 
          });
        }
      });
    .clear