%li
  - if point_link.description.length > 0
    %a{ :href => point_link.safe_url, :target => '_blank' }
      #{point_link.description}
    %span.domain
      [#{point_link.short_loc}]
  - else
    %a{ :href => point_link.safe_url, :target => '_blank' }
      #{point_link.safe_url}