//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

%li
  // %span.lead
  //   &ndash;
  - if point_link.description.length > 0
    %a{ :href => point_link.safe_url, :target => '_blank' }=point_link.description
    %span.domain
      [#{point_link.short_loc}]
  - else
    %a{ :href => point_link.safe_url, :target => '_blank' }=point_link.safe_url