
.point_column

  ul.point_list
    margin: 0
    padding: 0
    margin-bottom: 10px
    position: relative


  .point_list_footer
    min-height: 35px
    text-align: center
    margin: 5px 0
    
    .arrow
      height: 18px

    input.forward
      background-position: 0 3px

    .paginate, .arrow
      vertical-align: text-top

  &.point_column_margin
    ul.point_list
        top: 0