
#points_self_pro
  .newpoint
    margin-left: 20px
    .newpointform
      padding: 5px 5px 5px 5px

#points_self_con
  .newpoint
    margin-right: 20px
    .newpointform
      padding: 5px 5px 5px 5px
    
.newpoint
  width: 215px
  margin: 20px 0
  
  .newpointform
    border: 3px solid $brd_gray
  
.newpointbutton button
  font-size: 135%
  width: 175px
  height: 50px
  border: none
  
  &.pro
    background: url(/images/add-pro.png) left top no-repeat
  &.con
    background: url(/images/add-con.png) left top no-repeat


.newpointform
  background-color: transparent
  width: 95%
  display: none
  margin: auto
  
  p.note
    color: $txt_light_gray
  
  .text_group
    width: 100%
    .point-title,
    .point-description
      width: 190px
    
    .point-description:
      height: 150px
    
  .point-title-group
    margin-bottom: 10px
    .point-title
      height: 60px
  
  .count
    color: $txt_light_gray
    padding-top: 2px
    
  .point-submit
    float: right
  .point-cancel
    float: right
    padding: 5px
    a
      color: $txt_light_gray
      padding: 5px
      font-size: 12px