
li.point_in_list
  @include nude-list
  margin-bottom: 8px
  
  color: white
  background-repeat: no-repeat
  position: relative

  &.con
    background: url("/images/chalk/point-con-self.png") no-repeat scroll 0px 3px transparent      
    .read_more
      a.toggle_more, a.toggle
        float: left

  &.pro
    background: url("/images/chalk/point-pro-self.png") no-repeat scroll 0px 3px transparent     
    .read_more
      a.toggle_more, a.toggle
        float: left

  .body
    overflow: hidden
    padding: 3px 0 3px 38px
    vertical-align: top

    .wrapper // only in other
      padding: 3px

    .point_text.nutshell
      font-size: 14px
      line-height: 16px

    .point_text.full
      font-size: 90%
      margin: 10px 15px 10px 10px
      display: none

    .read_more
      height: 25px
      a.toggle_more, a.toggle
        color: $txt_light_gray
        padding-top: 10px

    .username
      font-size: 10px
      color: $txt_light_gray
      padding-bottom: 2px

  &.point_in_list_other 
    
    padding-bottom: 10px

    &.pro
      background: $bk_green url('/images/bg-point-pro.png') no-repeat left top
       
      .body
        background: url("/images/chalk/point-pro-other.png") no-repeat scroll 0px 3px transparent         
        padding: 3px 0px 10px 0px
	
        .username, .point_text.nutshell, .read_more
          padding-left: 35px
        

    &.con
      background: $bk_purple url('/images/bg-point-con.png') no-repeat left top
      .body
        padding: 3px 0px 3px 3px
        background: url("/images/chalk/point-con-other.png") no-repeat scroll 145px 3px transparent         
        .username, .point_text.nutshell, .read_more
          padding-right: 35px
        .username
          text-align: right
					
  &.point_in_list_self
    width: 225px
      
  &.ranked
    .discuss, .read_more
      font-size: 12px
      float: left
    .read_more
      margin: 0px 0px 0 0px
      a.toggle
        color: $txt_light_gray
        padding-right: 10px      
      .pipe
        padding: 10px 10px 0 0
        color: $bk_gray
    .discuss
      padding-top: 10px
      
      display: block
      margin: 0
      > a
        color: $txt_light_gray
     
      
    .scores
      float: right
      width: 120px
      
      ul       
        margin: 10px 0 0 0
        @include nude-list
        li
          cursor: pointer
          color: #ddd
          padding: 1px 5px
          background-color: #4B4D4E
          float: left
          margin-right: 5px
          font-size: 10px
          
          &:hover
            background-color: black
            color: white
            
  td.dismiss_point,
  td.include_point
    width: 12px
         
    .dismiss.left
      top: 35px
      left: 0px    
      width: 12px
      .judgepointform
        
        margin: 0 5px 0 0px
        input.judge_point
          display: none
          background-image: url("/images/arrow-left-dark.png")              
          &:hover
            background-image: url("/images/arrow-left-dark-hover.png")
                         
    .include.left
      top: -5px
      left: -29px
      .judgepointform
        input.judge_point
          background-image: url("/images/arrow-left.png")              
          &:hover
            background-image: url("/images/arrow-left-hover.png")
          
    .dismiss.right
      top: 35px
      left: 200px    
      .judgepointform
        margin: 0 0px 0 5px
        input.judge_point
          display: none
          background-image: url("/images/arrow-right-dark.png")      
          &:hover
            background-image: url("/images/arrow-right-dark-hover.png")
                  
    .include.right
      top: -4px
      left: 181px
      .judgepointform
        input.judge_point
          background-image: url("/images/arrow-right.png")      
          &:hover
            background-image: url("/images/arrow-right-hover.png")

  .dismiss,
  .include
    position: absolute
    z-index: 999

    
    input.judge_point
      margin: 0
      color: $txt_light_gray
      background: none no-repeat scroll 0 center transparent
      border: none
      background-color: transparent
      width: 50px
      height: 35px
            
    &:hover
      cursor: pointer



    
