
li.point_in_list
  @include nude-list
  margin-bottom: 8px

  &.expanded
    height: auto
  
  color: white
  background-repeat: no-repeat
  position: relative

  width: 224px

  &.con
    background: url("/images/chalk/point-con-self.png") no-repeat scroll 0px 3px transparent  
    > .body
      padding: 3px 35px 3px 35px
    .read_more
      a.toggle_more, a.toggle
        float: left
        &.hide
          left: 0

    .username
      .avatar
        border-color: $brd_purple_dark
        right: 0

      .less.point_text_toggle
        float: left
        color: white
             
  &.pro
    background: url("/images/chalk/point-pro-self.png") no-repeat scroll 0px 3px transparent     
    > .body
      padding: 3px 35px 3px 35px
    .read_more
      a.toggle_more, a.toggle
        float: left
        &.hide
          right: 0

    .username
      .avatar
        border-color: $brd_green_dark
        left: 0

      .less.point_text_toggle
        float: right
        color: white                
  > .body
    overflow: hidden
    vertical-align: top

    .wrapper // only in other
      padding: 3px

    .point_text.nutshell
      font-size: 13px
      line-height: 15px

    .point_text.full
      font-size: 90%
      margin: 10px 0
      display: none
      width: 90%

      .details .the_details, .link ul, .discuss ul
        margin-left: 8px

      h4
        font-size: 17px
        margin: 8px 0
        color: #C1C1C1
        text-transform: capitalize
      
      .details

      .link

        ul
          li 
            padding: 2px 0
            a
              color: white
              text-decoration: underline

    .read_more
      position: relative
      bottom: 0
      a.toggle_more, a.toggle
        color: $txt_light_gray
        padding-top: 10px
        
        &.hide
          position: absolute
          top: 0
          padding: 3px 10px
          color: white

    .username
      font-size: 10px
      color: $txt_light_gray
      padding-bottom: 2px

      .avatar
        display: none
        position: absolute
        top: -79px
        border-width: 8px 8px 5px
        border-style: solid
  


  &.point_in_list_margin
    
    padding-bottom: 5px

    &.pro
      background: transparent url('/images/bg-point-pro-200.png') no-repeat left top
       
      > .body
        background: url("/images/chalk/point-pro-other-42.png") no-repeat scroll left 3px transparent         

        .username, 
        .point_text.nutshell, 
        .read_more
          padding: 0
        

    &.con
      background: transparent url('/images/bg-point-con.png') no-repeat right top
      > .body
        padding-top: 3px
        background: url("/images/chalk/point-con-other-42.png") no-repeat scroll right 3px transparent         
        .username, 
        .point_text.nutshell, 
        .read_more
          padding: 0
        .username
          text-align: right
					
  &.point_in_list_self
    width: 225px
      
  &.ranked
      
    .scores
      float: right
      width: 120px
      
      ul       
        margin: 10px 0 0 0
        @include nude-list
        li
          cursor: pointer
          color: #ddd
          padding: 1px 5px
          background-color: #4B4D4E
          float: left
          margin-right: 5px
          font-size: 10px
          
          &:hover
            background-color: black
            color: white
            
         
  
  &.expanded.point_in_list_margin
    &.pro
      background-color: $bk_green
      > .body
    &.con
      background-color: $bk_purple    
      > .body
        padding: 3px 23px 10px 60px

    .include
      display: none
    &.pro, &.con
      background-image: none

  &.point_in_list_margin .include
    position: absolute
    z-index: 99
    top: -2px    
    padding: 0
    height: 25px
    width: 48px
    background-repeat: no-repeat

    input.judge_point
      margin: 0
      color: white
      border: none
      font-size: 30px
      background-color: inherit

      &:hover
        cursor: pointer
        color: #082872

    &.include_con
      left: -9px
      background-image: url('/images/arrow-left.png')      
      &:hover
        background-image: url('/images/arrow-left-hover-short.png')
      .judgepointform
        input.judge_point
                            
    &.include_pro
      left: 180px
      background-image: url('/images/arrow-right.png')
      &:hover
        background-image: url('/images/arrow-right-hover-short.png')

      .judgepointform
        input.judge_point



.point_list_footer
  min-height: 35px
  text-align: center
  margin: 5px 0
  
  .arrow
    height: 18px

  .forward, .back
    width: 15px
    height: 15px
    background-repeat: no-repeat
    background-position: 0 3px
    display: inline-block

  .paginate
    font-size: 12px
    font-weight: bold

  .paginate, .arrow
    vertical-align: text-top

#points_other_pro .point_list_footer
  padding-right: 20px

  .paginate
    color: $brd_green_dark

#points_other_con .point_list_footer
  padding-left: 20px

  .paginate
    color: $brd_purple_dark


.points_other .point_list_footer

  .forward
    background-image: url('/images/arrow-down.png')
  
  .back
    background-image: url('/images/arrow-up.png')

.points_self .point_list_footer

  .forward
    background-image: url('/images/arrow-next.png')
  
  .back
    background-image: url('/images/arrow-prev.png')
