- candidates = [{:identifier => 'dodds', :name => 'Phil Dodds', :district => 'Florida HR3', :mug => 'phildodds.png'}, {:identifier => 'hansen', :name => 'Jeremy Hansen', :district => 'Vermont Senate', :mug => 'jeremyhansen.png'}]
- phil = current_tenant.identifier.include?('phil') || current_tenant.identifier.include?('dodds')

#other_candidates
  .heading
    &#9733; Another DIRECTREP Candidate &#9733;

  %ul.candidate_list
    - candidates.each do |cnd|
      %li.candidate
        %a{ :href => "http://#{current_tenant.host_with_port.gsub(phil ? 'dodds' : 'hansen', cnd[:identifier])}" }
          %span.name_block
            .name
              &#9733;#{cnd[:name]}&#9733;
            
            .directrep
              DirectRep Candidate
            
            .district
              = cnd[:district]
    %li.clear


.paid_for
  Paid for by 
  - if phil
    Philip Dodds for Congress
  - else
    Hansen for Washington County
