
#user_edit
  label
    text-transform: none
    letter-spacing: 0
  h2
    margin-bottom: 5px
    
#update_registration_form
  background-color: white
  padding: 15px 25px

  .submit
    margin-top: 5px
    a.cancel
      display: inline-block
      padding: 5px
  
.ui-widget-content

  #login_form,
  #registration_form,
  #update_registration_form,
  #pledge_form,
  #confirmation_sent

    > ul > li
      display: inline-block

    h2
      font-size: 24px
      color: #333

    .sub
      font-size: 13px
      color: #999

      a
        color: inherit
        text-decoration: underline


    h3
      margin: 15px 0 8px 0
    
    .primary
      width: 375px
      background-color: white
      padding: 20px 25px
      border: 3px solid black

      #third_party

        a
          margin: 2px 2px

      #site_registration
        ul li span
          color: #696969
          font-size: 10px
          display: inline-block
          margin-top: 10px
          cursor: help

        li.email_field label
          padding-right: 30px
        li.password_field label
          padding-right: 6px
        
        li label
          color: #696969
          display: inline-block
          height: 30px
          padding-top: 8px

        .submit_footer
          margin-top: 10px

          a.cancel
            display: inline-block
            padding: 5px 0 0 5px
            font-size: 12px
            color: #696969
        
        #user_new > a
          color: #696969
          font-size: 12px
          margin-top: 8px
          display: block

      .fineprint
        margin-top: 2px
        font-size: 13px
        color: #999

      .divider
        margin: 10px 0
        border: 1px solid #e1e1e1

      #acknowledgment
        color: #262626
        font-size: 12px

        a
          text-decoration: underline

    .secondary
      background-color: #ddd
      margin-top: 35px
      padding: 10px 15px 10px 25px
          
      width: 225px
      ul
        margin-left: 0
        li
          font-size: 14px
          padding: 5px 0 10px 0 
          color: #535353

          strong
            color: #2C2C2C
  
    &#pledge_form, &#confirmation_sent
      p 
        color: #696969   
        strong
          color: #333        

      h2
        font-size: 24px
        color: #333
        margin-bottom: 8px

      #pledge
        margin-bottom: 12px
        display: block

      a.cancel
        color: #696969
        text-decoration: underline

    &#confirmation_sent button #go, &#pledge_form button, &#registration_form .primary, &#registration_form .secondary
      button#go
        border-radius: 5px