$desaturate: false
$desaturate_color: false

@if $desaturate
  $initiator_color: desaturate($initiator_color, 100%)
  $community_color: desaturate($community_color, 100%)
  $comp_color: desaturate($comp_color, 100%)
  $standout_color: desaturate($standout_color, 100%)
  $callout_bg_color: desaturate($callout_bg_color, 100%)

@if $desaturate_color
  $base_text_color: desaturate($base_text_color, 100%)
  $base_hover_color: desaturate($base_hover_color, 100%)
  $initiator_text_color: desaturate($initiator_text_color, 100%)
  $community_text_color: desaturate($community_text_color, 100%)

$dark_initiator_color: darken($initiator_color, $border_darken_amt)
$dark_community_color: darken($community_color, $border_darken_amt)
$dark_comp_color: darken($comp_color, $border_darken_amt)
$dark_standout_color: darken($standout_color, $border_darken_amt)


#t-bg
  background: $bg_declaration

#t-bg-top
  background: $bg_top_declaration

#t-bg-content
  background: $bg_content_declaration

#t-bg-content-top
  background: $bg_content_top_declaration
