%p
  Hi,

%p
  Someone (hopefully you) has requested to change their password. Please copy and paste this verification code into the verification code field:

%p
  = @token

%p
  If you didn't make this request, simply ignore this email and your password will not be changed. 