%p
  Hi #{@user.first_name},

%p
  Someone (hopefully you) has requested to change your password. Please copy and paste this code to the verification code field:

%p{style: "padding-left: 20px; font-size: 18px; font-weight: 600"}
  = @token

%p
  If you didn't make this request, simply ignore this email and your password will not be changed. 