.proposal_admin_operations
  position: absolute
  width: 170px
  right: -200px
  top: $vertical_baseline

  .edit_page, .delete_proposal
    a
      +font-size(1)
      font-weight: bold
    img
      height: 23px
      vertical-align: top
      position: absolute
      right: -30px
      top: 0
  
  .delete_proposal
    margin-top: $vertical_baseline 

.unobtrusive_edit_form
  .unobtrusive_edit
    position: relative
    line-height: 0px
    textarea
      width: 100%
      text-align: inherit
      color: inherit
      resize: none

    .save_block
      display: none
      position: absolute
      z-index: 3
      right: -70px
      top: 0
      height: 30px
      width: 70px

      input[type="submit"]
        //height: 100%
        +font-size(-2)
        background-color: transparent
        border-color: #777
      
      .updated
        position: relative
        top: 50%
        margin-top: -6px
        left: 4px
        +font-size(-2)

  &.explicit_edit_mode .unobtrusive_edit

  &.implicit_edit_mode .unobtrusive_edit
    textarea
      border-color: transparent
      background-color: transparent




#admin_strip, #more_options .more
  //background-color: #222
  color: #CCC

  h1, h2, h3
    color: #333

  a, input, button
    color: #CCC  
    
    &:hover
      color: #EEE


#admin_strip
  position: absolute
  width: 600px
  left: 50%
  margin-left: -300px
  text-align: center
  display: inline-block
  
  //padding: 10px 20px
  z-index: 100
  //position: relative
  
  font-weight: bold

  #content
    //width: 980px
    //margin: auto
    //position: relative

    > div 
      display: inline-block

    #links
      margin: auto
      //width: 850px
      display: block
      .link, #copy_container
        background-color: #222
        background-color: rgba(black, .3)
        margin: 5px 0 

      .link
        border: 1px solid
        border-color: #555 black black #555
        display: inline-block
        font-weight: normal
        padding: 5px 5px
        margin-left: 5px
        +font-size(0)

        span
          padding-right: 5px

        #copy_container, #copy_admin_container
          position: relative
          width: 60px
          border-left: 1px solid #4a4a4a
          margin: auto
          display: inline-block

          #copy_link, #copy_admin_link
            font-weight: bold
            text-align: center

          &:hover
            color: white

    #more_options
      margin-left: 40px
              
      .more
        position: absolute
        z-index: 5
        padding: 2px 16px 10px 16px
        width: 100%
        left: 0
        margin-top: 8px


        .options
          margin-top: 20px
          .option
            .switch
              display: inline-block
              margin-right: 10px
              .on, .off
                display: inline-block
                +font-size(-3)
                &.selected
                  color: white
                  +font-size(-1)
                &:hover
                  background-color: blue
                  cursor: pointer

              .on
              .off

            .label
              color: white
              display: inline-block