#admin_strip
  background-color: black
  padding: 10px 20px
  z-index: 100
  position: relative
  color: #BEBEBE

  #links
    margin: auto
    text-align: center
    width: 99%
    a
      color: white