// proposals/list_output/menu
.proposal_list
  margin-top: 10px

// proposals/list_output/item

.proposal_list_item
  padding: 5px 0
  a
    display: block
    position: relative
    min-height: 50px
    color: white
    opacity: .9
    width: 450px
    &:hover
      opacity: 1

    .avatar
      opacity: 1
      position: absolute
      left: 0
    .title, .prompt
      margin-left: 55px
    .title
      .body
        font-weight: bold
        font-size: 13pt
      .user_name
        font-style: italic

    .prompt
      text-decoration: underline
      font-weight: bold
      color: #bbb
      font-size: 10pt

    .user_name
      white-space: nowrap
      font-weight: bold



// proposals/blocks/menu
.proposal_menu
  position: absolute
  top: -20px
  right: 33px
  color: $header_color
  font-weight: bold
  text-align: right
  opacity: .9
  z-index: 10

  &:hover
    opacity: 1

  .prompt
    cursor: pointer

  ul
    position: relative
    z-index: 20
    //+wall
    background-color: rgba(black, .75)
    padding: 0 5px 10px 5px
    height: 100%

    li a
      color: white
      border-bottom: 1px dotted #aaa
      opacity: .7
      font-weight: bold
      &:hover
        opacity: 1

// proposals/blocks/strip
.proposals
  margin: 15px auto

  &.blocks
    .paginate
      margin-top: 30px

  &.menu
    position: absolute
    top: -119px
    left: 140px

    .paginate
      margin-top: 3px


// proposals/blocks/item

li.proposal_item
  +nude-list
  background-color: #D0D0D0
  +linear-gradient(#D0D0D0, #888)
  +box-shadow(0,1px,3px,rgba(black, .4))
  border-bottom: 1px solid #666
  border-top: 1px solid white
  position: relative
  color: black
  float: left 
  padding: 0      
  +border-radius(5px)
  opacity: .8

  &.finished .completion
    display: block
    position: absolute
    top: 0
    right: 0


  &:hover, &.active
    //background-color: black
    //color: white    
    opacity: 1

  > a
    color: inherit
    margin: auto
    display: inline-block

    font-weight: bold
    text-align: center

    .number
          
    .designation
      //text-transform: uppercase      
      letter-spacing: 0px

    .short_name

  &.blocks    
    margin: 0 5px 5px 0

    > a 
      padding: 10px 
      min-width: 90px

      .number
        font-size: 40px   
        line-height: 40px 
        letter-spacing: -3px
                
      .designation
        font-size: 7pt
        //line-height: 15px

      .short_name
        width: 100%
        letter-spacing: -1px
        text-transform: capitalize
        font-size: 12px
        line-height: 12px

  &.menu

    border-bottom: 1px solid #848484
    margin: 0 6px 5px 0      

    > a
      padding: 2px 5px 0px 5px
      min-width: 40px

      > div
        width: 70px

      .number
        font-size: 20px   
        line-height: 20px 
        letter-spacing: -2px
                          
      .designation
        font-size: 8px
        line-height: 15px
        text-transform: uppercase
      
      .short_name
        display: none


    &.active
      position: relative
      background-color: white
      color: black
      border-bottom: none
      padding-bottom: 25px
      > a
        height: auto
        padding-bottom: 10px
      
      .show_proposal_description
        position: absolute
        bottom: -10px
        left: 12px
        width: 50px

        color: inherit
        text-decoration: underline
        letter-spacing: 0


