.proposal_prompt

  position: relative
  margin: 0px 0 20px 0
  padding-bottom: 15px

  &.hiding
    background-color: inherit
    
    .description_wrapper, .pic, #full_desc_block
      display: none

  .pic
    float: left
    width: 175px
    height: 162px
    margin: 15px 18px 0 13px
    background: none no-repeat scroll top left

  #full_desc_block
    a
      text-decoration: underline
      color: black
      opacity: .8
      &:hover
        opacity: 1


  .description_wrapper
    float: left
    width: 580px
    margin: 0 70px 0 0px

    .init_text
      vertical-align: top
      
      h2.locality
        font-size: 16px
        font-weight: normal
        color: #999
        font-variant: small-caps
        text-transform: lowercase

      h1.proposal_name
        margin-bottom: 5px
        font-size: 24px
        font-weight: bold
        text-transform: capitalize
        padding-bottom: 5px
        color: #272727

    .full_text, .long_description, .additional
      width: 480px
    
    .long_description, .additional
      .prompt
        font-size: 15px
        font-weight: bold
        color: #272727
        a
          font-size: 12px
          font-weight: normal
          text-decoration: underline
          color: inherit
      
      table
        display: block
        margin-left: -50px

        p 
          margin-bottom: 0

        tr
          padding: 3px 0

          td
            padding: 5px 10px
      ul
        li
          list-style-type: disc
      ol
        li 
          list-style-type: decimal
      ul, ol
        margin-left: 15px
        li

        ul li
          list-style-type: circle
        ol li
          list-style-type: lower-latin
        ol, ul
          margin-left: 25px
