.proposal_results_description
  text-align: center
  position: relative
  //top: -35px

  > .head
    margin: auto
    width: 14 * $grid_major


.proposal_prompt
  position: relative
  //margin: -53px 0 20px
  padding-bottom: $vertical_baseline

  &.hiding
    background-color: inherit
    
    .description_wrapper, .pic, #full_desc_block
      display: none

    .head
      a
        +font-size(-4)
        position: absolute
        top: 26px
        right: 15px
        text-decoration: underline

  .pic
    float: left
    width: 175px
    margin: 15px 18px 0 13px
    background: none no-repeat scroll top left

  #full_desc_block
    a
      text-decoration: underline
      opacity: .8
      &:hover
        opacity: 1


  .description_wrapper
    margin-left: 60px

    .full_text, .long_description, .additional
      +font-size(1)
    
    .long_description, .additional
      .prompt
        font-weight: bold
        +font-size(-1)

        a
          +font-size(-4)
          font-weight: normal
          text-decoration: underline
          color: inherit
      
      table
        display: block
        margin-left: -50px

        p 
          margin-bottom: 0

        tr
          padding: 3px 0

          td
            padding: 5px 10px
      ul
        li
          list-style-type: disc
      ol
        li 
          list-style-type: decimal
      ul, ol
        margin-left: 15px
        li

        ul li
          list-style-type: circle
        ol li
          list-style-type: lower-latin
        ol, ul
          margin-left: 25px
