

#histogram 
  margin: 35px auto 0px auto
  position: relative
  top: 190px

  table
    padding: 0px
    color: #272727
    border-spacing: 3px 0px
    margin: auto

    td.support, td.oppose
      color: #313131
      +font-size(0)
      vertical-align: bottom
      width: 3 * $grid_major
      //visibility: hidden
      display: none
      text-transform: uppercase
      +heading
      +transition
      &.support
        padding-right: $grid_minor
        text-align: right

      &.oppose
        padding-left: $grid_minor
        text-align: left

    td.bar_cell
      width: $histogram_bar_width
      position: relative

      .bar.empty
        position: relative
      .bar.full 
        +transition
        &, a
          color: #ccc
        a:hover
          color: white

        border: 3px solid #222  
        padding: 0px                            
        +box-shadow(0px, 1px, 2px, black)

        border-bottom: none
        background-color: #222
        cursor: pointer
        z-index: 0
        position: relative

        .close, .border_cover
          display: none
          position: absolute


        &.hard_select .people_bar .view_statement img
          opacity: .8
          +transition
          &.default.no_explanation
            opacity: .35         
          &.with_explanation
            +grayscale_off
            opacity: 1

        &.soft_select .people_bar .view_statement img
          opacity: .6
          &.default.no_explanation
            opacity: .35
          &.with_explanation
            opacity: .9
            +grayscale_off

        &:hover
          +chalkboard
          border-color: #414141
          z-index: 40
          img.with_explanation
            +grayscale_off
            opacity: .6

        &.noone
          display: none
          
        &.selected
          +chalkboard
          +box-shadow(0px, 1px, 2px, black)
          z-index: 60
          border-color: black

          .border_cover
            display: block
            height: 5px
            width: $histogram_bar_width - 3
            left: -2px
            +chalkboard
            bottom: -4px
            border-top-right-radius: 6px
            border-top-left-radius: 6px

          &.hard_select
            border-top-left-radius: 10px 
            border-top-right-radius: 10px
            .close
              display: block
              right: 5px
              top: -2px
              z-index: 1
              +font-size(-3)
              color: #999

      .personal_position.update
        bottom: 0
        left: 30px
        position: absolute
        +on_background
        z-index: 50
        display: none
        //left: 50%
        //margin-left: 10px

        .label
          +font-size(-1)
          position: relative
          margin-left: 4px
          .arrow
            position: absolute
            +font-size(2)
            font-weight: bold
            left: -25px
            top: 8px

        .revise 
          position: relative
          top: -2px
          a
            text-transform: lowercase
            font-weight: bold
            text-decoration: underline
            +font-size(-2)
        

.people_bar
  background-color: transparent
  position: absolute
  z-index: 1000
  font-size: 0

  color: #222

  margin: auto
  bottom: 0px

  li.statement
    background-color: inherit
    margin: auto
    display: inline-block

    &.with_explanation 

      .details
        margin-left: -200px
        width: 400px

        &:after
          left: 200px - 12

    &.no_explanation 
      .details
        margin-left: -75px
        width: 150px

        &:after
          left: 62px


    .view_statement
      text-align: center  
      position: relative
      display: block
      cursor: pointer


      img
        max-height: 50px
        max-width: 50px
        opacity: .35
        position: relative
        +grayscale

        &.author_of_hovered_point
          opacity: 1
      
      .details
        //don't use +font-size here because of the earlier 0% declaration
        font-size: 16px
        background-color: black
        color: #e1e1e1
        position: absolute
        display: none
        z-index: 2
        top: 100%
        left: 50%
        margin-top: 14px
        +border-radius(5px)
        padding: 5px $grid_xs
        +box-shadow(0px, 1px, 2px, #313131)

        .position_author_name
          +font-size(0)
          font-weight: bold
          white-space: nowrap

        &:after
          content: "\25B2"
          position: absolute
          padding: 0 4px 0
          top: -13px
          color: black
          z-index: 5

        blockquote.explanation
          padding: 5px 0 0 0 
          +font-size(-1)

          p
            margin-bottom: 6px
            text-align: left

// hovering over a point
#histogram.hovering_over_point  
  table td.bar_cell .bar.full 
    //background-color: transparent

    .people_bar

      li.statement
        .view_statement
          img
            visibility: hidden
            &.author_of_hovered_point
              opacity: 1
              visibility: visible 
              +grayscale_off
            &.includer_of_hovered_point
              opacity: 1
              visibility: visible
              +grayscale_off

#axis_arrow
  height: 1 * $vertical_baseline
  background-color: transparent
  background-color: rgba(black, .15)
  width: $content_width - 4 * $grid_major - 5 * $grid_minor
  position: absolute
  bottom: 0
  z-index: -1
  border-radius: 8px
  margin-left: 2 * $grid_major + 2.5 * $grid_minor
  display: none