@import 'proposals/histogram'

#explore_proposal

  > ol
    +nude-list  
    position: relative

    li

      &.breakdown

        .personal_position.contribute
          +font-size(0)
          z-index: 50
          margin: auto
          display: block
          width: 6 * $grid_major

        .empty_explanation
          width: 540px
          text-align: center
          +font-size(1)
          margin: 1em auto

          a
            display: block
            font-weight: bold
            text-decoration: underline

      &.ranked_points
        position: relative

        .action
          position: absolute
          +font-size(-4)
          z-index: 50
          left: 645px
          top: 8px
          +chalk
          color: #e1e1e1

        .explore#ranked_points
          position: relative
          margin: 0
          //padding: 0 10px

          &.loading
            opacity: .7

          .pro_con_list
            border: 3px solid #222
            +border-radius(5px)
            +box-shadow(0, 2px, 4px, #666)
            &.segmented
              border-color: #222

            .edit, .remove
              display: none

            .full_column
              //min-width: 326px
            

        .participant_connection
          padding-top: 12px
          +chalk
          text-align: center
          +font-size(1)
          height: 48px

          .group_name
            display: block
