@import "compass/css3/box-shadow"
@import "library"

$bubble_border_radius: 16px
$banchor_top: -3px
$banchor_adjustx: -24px

%bubble
  border-radius: $bubble_border_radius
  .t-bubble
    font-size: 0
    line-height: 1
    position: absolute
    bottom: 0
    z-index: 99


%bubble_right
  @extend %bubble
  .t-bubble
    right: $banchor_adjustx 

%bubble_left
  @extend %bubble
  .t-bubble
    left: $banchor_adjustx 

= bubble($light, $dark, $direction, $text_color: $base_text_color, $bg-color: $base_background_color, $include_bg: true)
  $border_color: $dark //mix($dark, $light, 75%)
  color: $text_color
  @if $include_bg
    background-color: $light
    border: 1px solid $border_color
    +single-box-shadow($hoff: 1px, $voff: 6px, $blur: 5px, $spread: -5px, $color: desaturate(lighten($light, 25%), 35%), $inset: true)

  @if $direction == left
    @extend %bubble_left

  @else if $direction == right
    @extend %bubble_right

  .t-bubble
    
    .t-bubble-inner
      fill: $light
      
    .t-bubble-border
      fill: $border_color

    .t-bubble-spacing
      fill: $bg-color

    .t-bubble-main
      fill: $light
      stroke: $dark

    .t-bubble-adjust
      fill: $light


