html {
  background: url('/themes/pso/images/header_bg.png') repeat-x left top #EAE6E3;
}

#description .subheader h2 {
  font-variant: small-caps;
  text-transform: lowercase;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 40px;
} 

#description .subheader .extra {
  font-size: 22px;
  font-variant: small-caps;
  text-transform: lowercase;  
  margin-bottom: 18px;
}

#description .subheader table td {
  padding-right: 10px;
}

#masthead > div {
  height: 0;
}

.powered_by {
  display: none;
}


.footer .learn > ul {
  float: left;
  margin: 0 20px;
}
#footer .sitemap > div.learn {
  height: auto;
}


#footer .sitemap > div.learn {
  width: auto;
}

.header .designation {
display: none;
}

li.initiative_item.small > a .link_internal {
    padding-top: 10px;
}

li.initiative_item.small > a .link_internal h2 .header .number {
    font-size: 30px;
}

.fb_login_link {
display:none;
}

#nav-primary {
display: none;
}