@import "mixins"
@import "paper_proposal"


html
  background-image: image-url('chalkboardit/images/tiled_wall2.jpg')
  background-color: #E9F3FB

#admin_strip #content #more_options
  display: none

#grid
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: image-url('golden_grid.png') repeat top left transparent
  display: none

  &:hover
    background: image-url('golden_grid.png') repeat top left transparent
    z-index: 1000

#wrap #masthead 
  background-color: rgba(black, .3)
  +chalkboard

  .logo_cell
    padding-top: 6px

  img
    width: 200px