var page = require('webpage').create();

page.settings.userAgent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1660.0 Safari/537.36 PHANTOM';

var system = require('system');

var lastReceived = new Date().getTime();
var requestCount = 0;
var responseCount = 0;
var requestIds = [];
var startTime = new Date().getTime();


page.onResourceError = function(resourceError) {
    page.reason = resourceError.errorString;
    page.reason_url = resourceError.url;
};

page.onResourceReceived = function (response) {
    if(requestIds.indexOf(response.id) !== -1) {
        lastReceived = new Date().getTime();
        responseCount++;
        requestIds[requestIds.indexOf(response.id)] = null;
    }
};

page.onResourceRequested = function (request) {
    if(requestIds.indexOf(request.id) === -1) {
        requestIds.push(request.id);
        requestCount++;
    }
};

// Open the page
page.open(system.args[1], function (status) {
  if ( status !== 'success' ) {
    console.log(
      "Error opening url \"" + page.reason_url
      + "\": " + page.reason
    );
  } else {
    page.evaluate(function(){
      var scripts = document.getElementsByTagName("script"), item;
      for (var i = scripts.length - 1; i > -1; i--) {
        item = scripts[i];
        if (item && item.id && item.id.indexOf("tpl_") == 0) {
          item.parentNode.removeChild(item);
        }
      }
      try {
        var avatar = document.getElementById('b64-avatars');
        avatar.parentNode.removeChild(avatar);
      } catch(e) {}
    });
  }
});

var checkComplete = function () {
  // We don't allow it to take longer than 5 seconds but
  // don't return until all requests are finished
  if((new Date().getTime() - lastReceived > 300 && requestCount === responseCount) || new Date().getTime() - startTime > 10000)  {
    clearInterval(checkCompleteInterval);
    console.log(page.content);
    phantom.exit( );
  }
}
// Let us check to see if the page is finished rendering
var checkCompleteInterval = setInterval(checkComplete, 1);