default:

  analytics:
    google: '{{config.google_analytics}}'

  bitly: 
    user_name: '{{config.bitly.user_name}}'
    api_key: '{{config.bitly.api_key}}'

  new_relic: '{{config.new_relic}}'

  aws:
    access_key_id: '{{ config.aws.access_key_id }}'
    secret_access_key: '{{ config.aws.secret_access_key }}'
    fog_directory: '{{ config.aws.fog_directory }}'
    cloudfront: '{{ config.aws.cloudfront }}'

  domain: {{ config.domain }}

development: 
  default_to: default

test: 
  default_to: development

production:
  default_to: development