-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************


#pledge

  To join, we ask for your pledge:
  %ol
    %li
      I will be civil to others. I will not personally attack or mock other participants or groups.
    %li
      I am speaking on behalf of myself, not an organization.
    %li 
      I will only use one account.