# See http://www.robotstxt.org/wc/norobots.html for documentation on how to use the robots.txt file
{% if allow_indexing %}

{% for key, value in config.indexability.iteritems() %}
{% if value and key in config.meta %}
Sitemap: {{config.meta[key].canonical}}/sitemaps/{{ key|e }}/sitemap.xml.gz
{% endif %}
{% endfor %}
{% else %}
User-Agent: *
Disallow: /
{% endif %}