User-Agent: *
{% if allow_indexing %}
Disallow: /*/points/*
Disallow: /*/points
Disallow: /users
{% for key, value in config.indexability.iteritems() %}
{% if value and key in config.meta %}
Sitemap: {{config.meta[key].canonical}}/sitemaps/{{ key|e }}/sitemap.xml.gz
{% endif %}
{% endfor %}
{% else %}
Disallow: /
{% endif %}